[2021-01-10 13:02] ankitnayan opened #5 "Time Format not consistent in traces page"
The time displayed in spans list and aggregate metrics on Traces page are not in the same time range.

![Screenshot 2021-01-10 at 6 29 53 PM](https://user-images.githubusercontent.com/12460410/104123595-17773e80-5372-11eb-95de-7b72aa8895bc.png)

[2021-01-22 05:37] pranay01 commented on #5
Ok, will take a look

[2021-01-24 13:05] ankitnayan opened #12 "Change Title and other metadata of frontend app"
@pranay01 can you share content to be added

[2021-01-24 13:12] ankitnayan opened #13 "Too long time range passed from metrics to traces page"
Keeping the startTime and endTime as the same would be more beneficial to debug issues. As there can be 100s of spans in a sec and thus a time range of 15 mins does not make much sense in debugging in the trace page.

@pranay01 what do you think?

[2021-01-27 14:29] ankitnayan opened #15 "Kubernetes otel-collector deployment does not expose OTLP HTTP receiver port 55681"

[2021-01-27 14:45] ankitnayan opened #16 "Queued retry processor deprecated in otel-collector 0.19.0"
https://github.com/open-telemetry/opentelemetry-collector/releases/tag/v0.19.0

[2021-02-02 14:38] pranay01 opened #17 "Create benchmarks for running SigNoz"
Publish typical benchmarks and calculations on what would it cost to self host SigNoz at different scale and sampling.

[2021-02-03 20:25] pranay01 opened #18 "Try to deploy SigNoz in your infrastructure & report any issues"
As we are trying to make SigNoz deployment to work in common infra setups, a good first issue could be just trying installing SigNoz in their local setup and sharing if they face any issue.

Please share your infra details and did you face any issue in running SigNoz

[2021-02-09 19:36] pranay01 opened #21 "Integrations for PagerDuty/Slack"

[2021-02-12 07:04] Slach opened #22 "Support ClickHouse as storage backend?"
Could you look to http://clickhouse.yandex/docs/en/?
Clickhouse is a blazing fast opensource (Apache 2.0) columnar database which have near-linear scalability
and it successfully applied as a `Jaerger` storage https://github.com/jaegertracing/jaeger/issues/1438

Maybe it will better use this database as storage backend for your use-case?

[2021-02-15 12:14] ankitnayan commented on #22
@Slach Sure, if enough users want it, we would be happy to support Clickhouse also.

[2021-02-18 16:19] pranay01 opened #23 "GO instrumentation library"
How can we enable easy instrumentation of  Go applications

[2021-02-23 12:58] ankitnayan opened #27 "No data shown depending on time difference from GMT"
Internally timestamps from frontend gets converted to format `startTime.Format("2006-01-02 15:04:05")` which may lead to difference in timezones.

[2021-02-24 09:21] JESWINKNINAN commented on #18
/assign

[2021-02-27 18:40] eglizzy opened #32 "As an open source project it is weird to see posthog analytics tracking everywhere."
As an open source project it is weird to see posthog analytics tracking everywhere.

[2021-02-28 17:42] pranay01 commented on #32
Hey @eglizzy, thanks for your note. We had debated this internally, before adding analytics to SigNoz. But one of the issues we found where open source projects lack compared to SaaS products is the quality of user experience. And, we think that for building great software you need some understanding of what users are using or where they are facing issues.

Our thinking resonates with what James t

[2021-02-28 17:42] #32 closed

[2021-02-28 17:43] pranay01 opened #33 "Opt out path for users from analytics"

[2021-02-28 17:44] pranay01 commented on #32
Tracking issue for opt out path from analytics - https://github.com/SigNoz/signoz/issues/33#issue-818262590

[2021-03-01 16:52] pranay01 opened #34 "Dark mode toggle should be centre aligned rather than right aligned"
![photo_2021-03-01 22 21 49](https://user-images.githubusercontent.com/504541/109530298-8f452800-7adc-11eb-8cd8-4d044b20156e.jpeg)

[2021-03-04 12:43] pashcovich commented on #22
@ankitnayan how many users will be enough to implement this ?

[2021-03-15 10:40] nareshganesan opened #35 "Add support to filter/block requests which contain pii or sensitive information in trace data"
- Add a filter to identify pii/sensitive information in trace data and different metrics related to it.
-  Flagging or encrypting request which has PII or sensitive data, so enterprises can monitor all the sensitive data in transit.

[2021-03-28 07:15] Angelia64 commented on #35
https://github.com/SigNoz/signoz/issues/35#issue

[2021-04-06 07:40] ankitnayan commented on #23
Updated the docs

[2021-04-06 07:40] #23 closed

[2021-04-15 19:21] pranay01 opened #36 "Not clear from docs that setting up s3 is needed for long term storage"
To have long term data storage, s3 should be setup. This is not currently clear from the docs

[2021-04-15 19:23] pranay01 opened #37 "Ideal machine/memory size should be specified in the docs for running docker and helm installations"

[2021-04-17 14:05] ankitnayan opened #38 "Reloading a page defaults to Metrics tab being selected left menu panel"
![Screenshot 2021-04-17 at 7 33 38 PM](https://user-images.githubusercontent.com/12460410/115115775-e67f5900-9fb3-11eb-9045-458070345209.png)

In the above image, `/traces` endpoint is loaded but `Metrrics` is selected in the left panel.

[2021-04-17 14:13] ankitnayan opened #39 "ServiceMap - Frontend"
![Screenshot 2021-04-17 at 7 42 36 PM](https://user-images.githubusercontent.com/12460410/115116023-272ba200-9fb5-11eb-978b-f552e6d3c3c2.png)

[2021-04-17 14:15] ankitnayan opened #40 "External API monitoring - Frontend"

[2021-04-17 15:01] pranay01 opened #41 "Centre align toggle switcher"
![Screenshot 2021-04-17 at 8 30 50 PM](https://user-images.githubusercontent.com/504541/115117390-f00cbf00-9fbb-11eb-9693-2a88ba012c7d.jpg)

[2021-04-17 15:04] pranay01 opened #42 "Reducing browser size causes API end point table to over flow"
Steps to reproduce
-----------
- Open Application detail page by clicking a service
- Reduce browser width size
- After some width size, the API endpoint table overflows

![Screenshot 2021-04-17 at 8 33 27 PM](https://user-images.githubusercontent.com/504541/115117470-52fe5600-9fbc-11eb-9b0c-ff4ba52a34ab.jpg)

[2021-04-19 10:35] #15 closed

[2021-04-19 10:36] ankitnayan commented on #15
Fixed and merged

[2021-04-19 13:08] pranay01 commented on #12
This is fixed now

[2021-04-19 13:08] #12 closed

[2021-04-19 13:10] pranay01 commented on #13
Yeah, makes sense. Let's reduce the time range for going from metrics to traces page. We would need to introduce separate interval selection for custom aggregate panel then

[2021-04-19 18:14] ankitnayan commented on #42
/assign @ankitnayan

[2021-04-19 19:12] pranay01 opened #43 "Single click Heroku deploy option"
Providing a single click Heroku deploy option may be a good idea to make it easy to test SigNoz for developers.

Tasks
- Check if current SigNoz docker can run in Heroku free tier and the compute requirements are served in the free tier of Heroku. Goal is not to test with high load but to get the application up and running with sample Hot ROD application

[2021-04-19 19:29] pranay01 opened #44 "Fix add instrumentation page in light mode"
Steps to reproduce
-----
1. Install the application
2. Switch to light mode using the toggle at the top
3. Got to Add instrumentation page by navigating through the left panel
4. The page shows dark background

Expected Behavior
----
Dark background in this page shouldn't be shown

![Screenshot 2021-04-20 at 12 58 00 AM](https://user-images.githubusercontent.com/504541/115292421-8f27e700-a173-11eb

[2021-04-20 07:00] shweta-bhave opened #45 "How to distinguish errors in Flamegraph?"
Should the spans with errors be coloured RED in flamegraph?

[2021-04-27 13:38] rajatgupta5 opened #53 "Skip Patterns while pushing traces"
Hi team
I've tried out SigNoz with Spring boot micro-services which are already integrated with Zipkin. In the dashboard, I can see the /webjars and /swagger endpoints. It would be great to have some 'skip pattern' to avoid un-desired URLs. Thanks!

[2021-04-27 13:44] rajatgupta5 opened #54 "All In One Dashboard"
Hi team
We've many Spring boot micro-services and under metrics tab all those micro-services are visible. On click of it a service (name), we can see various dashboards like latency, request per sec, errors etc., for the 'selected' service.

Is there any feature by which we can view an 'All In One' Dashboard where all the micro-services are viewable may be with specific type of dashboard (req/s or

[2021-04-27 18:10] pranay01 commented on #54
This is an interesting idea. What is the number of services you have currently? One issue with having an 'All in one Dashboard' is that if you have many services - say 10-15, there would be many panels which would need to be shown, which may be overwhelming for the user.
Are there any specific metrics you would like to see in the 'all in one dashboard'? for example only latencies for all services.

[2021-04-27 18:15] pranay01 commented on #53
@rajatgupta5 Awesome! Nice to see that you have integrated with Zipkin and it's working in a seamless way.
Can you let me describe the use case for 'skip pattern' in more detail? Are there endpoint URL patterns which you don't want to see in the dashboard - because they are not relevant and are cluttering the dashboard? Or is it more of a privacy issue - where you don't want to expose certain URLs

[2021-04-27 18:19] pranay01 commented on #35
Thanks @nareshganesan for creating the issue. Can understand the need for this.
I didn't get the second part - "enterprises can monitor all the sensitive data in transit." Do you mean encrypted data should be flagged/highlighted when it is shown in the flamegraph view of the trace?

[2021-04-28 06:25] rajatgupta5 commented on #54
Hi @pranay01 currently we've 10+ services. It would be great if we can have this dashboard with may be max 5 services at one time (based on user selection). I would prefer to have latency metric but having different dashboard based on metrics would be ideal (may be I'm getting greedy :D)

[2021-04-28 07:02] ankitnayan commented on #53
@rajatgupta5 Great to see your Zipkin OpenTelemetry receiver working.

Definitely, an interesting feature. OpenTelemetry Collector has processors which are designed for such purposes. I will try this out soon and shall put this in our docs.

[2021-04-28 10:26] nareshganesan commented on #35
@pranay01 , Thanks for checking with me. As part of GDPR / CCPA and other compliance policies, enterprises need to make sure any sensitive data (personally identifiable information, etc) is always encrypted at rest or in storage. It would nice to have a filter that monitors the request payload data. The filter should be able to block or flag request which has non-encrypted PII information.

Using

[2021-04-29 07:38] ankitnayan opened #55 "Better way to collect Telemetry data with user permission"

[2021-04-30 05:52] ankitnayan opened #56 "Make clicking on chart datapoints to see traces more intuitive"
It works by single clicking at the datapoints in the chart. It won't work for full plotted lines but only where  the timestamp has data. Currently, the resolution of data is 1 min in the chart. Also, you would see small circles on hovering at presence of datapoint as shown in image attached.

![image](https://user-images.githubusercontent.com/12460410/116654261-6a6b1500-a9a6-11eb-8336-ef2633b5c651

[2021-04-30 17:36] #13 closed

[2021-04-30 17:36] #27 closed

[2021-04-30 17:37] #5 closed

[2021-05-01 05:06] pranay01 opened #57 "Update signup page and logo"
Current Behaviour
SignUp page after install shows old logo

Expected Behaviour:
Signup page should show the updated logo

![Screenshot 2021-05-01 at 10 34 36 AM](https://user-images.githubusercontent.com/504541/116771585-5b4d9b00-aa6a-11eb-9942-07530ffd5e92.jpg)

[2021-05-01 05:12] ankitnayan commented on #40
![image](https://user-images.githubusercontent.com/12460410/116771534-e0848000-aa69-11eb-9367-964e747189ac.png)

[2021-05-01 05:13] ankitnayan opened #58 "Integrate Error Percent data in ServiceList and ServiceOverview Page"

[2021-05-01 05:15] ankitnayan opened #59 "Linking Error chart from ServiceOverview to Traces Page"

[2021-05-01 05:16] ankitnayan opened #60 "Linking Top Endpoints in ServiceOverview page to Traces page"

[2021-05-01 05:30] ankitnayan commented on #60
Autofill Service and Operation name in Traces page

[2021-05-01 05:34] ankitnayan opened #61 "Independent time range for Span Aggregation section"
Currently, the SpanAggregation has startTime and endTime equal to the traces page which might be less relevant if the period is short. For now, we can keep a default 30 mins window for SpanAggregation API call

[2021-05-01 05:37] ankitnayan opened #62 "Linking External Calls charts to Traces page"

[2021-05-01 05:39] ankitnayan opened #63 "Trace menu item not selected in left menu panel when going from metrics to traces page"

[2021-05-01 06:06] ankitnayan commented on #59
auto select tag `error:true` in filter in traces page

[2021-05-01 13:49] #58 closed

[2021-05-02 13:31] ankitnayan opened #71 "Change Title in DB Calls Tab"
![Screenshot 2021-05-02 at 7 00 41 PM](https://user-images.githubusercontent.com/12460410/116814908-b372c300-ab78-11eb-9aa3-248ce80e7f24.png)
Change title to `DataBase Calls Avg Duration (in ms)`

[2021-05-02 13:34] ankitnayan opened #72 "Change title in Error chart in ServiceOverview"
Change title from **Errors per sec** to **Error Percentage (%)** and same in legends beside the red circle

[2021-05-02 15:29] #72 closed

[2021-05-02 15:29] #71 closed

[2021-05-02 15:29] #63 closed

[2021-05-02 15:29] #61 closed

[2021-05-02 15:29] #60 closed

[2021-05-02 15:30] #59 closed

[2021-05-02 15:31] ankitnayan opened #76 "Linking DB Calls charts to Traces page"

[2021-05-02 16:26] #40 closed

[2021-05-02 16:27] ankitnayan opened #77 "Replace p90 with p99 in Service Overview page"

[2021-05-02 16:31] ankitnayan opened #78 "Cannot view small spans in Flamegraph"
Suggest an alternate view along with flamegraph?

[2021-05-02 19:04] pranay01 commented on #44
@dhrubesh-makeen @ankitnayan This should be a small task. We should pick this up in next sprint

[2021-05-02 19:08] pranay01 opened #80 "Database calls tab shown even when there are no database calls"
Current Behaviour
- Database calls tab is shown even when there is no data in the graphs  ( i.e. no database calls were made)
- The graphs in the database tab are empty

Expected Behavior
- Database tab shouldn't be shown for a service for which there are no DB calls made

[2021-05-05 15:53] ankitnayan opened #81 "Move docs to this repo"
Currently, the website and documentation of SigNoz are hosted in private repos. We should plan to shift documentation to this public repo so that other contributors building and testing different integrations, deployment methods, and changes to docs can be democratically and publically updated.

We use Docusaurus for documentation and will post the steps to shift soon.

[2021-05-06 12:38] ankitnayan opened #86 "Add "IS NOT NULL" operator in tag filtering in trace page"
Currently, to filter spans by tags there are 2 operators:
- EQUALS
- CONTAINS

An operator with the capability to check for `IS NOT NULL` values will be useful in getting all those spans which have a value of the tag. The value of `IS NOT NULL` operator that is passed in the API call would be `isnotnull`

[2021-05-06 12:45] ankitnayan opened #87 "Add "Span Kind" filter in top panel of span filtering"
Suggesting to add "**Span Kind**" filter in top panel of span filtering aside of `Latency Filter` in the below screenshot.
![Screenshot 2021-05-06 at 6 09 45 PM](https://user-images.githubusercontent.com/12460410/117299512-42901b80-ae96-11eb-857d-f005d424339e.png)

The permissible values of `Span Kind` would be:

1. SERVER which shall internally transform to `kind=2` in the API call
2. CLIENT whic

[2021-05-06 12:54] ankitnayan commented on #62
This issue depends on issues #86 and #87  after which the logic of linking would be:

Add `Span Kind` filter value equal to `CLIENT` and add Tags filter with values `http.url` in TagKey and `IS NOT NULL` in operator

[2021-05-06 12:56] ankitnayan commented on #76
This issue depends on issues #86 and #87 after which the logic of linking would be:

Add `Span Kind` filter value equal to `CLIENT` and add Tags filter with values `db.system` in TagKey and `IS NOT NULL` in operator

[2021-05-06 12:59] ankitnayan commented on #77
Update `p90` column in the ServiceOverview page to `p95`

![Screenshot 2021-05-06 at 6 28 08 PM](https://user-images.githubusercontent.com/12460410/117302014-d5ca5080-ae98-11eb-9307-ed5e54e97117.png)

[2021-05-07 12:24] ankitnayan opened #88 "Add Status field from OpenTelemetry for Error Processing"
Currently Error Processing field is done by:
- Presence of tag `error:true`
- `http.status_code` tag with value `>500`

Need to add another logic:
Span contains a field `Status` which works for all sorts of client & server requests.

Suggesting, testing of conditions to check whether the present 2 conditions are needed or can be done alone by `Status` field in Span.

[2021-05-07 12:30] ankitnayan opened #89 "Add Events data from OpenTelemetry spans"
While flattening the data, we should also store `Events` data from spans to Apache Druid.
This contains `exception` data apart from reasons for erroneous spans like `Redis timeout`

[2021-05-10 06:56] ankitnayan opened #92 "Change time range in api call of Service Map to 1 min from latest"
Currently, it works based on the time range chosen from the DateTime picker widget at the top-right of the page. We need to make Service Map just show the last 1 min data from the API even for the API call to the `/services` endpoint.

This will make ServiceMap work like a snapshot of architecture at the current moment.

Requirements:
- Remove the custom DateTime picker option
- Keep the `Refresh`

[2021-05-10 06:59] ankitnayan opened #93 "Add default view in dropdown service-picker in ServiceMap"
Once we select a service from the dropdown in the service map, the dropdown does not give the option to show any other default view to deselect the service.

Add an option in the service-picker dropdown to choose a default view without any service selected.

[2021-05-10 07:05] ankitnayan opened #94 "Display upto 20 characters in name of service in ServiceMap"
Currently, if we add more than 10 chars to the service name in the node, the text overflows the node. Need to find a way to allow up to 20 chars as service name inside the node.

[2021-05-10 07:07] ankitnayan opened #95 "Selecting a service from dropdown zooms too much in wider screen"
Need to fix the zoom/focus to node in wider screens when a service is selected from the dropdown service picker

[2021-05-11 07:40] ankitnayan opened #96 "Different Zoom level when a service is not related to other services"
The default zoom level with just 1 extra service added is very different.
This extra service is not dependent on other services.
![Screenshot 2021-05-11 at 1 10 20 PM](https://user-images.githubusercontent.com/12460410/117777469-40450d00-b25a-11eb-9b64-80780c1de7d2.png)

[2021-05-11 07:43] ankitnayan opened #97 "Custom tooltip on hover over a node in service map"
Check if the library provides capabilities to overwrite tooltip on nodeHover.

https://github.com/vasturiano/react-force-graph/issues/269#issuecomment-810601296

[2021-05-12 05:23] ankitnayan commented on #53
We can learn more about different OpenTelemetry processors at [Otel Processor Docs](https://github.com/open-telemetry/opentelemetry-collector/blob/main/processor/README.md
)

Guide to include/exclude spans using opentelemetry processor [[Link to Otel Docs](https://github.com/open-telemetry/opentelemetry-collector/blob/main/processor/README.md#includeexclude-spans)]

**Requirement**

- [ ] Add a fo

[2021-05-12 05:36] ankitnayan opened #98 "Support Faas (Function as a Service) like AWS lambda"
OpenTelemetry has semantic conventions for FaaS spans [[Docs Link](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/trace/semantic_conventions/faas.md)]

[AWA Lambda Semantics](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/trace/semantic_conventions/instrumentation/aws-lambda.md)

[2021-05-12 05:40] ankitnayan opened #99 "Add support for other Queues"
We need to refactor code to facilitate users to use other queuing systems.

- [ ] AWS SQS
- [ ] Google Pub/Sub
- [ ] AWS Kinesis
- [ ] Redis

[2021-05-12 05:41] ankitnayan opened #100 "Build an alertmanager like Prometheus's"
- [x] Rules
- [ ] HA
- [x] Integrate with notification system like Slack and PagerDuty

[2021-05-12 07:17] ankitnayan opened #101 "Show Exceptions in a separate page in dashboard and in span details"
OpenTelemetry has details on the specification of Exceptions recorded by the library.

https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/trace/semantic_conventions/exceptions.md

Need to detail out multiple task items, will fill out the details when the time comes.

[2021-05-15 08:07] ankitnayan opened #103 "A glitch in service map before setting to default zoom value"
Steps to reproduce:

1. Go to Service Map
2. Got to Metrics Tab
3. Come back to the Service Map tab, it jerks twice before going to final zoom

I created a loom video to explain the glitch.
https://www.loom.com/share/d32aa22838874827b63f661c62d7f789

[2021-05-15 14:53] velutha commented on #53
Hey @ankitnayan I did take a look at the issue following our slack conversation. I tried out using a _filter processor_ with `otel_collector`.  From the open telemetry collector [docs](https://github.com/open-telemetry/opentelemetry-collector/blob/main/processor/filterprocessor/README.md),

1. Did you mean for _only metrics_ to be filtered out at ingestion ?
2. It would not solve the issue raised

[2021-05-15 17:17] ankitnayan commented on #53
@velutha Your understanding is correct. The include/exclude spans are just for allowing/disallowing mutations to those spans.

Do you want to extend that `filter processor` to drop spans also? Or we can build a separate processor for dropping spans. Where do you think is the best place for this functionality?

Also, as part of logic in dropping spans, we can remove all child spans of the specified

[2021-05-16 14:37] #97 closed

[2021-05-16 14:37] #95 closed

[2021-05-16 14:37] #92 closed

[2021-05-16 20:00] velutha commented on #53
This is how I'm thinking about of advantages and trade-offs between the two approaches

**Collection layer**
- Extending functionality on `otel_collector`
- Filtering at edge
- Performance overhead in collector
- Complex logic on filters in difficult to incorporate

**Processing layer**

- Complex logic around filters should be easier to integrate
- Pave way for additional functionality with diffe

[2021-05-17 11:53] #93 closed

[2021-05-17 12:33] #94 closed

[2021-05-18 12:51] dhrubesh opened #110 "Call API with updated value instead of previous value"
`Background: `

The DateTimeSelector component on the Topbar has 2 variations of options:

- Default Options used in all routes: https://github.com/SigNoz/signoz/blob/main/frontend/src/modules/Nav/TopNav/config.ts#L3

- Options for the Service route: https://github.com/SigNoz/signoz/blob/main/frontend/src/modules/Nav/TopNav/config.ts#L14

Each route has specific default selected values too: https:

[2021-05-18 13:13] shubhamzeeweesoft commented on #110
you can bind variable with useEffect which hold dispatched value

[2021-05-18 14:50] dhrubesh commented on #110
Hi @shubhamzeeweesoft, thanks for responding.
We're binding it with useEffect you can check it out here: https://github.com/SigNoz/signoz/blob/main/frontend/src/modules/Servicemap/ServiceMap.tsx#L66

but it calls twice: once with the old value and with the new value.
We basically don't want it to get called with the old value.

[2021-05-18 16:20] ankitnayan commented on #53
@velutha Great points!

As by me, the cons for adding to the processing layer would be
- Allow `yaml` like configuration reader in processors as we have at otel-collector
- We are planning to make Kafka non-compulsory for deployments at a small scale. This would leave such users without this feature.
- We are still to see powerful use cases of stream-processors. Right now, we are just using it for

[2021-05-18 17:50] dhrubesh commented on #103
this issue is related to https://github.com/SigNoz/signoz/issues/110,
@ankitnayan do you think we can close this?

[2021-05-18 17:53] #103 closed

[2021-05-19 12:47] velutha commented on #53
Agree. I would like to work on the fork of otel collector rather than upstream. Let me take a look at the code and get back to you

[2021-05-21 10:24] anweshknayak commented on #41
@pranay01 I think we can close this. Not able to replicate with the latest code

[2021-05-21 15:41] #41 closed

[2021-05-22 13:12] pranay01 opened #111 "Space between tabs in application details page"
## Bug description

Space between tabs in application details page is uneven (Screenshot attached)

## Expected behavior
The space between tabs should be uniform

## How to reproduce

1. Go to applications page by clicking Metrics tab on the left column
2. Click any service to go to service details page
3. The space between "Application Metrics" and "External Calls" tab is uneven

## Additional co

[2021-05-22 13:17] pranay01 opened #112 "Top Endpoint table header overflows the panel for smaller screen sizes"
## Bug description
Top Endpoint table header overflows the panel for smaller screen sizes. Tested this in 13" Macbook (Attached is the screenshot)

## Expected behavior
Should work properly for 13" Macbook screen resolution

## How to reproduce

1. Go to applications page by clicking Metrics tab on the left column
2. Click any service to go to service details page
3. The header of the top endpoint

[2021-05-22 13:23] pranay01 opened #113 "Druid containers shut down automatically after leaving unattended for few hrs in 2vCPU, 4 GB RAM machine"
## In what situation are you experiencing subpar performance?

Druid containers shut down automatically after leaving unattended for few hrs in 2vCPU, 4 GB RAM machine

## How to reproduce

1. Install SigNoz via docker in 2vCPU, 4GB RAM machine. Ensure all 14 containers are running
2. Leave unattended with default HotROD application for more than 8 hrs
3. The data in metrics dashboard is not avail

[2021-05-22 13:30] pranay01 opened #114 "Service Map takes 15-20s to load when loading for the first time"
## In what situation are you experiencing subpar performance?

Service Map takes 15-20s to load when loading for the first time (Attached loom video link)

## How to reproduce

1. Go from metrics tab to Service map tab for the first time after starting SigNoz
2. It takes 15-20s to load for the first time
3. Second time loading is much faster

## Expected behavior
Service Map should load first time

[2021-05-22 13:39] pranay01 opened #115 "RPS graph has only one point if a service is not sending data for selected time range"
## Bug description

RPS graph has only one point if a service is not sending data for selected time range. (Screenshot attached)

## Expected behavior
RPS graph should show a graph with a line at zero.

## How to reproduce

1. Don't send any request to an instrumented service for 15+ mins
2. Selected time range as 15 min from time selector
3. Go tp application detail page for that application

##

[2021-05-22 13:44] pranay01 opened #116 "Update docs to ask for 4GB RAM in docker for mac installs"
Current docs for deployment with docker in mac asks to allocate 3GB memory. https://signoz.io/docs/deployment/docker
This seems inadequate.

In one instance, a user reported not able to run SigNoz on Mac with 3GB memory allocated in docker.
collector and flattener containers were not starting

Update docs to ask for 4GB min memory when running on Mac
<img width="1039" alt="docker_preferences-3c0e2

[2021-05-22 13:49] pranay01 opened #117 "Add sample apps reference in docs"
We have sample apps for languages like Python, NodeJS, etc. which users can start with to try instrumentation with SigNoz.

Add the reference of the sample apps in the docs and steps for using then in the [docs](https://signoz.io/docs/instrumentation/overview).

Sample app repos
- Flask (Python) - https://github.com/SigNoz/sample-flask-app
- Golang - https://github.com/SigNoz/sample-golang-app
- N

[2021-05-22 16:50] rbrishabh commented on #111
Hello @pranay01 ! I can help with this one! I have set up signoz locally (I'll also ask my company to possibly migrate from dd to signoz!) but Im not sure how to add an application locally! is there any documentation for that?

[2021-05-23 05:07] ankitnayan commented on #111
@rbrishabh the installation of SigNoz comes with a few applications already sending data to SigNoz. Ping me on `#contributing` channel on slack. We have a much simpler setup for frontend development. Since frontend runs as an independent unit, it just needs the URL of the query-service API to work. Will send instructions in slack.

[2021-05-23 11:33] #110 closed

[2021-05-23 11:53] #38 closed

[2021-05-23 13:57] pranay01 opened #120 "Popup on service map node only appears on hovering on service name text in the node"
## Bug description

Popup on hover on service map node only appears on hovering on  service name text in the node. Attached screenshot

## Expected behavior

Popup on hover on service map node should appear on hovering over any where within the node ( i.e the circle representing the service)

## How to reproduce

1. Go to service map tap
2. Hover over a node (circle) representing a service
3. A po

[2021-05-24 05:57] ankitnayan opened #121 "Docker fills up disk even though data stored is only 4.5GB"
## Steps to reproduce
Install SigNoz and keep it running for a few days. The disk space seems to deplete continuously even though the retention policy is set and Druid shows only 4.6 GB of data stored.

## Your Environment

- [x] Linux
- [ ] Mac
- [ ] Windows

[2021-05-25 05:36] ankitnayan commented on #111
@rbrishabh the installation of SigNoz comes with a few applications already sending data to SigNoz.

What do you mean by `add an application locally`? Do you want to add more applications? You can refer to [docs](https://signoz.io/docs/instrumentation/nodejs) for instrumenting.

Though, I don't think you need to set up a new application for fixing this issue.

We can discuss more on `#contributing

[2021-05-28 06:32] ankitnayan opened #123 "API call misses params from URL in frontend"
The API call at page `/traces` was earlier being made based on params passed in the URL. Eg. page URL `/traces?startTime=xxx&endTime=xxx&service=frontend` does not pass service in params to the API call.

Also, add tests to ensure that the params in the URL are not passed as empty in the API call.

[2021-05-28 12:57] lirany1 opened #124 "apiVersion 'v2' is not valid. The value must be "v1" when run helm dependency update deploy/kubernetes/platform"
## Bug description

Tried to run https://github.com/SigNoz/signoz#deploy-in-kubernetes-using-helm

## Expected behavior

## How to reproduce

1.
[code]

[code]

[2021-05-29 04:58] muddlebee opened #126 "Trace tag details in traces section overflowing in UI"
## Bug description

Trace tag details in traces section is overflowing.
e.g. http://localhost:3000/traces/bcb0bc7006d635327a6a6580bb1dad8f

*Please describe.*
*If this affects the front-end, screenshots would be of great help.*

![Screenshot 2021-05-29 at 10 15 40 AM](https://user-images.githubusercontent.com/8139783/120058252-42370a80-c067-11eb-9eef-d9ce8de07f0e.png)

## Expected behavior
Trace t

[2021-05-29 04:59] anweshknayak commented on #126
I can take this up 👀

[2021-05-29 07:09] ankitnayan opened #127 "Add detailed instructions to develop each component locally"
The different components in SigNoz lack details on how to develop that component locally.

## Ask
A detailed service level steps to develop locally and contribute to SigNoz.

[2021-05-29 09:32] ankit01-oss opened #129 "Update link for OpenTelemetry python instrumentation library in docs"
## Bug description

*Please describe.*
Link for OpenTelemetry python instrumentation library is not working on this page: https://signoz.io/docs/instrumentation/python

![Screenshot 2021-05-29 at 2 59 22 PM](https://user-images.githubusercontent.com/83692067/120065343-7a057880-c08e-11eb-850f-bcf48ddb5ae4.png)
![Screenshot 2021-05-29 at 3 00 13 PM](https://user-images.githubusercontent.com/83692067

[2021-05-30 08:00] ankitnayan opened #134 "Change p90 field to p95 in /api/v1/service/top_endpoints API in /application page"

[2021-05-30 10:11] anweshknayak opened #135 "404 Page for wrong url redirection"
## Bug description
404 Page for wrong url redirection

Goto http://localhost:3000/xyz -> Empty page opening
xyz doesn't exist.

*Please describe.*
*If this affects the front-end, screenshots would be of great help.*
![Screenshot 2021-05-30 at 3 41 55 PM](https://user-images.githubusercontent.com/8139783/120100287-a3d9a080-c15d-11eb-90cb-ca98525db0a6.png)

## Expected behavior

Goto http://localhos

[2021-05-30 10:21] anweshknayak commented on #135
some UI inspiration:

![image](https://user-images.githubusercontent.com/8139783/120100525-ce782900-c15e-11eb-8dff-1ec0a79abffd.png)

![image](https://user-images.githubusercontent.com/8139783/120100538-e3ed5300-c15e-11eb-87b1-8dd8aa7f23da.png)

[2021-05-30 14:47] LEO1612D commented on #126
I can help in this one

[2021-05-30 15:45] anweshknayak commented on #126
sure @LEO1612D Go ahead 👍  assigning to you

[2021-05-31 01:00] devopstoday11 opened #137 "Centralized SigNoz setup to collect metrics from apps running on different K8s clusters running in different regions & clouds."
Does Signoz have Multi-cluster Multi-Region Multi-cloud Multi-tenant Kubernetes configuration capability & centralized dashboard? Or, we have to install Signoz on every cluster & use individual SigNoz console per cluster?

SigNoz can be installed as an independent component. All the opentelemetry-collectors from different clusters should be able to send data to a centralized SigNoz setup where all

[2021-05-31 18:02] pranay01 opened #141 "Check for max value in latency to be greater than min value"
## Is your feature request related to a problem?

Currently, trace filter page allows latency filter have max value to lower than min value. This will always give 0 traces as results

## Describe the solution you'd like
Give a warning when max value is less than min value, and don't allow latency filter to be applied. May be keep apply button in latency filter in disabled state

## Describe altern

[2021-05-31 18:07] pranay01 opened #142 "In service map, speed of packet changes when changing from 1min time range to 5 min time range"
## Bug description

*Please describe.*
If packet speed between nodes depends on RPS,  why does the speed of packet change when changing from 1min tim range to 5 min time range

## Expected behavior
The packed speed between nodes shouldn't depend on the time range chosen

## How to reproduce

1. Open SigNoz dashboard. Instrument a few services or run sample HotRod application
2. Go to service map t

[2021-06-01 18:34] saideepesh000 commented on #141
Hey @pranay01, can I take this up

[2021-06-02 13:14] ankitnayan commented on #22
#144 #145

[2021-06-02 13:41] Slach commented on #22
@ankitnayan great news, thanks a lot for your efforts!

[2021-06-02 13:49] ankitnayan commented on #22
@Slach now working to update installation steps and docs for the same

[2021-06-02 13:59] saideepesh000 opened #146 "Typo In Docs"
## Bug description

Typo in docs:
![image](https://user-images.githubusercontent.com/43727167/120493559-b01d6200-c3d8-11eb-83fa-893a4accd8c0.png)

## Expected behavior
I think it should be `OpenTelemetry`

Where is the repo for docs ?

[2021-06-02 15:02] dtherhtun opened #147 "Permission denied in Apache druid Helm"
## Bug description

Permission errors happen when deploying Signoz using helm.

## Expected behavior

## How to reproduce

[code]

## Additional context

Tested on KIND/K3s/Openshift/k8s on DO.

[code]
[code]

#### *Thank you* for your bug report – we love squashing them!

[2021-06-02 15:41] ankitnayan commented on #147
@dtherhtun
This seems to be fixed by https://github.com/helm/charts/pull/23561

Want to upgrade the Druid helm version to 0.2.19 and check again?
Otherwise, I will set up a K8s DO cluster to test things.

[2021-06-03 03:54] dtherhtun commented on #147
Okay, let me try with druid helm version 0.2.19.

[2021-06-03 04:25] dtherhtun commented on #147
Error: can't get a valid version for repositories druid. Try changing the version constraint in Chart.yaml

[code]

[2021-06-03 07:16] pranay01 commented on #141
Awesome @saideepesh000 Let me know if you need any help.

If the Max value is more than min value, the Appy button should be disabled and there should be a warning message above the line over cancel and apply buttons. This should say 'max value should be greater than min value' in warn colors. Will share a design if you need exact fonts etc.

[2021-06-03 07:17] pranay01 commented on #146
Hey @saideepesh000 Docs repo is not yet public. We plan to make it public soon.

Meanwhile I will fix this type

[2021-06-03 07:20] pranay01 commented on #129
@ankit01-oss this is working now. Can you please recheck and confirm?

[2021-06-03 07:31] ankit01-oss commented on #129
@pranay01 It's still not working.

[2021-06-03 07:34] sourabhtk37 commented on #121
@ankitnayan any more information available in this? Logs?

Steps to reproduce:
- Have signoz running for few days? How many days?
- Can you see the storage filling up instantly?
- Watch disk space?

[2021-06-03 07:39] pranay01 commented on #129
Oh, I was checking the other link

@ankitnayan It seems the otel python link in this doc page is broken. What would be the correct link to use here?

[2021-06-04 13:38] pranay01 opened #151 "Service map zooms out on selecting specific service"
## Bug description

On Macbook Air 13", connected to Dell Monitor in mirror mode, service maps zooms out to a point on selecting a specific service

*If this affects the front-end, screenshots would be of great help.*

## Expected behavior
The selected service node should come to the center on selecting a service, the whole service map shouldn't zoom out

## How to reproduce

1. Open SigNoz dashbo

[2021-06-04 14:23] ankitnayan commented on #151
@nidhi-tandon @jyash97 @anweshknayak @saideepesh000 Do you guys see any issues there? I have pro and I cannot replicate. Also, I guess the zoom level is set based on screen size. This part can be improved I hope https://github.com/SigNoz/signoz/blob/main/frontend/src/modules/Servicemap/utils.ts#L77

[2021-06-05 04:16] anweshknayak commented on #151
@ankitnayan @pranay01 tested with the latest pull. not able to replicate.

Device/OS : `Macbook Air 13" macOS Mojave v10.14`

But at times I have faced the zoom out issue. I don't remember the exact steps which led to it.

[2021-06-05 05:57] muddlebee opened #153 "Retain Filter Traces values after checking out TraceID and coming back to Traces section"
## Bug description

Retain Filter Traces values in dropdown after checking out TraceID and coming back to Traces section

*Please describe.*
*If this affects the front-end, screenshots would be of great help.*
![chrome-capture](https://user-images.githubusercontent.com/8139783/120881677-7aeb5c80-c5f0-11eb-8ddb-5773465b9e9b.gif)

## Expected behavior
Last filled values should be there after coming

[2021-06-05 05:58] anweshknayak commented on #153
@ankitnayan @pranay01 I hope this is a valid scenario.

[2021-06-05 06:09] anweshknayak commented on #34
@pranay01  this is fixed in latest pull. Closing this?

![Screenshot 2021-06-05 at 11 29 25 AM](https://user-images.githubusercontent.com/8139783/120882013-b0914500-c5f2-11eb-87b7-f4fbacc456e3.png)

[2021-06-05 06:09] #34 closed

[2021-06-05 07:24] jyash97 commented on #151
I am able to replicate this issue, it happens because of the screen size. Try updating the resolution maybe. The linked PR seems to fix the issue.

[2021-06-05 09:57] nidhi-tandon commented on #134
This is done. We can close this @ankitnayan

[2021-06-05 11:57] nidhi-tandon commented on #151
Tracking it here as well https://github.com/vasturiano/react-force-graph/issues/296

[2021-06-05 12:02] nidhi-tandon commented on #151
@jyash97 [This](https://github.com/SigNoz/signoz/pull/154) PR didn't work out on @ankitnayan laptop. Ankit and I have the same laptop and it's not working for him.
Created an issue on the [react-force-graph](https://github.com/vasturiano/react-force-graph/issues/296)  github.

[2021-06-05 12:41] jyash97 commented on #151
I am on macOS Big Sur and the chrome version is `91.0.4472.77` and after trying the PR with `320px` and `330px` it works for me.

[2021-06-05 15:41] muddlebee opened #159 "Feature: Enhance flamegraph visualization"
## Is your feature request related to a problem?
Yes. Issues with current implementation of flamegraph visualization.

-  Spans are little confusing, as it is stacking up from left to right. So some spans are getting tightly accumulated towards the end, some not coming in screen either.

![Screenshot 2021-06-05 at 12 21 15 PM](https://user-images.githubusercontent.com/8139783/120896386-e8be7500-c6

[2021-06-05 15:42] anweshknayak opened #160 "Feature: Explore Gantt chart for trace/span visualization"
## Is your feature request related to a problem?
Yes. As an enhancement for Traces/Span graphs. More #159

## Describe the solution you'd like

- [Zipkin](https://zipkin.io/pages/data_model.html ) does provide a nice Gantt chart of individual traces, and you can view a tree of dependencies, but it’s essentially only a context calling tree with no information as to latencies, status codes, or anyth

[2021-06-05 15:49] muddlebee opened #161 "Enhance span visualization for traces"
### Goal

Enhance [Span](https://opentelemetry.lightstep.com/spans/) visualization for traces section @Signoz.

---

| Title  | Assignees | Milestone | State |
| :---         |     :---:        |  :---:          |         ---: |
| [Explore Gantt chart for trace/span visualization](https://github.com/SigNoz/signoz/issues/160)  | N/A     |  N/A    | Open   |
| [Enhance flamegraph visualization](http

[2021-06-05 19:11] ankitnayan commented on #151
I think we should merge the PR if it's only specific to my laptop and close the issue. If anybody finds the same problem, we can re-open this issue.

[2021-06-06 05:11] ankitnayan opened #162 "Add padding to cells in Flamegraph"
![Screenshot 2021-06-06 at 10 39 40 AM](https://user-images.githubusercontent.com/12460410/120913270-82c00500-c6b3-11eb-904d-29b25196009d.png)
Currently, the text seems cluttered. Can we add some padding in a cell so that text inside the cell has some distance from the edge?

[2021-06-06 05:15] ankitnayan opened #163 "Ability to change background color of cell in Flamegraph"
We need to specify the coloring logic of the background in the cell of Flamegraph.

1. Choose some smooth default color
2. Background Color `RED` if the span has tag `error:true` or `http.status_code:5xx`

[2021-06-06 10:13] suvojit-0x55aa commented on #159
[Pyroscope](https://github.com/pyroscope-io/pyroscope) has a great flame graph visualization, just putting it here for reference.

[2021-06-06 13:55] pranay01 commented on #159
Yeah, know folks at pyroscope. They use flamebearer library. We are exploring that also - if it would support our use cases. Thanks for pointing @suvojit-0x55aa

[2021-06-07 05:46] suvojit-0x55aa opened #166 "Support custom port if default ports are not available"
## Is your feature request related to a problem?

Yes it is, I'm unable to run it with other services running on default ports of signoz.

## Describe the solution you'd like

Ability to change the default ports of signoz, either through some config files or env.

From what I understood the following line hardcodes the ports:
https://github.com/SigNoz/signoz/blob/34e33af290f85ec2fbc1fbc710844f9f62

[2021-06-07 07:09] pranay01 commented on #166
@suvojit-0x55aa are there specific ports which are preventing you from deploying SigNoz?

[2021-06-07 12:30] ankitnayan commented on #147
@dtherhtun please check with the latest pull whether this is fixed. I have tested in a DO cluster.

[2021-06-07 13:22] saideepesh000 commented on #117
@pranay01  I think this issue can be closed

[Flask](https://signoz.io/docs/instrumentation/python#instrumentation-of-a-sample-flask-application)
[Nodejs](https://signoz.io/docs/instrumentation/python#instrumentation-of-a-sample-flask-application)
[Golang](https://signoz.io/docs/instrumentation/golang#instrumentation-of-a-sample-golang-application)

But we still need `java` implementation

[2021-06-07 13:36] ankitnayan commented on #147
#168

[2021-06-07 13:36] #147 closed

[2021-06-07 13:36] #134 closed

[2021-06-07 13:37] #123 closed

[2021-06-07 15:17] pranay01 commented on #117
Ok. closing this issue and creating new one for Java

[2021-06-07 15:17] #117 closed

[2021-06-07 15:19] pranay01 opened #169 "Create a sample app repo for Java similar to ones we have for NodeJS, Python, Go"
- [ ] Create sample repo for Java which users can use for testing SigNoz implementation
- [x] Update Java instrumentation docs with sample repo reference

Reference issue - https://github.com/SigNoz/signoz/issues/117

[2021-06-07 15:29] suvojit-0x55aa commented on #166
@pranay01 mostly port 80 taken by nginx and 8080 for another service.
One way custom port can be implemented is mapping the default docker port to a different host port.

[2021-06-07 16:11] ankitnayan commented on #166
@suvojit-0x55aa This is already an option in respective docker-compose files. Let's say, for clickhouse setup:
1. Port of `frontend` can be changed [here](https://github.com/SigNoz/signoz/blob/main/deploy/docker/clickhouse-setup/docker-compose.yaml#L47)
2. Port of `query-service` can be changed [here](https://github.com/SigNoz/signoz/blob/main/deploy/docker/clickhouse-setup/docker-compose.yaml#L27

[2021-06-07 16:22] pranay01 commented on #153
@anweshknayak Yes this is a valid scenario.  The filter values should be preserved in going to trace detail page and back

[2021-06-07 16:23] pranay01 commented on #160
We will be working on improving the trace visualization. Will track this as part of this enhancement

[2021-06-07 16:44] pranay01 commented on #151
@ankitnayan Shall we close this issue as the fix is merged in the latest release? https://github.com/SigNoz/signoz/pull/170

[2021-06-08 01:13] dtherhtun commented on #147
Thanks.

[2021-06-08 09:13] suvojit-0x55aa commented on #166
@ankitnayan thanks I'll test it out and get back, if it's not used I I think it should be removed.

[2021-06-08 11:10] anweshknayak opened #171 "Test: Increase code coverage"
- [ ] flattener Processor
- [ ] query-service

[2021-06-08 16:24] suvojit-0x55aa commented on #166
@ankitnayan If I use the druid-kafka option i guess I'll have to make change here ?
https://github.com/SigNoz/signoz/blob/34e33af290f85ec2fbc1fbc710844f9f62b327e1/deploy/docker/druid-kafka-setup/docker-compose-tiny.yaml#L172

[2021-06-08 16:54] ankitnayan commented on #166
@suvojit-0x55aa Correct! Let me know if you face any issues

[2021-06-08 17:31] ankitnayan commented on #114
fixed in release https://github.com/SigNoz/signoz/releases/tag/v0.3.1

[2021-06-11 14:17] ankit01-oss opened #174 "Find Trace Link in sample Hot R.O.D application not working"
## Bug description

'Find trace' link which comes when we click on customer's name does not work. You can find the 'find trace' link from the image below.

![Screenshot 2021-06-11 at 7 42 45 PM](https://user-images.githubusercontent.com/83692067/121700163-421a1e80-caed-11eb-9e26-115fe13f96ab.png)

## How to reproduce

1. Open localhost:9000 to run the sample HotR.O.D application
2. Click on a cust

[2021-06-11 18:14] pranay01 commented on #174
@ankit01-oss Are you running this with SigNoz? The default links in HOTROD are designed for Jaegar. I am  assuming you are not running Jaeger

[2021-06-11 18:14] #174 closed

[2021-06-12 06:15] ankitnayan commented on #171
@anweshknayak Query service has gone through major refactoring as we now support both Apache Druid and ClickHouse. It works using an interface pattern. I have defined the APIs needed by frontend as interface and packages `clickhouseReader` and `druidReader` implement those interfaces.

And thanks for the PR. It would be of great help.

[2021-06-13 13:13] ankitnayan opened #178 "Flamegraph - sort children by startTime"
## Current Behaviour
The flamegraph sorts the siblings in ascending order by frame's name.
The reference to code is [here](https://github.com/SigNoz/signoz/blob/main/frontend/src/modules/Traces/TraceGraph.tsx#L64)

## Expected Behaviour
The siblings should appear in order of their start time.
This can be achieved according to library docs mentioned [here](https://github.com/spiermar/d3-flame-graph

[2021-06-13 16:43] saideepesh000 commented on #141
@pranay01 you can close this issue

[2021-06-13 16:57] #141 closed

[2021-06-17 09:20] gedw99 opened #179 "Flutter client support"
## Is your feature request related to a problem?

I think that it’s possible to provide dart support so that flutter web, mobile and desktop clients can be supported.

## Describe the solution you'd like

A repo that demonstrates flutter client using the system.

## Describe alternatives you've considered

## Additional context
Add any other context or screenshots about the feature request here.

[2021-06-17 09:29] pranay01 commented on #179
Hey @gedw99, just to confirm - when you say flutter, you mean this - https://flutter.dev/ , right?

[2021-06-18 19:21] saideepesh000 commented on #135
@ankitnayan @pranay01 can you provide any adobe or Figma design that you from your team

[2021-06-18 19:49] pranay01 commented on #135
@saideepesh000 Will provide one by tomorrow

[2021-06-19 18:12] pranay01 commented on #135
@saideepesh000 Here's the figma design https://www.figma.com/file/9yU6x8Z6YYoVk01HJQRSIF/SigNoz-OSS-Github-Issues-UI?node-id=2%3A21
Let me know if you are not able to access it

- If user enters <base_url>/xyz123 as the url, he should be shown
Home > xyz123 in top bread crumb ( i think this will happen by default)

- The 'Return to Metrics page' button should take user the /application page

- Tes

[2021-06-19 18:23] pranay01 commented on #135
SVG file for the graphic used in the design - https://drive.google.com/drive/folders/1CTifClWIxGbomiQJlb4YGPhjhj_ZXe_A?usp=sharing

[2021-06-20 16:46] rahulrana95 opened #181 "Not suggesting another port if same port is used on localhost"
## Bug description

*Please describe.*
When we run 'yarn dev' on localhost it try to open localhost on port 3000, while if the port is being used it not suggesting to open another port or randomly opening any new port.
*If this affects the front-end, screenshots would be of great help.*
If same port is being used then localhost:3000 will keep loading, no errors
Confusing for people.

## Expected b

[2021-06-21 18:21] gedw99 commented on #179
Yes that’s correct.

[2021-06-21 18:31] pranay01 commented on #179
ok. I am not very familiar with flutter. Can you explain a bit on how does flutter interact with Golang/GRPC?

As I understand flutter is a framework for building mobile apps and web app (primarily the frontend)

Do you mean adding flutter support in SigNoz will enable monitoring these mobile apps/ web apps built on flutter?
Feel free to correct, if I am not following this correctly

[2021-06-21 18:34] gedw99 commented on #179
Yes that is what I mean. By adding support flutter apps get open telemetry and because flutter has good GRPC support is should be relatively straight forward .

i have done a Little prior art support but not found anyone else biting it off yet to do it

most flutter devs use sentry or firebase currently I think

[2021-06-21 20:00] pranay01 opened #182 "Clickhouse container not coming up on M1 chip macbook Pro"
## Bug description

On trying to install clickhouse setup in M1 Chip Macbook pro via docker, Clickhouse container doesn't come up

## Expected behavior
SigNoz should be installed successfully even on M1 chip Macbook

## How to reproduce

1. `git clone https://github.com/SigNoz/signoz.git && cd signoz/deploy/`
2. `./install.sh`
3. Choose clickhouse as the option

Clickhouse container fails to get s

[2021-06-22 14:11] sbusetty-rythmos opened #183 "Auto Refresh on dashboards"
## Is your feature request related to a problem?

*Currently we dont have auto refresh feature. We need to click refresh button to get the dashboards refreshed*

## Describe the solution you'd like

We need to have auto refresh feature so the dashboards get refreshed and we can see the stats without refreshing everytime.

## Describe alternatives you've considered

## Additional context

#### *Tha

[2021-06-24 18:03] pranay01 opened #185 "[Intermittent Issue] The tabs in Application details page appear distributed throughout the width"
## Bug description

The tabs in Application details page appear distributed throughout the width on first click - this is resolved on refreshing. Tabs -> Application metrics - Database calls - external calls

## Expected behavior
Tabs shouldn't be distributed across the width, but should be left aligned

## How to reproduce

1. Open Services list page
2. Click on any service
3. Sometimes the tabs

[2021-06-24 18:05] pranay01 commented on #185
Expected position  of Tabs
![Screenshot 2021-06-24 at 11 35 27 PM](https://user-images.githubusercontent.com/504541/123311494-e0be6a80-d544-11eb-810f-e08d6c8e5e32.jpg)

[2021-06-24 18:10] pranay01 opened #186 "On firefox, in gantt chart view, icon before span appears as vertical icon instead of +"
## Bug description

On firefox, in gantt chart view, icon before span appears as vertical icon instead of +

## Expected behavior
Collapsed spans should have + icon before them

## How to reproduce

1. Go to trace page in firefox
2. Click any span from trace list
3. Go to gantt chart view by scrolling down

## Version information
* **Signoz version**: 0.3.2
* **Browser version**: 89.0.1 (64-bit)
*

[2021-06-24 19:20] ankitnayan opened #187 "Gantt Chart does not show sub-second time"
![Screenshot 2021-06-25 at 12 49 51 AM](https://user-images.githubusercontent.com/12460410/123320351-4283d200-d54f-11eb-8434-128356847e27.png)

[2021-06-25 16:57] #187 closed

[2021-06-25 17:05] ankitnayan commented on #178
@nidhi-tandon can you please detail out the issue faced here. We can check with fellow contributors

[2021-06-26 15:22] fire opened #193 "Support ebpf in SigNoz"
## Is your feature request related to a problem?

Given docker containers that contain a c++ game server executables, I don't want to instrument to get observability in SigNoz.

## Describe the solution you'd like

Support ebpf in SigNoz for observability.

## Describe alternatives you've considered

1. https://github.com/cilium/hubble
2. https://github.com/Flowmill/flowmill-collector
3. https://g

[2021-06-26 16:14] rajdas98 opened #194 "Request for multi-architecture images of signoz components (ARM support)"
**Is your feature request related to a problem? Please describe.**

Currently, signoz docker images are not built for multi-arch support(ARM)
Required arch support- arm64/amd64

**Describe the solution you'd like**
Add arch support of arm64 and amd64 for the following signoz components
- signoz frontend
- query-service
- flattener

Using `docker buildx`, we can build for multi-arch images.

[2021-06-26 16:14] rajdas98 commented on #194
cc: @ankitnayan  @pranay01  Please feel free to assign this issue to me

[2021-06-27 13:14] nishit-prasad commented on #86
Hello! I am new and would like to contribute here if this is not taken?

Currently, I am following the docs to understand and setup my environment.

[2021-06-27 13:18] pranay01 commented on #86
@nishit-prasad Sure. Assigning this to you.

You can join our [slack community](https://join.slack.com/t/signoz-community/shared_invite/zt-lrjknbbp-J_mI13rlw8pGF4EWBnorJA) and ask questions if you need any help in getting set up

[2021-06-27 13:19] nishit-prasad commented on #86
Thank you! Appreciate it!

[2021-06-28 08:44] AnonyArt opened #198 "bug report"
## Bug description

*Please describe.*
*If this affects the front-end, screenshots would be of great help.*

## Expected behavior

## How to reproduce

1.
2.
3.

## Version information
* **Signoz version**:
* **Browser version**:
* **Your OS and version**:

## Additional context

#### *Thank you* for your bug report – we love squashing them!

[2021-06-28 08:51] #198 closed

[2021-06-28 18:23] #185 closed

[2021-06-28 18:25] ankitnayan commented on #160
#184

[2021-06-28 18:25] #160 closed

[2021-06-28 18:26] #151 closed

[2021-06-28 18:27] ankitnayan commented on #127
#177

[2021-06-28 18:27] #127 closed

[2021-06-28 18:30] ankitnayan commented on #114
#131 #132

[2021-06-28 18:30] #114 closed

[2021-06-28 18:30] #112 closed

[2021-06-28 18:32] ankitnayan commented on #42
duplicate of #112

[2021-06-28 18:33] #42 closed

[2021-06-29 18:31] lalitkale opened #200 "Move Signoz packages utilized by flattener processor from gitlab to github repo"
## Bug description
Flattener processor uses packages that are referred from GitLab. However, it would be easier to read and package them as part of the main repo at Github. It also helps to manage dependencies for SigNoz.

Reference: https://github.com/SigNoz/signoz/blob/ea93b65ab7c0be2c89f62dde20fbbd9b7843d4f9/pkg/processors/flattener/main.go#L11-L13

While moving please unify the license from th

[2021-06-30 15:01] pranay01 commented on #81
@ankitnayan I think it would be better to keep the docs and website repo - separate from the SigNoz code repo

[2021-06-30 15:50] MoroIddrisu commented on #200
Hello

[2021-06-30 15:51] MoroIddrisu commented on #200
Hello

[2021-06-30 15:51] MoroIddrisu commented on #194
Hello

[2021-06-30 15:52] MoroIddrisu commented on #182
Hello

[2021-06-30 15:52] MoroIddrisu commented on #178
Hello

[2021-06-30 15:53] MoroIddrisu commented on #159
Hello

[2021-06-30 17:38] ankitnayan commented on #81
Yes @pranay01, separate repo makes more sense.

[2021-06-30 17:55] lalitkale commented on #81
@ankitnayan @pranay01 we could keep as folder as well in the main repo. What do you think?

[2021-07-02 11:14] reachtokish commented on #44
Can I work on this if no one is working?

[2021-07-02 12:32] pranay01 commented on #44
@reachtokish Sure. Assigning it to you

[2021-07-03 00:15] Revangehappen opened #203 "dese"

[2021-07-03 00:15] #203 closed

[2021-07-03 07:29] reachtokish commented on #87
Can I take this if no one is working on it?

[2021-07-03 13:06] ankitnayan commented on #121
@sourabhtk37 I am not able to free up time to investigate this issue. Please feel free to pick this up, if you get some time.

## Sharing the context

The demo services take up around 1.5GB per day. The default retention policy set at Druid is 3 days and hence the size of the volume should be maintained at 4.5GB. This is verified by `docker system df`. The volume size is consistent at 4.5GB but th

[2021-07-03 15:40] reachtokish commented on #87
I have started working on this and have a doubt. Will the `kind` be part of the initial `/spans` api call?

[2021-07-03 16:43] pranay01 commented on #87
@ankitnayan Should be able to answer this

[2021-07-03 17:28] fire commented on #193
The authority on ebpf wrote an article on how to add eBPF. https://brendangregg.com/blog/2021-07-03/how-to-add-bpf-observability.html

[2021-07-05 16:22] palashgdev commented on #135
@saideepesh000 are you working on this one ?

[2021-07-05 16:53] palashgdev opened #210 "grab the baseUrl in frontend from .env"
## Is your feature request related to a problem?

*Please describe.*
right now baseUrl is ```empty string```

## Describe the solution you'd like
grabbing the `baseUrl` in the Frontend from `.env`

[2021-07-05 18:12] saideepesh000 commented on #135
Hey @palashgdev , yeah I would work on it, but not right now, I'm on my exams, so meanwhile if you want you can take it.

[2021-07-08 05:38] palashgdev commented on #135
@saideepesh000 sure would like to take this one ... @ankitnayan can you please assign this one to me

[2021-07-08 05:44] palashgdev commented on #210
@rahulrana95 do we need to update the docker-compose also? which will update the baseUrl #212

[2021-07-08 06:46] palashgupta98 opened #215 "Unnecessary packages in the frontend"
## Bug description

*Please describe.*

There are some unused packages wrong used in the frontend
1. not used
   1. react-is
   1. resolve-url-loader
   1. react-refresh
   1. react-graph-vis
   1. react-dev-utils
   1. react-chips
   1. react-app-polyfill
   1. postcss-safe-parser
   1. postcss-preset-env
   1. postcss-normalize
   1. postcss-loader
   1. pnp-webpack-plugin
   1. jest-watch-typea

[2021-07-12 05:26] pranay01 opened #220 "Test SigNoz installation in Fedora"
## Bug description

Issues with installation in Fedora via Install script

## Expected behavior
SigNoz should be installed on Fedora via Install script

## How to reproduce

1.
2.
3.

## Version information
* **Signoz version**:
* **Browser version**:
* **Your OS and version**:

## Additional context

#### *Thank you* for your bug report – we love squashing them!

[2021-07-12 18:43] pranay01 commented on #220
Can someone who uses Fedora OS try installing SigNoz and report here? Can't find VMs with fedora OS in AWS or Azure cloud

[2021-07-12 18:55] pranay01 opened #221 "Not able to install SigNoz via Install script on Red Hat Enterprise Linux 8.2 LVM"
## Bug description

*Please describe.*
*If this affects the front-end, screenshots would be of great help.*

## Expected behavior

SigNoz should be installed on RHEL

## How to reproduce

1. git clone https://github.com/SigNoz/signoz.git && cd signoz/deploy/
2. ./install.sh
3. Choose clickhouse installation setup

Get the following error
`Error: Failed to download metadata for repo 'download.docke

[2021-07-14 01:56] amit-100ms opened #222 "4xx chart"
4xx should be treated as errors or should be highlighted in signoz dashboard. As per discussion with @ankitnayan only 5xx are treated as errors while 4xx don't show up as special.

Solution exepcted:
Please either highlight 4xx in different category or as errors or create a special chart for 4xx.

[2021-07-14 04:03] Vimalraj571 opened #223 "Spinner at the Center with New Spining indicator"
## Is your feature request related to a problem?

Other than the metrics tab The spinner is rendering in the top left which is need a work around i guess

## Describe the solution you'd like

![old_spin](https://user-images.githubusercontent.com/8166149/125295438-db359280-e342-11eb-8088-5a1dcdefd16f.png)

Make the spinner to spin in the center

## Describe alternatives you've considered

![new1](h

[2021-07-14 04:18] pranay01 commented on #223
Displaying spinner in the centre seems the right approach. Will check the PR

[2021-07-14 06:19] ankitnayan opened #225 "Push docker image with each PR"
Would be great to push a docker image with each PR raised/changed. Would be of great help in testing out the PR.

[2021-07-14 06:24] ankitnayan commented on #225
@rajdas98 Can you pick this up?

[2021-07-14 07:29] rajdas98 commented on #225
Yes, @ankitnayan. One suggestion- Instead of a new image for each PR, we can create new image tags.

[2021-07-14 08:45] ankitnayan commented on #225
I meant that only 😉

[2021-07-14 16:58] ankitnayan commented on #87
@reachtokish This needs to be done for 2 APIs:

1. `/spans` api
2. `/spans/aggregates` API

[2021-07-15 03:30] palashgdev opened #226 "feat: (FE) setup Cypress as e2e testing"
## Is your feature request related to a problem?
there might be the case where docker image is built successfully and the frontend would fail in rendering the app

*Please describe.*

## Describe the solution you'd like
set up the [end to end testing](https://www.cypress.io/) with [react-testing-library](https://testing-library.com/docs/cypress-testing-library/intro)

Links that could be helpful

[2021-07-16 02:59] Vimalraj571 commented on #186
### About the Issue:
Hi @pranay01 i have gone through this Issue and dug up found following

### Fix 1:
update antd from  **_4.6.2 to 4.16.7_**
Actually People from Ant fixed the issue here
[Table row expanded icon disappears when expanded on Firefox and looks like a checkbox](https://github.com/ant-design/ant-design/issues/29303)

_or_

### Fix 2:
By following code (we can fix this ant 4.6.2 vers

[2021-07-16 03:12] palashgupta98 opened #227 "Bug:(FE) Handle unCaught Error in component"
## Bug description
There is no fallback component when there is any unhandled Error in the React component

*Please describe.*
*If this affects the front-end, screenshots would be of great help.*

<img width="1440" alt="Screenshot 2021-07-16 at 8 23 29 AM" src="https://user-images.githubusercontent.com/29013861/125884486-c1015960-6bcc-427c-aeb2-0bf1fd9bc808.png">

## Expected behaviour

Component

[2021-07-16 08:39] pranay01 commented on #186
Thanks @Vimalraj571 for researching on the issue.

@nidhi-tandon @jyash97  - Your thoughts on which approach we should take?

[2021-07-18 03:47] nidhi-tandon opened #233 "feat: create a PR template"
## Is your feature request related to a problem?

*Add a PR template so the PR description remains consistent*

## Describe the solution you'd like
The PR template should include the following:
1. Describe what your PR does
2. Write individual changes in points (List of impacted parts in the project for e.g. UI of spans, functionality of traces etc.)
3. Enter any additional message, information, l

[2021-07-18 03:56] nidhi-tandon opened #234 "feat: add commitizen in pre commit hooks"
## Is your feature request related to a problem?

*Add commitizen in pre-commit hooks*

## Describe the solution you'd like
Add commitizen via husky as pre-commit hooks
https://github.com/commitizen/cz-cli

## Describe alternatives you've considered
https://github.com/commitizen/cz-cli#husky

## Additional context
Add any other context or screenshots about the feature request here.

#### *Thank yo

[2021-07-18 04:01] nidhi-tandon opened #235 "feat: add prettier and eslint checks in pre commit hooks"
## Is your feature request related to a problem?

*Add prettier and eslint checks on staged files while commiting*

## Describe the solution you'd like
We can use [lint staged](https://github.com/okonet/lint-staged) to solve this
Adding prettier and eslint will resolve all the inconsistencies in the code and will help in code maintainability.

## Describe alternatives you've considered

## Additio

[2021-07-18 16:13] saideepesh000 commented on #235
Hey @nidhi-tandon , I'm assigning this to myself

[2021-07-19 14:31] lalitkale opened #236 "Add unit test cases for Query-Service"
Add unit test cases for Query-Service

## Expected behaviour
Code-Coverage improved for Query service from 0 to ~60% to begin with when measured with `go test -cover`

## How to reproduce

NA

## Version information
NA

## Additional context

#### *Thank you* for your bug report – we love squashing them!

[2021-07-19 14:34] lalitkale opened #237 "Add unit test cases for flattener processor"
## Bug description
Add unit test cases for flattener processor

## Expected behaviour
Code-Coverage improved for Query service from 0 to ~60% to begin with when measured with `go test -cover`

## How to reproduce
NA

## Version information
NA

## Additional context
#236

#### *Thank you* for your bug report – we love squashing them!

[2021-07-19 21:47] #194 closed

[2021-07-20 11:09] rajcspsg commented on #220
@pranay01 could you please assign this issue to me. I can install fedora VM using virtual box in my local and test

[2021-07-20 11:10] pranay01 commented on #220
Sure @rajcspsg

[2021-07-20 11:12] pranay01 commented on #220
Please also try directly using docker compose and report the result here

https://signoz.io/docs/deployment/docker#2-using-docker-compose

[2021-07-21 13:33] pranay01 opened #238 "Translate README in Portuguese"
We see many devs from Brazil are using SigNoz. It would be be good if README is translated to Portuguese.

This will make it easier for devs from Brazil to get started with SigNoz.

[2021-07-21 13:35] pranay01 opened #239 "Translate README in Chinese(Mandarin?)"
We see many devs from China are using SigNoz. It would be be good if README is translated to Chinese (Mandarin?). I don't have good understanding of different dialects of Chinese, so if folks can comment on what are the most popular dialects - that would be helpful

This will make it easier for devs from China to get started with SigNoz.

[2021-07-21 13:38] pranay01 opened #240 "Translate README to German"
We see many devs from Germany are using SigNoz. It would be be good if README is translated to German.

This will make it easier for devs from Germany and German speaking countries to get started with SigNoz.

[2021-07-21 15:02] pranay01 opened #241 "Support for deploying SigNoz without Docker or Helm"
## Is your feature request related to a problem?

Currently, all methods of deploying SigNoz requires the user to have docker installed or install via helm charts. Though installing docker may be extra friction for running SigNoz.

## Describe the solution you'd like

We should be able to install SigNoz directly on a VM. We can start with supporting initially only a few OS for direct installs like

[2021-07-23 17:54] abhaysingh003 opened #242 "add some badges to the readme"
## Is your feature request related to a problem?

Add some badges to the top of readme.md file, since the badges will be colorful and more attractive at the top of README.md file than the text the users will like it and after linking the badges it will also help them to navigate to different sections/ webpages like PRs, issues, contributors, etc.

## Describe the solution you'd like

I will add so

[2021-07-24 04:46] pranay01 commented on #242
@SINGH-UMS Can you give more details on what badges you want to add. Agree with the broad idea of adding more badges - but those should be relevant to folks who are exploring the repo :)

[2021-07-24 18:10] saideepesh000 commented on #111
@rbrishabh , r u still interested in working on this ?

[2021-07-24 18:55] rbrishabh commented on #111
Hello! Unfortunately I don't have much free time, so please feel free to take this up!

[2021-07-25 11:36] saideepesh000 commented on #111
Hey @pranay01 @ankitnayan , I think this fixed, can u check and confirm it, so that we can close this issue.
![image](https://user-images.githubusercontent.com/43727167/126897652-8b30c1c7-3578-4c27-8305-655787acc981.png)

[2021-07-25 12:21] tonyqus commented on #239
Maybe I can help. I also see a gap of .NET client support in SigNoz

[2021-07-25 13:28] pranay01 commented on #239
Thanks @tonyqus That would be great. Assigning this issue to you.

We have not explicitly tested SigNoz for .NET yet but  we support opentelemetry for instrumentation and you can try the instructions mentioned here - https://github.com/open-telemetry/opentelemetry-dotnet

Do let us know also if you are able to successfully instrument .NET - we can add in our docs

[2021-07-25 13:37] pranay01 commented on #111
@saideepesh000 Ok, let me check

[2021-07-25 13:59] pranay01 commented on #111
Yeah, this issue seems fixed. Thanks for pointing out @saideepesh000 👍
 Closing this issue

[2021-07-25 13:59] #111 closed

[2021-07-25 15:29] tonyqus commented on #239
#244

[2021-07-25 17:07] #239 closed

[2021-07-27 05:46] satomikenta-org opened #246 "Feature: Display Error Logs"
I would like to see Error Logs inside Dashboard.

#### *Thank you* for your feature request – we love each and every one!

[2021-07-28 07:53] SINGH-UMS commented on #242
like this @pranay01 -
![image](https://user-images.githubusercontent.com/73235395/127285245-cfce8948-d6f1-4be6-b861-8f55af58a05a.png)

[2021-07-28 12:00] pranay01 commented on #242
Ok. Can there be more useful tags we can show?

In the above list - I find the following badges which could be useful for our visitors
- Contributions Welcome
- Maintained? Yes
- Forks

Can you add these in a PR, would be useful I think

[2021-07-28 12:06] pranay01 opened #247 "Create sample app in django framework showing example of how to instrument with SigNoz"
We should create a sample app in django framework and show developers can instrument them and visualise on SigNoz UI. Similar to what we have done for Flask app here - https://github.com/SigNoz/sample-flask-app

This should ideally be a new repo in this org in my opinion

[2021-07-28 12:10] pranay01 opened #248 "Create sample app in one of the PHP frameworks showing example of how to instrument with SigNoz"
We should create a sample app in one of the PHP frameworks, e.g. Laravel and show developers can instrument them and visualise on SigNoz UI. Similar to what we have done for Flask app here - https://github.com/SigNoz/sample-flask-app

This should ideally be a new repo in this org in my opinion

[2021-07-29 06:56] SINGH-UMS commented on #242
yes I can add them

[2021-07-29 12:05] #210 closed

[2021-07-30 06:17] #135 closed

[2021-07-30 09:34] amit-100ms commented on #222
any ideas when will this be picked up/prioritized @ankitnayan ?

[2021-07-30 11:43] pranay01 commented on #222
hey @amit-100ms

Currently you can achieve this in our trace page if you have a specific status code to monitor. The aggregate graph below shows it count/rps for that status code.

We are enhancing this functionality to support regex too. So, you should be able to chose
`http.status_code REGEX 4??` and this will show a graph of requests having 4XX response code. The list of traces with 4XX respons

[2021-07-30 11:51] #87 closed

[2021-08-02 10:08] #222 closed

[2021-08-03 04:32] ankit01-oss opened #250 "Tabs on metrics page not evenly spaced out for Macbook Air 13-inch"
## Bug description

There seem to be more space between 'Application Metrics' and 'External Calls' compared to the space between 'External Calls' and 'Database Calls' on Macbook Air 13 inch model.

![Screenshot 2021-08-03 at 10 00 55 AM](https://user-images.githubusercontent.com/83692067/127958007-38463ccb-534c-4a65-8f2e-5b854499f07e.png)

## Expected behavior
The tabs should be evenly spaced out.

[2021-08-03 04:34] ankit01-oss commented on #250
This appears under 'Metrics' side-menu selection.

[2021-08-03 04:53] ankit01-oss opened #251 "Dot size on peaks of latency charts too small which makes getting latency alert box to pop out difficult"
## Is your feature request related to a problem?

*The peaks of application latency or request per sec charts are represented by tiny dots. The dot size is too small and requires pointing the mouse at exact places to be highlighted.

## Describe the solution you'd like
The dot size representing the peaks can be increased to make it more prominent.

Or, for a better solution the area around a peak

[2021-08-03 04:59] ankit01-oss opened #252 "Getting to 'view traces' from charts not intuitive."
## Is your feature request related to a problem?

*For a first time user, there is no pointer to how to go to 'view traces' from charts that appear under metrics tab.*

## Describe the solution you'd like
A pop up telling users to click on a peak point  to 'view traces'.

[2021-08-14 21:33] tonyqus opened #254 ".NET Core app fails to send otlp data to otel collector"
Hi Team,

I'm working on making tracing of .NET core app work on Signoz. I've added the code of OpenTelemetry with OTLP exporter [here](https://github.com/tonyqus/sample-dotnetcore-app/blob/cf9372e951d51f72089c807377222b490984fae4/Src/WebUI/Startup.cs#L75)

And I started the docker-compose on a Windows laptop as below:
![image](https://user-images.githubusercontent.com/772561/129460454-f11990a2-51

[2021-08-16 07:20] ankitnayan commented on #254
@tonyqus try updating url to `http://<SigNoz_IP>:4317`. OTLP exporter only supports `grpc` as mentioned in [this](https://github.com/open-telemetry/opentelemetry-dotnet/issues/1923#issuecomment-803192453).

[2021-08-16 16:42] pranay01 commented on #222
@amit-100ms We have shipped this regex filtering feature. The chart in the panel below shows graphs for filtered traces. Attached is loom video -
 https://www.loom.com/share/e808a9f35f8b4a82ad3a9b2d6c95aaa9

[2021-08-18 07:20] palash-signoz commented on #235
Hi @saideepesh000 I think eslint-prettier is already resolved in this #214

can you please look into husky.

Do let me know

[2021-08-18 07:29] palash-signoz commented on #235
please also look into #234

[2021-08-18 21:15] itziklavon opened #262 "Otel clickhouse collector errors"
## In what situation are you experiencing subpar performance?

i'm configuring otel collector with clickhouse(i've seen it is recommended to use kafka+druid, but trying it our with clickhouse)
when setting the grpc exporter and running small load test, seems like the client disconnects, where can i see the source code?
BTW, i think that instead configuring kafka + druid, you can use clickhouse buf

[2021-08-19 06:33] ankitnayan commented on #262
@itziklavon thanks for detailing the issue.

1. Did you mean that you were able to ingest 500 rps using jaeger exporter in otel-collector and using jaeger to visualize
2. What is getting disconnected? Application to otel-collector connection or otel-collector to clickhouse connection?

Yes, also clickhouse has kafka integration which can further be used to handle scale.

[2021-08-19 06:40] itzikiusa commented on #262
@ankitnayan
1. yes, used jaeger exporter from: https://github.com/open-telemetry/opentelemetry-go/tree/main/exporters (also with clickhouse as the datasource), and when tried to do the same using otlp exporter, was getting the errors
2. application to otel collector, got message that client is disconnecting, and few seconds after got message of 'no client', which eventually probably because the lo

[2021-08-19 06:51] ankitnayan commented on #262
Do you mean, both settings are tested with SigNoz? Jaeger exporter works fine but otlp exporter shows `client is disconnecting` in high load?

Yes, since the traces were not delivered to otel-collector due to client disconnection, ultimately the batch size would have grown >4MB and thus the 2nd error.

[2021-08-19 06:54] itzikiusa commented on #262
@ankitnayan
no, jaeger exporter was used with jaeger as backend (can i use it with signoz? just to run similar test?)
otlp exporter was used with signoz as backend

[2021-08-19 07:05] ankitnayan commented on #262
Got it...

Yes, since SigNoz uses otel-collector to receive traces which has jaeger receiver, you can use jaeger exporter at application. Also, the jaeger receiver is enabled by default at [this code line](https://github.com/SigNoz/signoz/blob/main/deploy/docker/clickhouse-setup/docker-compose.yaml#L60). You just need to open port 14268 in the machine where signoz is installed to start receiving d

[2021-08-19 07:09] itzikiusa commented on #262
@ankitnayan
ok, will try the same (port is open)

i only removed the hotrod app and changed clickhouse endpoint

[2021-08-19 07:51] itziklavon commented on #262
@ankitnayan
getting the following error while trying to send traces via jaeger -
`2021/08/19 10:42:30 Post "http://localhost:14268/api/traces": EOF`

and port is up on docker:
`
62ea95baf1bf   signoz/otelcol:latest        "/otelcol --config=/…"   6 minutes ago   Up 6 minutes   0.0.0.0:1777->1777/tcp, :::1777->1777/tcp, 0.0.0.0:4317->4317/tcp, :::4317->4317/tcp, 0.0.0.0:14268->14268/tcp, :::14268->

[2021-08-19 16:16] ankitnayan commented on #262
@itziklavon How did you initialize the exporter? A code snippet would do.

I hope your application is running on the same machine as signoz.

[2021-08-19 16:22] itziklavon commented on #262
@ankitnayan
yes it does

BTW, got the same error with elastic APM (could not handle load of more then 50 transactions per second, and then started throwing errors that data sent is to big)

[2021-08-19 16:32] itziklavon commented on #262
and for jaeger exporter:
[code]

[2021-08-19 22:40] itziklavon commented on #262
well, after reading a bit, this is the configuration i'm using now, almost without any errors(in period of 30 minutes, got 10 errors of disconnetion in total), my guess that the traces weren't sent in batches before, also used newer version of opentelemetry: (hope it will be helpful for those who had the same issues as me)
in general, the batch size almost did not change anything(default is 2048,

[2021-08-23 06:22] #226 closed

[2021-08-23 12:12] pranay01 opened #270 "Add docs on SigNoz configuration with Istio"
For users who want to send Istio data to SigNoz, we should have a page documenting how they can add this.

[This](https://istio.io/latest/docs/tasks/observability/distributed-tracing/jaeger/) Jaeger doc can serve as an illustrative example

[2021-08-23 12:15] pranay01 commented on #270
Steps needed to enable Istio

1. Add zipkin receiver at [this section](https://github.com/SigNoz/signoz/blob/main/deploy/kubernetes/otel-collector/config.yaml#L10)

2. After changes this section should look like this
![zipkin-istio](https://user-images.githubusercontent.com/504541/130445375-dbc603e9-6c87-4427-9973-11bc79f657e7.png)

3. kubectl apply the changes
`kubectl -n platform apply -f deploy

[2021-08-23 16:07] itziklavon opened #272 "Improve clickhouse performance"
Hi,
i'm playing a bit with signoz with Clickhouse as the backend
the performance can be improved a lot

in general, need to create MV in order to make queries more efficient
and the main table structure should also change, and put timestamp as leading index(in general it can be done with projections, but did not see any need to use it)

currently i have around 50m traces, and clickhouse server wit

[2021-08-23 17:09] pranay01 commented on #272
thanks for your comments @itziklavon We will look into this in more detail.

I am curious, what is the test framework you are using to test the performance? Would love to know if there are any good set ups and best practices for this

[2021-08-23 18:36] #262 closed

[2021-08-23 18:43] itziklavon commented on #272
@pranay01 did not understand you question, test framework?
i'm using signoz :)

collector - signoz clickhouse collector, did not changed anything over there(except the endpoint for clickhouse)
query service - i've modified most of the queries that are needed(if not all, probably can be further improved), and ran the service locally(not via docker)
frontend - just changed the api endpoint to call m

[2021-08-23 18:49] pranay01 commented on #272
Got it.
I was asking about the app that generates traces. I was just checking if you have a more advanced way of doing this - apart from generating using sample application :)

[2021-08-23 19:02] itziklavon commented on #272
oh,no
i can just insert data manually, but i want to to simulate actual application

[2021-08-24 07:05] palashgdev opened #273 "Handle the Failure of React.lazy"
## Bug description

*Please describe.*
*If this affects the front-end, screenshots would be of great help.*
In this [component](https://github.com/SigNoz/signoz/blob/main/frontend/src/components/Loadable/index.tsx#L6) React.lazy accepts promise in case of failure

reasons could be due to the [network failure](https://reactjs.org/docs/code-splitting.html#error-boundaries)

## Expected behavior

Sho

[2021-08-24 07:37] palashgdev opened #274 "Configure Cypress with Github Actions"
## Is your feature request related to a problem?

*Please describe.*

## Describe the solution you'd like
There is a CI solution for the Cypress in [Github Actions](https://docs.cypress.io/guides/continuous-integration/github-actions?utm_source=Test%20Runner&utm_medium=CI%20Prompt%201&utm_campaign=GitHub&utm_content=Automatic#Cypress-GitHub-Action)

[2021-08-24 13:23] palash-signoz opened #277 "Refresh Functionality is not working as expected"
## Bug description

*Please describe.*
*If this affects the front-end, screenshots would be of great help.*
in the development environment if we make any change. change is not reflected over the browser

## Expected behavior

change should be reflected immediately without manually refreshing the page

## How to reproduce
you can change any text

#### *Thank you* for your bug report – we love squas

[2021-08-24 14:54] Jacoberson commented on #277
I'd like to try fixing this.

[2021-08-24 15:06] ankitnayan commented on #277
okay @Jacoberson, assigning this to you

[2021-08-24 20:06] Jacoberson commented on #277
@palash-signoz I guess I'm having trouble understanding where this is happening. It seems to be refreshing for me without having to manually refresh.

[2021-08-24 21:21] aggmoulik commented on #274
Hey @palash-signoz Are you working on the issue as I am looking for contributing in the project so it looks like a good issue to me.

[2021-08-25 00:10] palash-signoz commented on #274
Hi @aggmoulik
I am not working on this issue. Please go ahead

[2021-08-25 00:15] palash-signoz commented on #277
Hi @Jacoberson
Please find the video below where I am changing the text in the sidebar

https://user-images.githubusercontent.com/88981777/130705944-c8b459f9-0d35-4c2e-8777-ae7804482b53.mov

Please feel free to add more context

[2021-08-25 00:16] palash-signoz commented on #277
although I can see the HMR hot update JSON log in the terminal

<img width="1222" alt="Screenshot 2021-08-25 at 5 45 39 AM" src="https://user-images.githubusercontent.com/88981777/130706155-bcb8e245-cf41-46fd-970e-5e3789091518.png">

[2021-08-25 01:15] Jacoberson commented on #277
@palash-signoz thank you for the information. I've made a PR.

[2021-08-26 14:17] pal-sig opened #280 "Configure eslint and Prettier github actions"
## Is your feature request related to a problem?

*Please describe.*

## Describe the solution you'd like
Configure Eslint and Prettier Github Actions for the frontend

[2021-08-28 07:42] palash-signoz opened #282 "BUG(FE): Flame graph is not working as expected"
## Bug description

*Please describe.*
*If this affects the front-end, screenshots would be of great help.*

In Trace Section, the flame graph is not in sync with different trace

## Expected behavior
when we change trace this should also change the flame graph with the selected trace

https://user-images.githubusercontent.com/88981777/131209996-79e131f3-92c4-40ea-a55a-f0737ffb5314.mov

## Version

[2021-08-29 08:34] pranay01 commented on #169
This is done -

[2021-08-29 08:34] #169 closed

[2021-08-29 08:58] nipun1999 commented on #43
@pranay01 can you assign this ticket to me. It looks like an interesting first issue to start with.

[2021-08-29 09:27] pranay01 commented on #43
Sure @nipun1999

[2021-08-29 14:18] nipun1999 commented on #43
I don't think this will be feasible on Heroku since the free tier only allows 512 MB of dyno and we need more than that. Also, there is not any support of docker-compose on Heroku. You can run individual docker files but running multiple images in a free tier is not really possible. Maybe we can have a test small AWS instance running which devs can use to test our product.

[2021-08-29 19:40] js-sapphire commented on #273
Hey @palash-signoz, can I work on this?

[2021-08-29 19:40] js-sapphire commented on #280
Hey @palash-signoz, Can I work on this?

[2021-08-30 08:37] pranay01 opened #284 "1 click deploy SigNoz on Digital Ocean"
We want to make it very simple for users to install and get started with SigNoz. Digital Ocean is one of the popular platform devs use to run their infra.

We should be able to provide a simple single click install experience for SigNoz similar to what [PostHog](https://posthog.com/docs/self-host/deploy/digital-ocean) does.

[2021-08-30 08:39] pranay01 commented on #43
@nipun1999 Does paid version of Heroku allow running multiple docker images via Dcoker compose? https://devcenter.heroku.com/articles/local-development-with-docker-compose

Also, Digital ocean 1 click would also be a good deployment option to enable. Have a look at https://github.com/SigNoz/signoz/issues/284

[2021-08-30 10:06] palash-signoz commented on #273
Hi @js-sapphire
Please go ahead. assigning the issue to you

[2021-08-31 07:36] pranay01 opened #285 "Update docs with installation instruction for grpcio in Mac M1 - needed for python instrumentation"
https://stackoverflow.com/questions/66640705/how-can-i-install-grpcio-on-an-apple-m1-silicon-laptop

[2021-09-02 06:04] #277 closed

[2021-09-02 11:57] pranay01 opened #289 "Test instrumenting ruby applications with OpenTelemetry and sending data to SigNoz"
We support opentelemetry, so it should be possible to instrument ruby applications and visualise data on SigNoz. But we don't have lots of expertise in Ruby in the core team, so we have not tested this.

https://github.com/open-telemetry/opentelemetry-ruby

It would be good first issue for folks expert in Ruby to test this and report their findings. If this works fine, we can add this to our docs

[2021-09-03 09:04] aggmoulik commented on #274
Hey, @palash-signoz I was looking into the issue but which browsers are we targetting.

[2021-09-16 16:44] pranay01 opened #294 "Installation fails on selecting Kafka+Druid option in install script"
## Bug description

Installation fails on selecting Kafka+Druid option in install script

Attached screenshot of error shown

## Expected behavior

The installation should succeed with Kafka+Druid setup of SigNoz installed

## How to reproduce

1. `git clone https://github.com/SigNoz/signoz.git && cd signoz/deploy/`
2.  `./install.sh`
3.  Chose Kafka+Druid option

## Version information

* **Your

[2021-09-16 18:12] vanakema opened #295 "Support for Anomaly Detection"
## Is your feature request related to a problem?

When you have a small team, you want to know when you're app is misbehaving, with a little intervention as possible

## Describe the solution you'd like
SigNoz integrates an open source anomaly detection library, to alert users if anything gets out "normal" range

Some usecase:

1. Abnormal latency (latency spiking) on certain DB queries
2. Abnorma

[2021-09-16 18:29] vanakema commented on #295
Figured this might be a helpful repo for reference
https://github.com/rob-med/awesome-TS-anomaly-detection

[2021-09-16 18:51] pranay01 commented on #295
Thanks @vanakema for detailing out the use cases. Anomaly detection IS in our roadmap - but a few months down the line.

Curious, what sort of algos worked best for you for detecting "abnormal" values? Does a simple threshold rolling average works good enough or more advanced algos like seasonal pattern detection etc. are needed

[2021-09-17 04:30] ankitnayan commented on #295
Gitlab has written about basic anomaly detection using Prometheus rules using z-score and seasonality.
https://about.gitlab.com/blog/2019/07/23/anomaly-detection-using-prometheus/

Such sort of things would be possible with SigNoz also as we plan SigNoz to be compatible with Prometheus rules and alertmanager.

[2021-09-20 23:52] govindgoel commented on #247
@pranay01 Can I take this up and start working on it.

Thanks
Govind

[2021-09-21 04:42] pranay01 commented on #247
Sure @govindgoel Assigned to you

[2021-09-23 18:58] yashrsharma44 opened #300 "Setting Data Retention Period for Clickhouse"
## Is your feature request related to a problem?

* POST API to set retention period
* change CH table schema with updated TTL
* test schema migrations for sanity post TTL change

[2021-09-23 18:59] yashrsharma44 commented on #300
I can take this issue, as we discussed offline cc @ankitnayan

[2021-09-23 19:00] pranay01 commented on #300
@yashrsharma44 Assigning to you

[2021-09-25 12:59] yashrsharma44 commented on #300
Adding some more notes for reference -
* TTL Setup for Clickhouse - https://clickhouse.com/docs/en/engines/table-engines/mergetree-family/mergetree/#table_engine-mergetree-ttl
* Modifying the Table Schema through HTTP API - https://clickhouse.com/docs/en/interfaces/http/

[2021-09-27 13:01] palash-signoz commented on #280
Hi @js-sapphire
Please go ahead

[2021-09-27 13:02] palash-signoz commented on #273
Hi @js-sapphire
any update on this one ?

[2021-09-27 13:11] palash-signoz commented on #235
Hi @saideepesh000
I am taking this issue .. due to inactivity

[2021-09-27 18:35] jiaweizhu830 commented on #236
Hi Lalit! My name is Jiawei Zhu. I am learning how Golang is written with good practice now and would like to contribute to this project. As for my first issue, I think I can start working on adding more unit tests here.

[2021-09-28 10:36] pal-sig opened #312 "Feat(FE): Configure Jest"
## Bug description

Configure JEST(Typescript) with [React Testing Library](https://testing-library.com/docs/react-testing-library/intro/)

**Note: Make sure cypress `expect` does not break**

[2021-09-28 10:56] palash-signoz opened #313 "Feat(FE): Configure Sonarqube for frontend"
## Is your feature request related to a problem?

*Please describe.*

As discussed in [discussion](https://github.com/SigNoz/signoz/discussions/205) we would be moving ahead with [Sonarqube](https://www.sonarqube.org/) for the frontend

## Describe the solution you'd like
 Would like to go for [github action](https://www.sonarqube.org/github-integration/)

[2021-09-28 11:41] lalitkale commented on #236
@pranay01 if you can assign the issue to @jiaweizhu830 that would be helpful. unfortunately, I would not be able to find time hence, would be great if @jiaweizhu830 can contribute towards unit tests.

[2021-09-28 12:58] pranay01 commented on #236
@lalitkale  Sure
@jiaweizhu830 Assigned to you - let me know if you need any help or just post on the slack community

[2021-09-28 14:54] vincentrohde commented on #240
@pranay01 If this issue is still open, I can help you with the German translation 👍

[2021-09-28 14:56] pranay01 commented on #240
Sure. would be very helpful @vincentrohde

Assigning to you

[2021-09-28 15:04] js-sapphire commented on #273
Hey @palash-signoz,
will raise PR by EOW. Apologies for the delay.

[2021-09-29 07:29] palashgdev opened #318 "Bug(FE): Create Custom ToolTip for the Chart.js"
## Is your feature request related to a problem?

*Please describe.*
Create a Custom ToolTip for the chart.js

[2021-09-29 07:33] palashgdev opened #319 "Integrate bundlephobia"
## Is your feature request related to a problem?

*Please describe.*

## Describe the solution you'd like
Integrate [bundlephobia](https://bundlephobia.com/) as Github CI/CD Actions which will tell the size of the different packages in the frontend

[2021-09-29 10:37] palash-signoz opened #320 "Update webpack.config.js to webpack.config.ts"
## Is your feature request related to a problem?

*Please describe.*
Update webpack.config.js to webpack.config.ts

**Note: Make Sure the build process is not broken both for development and production**

[2021-09-29 13:21] pranay01 commented on #318
@palash-signoz Can you give more details on why is there a need for a custom tool tip and what are the features a custom tool tip should have?

[2021-09-30 04:56] palash-signoz commented on #318
Yeah Sure

Custom Tooltip should have the following features

1. Must follow the ant design

1. Currently When chart.js width and height are small(data points are not visible - image for reference)
<img width="510" alt="Screenshot 2021-09-30 at 10 25 35 AM" src="https://user-images.githubusercontent.com/88981777/135389746-a6c3c934-2c7b-4440-97a3-232582a963b3.png">

[2021-09-30 06:21] pal-sig opened #325 "Configure whyDidyouRender"
## Is your feature request related to a problem?

The first step towards app optimization

*Please describe.*
Configure [whyDidYouRender](https://github.com/welldone-software/why-did-you-render) under the development env

**Note: make sure it is compatible with all the [custom hooks](https://github.com/welldone-software/why-did-you-render#custom-hooks) that we are using in the project **

[2021-10-01 10:20] ubyontestproject opened #328 "Need visiblity on wait time spent on backend services once API is triggred from browser."
## Is your feature request related to a problem?

Once an API is triggered from Browser needs visibility in terms of wait time spent for API response to return.

Normally,
Browser tiggres API -> Niginx-> API Gateway-> Service A -> Database/Third part API/Another service

## Describe the solution you'd like

Need to know how much delay/latency was added on each
1. Nginx
2. API Gateway
3. Service A

[2021-10-01 13:26] pranay01 commented on #328
thanks @ubyontestproject for the detailed issue.

[2021-10-03 04:36] Bhavin789 commented on #234
Hello @nidhi-tandon , if someone is not already working, can I have a look at this? Thanks.

[2021-10-03 04:40] Bhavin789 commented on #312
Hi @palash-signoz , can I take a stab at it? Thanks!

[2021-10-03 07:16] palash-signoz commented on #312
Hi @Bhavin789
Sure please go-ahead

[2021-10-04 07:31] adirmatzkin opened #333 "Filter services in the UI by their namespace"
## Is your feature request related to a problem?

* *service.name* attribute shouldn't be unique across multiple namespaces, so multiple services with the same name can not be distinguished in the UI (see [OTELs *service* semantic conventions](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/resource/semantic_conventions/README.md#service)).
* Navigating throug

[2021-10-04 18:22] aneeshrelan commented on #319
Can I take a stab at this? Are we looking to add it on a pull_request action or somewhere else?

[2021-10-04 18:58] pranay01 commented on #319
sure @aneeshrelan - assigning this issue to you
@palash-signoz should be able to guide you on the details

[2021-10-05 16:18] aneeshrelan commented on #319
@pal-sig Can you add some details whenever you get a chance? Thanks!

[2021-10-05 20:34] vincentrohde commented on #240
@pranay01 I guess this issue could be closed since the PR went through right?

[2021-10-06 03:33] pal-sig commented on #319
Hi @aneeshrelan

It would be great if we can integrate into PR via Github Action and in the repo also where just by triggering a script will check in the local

[2021-10-07 05:46] lyqht commented on #320
can i try this out? :)

[2021-10-07 06:15] #240 closed

[2021-10-11 11:01] #312 closed

[2021-10-13 17:02] palashgdev opened #339 "Bug(FE): duplicate @babel/core packages"
## Bug description

*Please describe.*
*If this affects the front-end, screenshots would be of great help.*

There are two packages of `@babel/core` one in [dependencies](https://github.com/SigNoz/signoz/blob/main/frontend/package.json#L26) and another one in [devDependecies](https://github.com/SigNoz/signoz/blob/main/frontend/package.json#L129)

<img width="1430" alt="Screenshot 2021-10-13 at 10

[2021-10-16 12:51] exequiel09 commented on #339
Hi @pal-sig I'll take this on 🙏

[2021-10-16 12:53] pranay01 commented on #339
cool, assigning to you @exequiel09

[2021-10-16 13:05] exequiel09 commented on #339
Removed dupe `@babel/core` package via #341

[2021-10-19 17:41] mahudees opened #345 "Option to add the custom trace point method handling specific use cases with auto instrumentation, specifically for background tasks."
I’m looking to trace a background task that runs periodically, It calls good number of functions down the line, from different module/libraries before it completes. I need to have all the child functions as a span in this trace, basically to find the problem across the modules/libraries. Without adding @WithSpan annotation to those child functions it is not possible to add them as a span in curren

[2021-10-19 19:13] pranay01 opened #346 "Docs: Dashboard feature to plot metrics doesn't have documentation in docs"
Expected behavior - [docs](https://signoz.io/docs) should have  instructions on how to create visualise metrics sent to SigNoz

![Screenshot 2021-10-20 at 12 42 48 AM](https://user-images.githubusercontent.com/504541/137975569-0af4c8e1-a8d8-49bf-9dc0-de05886531b6.png)

[2021-10-20 07:48] #300 closed

[2021-10-22 11:36] #339 closed, assigned to exequiel09

[2021-10-24 18:59] pranay01 opened #354 "Settings page shouldn't have time filter"
In https://github.com/SigNoz/signoz/pull/353, settings page has Time filter as shown in the screen shot below
![Screenshot 2021-10-25 at 12 25 56 AM](https://user-images.githubusercontent.com/504541/138608654-9953c987-00f3-4745-b284-1d7dceb17189.png)

Expected Behavior:
Settings page shouldn't have time filter

Also, the initial values shown for metrics and retentions should be accurate @ankitnaya

[2021-10-31 10:08] ChronoDK opened #357 "Access frontend from a different basepath than root"
## Is your feature request related to a problem?

I'm behind an argo tunnel and traefik, and I need the frontend to be accessed from "http://siteurl/admin/signoz". Right now, this results in 404 errors.

## Describe the solution you'd like

Add an environment variable that changes the base path of the frontend. This is very common, and for instance Jaeger does this with "--query.base-path=/admin/j

[2021-11-03 09:35] arthurlogilab opened #358 "Error: found in Chart.yaml, but missing in charts/ directory: zookeeper, kafka, druid, flattener-processor, query-service, frontend"
## Bug description

Failing to install with helm 3, the checkdependencies seems to fail :

[code]

There is no mention in the docs of which helm version is required, is this a helmv2 vs helmv3 problem ? or did the charts update fail ?

## Expected behavior

Installation succeeds ?

## How to reproduce

1. steps above

## Version information
* **Signoz version**:  0.4.3
* **Browser version**: n/a
*

[2021-11-03 10:01] arthurlogilab commented on #358
Sorry for the noise, this was an helm problem, it seems that the warning about the missing local helm charts was the key, removing that old unavailable localhost chart definition seems to solve the problem :

[code]

[2021-11-03 10:01] #358 closed

[2021-11-06 16:11] pal-sig opened #360 "Bug(FE): Unable to start the frontend on Node 16v"
## Bug description
Not able to start the frontend server as it throwing unknown file extension error for .ts

<img width="932" alt="Screenshot 2021-11-06 at 9 39 21 PM" src="https://user-images.githubusercontent.com/88981777/140616212-439076a3-073b-41fb-acb8-9a49a138249e.png">

*Please describe.*
*If this affects the front-end, screenshots would be of great help.*

## Expected behavior
Server shou

[2021-11-06 16:13] pal-sig commented on #360
Though not running in v12.13.0

<img width="932" alt="Screenshot 2021-11-06 at 9 42 17 PM" src="https://user-images.githubusercontent.com/88981777/140616292-8e3de058-78ed-48f7-8d14-fa199914023e.png">

but running in v14.18.1

[2021-11-12 06:51] pranay01 opened #364 "Upgrade otel-collector and otel-collector-contrib versions in fork"
Current otel-collector fork from SigNoz is from v0.26

There are some new features added in the newer versions of otel collector which would be helpful to have

Specifically -

`4318` was introduced as default port in `v0.32.0`
setting CORS headers was added in `v0.30.0`

[2021-11-12 07:05] pranay01 opened #365 "Make query service image compatible with windows"
Currently query-services images are not compatible with windows, so SigNoz installation doesn't work on windows. We should fix this to make SigNoz available to windows users.

[2021-11-15 15:18] pal-sig commented on #280
marking closed against #329

[2021-11-15 15:18] #280 closed

[2021-11-15 15:42] palashgdev opened #366 "Bug(FE): Cancel Token"
## Bug description

*Please describe.*
*If this affects the front-end, screenshots would be of great help.*

Right now there is no cancel token passed in the api which will help to cancel the request

## Expected behavior

Api should get cancel probably this will help when the component is unmounted the api call

## Additional context
https://github.com/axios/axios#cancellation

#### *Thank you* f

[2021-11-16 13:52] pranay01 opened #367 "Legends in panels in metrics dashboard are not scrollable"
When there are many metrics in the same PromQL query and hence many legends, all the legends are not accessible. Refer screenshot below

Expected Behavior : Scrolling should be enabled in legend section when there are many legends so that all legends are visible to users

![Screenshot 2021-11-16 at 7 18 55 PM](https://user-images.githubusercontent.com/504541/141997319-a3e18864-070e-421e-84a9-37751

[2021-11-16 14:16] pranay01 opened #368 "Update documentation with instructions on how to remove sample apps which come with initial installation"

[2021-11-16 14:20] pranay01 opened #369 "Incorrect error message in Latency filter in trace page"
Even when min value is less than max value, the error message on min value is not removed

Expected behavior : If min value is less than max value, then no error message should be shown
![min-max](https://user-images.githubusercontent.com/504541/142002217-6a48246c-a573-4a5b-b44b-8ddac1d1d4a6.png)

[2021-11-16 14:22] pranay01 opened #370 "Options on selecting Errors, Status in custom trace aggregation page don't make sense"
If Error, status is selected in trace visualisation page - the option shown don't make sense
![Screenshot 2021-11-16 at 7 31 50 PM](https://user-images.githubusercontent.com/504541/142002512-ed5f720a-3961-4994-89f7-ff306642d5f9.png)

[2021-11-16 14:56] pranay01 opened #371 "On installing SigNoz and launching on port:3000, a 404 msg shows up"
On installing SigNoz on my macbook air, the first page after launching has this 404 messaging

Expected behavior - 404 message should not show up
![404](https://user-images.githubusercontent.com/504541/142008724-bfe3b6c9-60e1-4ca6-8fd0-d0c95f08ac5f.png)

[2021-11-16 15:08] pranay01 opened #372 "Plotting timeseries graphs with different units in the same panel"
If users plot metrics in custom dashboard with different Y-axis units, how are the units for y-axis set? How many such metrics can user plot in the same panel?

[2021-11-16 18:34] pranay01 opened #373 "Docs: Add instructions in docs on how to remove sample apps"

[2021-11-16 18:40] pranay01 opened #374 "Bug(FE): Remove time filter from settings page"
Currently settings page has a time filter component also. Though there is no use of the time filter component on settings page, as the items in settings page don't change on the basis of time selected.

Expected Behavior: Time filter component should be removed from the settings page

version: v0.4.4

![Image 17-11-2021 at 0 07](https://user-images.githubusercontent.com/504541/142045769-ed2451ca-e

[2021-11-17 03:39] pranay01 opened #375 "Add visual cues in the application latency panel to indicate users can go from metrics to traces directly for a specific time point"
## Is your feature request related to a problem?

Currently, users don't have any visual cues to know that they can go from application latency panel to corresponding traces directly. This is a useful feature but very few discover it today.

## Describe the solution you'd like

Add visual cues in the UI which shows that they can go directly from metrics page to corresponding traces to investigate

[2021-11-17 05:15] pranay01 opened #376 "Latency numbers in application latency chart are in nanosec while the title shows in ms"
Application latency chart shows latency number in nanosec in the y-axis, while title says "in ms"

Expected Behavior - Application latency chart should show latency numbers in ms.

version - v0.4.4

![Image 17-11-2021 at 10 44](https://user-images.githubusercontent.com/504541/142139162-e6f0c9e8-4135-42ab-8d8f-d501d854733f.jpg)

[2021-11-17 05:23] pranay01 opened #377 "UI for taking in-product feedback from the user"

[2021-11-17 06:33] pranay01 opened #378 "Not clear what is the default retention period when user has not made any changes in retention setting page"
When a user lands on the settings page for the first time after installing SigNoz, the retention period for metrics and traces are shown as 0. It is not clear what does that mean?

Are the metrics and traces not retained at all? What does that mean?

Expected Behavior: The retention page should show what is the default retention period, even when user reaches it for the first time
![Image 17-11-20

[2021-11-17 11:46] pranay01 commented on #371
fixed by https://github.com/SigNoz/signoz/pull/342

[2021-11-17 11:46] #371 closed

[2021-11-17 11:48] pranay01 commented on #376
fixed by #379

[2021-11-17 11:48] #376 closed

[2021-11-17 16:50] ankit01-oss opened #380 "npm package for SigNoz"
## Is your feature request related to a problem?
It's more of a user experience enhancement.

*Please describe.*
Zipkin and Jaeger have npm packages to get started easily for javascript packages. You can find a sample example [here](https://github.com/open-telemetry/opentelemetry-js-contrib/tree/main/examples/express)

[Zipkin npm package](https://www.npmjs.com/package/zipkin)
[Jaeger npm package]

[2021-11-17 16:59] ankit01-oss opened #381 "Placeholders for filter traces input boxes"
## Is your feature request related to a problem?
Yes, currently if you go to `trace` tab, the inpux boxes under `Filter traces` has no hint/label text to show the user what they are supposed to do with it.

## Describe the solution you'd like
It would be good to have placeholder texts in each input box so that a first time user has a cue of what capabilities does `Filter Traces` has.

My suggestio

[2021-11-18 18:39] Mohmn commented on #374
can u plz assign this to me I want to work on my first pr at this weekend

[2021-11-19 06:31] pranay01 commented on #374
Sure - assigned it to you @Mohmn

[2021-11-19 14:20] aggmoulik commented on #369
Hey @pranay01 I am picking up this issue.

[2021-11-19 14:52] pranay01 commented on #369
cool, assigning this to you @aggmoulik  - feel free to ask any questions on the expected behavior

[2021-11-19 17:23] Mohmn commented on #374
![Screenshot from 2021-11-19 22-42-59](https://user-images.githubusercontent.com/37132584/142664902-767089dd-5f16-4154-825a-53d9be95e075.png)

**i believe this is what I had to do**

[2021-11-20 05:40] pranay01 commented on #374
Yeah, looks fine. But this should be removed only in the settings page and not in other pages.
cc: @pal-sig if you have any inputs on this for @Mohmn

[2021-11-20 06:14] aggmoulik commented on #273
Hey @pal-sig If the network error occurs, then it says `Something went wrong`, I think it is not good for the application, I was thinking to have a UI like 404 page or something with the try again button.

[2021-11-20 15:57] Mohmn commented on #374
yep, I have removed time filter only from the settings page.
will create a  pr then

[2021-11-22 06:29] pranay01 opened #388 "Refresh button in exapanded view of metrics panel is not working"
## Bug description

Refresh button in exapanded view of metrics panel is not working

## Expected behavior

Clicking refresh button should update the metrics graph shown

## How to reproduce

1. Go to `Dashboards` from left panel
2. Click any metric graph or create one
3. Click on expanded view icon to show an full screen view
4. Click refresh button - the graph doesn't refresh even though some ti

[2021-11-22 06:45] pranay01 opened #389 "Enable muting of alerts"
Currently, SigNoz doesn't support muting of alerts.

This may be useful for teams to manage alert load when there are known issues which are causing alerts and team is already working to fix it

[2021-11-22 06:46] pranay01 opened #390 "Setting alerts for latency percentile metrics like p50,p95, p99"

[2021-11-22 06:58] pranay01 opened #391 "For new alert channel page, webhook URL field should be made mandatory is slack is chosen as the alert channel"
For slack to work as a notification channel, a webhook URL is necessary. Users should not be able to save the alert channel without providing webhook URL.

Users should be prompted to enter webhook URL if they try to save a new alert channel without providing webhook URL
![Image 22-11-2021 at 12 27](https://user-images.githubusercontent.com/504541/142817412-c43cc792-13b9-44d2-a144-070e699329d8.jpg

[2021-11-22 07:06] pranay01 opened #392 "Package SigNoz as a single binary - Binary based installation process"
## Is your feature request related to a problem?

Currently, installing SigNoz requires having/installing docker. This maybe too much of an overhead if someone is just testing out SigNoz. We should make this process much simpler so that more people can try out SigNoz.

## Describe the solution you'd like

Providing single binary application could be one way to reduce this friction

Prometheus reco

[2021-11-22 07:16] pranay01 opened #393 "Remove datetime picker in alerts rules page"
![Image 22-11-2021 at 12 44](https://user-images.githubusercontent.com/504541/142819314-0e666090-18ef-4cde-be0b-82a28b50a001.jpg)

[2021-11-22 07:20] pranay01 opened #394 "Improve the template for new alert rule so that users can understand how to set up new rules"
Current page and editor which opens up on clicking new alert rule is not very helpful in guiding users on how to create new alert rules. This could be improved

![Screenshot 2021-11-21 at 11 13 59 PM](https://user-images.githubusercontent.com/504541/142819748-bf688cce-e67d-40b1-8b1e-036ec6c5e92d.png)

[2021-11-22 07:25] pranay01 opened #395 "Add `Test` button in new alert channel page"
## Is your feature request related to a problem?

Currently there is now way to test if the alert channel is correctly configured unless an alert is actually fired.

## Describe the solution you'd like

Add Test button in the Create Alert Channel page which sends dummy message to configured alert channel so that user can confirm that the channel is correctly configured

## Describe alternatives yo

[2021-11-22 15:14] pranay01 opened #404 "Usage explorer graph should occopy the whole hr in x-axis rather than just being centred on the specific point of time"
For hourly graphs, the bar graph should cover the whole period of 1 hr in the x-axis and not just the point of the point ( e.g. 630pm)

SigNoz version - v0.5.0

![Screenshot 2021-11-22 at 8 41 39 PM](https://user-images.githubusercontent.com/504541/142885949-d85edc74-3c11-4c47-9941-8e21b1976124.png)

[2021-11-22 16:06] shackattackk commented on #391
Hi @pranay01, Can I try working on this one?

[2021-11-22 16:11] pranay01 commented on #391
sure @shackattackk. Assigned to you

Also - users should see a message above the Webhook URL field if they try saving Alert channel without webhook URL

![Screenshot 2021-11-22 at 9 40 47 PM](https://user-images.githubusercontent.com/504541/142895833-5941004a-3c57-478a-9d1c-b67dbd23e689.png)

[2021-11-23 01:59] shackattackk commented on #391
will this be good enough?
![image](https://user-images.githubusercontent.com/10613992/142960858-cb0bc739-4a75-48cf-8bb2-3520c450c267.png)

[2021-11-23 03:19] pranay01 commented on #391
Yeah, seems good. Can you also share a video on how this works - i.e. what happens if user clicks Save button without providing webhook URL? A quick loom video/ any other video would be good

@pal-sig Please check this PR

[2021-11-23 07:45] pranay01 commented on #378
Current metrics and traces are set with infinite retention. Make this  7days for metrics and 2 days for traces by default

[2021-11-23 07:50] ankitnayan opened #406 "Number box not intuitive in settings retention page"
https://www.loom.com/share/217ed8190013475589215e1a3a3ac686

[2021-11-23 07:53] ankitnayan opened #407 "Auto refresh in alerts page in both rules and triggered alerts tabs"

[2021-11-23 07:55] ankitnayan opened #408 "Remove datetime picker in settings page"

[2021-11-23 11:31] pal-sig commented on #378
default response is from the server .. so i think backend should this case

[2021-11-23 12:23] pranay01 commented on #407
Auto refresh in 30s

[2021-11-23 12:36] pranay01 commented on #378
Message to be dispalyed if either Metrics or Traces retention period is not set yet
![retention-initial](https://user-images.githubusercontent.com/504541/143024917-e200de1a-f493-434b-a136-221b4d08245f.png)

[2021-11-23 13:42] pranay01 commented on #378
Message when neither Metrics or Traces is set yet.

_Retention Period not set for Metrics or Traces yet. Please set by choosing below_ 

[2021-11-23 15:05] palashgdev opened #409 "Improve Eslint Rules"
## Bug description

*Please describe.*
*If this affects the front-end, screenshots would be of great help.*
Current eslint config allow array index as key which is not a good solution

## Expected behavior

Eslint rules should be more strict

[2021-11-23 15:08] pal-sig commented on #409
As @jyash97 pointed out we should not be using index as key

probably more strict eslint rules would help here

[2021-11-23 16:57] ankitnayan commented on #378
when there is no retention period set, the backend gives -1 as the response of metrics and traces resp. Seems like a correct response from the backend. The frontend needs to check for -1 in metrics and traces resp and show the corresponding msg.

[2021-11-23 16:59] pranay01 commented on #378
@ankitnayan Have discussed this with @pal-sig on a possible solution. Not a dependency on backend as of now

[2021-11-23 17:00] pranay01 commented on #409
@pal-sig Can you add more details on what is expected here? What specific way should eslint rules be made stricter?

[2021-11-24 05:41] pal-sig commented on #409
There is good ans for this [issue](https://stackoverflow.com/a/46735689)

[2021-11-24 08:23] cloudsbird commented on #289
Hi Folkz, Now I'm Trying to use Signoz for Ruby on Rails app. If it runs good I will create a documentation on how to do it

[2021-11-24 08:44] pranay01 commented on #289
@cloudsbird Awesome! Let us know how it goes - and feel free to ask here if you need any help.

[2021-11-24 15:55] cloudsbird commented on #289
Yeay I success to Use Signoz with Ruby on Rails using open telemetry will build the how to soon

[2021-11-24 16:25] pranay01 commented on #289
Awesome! You can also create a sample Ruby on Rails app using opentelemetry & SigNoz and we can link in our docs and the tutorial

[2021-11-25 02:32] cloudsbird commented on #289
https://medium.com/@leunardus.vederis714/monitor-your-ruby-on-rails-app-using-signoz-opentelemetry-b59578f3b252

[2021-11-25 05:31] pranay01 commented on #289
Hey @cloudsbird This is so cool! 👏

 Thanks for sharing how you have used SigNoz with RoR - something which we didn't have expertise in our team internally.

 Do you mind if add instruction from this and add to our docs? Would be very helpful for Ruby on Rails users who may want to try SigNoz

[2021-11-25 05:36] cloudsbird commented on #289
Sure Just invite and I will Contribute

[2021-11-25 20:10] WalaceProstituto opened #413 "Prostitutfacçõeshttps"
## Bug description

*Please describe.*
*If this affects the front-end, screenshots would be of great help.*

## Expected behavior

## How to reproduce

1.
2.
3.

## Version information
* **Signoz version**:
* **Browser version**:
* **Your OS and version**:

## Additional context

#### *Thank you* for your bug report – we love squashing them!

[2021-11-26 02:40] pal-sig commented on #413
Closing as empty issue is raised

[2021-11-26 02:40] #413 closed

[2021-11-26 18:42] meyercm commented on #392
Love what I'm seeing so far here! Glad this gap is already identified, as I came here to open an issue about this problem.

My use cases involve environments without a container runtime available - so while I love the idea of a single binary, I would also be satisfied with an application folder / collection of binaries / configs / etc.

For me this isn't

This is stopping me from using it altogeth

[2021-11-26 18:49] pranay01 commented on #392
thanks for the kind words and detailed note @meyercm :)

Can you give more details on which environments don't provide a container run time?

You are right, our underlying assumption was that you can have a container run time in all type of environments - which also shows our lack of understanding of different environments possible. So any more specific details would be very helpful

[2021-11-26 22:28] meyercm commented on #392
The only irreconcilable technical reason I've been prevented from using containers so far is when working with very old Kernels / distros still in production.  One particular stakeholder is still running a 2.X kernel, for example, with the decision already made not to update.

Other systems I work on _could_ have a container runtime, but they don't today, and I'm not the owner or administrator of

[2021-11-28 11:25] genzyy commented on #409
Can I take up this issue? I might be able to fix this with `eslint-plugin-react` as it provides an eslint rule for this. Or if this can be done in any better way then can you tell me that so I can work on this?

[2021-11-28 12:05] pranay01 commented on #409
ok, assigning this to you @genzyy

@pal-sig Please guide @genzyy

[2021-11-29 03:42] genzyy commented on #409
@pal-sig How should I go with solving this issue?
I think adding the rule in `.eslintrc.cjs` using [this](https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/no-array-index-key.md) should do it or am I missing something here?

[2021-11-29 04:03] pal-sig commented on #409
Yes @genzyy

[2021-11-29 04:07] pal-sig opened #421 "Feat(UI): Add webpack bundle analyser"
## Is your feature request related to a problem?

*Please describe.*
with BUNDLE_ANALYSER=true in the `.env` should start the bundle analyser

would be good if we can analyse both for development and production environment

[2021-11-29 07:29] genzyy commented on #409
I have added the rule for this [here](https://github.com/genzyy/signoz/blob/unallow-array-index-key/frontend/.eslintrc.cjs). If any changes are required let me know. I have created a branch for this while keeping main as the base.

[2021-11-29 17:17] pal-sig commented on #409
Yup this will work... also would it be possible ... to fix those line in the codebase (if any) which are affected by this rule ?

[2021-11-30 04:21] genzyy commented on #409
Yeah, let me check those errors first.

[2021-11-30 05:19] genzyy commented on #409
Yup I got some errors because of the new `eslint` rule that I just added. How do you want to fix those errors like do you have any specific way of doing it (setting a unique key )?

I thought of two ways:

- use something like `uuid` to create unique numbers.
- use of `date` or `time` and concatenate with index.

[2021-11-30 06:55] ankit01-oss opened #424 "Going from metrics to traces at a particular timestamp is not intuitive for first-time users"
## Is your feature request related to a problem?

The application latency chart provides a feature that lets a user click at a particular timestamp and then see traces around that particular timestamp by clicking on `view traces`. For a first time user, currently there is nothing that suggests that a user can do so inside the dashboard.

## Describe the solution you'd like
An on-boarding guiding t

[2021-11-30 08:15] pal-sig commented on #409
Hi @genzyy

both ways are incorrect use array data only rather than array's index

[2021-11-30 08:49] genzyy commented on #409
Okay got it.
Also I have seen in many components, for example in `TimePreferenceDropdown`, no key value is being passed when rendering components using map function. So should I add a key to those components as well?

[2021-11-30 08:49] pal-sig commented on #424
probably whole onboarding of the feature need to be done i guess for user...

[2021-11-30 10:05] shackattackk commented on #391
cant seem to make it work properly. Will remove myself as assignee so that others can work on this as well.

[2021-11-30 10:07] genzyy commented on #409
I have fixed them. I ll create a new pull request now.

[2021-11-30 11:52] shashank99928 commented on #391
I can work on this issue

[2021-11-30 13:47] ankit01-oss opened #580 "Port conflicts while installing SigNoz"
User had some process running on `port 8080` which is used by SigNoz query service.

He got confused and mentioned SigNoz only uses `port 3000`.

Possible solution:
mention in docs all the ports SigNoz needs for running

[2021-11-30 15:26] palashgdev opened #425 "Feat(UI): Add Netlify PR Preview"

[2021-11-30 15:29] pal-sig commented on #425
This [branch](https://github.com/pal-sig/signoz/tree/netlify-test) solves this issue

[2021-11-30 20:15] Daggerhub opened #428 "Adding carousel instead of changing it manually"
![carousel-2021-12-01-0136](https://user-images.githubusercontent.com/52444845/144121063-97aecfec-12f4-4448-aca5-8fc2a7e708a9.png)

[2021-12-01 08:39] ankitnayan commented on #378
@pranay01 what should the textbox display when retention is not set in either of the cases?
Currently, it displays `0`, should it be `-1` which backend sends or shall we put `NA` which has to be replaced by a number as user inputs value.

[2021-12-01 18:35] pranay01 commented on #378
I think `0` is fine - as we already show the yellow message in the top.

Case 1: If only metrics is not set

Retention Period not set for Metrics yet. Please set by choosing below

Case 2: If only traces is not set

Retention Period not set for Traces yet. Please set by choosing below

Case 3: If neither metrics nor traces is set

Retention Period not set for Metrics or Traces yet. Please set by c

[2021-12-02 03:14] pranay01 commented on #392
Got it. Thanks for pointing out the use case @meyercm

We will update in this issue once we take this up or if someone from the community picks this up

[2021-12-02 10:26] suiluj opened #433 "Service map date range filter"
## Is your feature request related to a problem?

I would like to see a service map for a specific date range.

## Describe the solution you'd like

The Service Map show a drop down menu to select 1 or 5 minutes.
Is it possible to add the custom date range? (the same as with the different views for traces or metrics)

[2021-12-02 11:40] dchennaraidu opened #434 "Feat(UI): Filter parameters in window location"
## Is your feature request related to a problem?

Yes, would be great to have filtered parameters in the URL bar

- Need ability to share my view with team mates
- Bookmarking URL so which I view frequently

## Describe the solution you'd like
Updating URL bar, if we user applies any filter
- Service Name
- Min / Max latency
- Operation Name
- Tags filters

## Additional context
![image](https://u

[2021-12-02 12:02] pranay01 commented on #434
Thanks a lot @dchennaraidu for sharing this issue. Seems like a good use case

[2021-12-02 12:07] idiglove commented on #325
Hi, I would like to try this as my first issue, thanks :)

[2021-12-02 12:08] pranay01 commented on #325
Cool - assigning to you @idiglove

[2021-12-02 12:10] pranay01 commented on #433
hey @suiluj What is the use case you have for adding custom date range? Would be helpful if you can specify in more detail? How long a time range you are looking for

[2021-12-02 13:02] suiluj commented on #433
hi @pranay01

here are some details:

In my case i had some traces stored which are a few days old. At the moment i do not record new trace data live. So the service map shows as empty because it only takes the last few minutes.

Another idea why a custom range is useful: You could compare chaning services behaviours. For example open one tab with service map before a specific date and one tab aft

[2021-12-02 13:35] dchennaraidu opened #437 "Bug(FE): Unable to view graph when legend text length is more"
## Bug description

Unable to view graph at all

## Expected behaviour

- Ability to select only specific graph legends
- Trim legend length (On hover display full text)
- Or any better way of viewing graph

## How to reproduce

1. Use Http Client Instrumentation
2. Make external API calls to various domains

## Version information
* **SigNoz version**: 0.3.2
* **Browser version**: Mozilla/5.0 (Wi

[2021-12-02 14:20] #182 closed

[2021-12-02 14:48] pranay01 commented on #437
thanks for raising this issue @dchennaraidu Should be an easy fix by restricting the height which legends can take

[2021-12-03 04:20] ankitnayan opened #441 "Refresh button not working in `/application` page"
https://www.loom.com/share/1037de38b49a4864aec7b5471dbb75cc

[2021-12-03 04:28] #393 closed

[2021-12-03 04:29] #407 closed

[2021-12-03 04:36] #56 closed

[2021-12-03 04:38] ankitnayan opened #442 "Cluttering of text in gantt chart"
![Screenshot 2021-12-03 at 10 07 39 AM](https://user-images.githubusercontent.com/12460410/144546136-54d43860-1aba-4df0-b53a-46f5a15a943f.png)

[2021-12-03 04:46] ankitnayan opened #443 "Inconsistent spacing between datapoints in `/application` page latency chart"
![Screenshot 2021-12-03 at 10 14 37 AM](https://user-images.githubusercontent.com/12460410/144546741-0773c04b-d96c-4eb3-b532-34b0241ebd3a.png)

[2021-12-03 04:57] ankitnayan opened #444 "[Epic] Create sharable URL in all pages"
- [x] #554
 - [x] Prepare the default time in the local-storage #481 (we are not using)
 - [x] Create a Sharable URL
 - [x] https://github.com/SigNoz/signoz/issues/2158
 - [ ] Refresh Icon Placement
 - [ ] Component Level Loading in All Pages

[2021-12-03 05:44] #374 closed

[2021-12-03 05:44] #378 closed

[2021-12-03 05:47] genzyy opened #446 "ESLint linebreak-style giving errors"
## Bug description

*Please describe.*
While editing files on vscode, it gives error at every line stating

[code]

Changing the rule from

[code]
to

[code]

gives another error as

[code]
## Expected behavior

The editor should show/ not show errors based on the Operating System being used by the user.

## How to reproduce

1. Clone this repository and switch to `main` branch.
2. Open the cloned

[2021-12-03 05:48] genzyy commented on #446
I will be happy to work on this, but I just want to know if this exists for others as well.

[2021-12-03 06:18] ankitnayan opened #447 "Support logs within span in trace-detail-page"

[2021-12-03 06:20] ankitnayan opened #448 "Create UI to display Errors & Exception menu item"

[2021-12-03 06:24] ankitnayan opened #449 "test cases for exceptions APIs"

[2021-12-03 06:25] ankitnayan opened #450 "improve golang instrumentation docs"

[2021-12-03 12:04] pranay01 commented on #446
cc @pal-sig - Can you check if this is happening for you also

[2021-12-03 12:28] ankitnayan opened #451 "Refresh button does not do api call to `Application latency in ms` and `top endpoints` charts"
https://www.loom.com/share/e3f53a79d130454fb7d8c0566c574d6d

[2021-12-03 12:53] pal-sig commented on #446
No @pranay01 this is from windows users only i guess

[2021-12-03 12:53] pal-sig commented on #446
Go for it

[2021-12-03 13:12] #441 closed

[2021-12-03 18:01] aryanshridhar commented on #406
Hey, Can I work on this issue, if it isn’t being worked upon ?

[2021-12-03 19:41] pranay01 commented on #406
ok, assigning this to you @aryanshridhar

cc: @pal-sig

[2021-12-03 19:44] #451 closed

[2021-12-03 19:46] pranay01 commented on #446
ok, assigning this to you @genzyy

[2021-12-03 19:54] pranay01 opened #453 "In product feedback button appears cut off and remains like that when switched back to dark mode"
## Bug description

In product feedback button in light mode appears cut off. Screen shot below

![Image 04-12-2021 at 1 17](https://user-images.githubusercontent.com/504541/144664078-6a6b25ae-2470-4b8a-9a17-1ad2f0dd0e51.jpg)

## Expected behavior

It should appear as a rounded rectangle button with icon as in the dark mode. Attached video

![Screen Recording 04-12-2021 at 1 23](https://user-image

[2021-12-03 20:01] pranay01 opened #454 "Tool tip on hovering over spans in Flamegraph view in trace detail page appears cluttered"
## Bug description

Tool tip on hovering over spans in Flame graph view in trace detail page appears cluttered

![Screen Recording 04-12-2021 at 1 26](https://user-images.githubusercontent.com/504541/144665404-9e683eab-36fa-4605-b3d0-91cd69423657.gif)

## Expected behavior

The tooltip should have a dark background over which to show text so that it doesn't get cluttered with the other text elemen

[2021-12-03 20:34] pranay01 commented on #454
this seems to be an issue only in dev environment. Closing it for now

[2021-12-04 18:34] atharva137 commented on #453
hello, can I work on this issue?

[2021-12-04 18:37] pal-sig commented on #453
Sure

[2021-12-04 20:02] atharva137 commented on #453
@pal-sig  can you please provide me  test-environment-url for setting up a local environment  and also I had  dm on #contributing on the slack community for the same

Thanks and Regards
Atharva Yawalkar

[2021-12-05 06:53] Anurag5086 commented on #454
Hey @pranay01, can i take up this issue?

[2021-12-05 07:13] pranay01 commented on #454
@Anurag5086 I think this is not appearing in all environments. I saw this issue only in the dev environment. I think as a first step we should check if this is repeating for you.

Assigning this to you for now. But before writing any code - can you report if you are seeing this repeat

[2021-12-05 07:14] Anurag5086 commented on #442
@ankitnayan Can you help me reproduce it, because at my end i don't see the cluttering of text.

[2021-12-05 07:16] Anurag5086 commented on #454
@pranay01 I think this is repeating for me as well.

![image](https://user-images.githubusercontent.com/54763478/144737457-adad014b-17df-4e52-81f0-522cd6a13e36.png)

![image](https://user-images.githubusercontent.com/54763478/144737444-8145f83b-bfad-4798-b99a-9d7bca87015a.png)

[2021-12-05 07:18] pranay01 commented on #454
ok - but only in dev environment right? I don't see this issue after installing SigNoz docker images

@pal-sig Do you have any ideas on why this could be happening?

[2021-12-05 10:26] pal-sig commented on #453
Shared

[2021-12-05 14:52] ShivamTyagi12345 commented on #392
I am looking to get started with this project. Can I help with this

[2021-12-05 16:17] pranay01 commented on #392
hey @ShivamTyagi12345 sure! Do you have understanding of possible ways to do this? I would suggest first to do a bit of survey on how other tools have done this and then share that here. And based on that we can take one of the options.

Assigning the issue to you for now~

[2021-12-05 16:56] pranay01 opened #457 "Make SigNoz deployment with minimum steps and simple for users on AWS"
While SigNoz does have generic docker compose installs, currently there are no simpler way for popular cloud platforms like AWS. Given AWS provides many tools to make this simpler, we should be able to provide a much simpler path for such users to install SigNoz.

One simple use case could be if can we provide cloud formation templates to install SigNoz

More details on Cloud Formation - https://a

[2021-12-05 17:28] learning-dev commented on #318
@pal-sig  @pranay01  I can take this up, but I am not clear with what we are expecting with the final view. I see that data points are overlapping. Do I need to fix just that or do we have something else in mind?

[2021-12-05 21:38] atharva137 commented on #453
Hello @pal-sig I feel sorry as  I'm unable to figure out the solution for the feedback button

[2021-12-06 06:45] Anurag5086 commented on #453
@pranay01 @pal-sig Actually the problem is that when we are changing to light mode, the css classes clash and properties which are mentioned in the styled components are not being used, instead the classes on ant-design of light mode is taking over.

![image](https://user-images.githubusercontent.com/54763478/144799958-32786bde-e97e-451c-a13e-9a59535bb0e0.png)

So this is the solution which i came

[2021-12-06 07:21] pranay01 commented on #289
@cloudsbird We have made the SigNoz docs repo public :) - https://github.com/SigNoz/signoz.io

So you can now just contribute directly by opening a PR
Here's the docs you can update based on what you have published in your blog

[2021-12-06 07:52] makeavish opened #542 "Create new Golang sample app instrumentation with UI"
Create/Update [existing Golang sample app](github.com/SigNoz/sample-golang-app) to have a basic UI similar to [flask sample app](https://github.com/SigNoz/sample-flask-app)
Features:
- Frontend to interact with the sample app
- DB operation
- Error on an endpoint

[2021-12-06 08:56] ankitnayan opened #460 "Make troubleshooting easy for Installation and Instrumentation"
# Point of failures

1. SigNoz does not install correctly
2. Application not able to connect/discover the otel-collector endpoint
3. Application not emitting data due to misconfiguration

## Solution to point 2
A checker in the application where the users can paste their run commands, we extract the otel-collector endpoint and test whether it is accessible or not by sending sample data. This will

[2021-12-06 08:57] ankitnayan commented on #460
### Usecase
What should be the troubleshooting steps if somebody instruments the app and the app runs properly - but the user doesn't see any data on the SigNoz dashboard?

[2021-12-06 16:20] Siddhant-K-code commented on #460
I think we can start with *1* Installation.

Can you elaborate more about the issue you are facing in installation?

_Ref: https://signoz.io/docs/deployment/requirement/_

[2021-12-06 16:40] Anurag5086 commented on #421
Can I pick up this issue?

[2021-12-06 17:42] aryanshridhar commented on #44
Looks like this issue is already resolved (pr #202) and can be safely closed.

[2021-12-06 18:05] pranay01 commented on #44
thanks for pointing @aryanshridhar

[2021-12-06 18:05] #44 closed

[2021-12-06 18:09] #223 closed

[2021-12-06 18:11] pranay01 commented on #294
Closing this issue as we have deprecated installing Kafka+Druid setup via install script

[2021-12-06 18:11] #294 closed

[2021-12-06 18:11] #18 closed

[2021-12-06 18:13] pranay01 commented on #21
Ability to create alerts release in [v0.5.0](https://github.com/SigNoz/signoz/releases/tag/v0.5.0)

[2021-12-06 18:13] #21 closed

[2021-12-06 18:17] pranay01 opened #463 "Enable support for sending alerts on Pagerduty"
Currently SigNoz only supports sending alerts on Slack channels. Pagerduty is one of the most popular incidence management platform. Support form sending alerts from SigNoz to PagerDuty would enable such users to manage their alerts more effectively.

This would require
1. Ability to create PagerDuty as a new notification channel - Should be relatively simple to do as Alertmanager already supports

[2021-12-06 18:18] pranay01 commented on #21
Tracking pagerduty integration in https://github.com/SigNoz/signoz/issues/463

[2021-12-06 18:20] pranay01 commented on #22
SigNoz supports Clickhouse as the default storage backend - for a few months now :) . Hence closing this issue

[2021-12-06 18:22] pranay01 commented on #57
This is fixed now

[2021-12-06 18:22] #57 closed

[2021-12-06 18:26] pranay01 opened #464 "Enable HA setup for alertamanager in SigNoz"
Is AlertManager in SigNoz be run in an HA setup today?

[2021-12-06 18:26] pranay01 commented on #100
Alert rules is shipped with notification to Slack in [v0.5.0](https://github.com/SigNoz/signoz/releases/tag/v0.5.0)

Tracking Integration with PagerDuty in https://github.com/SigNoz/signoz/issues/463
Enabling HA setup for Alertmanager in https://github.com/SigNoz/signoz/issues/464

[2021-12-06 18:26] #100 closed

[2021-12-06 18:29] pranay01 commented on #81
Moved docs to a separate repo as it a completely different website with separate deployment instructions - https://github.com/SigNoz/signoz.io

[2021-12-06 18:29] #81 closed

[2021-12-06 18:31] pranay01 commented on #115
@pal-sig @ankitnayan Is this solved now? Can this issue be closed?

[2021-12-06 18:32] pranay01 commented on #116
this is fixed now

[2021-12-06 18:32] #116 closed

[2021-12-06 18:35] pranay01 commented on #215
@pal-sig Is this issue fixed now?

[2021-12-06 18:36] pranay01 commented on #146
this is fixed now

[2021-12-06 18:36] #146 closed

[2021-12-06 18:39] pranay01 commented on #221
Can someone who has access to Red Hat Linux machines check if this is working now?

[2021-12-06 18:41] pranay01 commented on #241
Related https://github.com/SigNoz/signoz/issues/392

[2021-12-06 18:43] pranay01 commented on #247
@govindgoel Any updates on this issue?

[2021-12-06 18:46] pranay01 commented on #388
this is fixed now in v0.5.2

[2021-12-06 18:46] #388 closed

[2021-12-06 18:49] pranay01 commented on #368
Duplicate of https://github.com/SigNoz/signoz.io/issues/111

[2021-12-06 18:49] #368 closed

[2021-12-06 19:17] pranay01 commented on #433
Got it @suiluj

Would love to know - what are you trying to achieve with service map for past time? Is it primary for comparison between 2 time stamps?

Currently we have limited this to last 1min and 5min as service map was designed primarily to act as indicator of current status of the service. Also, the page is heavy to compute for long time periods

[2021-12-07 03:58] shashank99928 commented on #391
Is it alright if  I disable the button when webhook url is not entered?

[2021-12-07 06:07] pranay01 commented on #447
@ankitnayan @makeavish As per our discussion today, there's no `log` events in spans today. Users can send custom events they want to.

[2021-12-07 06:32] cloudsbird commented on #289
Hi Okay, will do soon bro

[2021-12-07 08:13] Devesh21700Kumar opened #467 "Error in script section while using Windows"
## Bug description

While Using Windows OS and running the server locally , the  `"dev": "NODE_ENV=development & webpack serve --progress",` in the scripts needs an & in between which i have added.
Without the `&` it shows the following error.

![image](https://user-images.githubusercontent.com/59202075/144991112-c7e0183c-5fdb-48d4-b95d-5030097afda6.png)

## Expected behavior

Should run correctly

[2021-12-07 09:14] pranay01 commented on #467
@Devesh21700Kumar If the new addition of `&` also works for other platforms like linux and mac, can you create a PR to fix this issue? Or is this issue platform dependent?

[2021-12-07 09:23] aryanshridhar commented on #454
This is because, commit 3e0f5a8 accidentally removed `style-loader` from webpack config file due to which the relevant CSS file ([`TraceGraph.css`](https://github.com/SigNoz/signoz/blob/main/frontend/src/modules/Traces/TraceGraph.css)) isn't attached to the tsx file.
Added pr #468 if this looks fine :)

[2021-12-07 12:03] Devesh21700Kumar commented on #467
Its Platform Dependent.
Yeah, I'll try to fix it.

[2021-12-07 12:07] abhibhaw commented on #284
Hey @pranay01 I am interested in working on this issue. Can you please assign me the same?

[2021-12-07 12:16] pranay01 commented on #284
Sure @abhibhaw. I would suggest please share a plan on how you think this can be achieved before actually getting down to writing code

[2021-12-07 12:29] abhibhaw commented on #284
Definitely I am quickly checking the repo. And trying to figure out the possible plans.

[2021-12-07 12:30] pal-sig opened #469 "BUG(UI): Theme preference is lost when we refresh the page"
## Bug description

switch to light mode and make a refresh . it switch back to dark mode.

https://user-images.githubusercontent.com/88981777/145029162-017b1566-93ca-416c-bbdb-1048a773a4f2.mov

## Expected behavior
it should remember the preference

If we can store this in local storage then i think we could solve the problem

[2021-12-07 12:31] pal-sig commented on #467
i think this is only encountered when we are using power shell based terminal... not with git bash

[2021-12-07 12:32] aryanshridhar opened #470 "Theme is always set to `Dark` when the app reloads."
## Bug description

Whenever the user reloads the app, the theme is always set to `Dark` irrespective of previously set theme.

<strong>Bug</strong>

https://user-images.githubusercontent.com/53977614/145029110-3f9003ef-2996-49c8-a2a9-9c54224a98b3.mov

## Expected behavior

The theme should be set to what the user sets it to and shouldn't change when the app reloads.

## How to reproduce

1. Open

[2021-12-07 12:33] aryanshridhar commented on #470
Wow what coincidence! - Similar issue opened just a few seconds ago - #469.

[2021-12-07 12:33] #470 closed

[2021-12-07 12:58] aryanshridhar commented on #469
Working on it 👍

[2021-12-07 13:11] Devesh21700Kumar commented on #467
Idts because I encountered this error using the git bash terminal itself.

[2021-12-08 06:15] pranay01 commented on #126
Closing this issue as we have updated how tags are shown in trace details page

[2021-12-08 06:15] #126 closed

[2021-12-08 10:44] vedant-jain03 opened #474 "feat: Back to top Button"
## Is your feature request related to a problem?

Back to top button make it easy for the user to scroll to the top.

*Please describe.*

## Describe the solution you'd like

- will add a new component and place it in position: absolute

#### *Thank you* for your feature request – we love each and every one!

[2021-12-08 10:45] vedant-jain03 commented on #474
@pal-sig is the issue valid?

[2021-12-08 15:05] pal-sig commented on #474
can you please define the use case here

[2021-12-08 15:09] architgarg603 commented on #453
can i work on this issue ?

[2021-12-08 15:56] vedant-jain03 commented on #474
The popularity of responsive web design has led to a proliferation of single-column, long-page designs both on mobile and desktop.  A consequence of these designs has been the Back to Top button, which is a shortcut that allows users to quickly navigate to the top of the page.
As we have documentation I think it will be user-friendly if we put this feature.

[2021-12-08 16:34] ankitnayan opened #476 "Readiness and Liveliness probes for query-service"
Create Readiness and Liveliness probes for query-service

[2021-12-08 19:03] ankitnayan commented on #476
[code]
should this cause container to exit?

[2021-12-08 19:30] Devesh21700Kumar commented on #467
https://www.npmjs.com/package/run-script-os
This is the package that might do the task.
There's an *os* tag in package.json as well but that is not too much supportive ( might lead to errors later )

Other than these two I don't think a possible solution exists to the issue.

[2021-12-08 20:11] ankitnayan commented on #443
https://www.loom.com/share/53d87b4766bf4b6b9e27d06466f7fe6a

[2021-12-09 06:03] govind2404 commented on #453
I would like to work on this issue. Assign this to me.

[2021-12-09 18:47] pranay01 opened #478 "`Continue without instrumentation` button is unresponsive when there are no sample app data"
## Bug description

`Continue without instrumentation` button is unresponsive when there are no sample app data

## Expected behavior

User should be allowed to explore the application even if no data is present from sample apps

## How to reproduce

1. Install via helm charts for clickhouse or just remove services from docker-compose
2. open the SigNoz Ui

https://share.getcloudapp.com/P8u8LkEL

[2021-12-09 19:04] ankitnayan opened #480 "Test helm chart in different environments"
- [x] EKS
- [x] GKE
- [ ] AKS
- [ ] Minikube
- [x] Kind
- [x] k3s
- [ ] on-prem cluster which is set up via kubeadm and using NFS as the default class [[Slack community link](https://signoz-community.slack.com/archives/C02271GFA4F/p1639993248000800)]

[2021-12-10 07:12] pranay01 opened #481 "Time selected changes from 5min to 30min/1hr or vice versa on clicking refresh button"
## Bug description

Time selected changes from 5min to 30min/1hr on clicking refresh

## Expected behavior

Time selected shouldn't jump from 5min to 30min/1hr on clicking refresh button

## How to reproduce

1. Open SigNoz UI for the first time - confirm that the time selected is 5min in the /application page
2. Click any service and go to metrics page, confirm time selected is 5min
3. Press refr

[2021-12-10 07:57] #446 closed

[2021-12-10 07:59] #453 closed

[2021-12-10 08:00] #454 closed

[2021-12-10 08:26] Deeprana12 commented on #481
Can I work on this? @pranay01

[2021-12-10 08:28] pranay01 commented on #481
Sure @Deeprana12

Though I was not able to consistently reproduce this - so first check if it is reproducing consistently

[2021-12-10 12:09] makeavish opened #486 "Remove Table default.signoz_spans as it's not being used"
## Bug description
Table default.signoz_spans is not being used but still the query service is initializing it.

## Expected behavior
Table default.signoz_spans should be removed from the code as it's not being created by clickhouse image.

[2021-12-10 13:33] Deeprana12 commented on #481
from /application when time is selected to 5min, then after when I click on the frontend it remains 5min but in customer, driver or route it changes to 30min. Is this the issue you are talking about @pranay01?

[2021-12-10 14:25] pal-sig opened #487 "BUG(eslint): eslint rule prettier/prettier and yarn prettify out of sync"
## Bug description

**Please describe.**

If we run `yarn lint` and `yarn prettify` both lint the files in different manner as we are using eslint rule `prettier/prettier`  which uses prettierrc

**Expect result**

while using yarn prettify and yarn lint should result same result

[2021-12-10 14:29] pal-sig opened #489 "console log should be removed from the production env"
## Bug description

*Please describe.*
*If this affects the front-end, screenshots would be of great help.*
Right now in the production env there are console log

## Expected behavior
There should not be any console log in the production env

[Babel Plugin](https://babeljs.io/docs/en/babel-plugin-transform-remove-console)

[2021-12-10 14:42] palashgdev opened #490 "loading is missing in Full view of the Widget"
## Bug description

*Please describe.*
*If this affects the front-end, screenshots would be of great help.*

When user click on the refresh button there is no loading shown to the user

<img width="749" alt="Screenshot 2021-12-10 at 8 09 12 PM" src="https://user-images.githubusercontent.com/88981777/145591249-78e4e288-c531-499b-81a4-69c3b2291123.png">

## Expected behavior
Loading should be shown

[2021-12-10 14:44] pal-sig opened #491 "Make All Modal under App Reducer with Key Modal"
## Is your feature request related to a problem?

*Please describe.*

## Describe the solution you'd like
All App Modal should be triggered from one single place all we need to pass the form type

[2021-12-10 14:50] palashgdev opened #492 "svg fill color mismatch"
## Bug description

*Please describe.*
*If this affects the front-end, screenshots would be of great help.*

Light Mode
<img width="547" alt="Screenshot 2021-12-10 at 8 15 55 PM" src="https://user-images.githubusercontent.com/88981777/145592329-c30272dd-ff3f-469b-89ce-285530a3be06.png">

Dark Mode
<img width="547" alt="Screenshot 2021-12-10 at 8 17 41 PM" src="https://user-images.githubusercontent

[2021-12-10 15:04] palashgdev opened #493 "make useQuery Hook"
## Bug description

*Please describe.*
*If this affects the front-end, screenshots would be of great help.*

This logic on this file is quite [repetitive](https://github.com/SigNoz/signoz/blob/main/frontend/src/container/GridGraphLayout/Graph/index.tsx#L55) and [this one](https://github.com/SigNoz/signoz/blob/main/frontend/src/container/GridGraphLayout/Graph/FullView/index.tsx#L36)

which can be a

[2021-12-10 15:31] pal-sig commented on #474
cc: @pranay01

[2021-12-10 17:01] pranay01 commented on #474
hey @vedant-jain03 I don't think it will be very relevant for the current product as we don't have much vertical height in most of the pages of the product. So closing for now.
Thanks for the suggestion though!

[2021-12-10 17:01] #474 closed

[2021-12-10 17:12] pranay01 commented on #481
On /application/frontend - 1hr is selected - but on clicking refresh it goes to 5min.
At around 0:35sec in the video

Updated the title also.

[2021-12-10 19:26] Deeprana12 commented on #481
when we click on any application like a /customer, /drive, /route the default value we'll get is 30min except /application(for this 5min) because when the page first redirect to a particular page the default value it's getting is 30min because of the below code snippet written in typescript so for the solution: we can change time to 5min for all routes so whenever we click on any application it wi

[2021-12-11 10:12] palashgdev opened #498 "run production build in locally server"
## Bug description

*Please describe.*
*If this affects the front-end, screenshots would be of great help.*

run production build in local server

## Expected behavior
write a script while will run the production build locally (production build=>`/build`)

[2021-12-11 10:42] vedant-jain03 commented on #492
Can I work on this issue @pal-sig ?

[2021-12-11 11:18] pal-sig commented on #492
Sure

[2021-12-11 11:24] vedant-jain03 commented on #492
@pal-sig It will be really helpful if you provide steps to reproduce the bug.

[2021-12-11 15:10] NishidhJain commented on #490
Hello @pal-sig, I would like to work on this issue.

[2021-12-11 17:26] ankitnayan opened #499 "Security and Vulnerability Scanning"

[2021-12-11 18:11] Deeprana12 commented on #481
Hey @pranay01

Here are the things that I understand from the code:

1. While rendering these pages for the first time we are getting values from a function below and here problems occur.

![Screenshot 2021-12-11 232008](https://user-images.githubusercontent.com/69518599/145686637-b5ebb131-435b-48b8-b132-d0cc5b024a83.png)

2. but after rendering when we change it to any time like (1 hr etc) and re

[2021-12-11 19:22] pranay01 commented on #481
@pal-sig Can you check this?

[2021-12-12 05:23] veerreshr commented on #493
@pal-sig could you please assign me this issue?

[2021-12-12 09:14] #367 closed

[2021-12-12 09:15] pranay01 commented on #437
@dchennaraidu this is fixed by https://github.com/SigNoz/signoz/pull/461

[2021-12-12 09:15] #437 closed

[2021-12-12 09:20] #443 closed

[2021-12-12 09:20] pranay01 commented on #478
@pal-sig Did you get a chance to look into this?

[2021-12-12 10:49] pal-sig commented on #493
Sure @veerreshr

[2021-12-12 10:49] pal-sig commented on #492
Just switch from dark to light mode

[2021-12-12 10:49] pal-sig commented on #490
Sure @NishidhJain

[2021-12-12 10:50] pal-sig commented on #481
@Deeprana12 did not get this one

[2021-12-12 13:05] Deeprana12 commented on #481
Ok, let me prepare a short video describing the problem and solution @pal-sig

[2021-12-12 13:56] pal-sig commented on #481
Sure

On Sun, 12 Dec 2021 at 18:35, Deep Rana ***@***.***> wrote:

[2021-12-12 16:42] Siddhant-K-code commented on #498
Currently it is creating under `./frontend/build`

[2021-12-12 16:51] Deeprana12 commented on #481
Here I've created some short videos because video-limit is getting decreasing & they can't fit in one video so sorry for the inconvenience.
Part1 - https://share.getcloudapp.com/jkuE9AoO
Part2 - https://share.getcloudapp.com/llukP7Dp
Part3 - https://share.getcloudapp.com/llukP7rn

In short - If we store default values in localStorage then all the errors will be resolved because eventually, we are

[2021-12-12 16:52] Deeprana12 commented on #481
Here I've created some short videos because video-limit is getting decreasing & they can't fit in one video so sorry for the inconvenience.
Part1 - https://share.getcloudapp.com/jkuE9AoO
Part2 - https://share.getcloudapp.com/llukP7Dp
Part3 - https://share.getcloudapp.com/llukP7rn

In short - If we store default values in localStorage then all the errors will be resolved because eventually, we are

[2021-12-12 17:42] veerreshr opened #500 "Frontend: Contrast Issue with Light/Dark Mode Toggle Button"
## Bug description
I Believe there is some contrast issue with dark/light mode toggle button, It is bit difficult for a person visiting first time to identify the toggle button in light mode. It looks like a dot rather than a toggle switch ( when compared with its background color ).
![Screenshot from 2021-12-12 23-00-49](https://user-images.githubusercontent.com/59141533/145723023-539f3b83-4c19-4

[2021-12-12 17:44] genzyy commented on #487
Maybe we can use [`prettier-eslint`](https://www.npmjs.com/package/prettier-eslint)?

[2021-12-12 18:15] NishidhJain commented on #490
Hey @pal-sig, I have resolved "Loading should be shown to the user when the AJAX call response is in pending state" bug but didn't understood "bonus to shown a error if there is any in form _**antd snackbar with prev data**_" clearly. Can you please elaborate about it?

[2021-12-13 06:54] Anurag5086 commented on #421
@pal-sig @pranay01

[2021-12-13 07:02] Anurag5086 commented on #421
I have raised a PR, please assign this issue to me.

[2021-12-13 07:29] Deeprana12 commented on #481
What do you say @pal-sig?

[2021-12-13 11:36] Devesh21700Kumar commented on #492
@pal-sig https://github.com/SigNoz/signoz/pull/504
Check out this PR which fixes the issue

[2021-12-13 11:41] pranay01 commented on #500
Thanks @veerreshr for raising the issue

[2021-12-13 11:44] veerreshr commented on #500
@pranay01 If you could suggest me a solution I could work on this. Something I am thinking is to include a contrasting border for the switch.

[2021-12-13 12:13] Devesh21700Kumar commented on #500
#505 will solve this

[2021-12-13 12:39] 00imvj00 opened #506 "`./install.sh` doesn't work when starting from root directory of the project."
## Bug description

To quickly setup signoz project, we have install.sh script, which sets-up all required sub-systems like clickhouse using docker.

But, when I am running `./deploy/install.sh` instead of `cd ./deploy && ./install.sh`, it fails, and gives below error.

```Couldn't find env file: ./docker/clickhouse-setup/env/x86_64.env```

The reason for above error is, in `install.sh` the path t

[2021-12-14 05:03] makeavish opened #509 "How to instrument and monitor cronjobs using SigNoz?"
Instrumenting cronjobs is possible using Otel but no one has tested it yet on SigNoz backend

[2021-12-14 10:03] Deeprana12 commented on #481
should I generate the PR or not @pal-sig?

[2021-12-14 11:00] pal-sig commented on #481
Hi @Deeprana12
Thank for taking up the issue

and yes i think creating all the default values in the local-storage would help here

[2021-12-14 11:00] pal-sig commented on #481
please go for it :-D

[2021-12-14 11:06] pal-sig commented on #481
also do handle the edge cases ... when we input the value apart from the accepted value .. do take from the default option value

[2021-12-14 17:02] Deeprana12 commented on #481
Yes, @pal-sig. Done with the PR. looking forward to more contributions to signoz 😉.

[2021-12-14 17:04] Harshal0902 opened #512 "Add scroll to top text at the footer"
## Is your feature request related to a problem?

If I need to access the navbar I need to scroll to the top, any its sometimes very frustrating to scroll again and again to the top of the page which very long(such as the [blog page](https://signoz.io/blog/).

## Describe the solution you'd like
Add a scroll to top text at the footer of the page so that it is convenient for the user to easily scro

[2021-12-14 17:07] pranay01 commented on #512
@Harshal0902 The website is on a different repo - https://github.com/SigNoz/signoz.io

[2021-12-14 17:07] Harshal0902 opened #513 "Add Test case"
## Is your feature request related to a problem?

Add Test case to find out if there are any bugs in the site. As it improves your application architecture and maintainability.

## Describe the solution you'd like
Add various testing case to test several components of the site.

## Describe alternatives you've considered

## Additional context
Add any other context or screenshots about the feature

[2021-12-14 20:17] aryanshridhar opened #515 "Missing loading spinner in `Settings` tab."
## Bug description

The loading spinner in `Settings` tab is missing when the user saves the retention values.

<strong>Issue</strong>

https://user-images.githubusercontent.com/53977614/146073022-036a89c9-6c1b-42bf-b24f-a04d7a1c79b9.mov

## Expected behavior

The loading spinner should be visible as it was earlier.

## How to reproduce

1. Navigate to `Settings` tab.
2. Save the retention values.

[2021-12-14 20:23] aryanshridhar opened #516 "Improve icon overlaps with `Dashboard` pagination panel"
## Bug description

The Chat icon (Improve feedback button) within the `Dashboard` tab overlaps with the pagination panel.

<strong>Issue</strong>

<img width="327" alt="Screenshot 2021-12-15 at 1 49 27 AM" src="https://user-images.githubusercontent.com/53977614/146073725-cfd28ca6-b9ed-40a6-80dc-b309ca0da752.png">

## Expected behavior

Open to discussion.

## How to reproduce

1. Navigate to the

[2021-12-15 07:12] ankit01-oss opened #517 "List of filtered spans doesn't seem clickable"
Clicking on a line-item in the table takes to flamegraphs. A user has pointed out to @pranay01 that the line items does not seem clickable.

<img width="1235" alt="Screenshot 2021-12-15 at 12 38 47 PM" src="https://user-images.githubusercontent.com/83692067/146139876-5cc104bb-cf21-4ddb-9bb6-8b51fe716603.png">

#### *Thank you* for your bug report – we love squashing them!

[2021-12-15 07:16] ankit01-oss opened #518 "Error rates in `Top Endpoints` table"
Users want to check errors rates for top endpoints in this table.

<img width="597" alt="Screenshot 2021-12-15 at 12 45 39 PM" src="https://user-images.githubusercontent.com/83692067/146140715-2437065f-a3df-4522-b70c-97049a5d138a.png">

[2021-12-15 07:19] ankit01-oss opened #519 "Facing issues in clicking on smaller spans in flamegraph"
Smaller spans in the flamegraph have issues in getting clicked.

Try clicking on smaller spans in the second line shown in the screenshot below 👇

<img width="925" alt="Screenshot 2021-12-14 at 8 19 40 PM" src="https://user-images.githubusercontent.com/83692067/146021187-0ac4e1af-a327-4196-8475-ef82c068582e.png">

[2021-12-15 07:27] ankit01-oss opened #520 "A health rating for services can be beneficial for users to communicate across teams"
A health rating for services monitored by users of SigNoz can help users communicate the health of their services easily to other teams and stakeholders.

An example 👇

https://docs.newrelic.com/docs/apm/new-relic-apm/apdex/apdex-measure-user-satisfaction/

[2021-12-15 07:37] ankit01-oss opened #521 "hint text for important labels"
For a first-time user, it can be difficult to understand the nomenclature we have used in the dashboard. For example, a user did not understand what are `external calls`.

**Suggestion**
We can create definitions and show them on hovering as shown in the screenshot below 👇. The hover text describes what `KD` stands for.
Source: https://ahrefs.com/

<img width="225" alt="Screenshot 2021-12-15 at 1

[2021-12-15 08:32] ankit01-oss opened #522 "`Server` & `Client` dropdown under filter traces not intuitive to users"
Not intuitive to users what `server` and `client` represent in this dropdown. This is the last filter under `Filter Traces`.

<img width="220" alt="Screenshot 2021-12-15 at 1 57 55 PM" src="https://user-images.githubusercontent.com/83692067/146151019-5681d28c-fe29-409f-b792-ca0fc44bdfdb.png">

[2021-12-15 08:52] ankit01-oss opened #523 "Trace filter page can be more suggestive or insights oriented"
Trace filter page first graph is not that intuitive to first-time users. Users are not sure what should be done with this graph. Instead, we can have suggestive filters like `slowest traces`, `most time consuming` etc.

Users have difficulty understanding the use case of the graph shown below 👇

<img width="1235" alt="Screenshot 2021-12-15 at 1 26 33 PM" src="https://user-images.githubusercontent.

[2021-12-15 08:59] ankit01-oss opened #524 "More user-friendly filters for an insights oriented dashboard"
The current filters on `trace-filter-page` seem more DIY to users, and it's not very intuitive to users what steps should be taken from here. If we can have filters based on actionable things like slowest endpoints, most time-consuming traces etc., it can be more useful to users.

<img width="801" alt="Screenshot 2021-12-15 at 2 27 31 PM" src="https://user-images.githubusercontent.com/83692067/146

[2021-12-15 09:13] ankit01-oss opened #525 "Dropdown under filter traces for the sample HOT R.O.D app confusing to user"
This dropdown has no headings or hint text as to what it contains. A user got confused if this was `list of services` or `span types` as `mysql` and `Redis` are also there.

Filter looks like this upon landing(no headings on hint text) 👇

<img width="202" alt="Screenshot 2021-12-15 at 2 36 58 PM" src="https://user-images.githubusercontent.com/83692067/146156565-b11f03f9-b025-4583-92b7-51a07250e9ae

[2021-12-15 09:26] ankit01-oss commented on #523
Example of suggestive filters

<img width="684" alt="Screenshot 2021-12-15 at 2 55 09 PM" src="https://user-images.githubusercontent.com/83692067/146159606-e52784b1-7dc2-4208-a41f-adaa28b59ff7.png">

Source: New Relic

[2021-12-15 10:15] NishidhJain opened #526 "feat(FE): Ask for confirmation before deleting dashboard from dashboard list"
## Bug description
If by mistake user clicks on `Delete` action in dashboard list, it would directly delete that particular dashboard without asking for confirmation. So, adding an extra layer of confirmation before deleting would be a good idea. Also, changing the `Delete` from just a text to button with red color will signify its meaning more specifically.

![prev-dashboard-list](https://user-im

[2021-12-15 10:19] NishidhJain commented on #526
Hello, @pal-sig @palashgdev I would like to work on this issue if you think it should be implemented.

[2021-12-15 10:20] ankit01-oss opened #527 "Need to verify if this is an ideal flow -> `application latency` chart to custom visualization of `calls count`"
User was asked to investigate the highest latency point from the latency chart on the metrics tab. Clicking on `view traces` takes him to `trace-detail-page` with the first graph as shown below👇

<img width="1228" alt="Screenshot 2021-12-15 at 3 41 32 PM" src="https://user-images.githubusercontent.com/83692067/146167219-1bc53e13-dcb5-4238-bfad-8992cd290b4a.png">

User was not able to understand th

[2021-12-15 10:52] ankit01-oss opened #528 "Latency, error rate, throughput charts for major/top endpoints, and alert setting on endpoints"
User has access to graphs of latency, error rate and throughputs for major/top endpoints which is helpful in debugging.

User flow debugging an issue for a particular endpoint.

1. User receives alert
2. Verify what kind of alert is it. For example, if it is related to latency, check out the latency graph in the APM tool used.
3. The latency chart has graphs for all types of requests like `post`,

[2021-12-15 18:23] pranay01 commented on #526
@NishidhJain Seems like a relevant feature - assigning it to you. Please use antd components only

[2021-12-15 18:27] pranay01 commented on #521
this is something which we have implemented. Will be merged in next release
PR - https://github.com/SigNoz/signoz/pull/501

[2021-12-15 18:29] pranay01 commented on #518
@ankitnayan this should be easy to do right? Do we have API based error data?

[2021-12-15 18:36] pranay01 commented on #516
Yeah, faced this issue myself also. @pal-sig any suggestions on how this should be handled?

[2021-12-16 04:19] ankitnayan commented on #518
yes. Nothing major but changing API. But this section is pending to be changed to metrics. Right now it is calculated from trace data.

Not clear what you mean

[2021-12-16 05:21] NishidhJain commented on #526
Sure, @pranay01 I would use only antd components.

[2021-12-16 05:33] pranay01 commented on #518
I meant different Endpoints in a service will have different error rates. So we need to have APIs with error rate for different endpoints

[2021-12-16 05:35] ankitnayan commented on #518
Right, that can be done

[2021-12-16 05:36] ankit01-oss opened #529 "Parent span shows less duration than combined duration of child spans in sample hotROD application"
Parent span shows less duration than combined duration of child spans. Flamegraph shown below is from the sample hotROD application which shows be default in the SigNoz dashboard.

<img width="909" alt="Screenshot 2021-12-16 at 11 02 12 AM" src="https://user-images.githubusercontent.com/83692067/146314023-a2d45023-6d69-4d01-b609-3fd23065f6d7.png">

[2021-12-16 05:49] ankitnayan commented on #101
@makeavish I found docs that otel can also have request and response headers which might be very useful in debugging requests with exceptions. Sharing the link below

https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/trace/semantic_conventions/http.md#http-request-and-response-headers

Also, I think sentry has request and response headers in their UI. Can you pl

[2021-12-16 05:56] ankitnayan opened #530 "Tracing serverless architecture"
https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/trace/semantic_conventions/instrumentation/aws-lambda.md

https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/trace/semantic_conventions/faas.md

[2021-12-16 06:10] ankitnayan commented on #529
https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/trace/api.md

Quoting some texts from the above link

Logic in exporter where It is done now:
https://github.com/SigNoz/opentelemetry-collector-contrib/blob/create-metrics/exporter/clickhouseexporter/clickhouse_exporter.go#L53-L97

@makeavish @00imvj00 please go through the above links and we can discuss further

[2021-12-16 10:34] makeavish opened #531 "Trace details screen UI bug"
## Bug description
On the trace details screen the errors tab has hamburger menu which opens errors.

<img width="1403" alt="Screenshot 2021-12-16 at 15 54 00" src="https://user-images.githubusercontent.com/9512100/146355373-2ed79b00-1b8d-471a-afd4-0c78dc1773b8.png">

## Expected behavior
There should not be any hamburger menu

<img width="1421" alt="Screenshot 2021-12-16 at 15 54 14" src="https:/

[2021-12-16 12:42] makeavish opened #533 "Integrate sql migrator for clickhouse"

[2021-12-16 12:51] makeavish commented on #89
This PR -> https://github.com/SigNoz/opentelemetry-collector-contrib/pull/3 adds events data to trace details.

[2021-12-17 05:51] NishidhJain commented on #516
Hello @aryanshridhar @pranay01, we could move pagination towards left or center

[2021-12-17 14:03] aryanshridhar commented on #531
Looking into it!

[2021-12-17 17:55] NishidhJain commented on #526
Hello @pranay01, I have raised a PR for the same. Please have a look at it.
PR  #534

[2021-12-17 19:38] aryanshridhar commented on #531
That's kind of surprising! I recreated the component here to check if it's an upstream issue, but in vain.
Link to sandbox - https://codesandbox.io/s/angry-sun-kf9bg?file=/src/index.js

[2021-12-17 19:40] pranay01 commented on #531
@aryanshridhar So this issue is not getting reproduced in Firefox?

[2021-12-18 07:28] aryanshridhar commented on #531
@pranay01 The issue is reproduced in Firefox but I am not sure what is the exact reason. I thought that the issue is with [ant-design](https://github.com/ant-design/ant-design), but like I mentioned above - it isn't.

[2021-12-18 07:30] aryanshridhar commented on #531
Probably a second way to get around this issue is to - use a media query to handle the display property. (Will crerate a pr for better discussions)

[2021-12-18 07:33] pranay01 commented on #531
ok - @pal-sig any thoughts on why this is happening, though there seems to be no underlying issue with antd

[2021-12-18 09:21] ankit01-oss opened #535 "`Application metrics`, `external calls` and `database calls` get expanded across entire screen"
The tabs of `application metrics`, `external calls` and `database calls` on the application page get expanded across the entire screen sometimes.
<img width="1238" alt="Screenshot 2021-12-18 at 2 47 12 PM" src="https://user-images.githubusercontent.com/83692067/146636124-a15262f6-1c66-45c9-9cd2-ba5af554e944.png">

Expected UI
<img width="1234" alt="Screenshot 2021-12-18 at 2 50 07 PM" src="https:/

[2021-12-18 11:05] ceefour commented on #480
Add k3s

[2021-12-18 13:41] pranay01 commented on #480
added @ceefour

[2021-12-18 13:44] pranay01 commented on #535
Duplicate of https://github.com/SigNoz/signoz/issues/250 - same underlying issues with antd tabs

This PR https://github.com/SigNoz/signoz/pull/507 should fix this

[2021-12-18 18:20] aryanshridhar commented on #478
Faced this issue today. This can be fixed by removing the extra check statement [here](https://github.com/SigNoz/signoz/blob/6f8b78bd97edccac2b81040e7671936e8b388846/frontend/src/container/MetricsTable/index.tsx#L36). (Though the `error` value is `true` because of `GET_INITIAL_APPLICATION_ERROR` but we still want the user to navigate our application)

[2021-12-19 07:57] pranay01 commented on #478
@pal-sig This is the issue which I was talking about. Thanks @aryanshridhar for pointing this out

[2021-12-19 12:20] #448 closed

[2021-12-19 15:24] rajdas98 commented on #476
@ankitnayan, We need to add these two probes in the query-service k8s deployment, Right?

[2021-12-19 16:27] rajdas98 commented on #476
I can take this issue.

[2021-12-19 20:09] ankitnayan opened #539 "Enhancing metrics and traces with K8s attributes"
`k8sattributes` processor
https://pkg.go.dev/github.com/open-telemetry/opentelemetry-collector-contrib/processor/k8sattributesprocessor

**Splunk's sample config**
https://github.com/signalfx/splunk-otel-collector-chart/blob/main/helm-charts/splunk-otel-collector/values.yaml
https://github.com/signalfx/splunk-otel-collector-chart/blob/main/helm-charts/splunk-otel-collector/templates/config/_otel-a

[2021-12-20 03:42] pal-sig commented on #535
Closing in favour of duplicate issue #250

[2021-12-20 03:42] #535 closed

[2021-12-20 04:14] pranay01 commented on #539
@ankitnayan Can you add more details on what is expected to be done in this issue?

[2021-12-20 05:00] pal-sig commented on #531
@aryanshridhar i don't think overwriting existing Antd component css style would be a good solution for this one

[2021-12-20 07:07] #521 closed

[2021-12-20 13:18] aryanshridhar commented on #531
Yup felt like it because instead fixing the root cause, I was modifying the antd css styles. Any ideas why is this behavior taking place @pal-sig ?

[2021-12-20 14:21] pranay01 commented on #434
@dchennaraidu The feature to show parameters of trace filters in URL is shipped in the latest [release](https://github.com/SigNoz/signoz/releases/tag/v0.5.3) for the default helm chart. Can you check if this serves your use case?

Attached is a screenshot

![Image 20-12-2021 at 19 45](https://user-images.githubusercontent.com/504541/146781215-5a645faf-229d-4fb5-b019-be51eb2003c6.jpg)

[2021-12-20 14:26] pranay01 commented on #434
@dchennaraidu Can you add more details on what do you mean by `Bookmarking URL so which I view frequently`?
Will this use case not be served by just bookmarking the URL in the browser?

[2021-12-21 05:52] pal-sig commented on #531
That still needs to be figured out....

[2021-12-21 06:21] aryanshridhar commented on #525
There's an open pr for it - #384

[2021-12-21 06:32] ankit01-oss opened #543 "See graphs of `latency`, `rps` and `error rates` by endpoints"
In user interviews, when asked about their debugging steps, devs have repeatedly mentioned investigating graphs by endpoints.

For example, having access to these graphs with a filter/group by feature for endpoints.
<img width="1232" alt="Screenshot 2021-12-21 at 11 55 44 AM" src="https://user-images.githubusercontent.com/83692067/146881998-0226eada-ccac-43fe-8ff6-9bef4a182e4c.png">

Currently use

[2021-12-21 06:47] ankit01-oss opened #544 "`server` & `client` filter needs a hint text for users to understand the use case"
New users need some context on what data these filters are used for: `server` & `client`

<img width="248" alt="Screenshot 2021-12-21 at 12 16 44 PM" src="https://user-images.githubusercontent.com/83692067/146884308-6cbe0ed4-2a3e-410f-8f47-b2f1a89302a0.png">

[2021-12-21 07:03] ankit01-oss opened #545 "Bug in `server` and `client` filter"
### Case I
Number of calls for `server` and `client` filter does not add up to the total.

✅ Total calls = Calls for (`server` + `client`)

Total frontend calls count at 11:46 am is 1344 as seen in the screenshot with `no filter` selected for server/client.

<img width="1233" alt="Screenshot 2021-12-21 at 12 22 27 PM" src="https://user-images.githubusercontent.com/83692067/146885013-d793f240-faaa-

[2021-12-21 07:09] ankit01-oss opened #546 "Having suggestions for `Tag Value` will make onboarding easier for first-time users"
Currently we don't show any suggestions for `Tag Value`. For a user exploring SigNoz for the first-time with data from the sample app, there is no way of knowing what to input in `Tag Value`

<img width="778" alt="Screenshot 2021-12-21 at 12 37 16 PM" src="https://user-images.githubusercontent.com/83692067/146886607-02efbe0b-93c4-4948-abbc-132f8ebfd867.png">

[2021-12-21 07:14] ankitnayan opened #547 "Add codeowners to automate PR reviewers assignment"
-  @ankitnayan for backend
- @pal-sig and @pranay01 for frontend

[2021-12-21 07:17] pal-sig commented on #547
@00imvj00 i think github bot does this one.. based on the label

[2021-12-21 07:17] pal-sig commented on #547
also this can be useful https://github.com/srvaroa/labeler

[2021-12-21 07:17] ankit01-oss opened #548 "`Latency` button use-case and labeling"
A user thought if he clicks on the `Latency` button shown in the screenshot below then the options will be things like `RPS`, `Error  Rates` as those two are other important dimensions that users like to see data by. There might be a expectation mismatch here.

<img width="729" alt="Screenshot 2021-12-21 at 12 42 13 PM" src="https://user-images.githubusercontent.com/83692067/146887227-bd663f75-8e4

[2021-12-21 07:17] ankitnayan opened #549 "Move query-service initialization variables from env to config file"

[2021-12-21 07:18] ankit01-oss commented on #548
We can update the `Latency` label to `Choose latency` or `Choose Latency Duration` to avoid confusion

[2021-12-21 07:19] pal-sig commented on #548
@pranay01 thoughts on this one ? seems legit to me

[2021-12-21 07:23] ankit01-oss opened #550 "`Server` filter should be selected by default in `trace-filter` page"
As the common use case for investigating data for a particular service/endpoint is the total number of incoming requests handled by the service/endpoint, the below filter should have `server` as the default selected filter.

<img width="804" alt="Screenshot 2021-12-21 at 12 51 23 PM" src="https://user-images.githubusercontent.com/83692067/146888132-eb99ce9f-2427-4c50-a277-ac91b08928cf.png">

Curre

[2021-12-21 08:42] ankit01-oss opened #551 "Mention on homepage that the data shown is from a sample app"
For first time users, it can be confusing to see data already in the dashboard and to understand how the sample application works. We can have a message on home page saying the data is from a demo app.

We can also have a link to an article explaining how the sample app works for better understanding.

<img width="1238" alt="Screenshot 2021-12-21 at 2 06 02 PM" src="https://user-images.githubuserc

[2021-12-21 10:10] aryanshridhar commented on #517
How about we have something like this ?

![IMG_1030](https://user-images.githubusercontent.com/53977614/146911971-73ef2b02-c19b-4bf0-98fc-b9d75da0b3f0.jpg)

(Took from my phone to show that cursor as well!)

[2021-12-21 10:49] ankit01-oss opened #552 "Better representation of graphs for longer time periods like 1 day/week"
Users might want to investigate the data points for longer duration like `1 day` or `1 week`. Depending on the business use case, users might want to investigate how a particular request is performing over a day/week to see any deviation from the norm.

Currently our graphs are not redable for the longer duration

<img width="1230" alt="Screenshot 2021-12-21 at 4 12 20 PM" src="https://user-images

[2021-12-21 11:03] ankit01-oss opened #553 "Button are hidden by chat icon on `traces-filter` and `dashboard` page"
Chat icon is hiding some elements on the page. For example,

`Traces-Filter` page
<img width="356" alt="Screenshot 2021-12-21 at 4 33 14 PM" src="https://user-images.githubusercontent.com/83692067/146919682-978c19d4-dbc5-42ac-b8f7-0c7d2588d8d5.png">

`Dashboard` page
<img width="162" alt="Screenshot 2021-12-21 at 4 33 36 PM" src="https://user-images.githubusercontent.com/83692067/146919725-a65ef6d

[2021-12-21 11:45] aryanshridhar commented on #550
Picking this up!

[2021-12-21 13:38] ankitnayan commented on #476
@rajdas98 it's not just k8s yaml definition stuff. The query-service needs to implement those apis with correct checks that shall tell whether the app is ready/live or not

[2021-12-21 14:18] rajdas98 commented on #476
Got it. I will add a route (/health) to the query service for the HTTP probe. I think the command probe doesn't require an API.  Right?

[2021-12-21 16:30] palash-signoz opened #554 "Remove Moment library from the frontend"
https://ant.design/docs/react/replace-moment

[2021-12-21 16:38] pal-sig commented on #481
@Deeprana12 please update the PR there are certain issue that need to be resolved

[2021-12-22 01:26] dchennaraidu commented on #434
@pranay01 I phrased it wrong, yes both are similar

[2021-12-22 06:48] pranay01 commented on #434
@dchennaraidu Do check the URL features in the new release also - and if your use cases are met. If its fine, we can close the issue

[2021-12-23 06:33] siddhantparekh commented on #553
Is this a good solution?

![possible_solution](https://user-images.githubusercontent.com/24934757/147198578-db182226-ae32-45e0-a32e-2cad7671eca6.png)

[2021-12-23 07:29] pranay01 opened #559 "API calls being counted twice for fastapi sample app"
## Bug description

API calls being counted twice for fastapi apps

## Expected behavior

API calls shouldn't be counted twice

## How to reproduce

1. Instrument a fastAPI app/flask app with Otel
2. Hit any http endpoints 3 times
3. Check metric for number of calls for the same endpoint.

## Version information
* **Signoz version**: v0.5.3

## Additional context
Sample video: https://www.loom.com

[2021-12-23 07:33] ankitnayan commented on #559
@makeavish you can check if otel-collector is receiving double number of traces or not at metric_name `otelcol_receiver_accepted_spans` with `receiver:otlp` at http://testingapp.signoz.io:8887/metrics.

The `receiver:jaeger` probably shows just hotrod data as it sends data in jaeger format.

[2021-12-23 07:43] makeavish commented on #559
The endpoint metrics are not being captured by Otel metrics collector. The metrics are being calculated by traces.

[2021-12-23 07:45] ankitnayan commented on #559
correct

[2021-12-23 13:56] ankitnayan commented on #559
@makeavish I have added another branch [console-exporter ](https://github.com/SigNoz/sample-fastAPI-app/tree/console-exporter) which enables exporting spans to console. This seems to work fine with just 1 SERVER span and 2 internal spans. Maybe something weird happening in otlp-exporter or steps via which it is automatically enabled. Below is the output of console-exporter
[code]

[2021-12-23 14:07] ankitnayan commented on #559
In my case, I get 3 server spans for 1 request. I noticed, 1 spans comes immediately and the 2 other replicas arrive with a delay of a few seconds

[2021-12-23 14:11] makeavish commented on #559
I can see that incase of OTLP exporter we get 6 spans for 1 request.
Looks like an issue with [FastAPI auto-instrumentor](https://github.com/open-telemetry/opentelemetry-python-contrib/tree/main/instrumentation/opentelemetry-instrumentation-fastapi).

[2021-12-23 16:15] makeavish commented on #559
After using `TraceProvider` the issue is not there.
Here's the PR: https://github.com/SigNoz/sample-fastAPI-app/pull/2
Also I have raised an issue on official python otel repo regarding this: https://github.com/open-telemetry/opentelemetry-python-contrib/issues/840

[2021-12-24 05:12] friilancer commented on #553
Shifting pagination to the middle would be a good fix. The alerts page is also affected too

[2021-12-24 05:13] friilancer commented on #553
![bug](https://user-images.githubusercontent.com/22805720/147319267-9cddc3ca-b3d2-4bdd-a0cf-a5b72f2ea45b.png)

[2021-12-24 05:18] pal-sig commented on #553
Yes @friilancer would you like to work on this one ?

[2021-12-24 05:21] siddhantparekh commented on #553
@pal-sig I'd like to push this one

[2021-12-24 05:40] friilancer commented on #381
Can I work on this?

[2021-12-24 06:23] #478 closed

[2021-12-24 06:27] #469 closed

[2021-12-24 07:27] ankit01-oss opened #561 "Remove refresh time filter from `trace-detail` page and show a timestamp"
Refresh Time filter is not valid for trace-detail page. We can replace it with a timestamp.

<img width="255" alt="Screenshot 2021-12-24 at 12 55 47 PM" src="https://user-images.githubusercontent.com/83692067/147329228-3b6dc597-f266-4c17-b713-d7617f51eb17.png">

[2021-12-24 07:33] ankit01-oss opened #563 "For smaller spans, time shown in gantt charts gets in a vertical column"
For smaller spans, the time shown in ms is getting elongated in a vertical line.

<img width="872" alt="Screenshot 2021-12-24 at 1 00 15 PM" src="https://user-images.githubusercontent.com/83692067/147329613-63afba51-7391-42bd-8c4e-b26655beb098.png">

[2021-12-24 07:44] #467 closed

[2021-12-24 14:30] friilancer commented on #553
Seems @siddhantparekh has a fix already

[2021-12-24 14:51] friilancer commented on #325
Are there still plans to implement this? I could take it up

[2021-12-24 18:29] siddhantparekh commented on #561
Hey @ankit01-oss

Which timestamp do you mean should be put in place of refresh?

[2021-12-24 18:34] pranay01 commented on #325
sure @friilancer Assigning to you. Do comment here if you have any questions

[2021-12-24 20:43] friilancer commented on #325
Alright, will do

[2021-12-26 05:46] aryanshridhar commented on #493
Hey @veerreshr, Are you still working on it?

[2021-12-26 05:48] veerreshr commented on #493
Sorry @aryanshridhar , I got busy with my exams. Someone can take this issue

[2021-12-26 05:51] pal-sig commented on #325
Hi @friilancer
This issue is already fixed ([ref](https://github.com/SigNoz/signoz/blob/main/frontend/src/wdyr.ts))

[2021-12-26 05:51] #325 closed

[2021-12-26 05:53] pal-sig commented on #561
Hi @siddhantparekh
We need to add Trace detail in this [logic](https://github.com/SigNoz/signoz/blob/main/frontend/src/container/Header/index.tsx#L11)

[2021-12-26 05:53] pal-sig commented on #493
@aryanshridhar would you like to work ?

[2021-12-26 05:54] palash-signoz opened #564 "feat: Configure Puppeteer in Docker"
@ankitnayan https://github.com/puppeteer/puppeteer/blob/main/docs/troubleshooting.md#running-puppeteer-in-docker

_Originally posted by @pal-sig in https://github.com/SigNoz/signoz/issues/508#issuecomment-1000707088_

[2021-12-26 05:55] aryanshridhar commented on #493
@pal-sig Yup :)

[2021-12-26 06:43] pal-sig commented on #553
@pranay01 do we want pagination component in all table in center or only on `traces-filter` and `dashboard` tables ?

[2021-12-26 08:31] siddhantparekh commented on #553
I did that to maintain consistency across the app.

[2021-12-26 12:33] siddhantparekh commented on #561
Hey @pal-sig

Just adding TRACE_GRAPH to the array won't work since it's a dynamic path. I've used matchPath form react-router-dom to make it work. Please check the image below out once and let me know if it will do the job.

![possible-fix](https://user-images.githubusercontent.com/24934757/147408126-49ad4ed4-4563-412d-aa4d-ed1a4f700f17.png)

[2021-12-26 16:37] pranay01 commented on #493
@aryanshridhar Assigned to you

[2021-12-26 16:39] pranay01 commented on #553
lets not change the pagination alignment. Let me come back with a soln - assigning it back to myself for now

[2021-12-27 06:22] palash-signoz opened #566 "Fix code scanning alert - Potentially unsafe external link"
Tracking issue for:
- [x] https://github.com/SigNoz/signoz/security/code-scanning/27

[2021-12-27 13:11] makeavish commented on #559
There was no issue in fastAPI otel exporter. Actually, we were instrumenting FastAPI app twice(both automated and semi-automated way).
Closing this issue.

[2021-12-27 13:11] #559 closed

[2021-12-27 18:44] genzyy commented on #553
Maybe we can make the chat icon to be a small bar on the bottom right corner if we don't want to change the pagination alignment.

[2021-12-27 19:08] genzyy commented on #548
Can I take this up?

[2021-12-28 06:14] palash-signoz opened #569 "Feat(UI): Integrate [Critter]"
## Is your feature request related to a problem?

*Please describe.*

## Describe the solution you'd like

Integrate [Critter](https://github.com/GoogleChromeLabs/critters) which does not require browser to calculate the critical CSS

ref: #508

[2021-12-28 11:32] ankit01-oss commented on #552
To clarify, when I say better representation of graphs, it's not just about having timestamps with days (Monday, Tuesday) in it on the x-axis.

The graph should help users to identify spikes or outliers in any time-frame chosen, so aggregated data for a day or any longer time period can help.

[2021-12-28 11:54] pal-sig commented on #552
thanks @ankit01-oss for the clarification. one point i would like to point data also should be less

[2021-12-28 12:15] pal-sig commented on #552
@pranay01 let me know your thoughts over this one

[2021-12-28 15:26] #421 closed

[2021-12-28 15:27] pal-sig commented on #421
Closed solves via #503

[2021-12-29 17:27] aryanshridhar opened #574 "FullView `Refresh` button within Dashboard panel isn't working."
## Bug description

While working on another issue I came up with this bug as - The `Refresh` button within a specific dashboard (when in FullView) isn't working as expected.

## Expected behavior
The application metric should refresh which would update the graph.

## Screenshot
![Screenshot 2021-12-29 at 10 50 50 PM](https://user-images.githubusercontent.com/53977614/147687831-fdf0a54a-1c25-4e0f-

[2021-12-29 17:31] pranay01 commented on #574
@aryanshridhar Can you share a loom video/screen capture of the issue, not very clear from a screenshot

[2021-12-29 18:49] aryanshridhar commented on #574
@pranay01 Yup thought of doing that, but seems like my loom free trial is over!

[2021-12-30 05:43] palash-signoz opened #575 "feat(Frontend): Updated Trace Filter Page"

[2021-12-30 07:00] aryanshridhar commented on #574
Let me see if I can debug this today!

[2021-12-30 08:00] pranay01 commented on #574
@aryanshridhar the new datapoints only come every minute. Can you try waiting for around a minute and then try refreshing?
Exiting full screen view, changes the time period to 5min automatically which causes the graph to refresh.
Changing automatically to 5 min is a bug - https://github.com/SigNoz/signoz/issues/481

cc: @pal-sig

[2021-12-30 08:05] pranay01 commented on #575
Reference design
![trace-filters-v2-search](https://user-images.githubusercontent.com/504541/147733086-d3cd3698-7c83-4f1d-8a72-2cb9d6f1d3d9.png)

[2021-12-30 09:08] aryanshridhar commented on #574
The Refresh button still isn't working (after waiting for a min) when set to `Global Time`.

[2021-12-30 16:35] rahulrana95 commented on #564
@pal-sig we can use playwright which is built at top of pupetter

[2021-12-30 18:52] aryanshridhar commented on #574
Found the previously opened issue - #388.

[2022-01-02 19:10] ceefour opened #582 "docs: Tutorial for Instrumentation for PHP web apps"
PHP looks like a less mature OpenTelemetry implementation, but it exists: https://github.com/open-telemetry/opentelemetry-php#installation

If possible, additional instrumentation tutorial for these popular frameworks would be helpful:

1. [Zend Framework 3](https://framework.zend.com/learn)
2. [WordPress](https://wordpress.org/)
3. [Silverstripe](https://www.silverstripe.org/)
4. [Symfony](https:

[2022-01-03 04:59] pal-sig commented on #564
Hi @rahulrana95 i think we won't be going ahead with the Puppeteer as there is another issue which solve the critical css part

ref: https://github.com/SigNoz/signoz/issues/569

[2022-01-03 18:35] ankitnayan commented on #580
Duplicate of #166

[2022-01-03 18:35] #580 closed

[2022-01-03 19:37] ankitnayan commented on #518
Will be picked up together with SpanMetricsProcessor to convert trace APIs to metrics APIs

[2022-01-04 06:38] pal-sig commented on #561
@siddhantparekh Yes i think this will work ... only i would suggest to use `forEach` instead of `for`

would you like to raise a PR ?

[2022-01-04 08:05] siddhantparekh commented on #561
I did try forEach but it wasn't reflecting the bool which was returned by the function in the render. I didn't debug it yet but ended up writing a for to make it work. I'll raise a PR with the current version for now.

[2022-01-04 08:17] pal-sig commented on #561
yes return does not work in forEach

ok will check this PR

[2022-01-04 16:29] ankitnayan opened #583 "Steps to increase PV size in EKS and GKE using helm chart"
Provide docs with steps to increase PV size on-demand in EKS and GKE as we are using expandable storage class.

[2022-01-05 16:05] ankit01-oss opened #585 "A well written "how to migrate from datadog to opensource APM/SigNoz""
Details:
Instrument any application with datadog statsd libraries and test it with datadog. Now send the same metrics to otel-collector and show dashboards in signoz.

[2022-01-06 12:30] pranay01 opened #586 "No visual feedback to user on pressing Refresh button if the dashboard doesn't refresh."
https://www.loom.com/share/6070c7d3654c4b768cb2e2b0b6b756d6

[2022-01-06 12:39] pranay01 opened #587 "BUG(FE): Span list shown has time outside the selected range"
https://www.loom.com/share/e538a11dfe1e44fea056321f8f343062

[2022-01-06 13:43] ybettan opened #589 "Helm uninstall isn't cleaning chi-signoz-cluster-0-0-0 pod"
## Bug description

Helm uninstall isn't cleaning chi-signoz-cluster-0-0-0 pod

## Expected behavior

Helm uninstall should remove all the resources created by the chart upon `helm install`

## How to reproduce

1. `helm install signoz deploy/kubernetes/platform -n platform --create-namespace`
2. wait for all the pods to be in `Running` state
3. `helm uninstall signoz -n platform`

[code]

## Vers

[2022-01-06 14:12] pranay01 commented on #574
@pal-sig Was able to duplicate this issue in the latest release as well. Can you check this

[2022-01-06 16:18] pal-sig commented on #574
Raised a PR for this issue https://github.com/SigNoz/signoz/pull/590 Thanks @aryanshridhar for the issue

as the issue is only with the Global Selected Filter in which min max time is same

[2022-01-06 16:39] aryanshridhar commented on #574
Awesome!

[2022-01-06 18:22] pranay01 opened #591 "Display custom events attached to spans in trace details page"
## Is your feature request related to a problem?

Some users are interested in seeing events attached to spans. Currently there is no way to see custom events in spans in SigNoz

## Describe the solution you'd like

Users should be able to see the events attached in a span which are not error events

## Describe alternatives you've considered

## Additional context

More context about this request

[2022-01-06 18:36] pranay01 commented on #548
@genzyy We are updating this page soon - so let's make improvement only after the updated trace filter page is released.

You can track the new trace filter page in this issue - https://github.com/SigNoz/signoz/issues/575

[2022-01-06 18:47] pranay01 commented on #552
@ankitnayan Should the backend APIs also be modified for this? Because high granularity of data may bot be very relevant and would make the graph look cluttered. It is also not helpful to the users.

For example -
- if time period is less than 1hr, granularity may 1 min
- if time period is 1hr - 6hr, then granularity may be 5 min ( 60 data points)
- For 1 day, granularity may be 10 mins - 144 data

[2022-01-07 13:18] meerasndr commented on #542
If this is still available, I can take a stab at it.

[2022-01-07 13:27] makeavish commented on #542
Sure @meerasndr
Assigning this issue to you.
You can create a PR over current sample golang app repo.

[2022-01-11 18:37] ceefour opened #602 "If service.name contains '/', it cannot be viewed in signoz-frontend"
## Bug description

If service.name contains '/', it cannot be viewed in signoz-frontend

## Expected behavior

If service.name contains '/', it can still be viewed in signoz-frontend

## How to reproduce

1. Send traces/metrics with service name `some/example`
2. Open frontend
3. Click the service, it will show 404 error.

## Version information
* **Signoz version**: signoz helm chart 0.5.3, fron

[2022-01-11 18:52] pranay01 commented on #602
thanks for reporting the issue @ceefour We will take a look at it

[2022-01-12 08:47] ankitnayan commented on #602
@ceefour It's a frontend routing issue as it conflicts with the url. Can you not use `/` in servcice name for now? You can use some other separators like `-`, etc which should fix the issue.

[2022-01-12 19:24] #583 closed

[2022-01-14 10:54] ceefour commented on #602
Yes that's workaround I use.

This should be handled in frontend, by escaping.

This is probably more of a feature request for proper namespace / environment support.

[2022-01-14 10:56] ankitnayan commented on #602
Got it. Thanks

[2022-01-14 18:28] genzyy commented on #409
Hey can I work on this issue again?  I made the original PR for fixing this issue so maybe I will be able to fix it.

[2022-01-15 03:47] pal-sig commented on #409
Hi
If you can improve eslint config please raise a pr

[2022-01-15 15:33] ybettan opened #613 "sample-application is "ready" k8s wise before it is actually ready."
## Bug description

sample-application doesn't have a readiness prob, therefore, it gets traffic as soon as the container is up but the sample application needs a better readiness prob that will ensure that the app is ready to get traffic.

## Expected behavior
[code]
Should work directly after the sample application pod is marked as `ready` by k8s

## How to reproduce
Not 100% reproducible, on my

[2022-01-16 16:36] krtkvrm opened #616 "unnecessary print statements throughout codebase & add checks for it in CI"
Many unnecessary `fmt.Print*()` have been found throughout code base. If this is for debugging, I believe a debugger could be used.

1. Remove `fmt.Println` & `fmt.Printf` statements
[code]

2. Add checks in CI when its merged to main

[2022-01-16 17:11] pranay01 commented on #616
thanks for opening the issue @krtkvrm We will check this

[2022-01-17 12:55] sagar30sept opened #617 "SigNoz installation fails in openshift"
Hi Team,

We are getting below issue while installing SigNoz in OCP environment. Pods of frontend and signoz-query-service are not coming up with below errors. We have installed signoz through helm chart. Can you please suggest on this.

Signoz-frontend pod issue:

2022/01/17 07:29:50 [warn] 1#1: the "user" directive makes sense only if the master process runs with super-user privileges, ignored i

[2022-01-17 14:45] pranay01 commented on #617
thanks for raising the issue @sagar30sept - We will check this

[2022-01-17 16:48] ankitnayan opened #620 "Dashboard page does not call API on clicking on `apply` button"
The `apply` button does not make an api call
![Screenshot 2022-01-17 at 10 17 19 PM](https://user-images.githubusercontent.com/12460410/149809211-c4e740e5-d65e-4090-9927-2f5e9ecde925.png)

[2022-01-18 06:29] sagar30sept commented on #617
Hi Prashant,

Can you please suggest something on this issue.

Thanks,
Sagar