[2022-01-18 12:51] jhaan21 opened #623 "feat: Alert Channel For Email"
## Is your feature request related to a problem?

No

## Describe the solution you'd like

The only alert channels available is through slack. I would like to be able to at least send a notification to multiple parties about the alert.

## Describe alternatives you've considered

Forcing my team onto slack but I am also unsure if customers would be willing to do this as well

## Additional context

[2022-01-18 14:13] SoniaisMad commented on #620
Hello :)
I would like to contribute, do you think you could assign this one to me ?

[2022-01-18 14:36] pranay01 opened #624 "feat: Updated Trace Details page with detailed waterfall view"
## Is your feature request related to a problem?

Users find it difficult to understand the trace details page especially what does the hierarchical structure mean

## Describe the solution you'd like

Re-design trace details page with more focus on hierarchical view of traces

## Describe alternatives you've considered

## Additional context

Attached initial design proposal
![gantt-expanded-more

[2022-01-18 15:01] pranay01 opened #625 "feat: Support for basic auth and Login"
## Is your feature request related to a problem?

Currently SigNoz doesn't have concept  of user login. Though for organizations which have different team members using the product it may be helpful to provide each user a separate login to SigNoz and ability to invite different team members  in the same org

## Describe the solution you'd like
- [ ] Ability to have a authenticated login mechanism

[2022-01-19 11:19] pranay01 commented on #623
@jhaan21 Thanks for opening this issue. Just to understand your use case better, do you also want your customers to receive alerts about your system metrics from SigNoz?

[2022-01-19 11:20] pranay01 commented on #620
Sure @SoniaisMad assigning it to you. Feel free to ask questions if you need any help

[2022-01-19 11:43] prashant-shahi commented on #617
Hey @sagar30sept,

As discussed, could you please test our the custom built frontend image with  `coolboi567/frontend:0.5.4-unprivileged` or you can build your own image after overriding `frontend/Dockerfile` with [this Dockerfile](https://gist.githubusercontent.com/raw/34dcad73f165c15ddc9d4b0aae4e85ec).

You can execute the commands below:
[code]

Do let me know if this resolved the frontend issu

[2022-01-19 11:48] prashant-shahi commented on #617
Also letting you know that we will start working on making changes to helm chart to officially support SigNoz on OpenShift. :)

[2022-01-19 13:19] jhaan21 commented on #623
@pranay01 No problem. I believe there is an opportunity for both internal and customers wanting to be alerted if we have a service down. I think if you can just do multiple emails that will work for both internal and external.

[2022-01-19 14:09] praddy26 commented on #625
What is the expected timeline for this feature?

[2022-01-19 14:25] praddy26 commented on #625
I would like to work on this feature. Please assign me this issue.

[2022-01-19 14:50] pranay01 commented on #625
@ankitnayan Do we have tech requirements clear on this for someone to get started?

[2022-01-19 14:55] MuthukumarHelios commented on #625
@pranay01  are we planning to store the  user record(who has registered) in `singnoz database` ex: postgress or mongodb

[2022-01-19 15:09] ankitnayan commented on #625
@praddy26 we have already involved someone to start working on this soon. Would be great to have you get started into some other issue. Let me come back soon with something good to get started.

[2022-01-19 15:22] praddy26 commented on #625
@ankitnayan
Thanks for the advise.

[2022-01-20 12:10] prashant-shahi opened #632 "[install] Support for Openshift"
## Is your feature request related to a problem?

There were few issues while running SigNoz helm chart in Openshift. (Read more here: #617)
Openshift only allow non-root images as it adds extra layer of security to the containers.

## Version information
* **Signoz version**: main branch

## Additional context

- The base image of frontend nginx is root image. So, it should be resolved. Refer to

[2022-01-20 12:48] chickoocoutinho commented on #586
Hey, Can i take this issue up?

[2022-01-20 13:12] ybettan commented on #632
/cc @ybettan so I get track of the issue.

[2022-01-22 17:25] pranay01 opened #635 "Issues with uninstalling SigNoz and then installing again in M1 via Docker"
## Bug description

After installing successfully once, if one tries to uninstall following [this](https://signoz.io/docs/deployment/troubleshooting/#re-installing-signoz) and install again then containers don't start correctly

## Expected behavior

The uninstall and install again should work seemlessly

## How to reproduce

1. Install SigNoz via install script.
2. Uninstall via steps mentioned [

[2022-01-22 17:41] pranay01 opened #636 "Suggest to use another port if required port is already in use when installing SigNoz"
I tried installing SigNoz with another app which used port 3000. SigNoz installation failed as it uses port 3000 for showing the frontend.

It should suggest to use another port if required port is already in use when installing SigNoz. Another idea to reduce occurence of such issues is to use very uncommon ports by default. 3000 is a very common port.

[2022-01-22 17:43] pranay01 commented on #636
Do we really need so many ports for running SigNoz?

![Screenshot 2022-01-22 at 11 13 20 PM](https://user-images.githubusercontent.com/504541/150649636-260b4b07-c4a5-4688-bdef-660f089dfb86.png)

[2022-01-24 14:55] palash-signoz opened #641 "Feat(FE): Update Signup Page"
Update Signup page with new Design

[2022-01-25 05:46] #101 closed

[2022-01-25 05:46] #89 closed

[2022-01-25 05:46] #246 closed

[2022-01-25 05:46] #447 closed

[2022-01-25 05:47] #533 closed

[2022-01-25 06:07] ankitnayan commented on #545
Not building as this is not in Datadog UI or Figma

[2022-01-25 06:07] #545 closed

[2022-01-25 06:27] makeavish opened #644 "Refractor new trace filter APIs"
- [ ] Use constants
- [ ] Create more functions

[2022-01-25 13:25] SoniaisMad commented on #620
@pranay01 I am looking into this issue, but i don't understand the issue , what behavior is expected ?

Because when you have a widget configured, when i change my title for example, and hit apply, it works perfectly

[2022-01-25 13:29] SoniaisMad commented on #620
[Enregistrement de l’écran 2022-01-25 à 14.20.45.zip](https://github.com/SigNoz/signoz/files/7933865/Enregistrement.de.l.ecran.2022-01-25.a.14.20.45.zip)

[2022-01-26 06:22] pranay01 opened #645 "Check if SigNoz works for Windows Subsytem for Linux and report finidings"
Some users want to use SigNoz for [WSL]( https://docs.microsoft.com/en-us/windows/wsl/)

We don't have official support for it as of now, but would be great for somebody to test this and report findings.

[2022-01-27 00:29] mdg215199 opened #647 "api/v1/user 400 (Bad Request) with chrome"
## Bug description
When following helm documentation and deploying (i'm using AKS, but tried in docker k8s and get same), everything seems to work, but when I try to login, I get: api/v1/user 400 (Bad Request)

*Please describe.*
affects the front end.  I tried searching, there is not a lot of info on this, and i tried to find similar issues.  I found one, and it is merged in November 2021, and I

[2022-01-27 00:38] mdg215199 opened #648 "unable to click other pages when logging in on frontend"
## Bug description
run kubectl -n platform port-forward svc/signoz-frontend 3000:3000

log in, page takes you to:
http://localhost:3000/application

There is a video I can watch, but the menu item on the left is turned off, so I cant go to any page.  There might be an obvious that I'm missing, but I wasted about five or ten minutes trying to figure out how to activate the buttons.  Finally, i just

[2022-01-27 04:30] pranay01 commented on #647
@palash-signoz Can you check this issue? Since this is happening specifically for Chrome and firefox is fine, seems like a frontend issue

[2022-01-27 04:35] pranay01 commented on #648
hey @mdg215199 thanks for raising the issue.

@ankitnayan Could this be because helm charts were not pointing to latest version of SigNoz

@mdg215199 We recently updated instructions for deploying via Helm - https://signoz.io/docs/deployment/helm_chart/ Can you check if using this solves the issue?

[2022-01-27 05:30] palash-signoz commented on #647
@pranay01 this is not browser dependent if api is breaking it would be breaking in all browser ... let me check and get back to you

[2022-01-27 05:36] palash-signoz commented on #647
@mdg215199 Can you please share the curl ... just recently tested working fine for me

[2022-01-27 06:01] prashant-shahi opened #649 "[Feature Request] Standalone SigNoz set up for better quickstart experience"
## Is your feature request related to a problem? No.

## Describe the solution you'd like

Create an all in one docker image for standalone quickstart experience.

- Standalone image would make it quick to bring up SigNoz.
- As everything would be in a single image and hence fourth in a single container.
- Moreover, it would also be very easy to clean up when the user is done trying out SigNoz.

[2022-01-27 06:08] ayushk1804 commented on #649
I would like to work on this issue.

[2022-01-28 06:44] pranay01 opened #653 "Update docs with commands / Instructions on checking if ports are open"
Users should have a way to test if the SigNoz IP : PORT to which they are sending data from their application is open or not. This would help users figure out if they are not able to see any application data sent to SigNoz because of port not being open

Docs should also be updated with these instructions

[2022-01-28 08:03] pranay01 commented on #647
@palash-signoz Isn't this the same issue as this? - https://signoz-community.slack.com/archives/C01HWQ1R0BC/p1643297248030800?thread_ts=1643288783.029300&cid=C01HWQ1R0BC

[2022-01-28 18:29] amustaque97 commented on #486
Hi, I would love to work on this issue!

[2022-01-29 16:06] prashant-shahi opened #657 "[Feature Request] single binary creation - frontend build with the query-service"
## Is your feature request related to a problem? No.

It would be nice to have a single binary with the `frontend` build embedded in `query-service` go binary.

## Describe the solution you'd like

We can use `go.rice` to embed the `frontend` build with `query-service`.

https://github.com/GeertJohan/go.rice

## Additional context

It would help not only for getting started with SigNoz quickly but

[2022-01-30 15:15] pranay01 opened #658 "[Feature Request] Enables SLOs/SLIs in SigNoz"
## Is your feature request related to a problem?

No.

## Describe the solution you'd like

SLOs and SLIs are increasingly getting popular in devops orgs. Some users have mentioned that it would be good to have SLOs/SLIs built in SigNoz

## Describe alternatives you've considered

Not an alternative, but we can take some inspiration from this repo - https://github.com/pyrra-dev/pyrra

## Additiona

[2022-01-30 16:52] pranay01 commented on #486
@amustaque97 Assigned the issue to you

[2022-01-30 16:54] pranay01 commented on #620
@ankitnayan can you share what was the issue and check the video shared by @SoniaisMad

[2022-01-30 17:01] pranay01 commented on #586
@palash-signoz Are you working on it or @chickoocoutinho can take it up?

[2022-01-30 17:12] palash-signoz commented on #586
No @pranay01 ... Sure @chickoocoutinho

[2022-01-30 18:16] ankitnayan commented on #620
@SoniaisMad please find the issue as I see in this loom video https://www.loom.com/share/af4201de6b2c43d39cdca1a8236473b5

[2022-01-31 16:35] pranay01 opened #662 "Add mention and details of Helm charts repo in Contributing.md"
We have moved Helm Charts for SigNoz to a separate repo - https://github.com/SigNoz/charts

We should add mention to this repo in our contributing.md so that users can explore and contribute to it

[2022-01-31 17:41] ankitnayan commented on #653
Maintaining a troubleshoot repo https://github.com/SigNoz/troubleshoot

[2022-01-31 17:41] #653 closed

[2022-02-01 06:04] pranay01 opened #663 "Update docs with instructions on how to ingest & visualise Kubernetes infra metrics in SigNoz"
[This doc](https://signoz.io/docs/tutorial/kubernetes-infra-metrics/) details out steps for getting k8s infra metrics in SigNoz. However couple of use cases are missing.

1. What it SigNoz is running in a separate k8s cluster and a user wants to send metrics from another k8s cluster to SigNoz?
2. Above doc mentions steps to get aggregate k8s metrics. How can users also get metrics about each node

[2022-02-01 06:42] praddy26 commented on #657
Hello @prashant-shahi
I would like to work on this issue. Could you please assign me.

[2022-02-01 07:56] pranay01 commented on #657
Sure @praddy26 Assigned to you

[2022-02-01 11:41] chickoocoutinho opened #664 "Inconsistent Refresh button behaviour on metrics page"
## Bug description

When you change the DateTime to "Custom", the refresh button disappears but it doesn't reappear when you set it back to "Last x mins/days" option.
[https://signoz-community.slack.com/files/U02SREP0F3K/F030W996KT8/2022-02-01_16-06-10.mkv](url)

## Expected behavior
Refresh button must be present when the timeline is not set to "Custom"

## How to reproduce

1. Go to `/applicatio

[2022-02-01 11:42] chickoocoutinho commented on #664
Can I take this issue up?

[2022-02-01 11:44] pranay01 commented on #664
sure @chickoocoutinho but please discuss with @palash-signoz also once - as data time filter component can get tricky - and Palash has worked on many edge cases of it

[2022-02-01 12:23] chickoocoutinho commented on #664
@palash-signoz

The `refreshButtonHidden` state is toggled on button clicks and dropdown change. I was thinking of using an `useEffect` and directly linking it to `selectedTimeInterval` which properly toggles between Custom and others.

I've tested it out and it does not interfere with functionality since the "Refresh" button is hidden only when
`selectedTimeInterval === "custom"`

[2022-02-01 12:46] SoniaisMad commented on #620
@ankitnayan Thanks for the video and your detailed explanation, i understant better the issue now !
I'll work on it :)

[2022-02-01 17:49] pranay01 opened #665 "RPS and Application have a different time axis than Error Graph when 1 day is selected"
Expected Behavior - All charts in the metrics chart should have same time period as time axis, so that it is consistent for users

Refer to loom video for more details:

https://www.loom.com/share/d510613c52e84c87a79d436e1852c7c4

[2022-02-01 17:53] ankitnayan opened #666 "Change promql query for External call avg duration by http_url"
Use below query to remove `NA` results due rate of some http_urls being `0`
[code]

[2022-02-02 06:32] chickoocoutinho commented on #645
When running in WSL, hot reloading for the frontend doesn't work when the files are in the  Windows file system. You have to place the files in Linux file system for hot reloading to work.

### (WSL) Issue Details
https://github.com/microsoft/WSL/issues/6255
https://github.com/microsoft/WSL/issues/4739

[2022-02-02 09:20] pranay01 commented on #645
I see. Thanks for reporting @chickoocoutinho

[2022-02-02 10:24] coolboi567 opened #671 "[Dummy issue] Testing welcome bot"

[2022-02-02 10:30] #671 closed

[2022-02-02 10:40] rinshadka opened #672 "Access gRPC port using Traefik"
Install signoz in docker and while sending the trace data to signoz gRPC port directly its working perfectly.

But if we route the request via traefik, its not working. I have tried with setting up GRPC endpoint and defined backend using h2c  schema.

Please support, Thanks.

[2022-02-02 11:25] pranay01 commented on #672
hey @rinshadka Thanks for opening the issue.

Curious to learn, what's the use case for trying to send the route request via traefik. Can you share more details on what are you trying to achieve

[2022-02-07 03:44] pranay01 opened #678 "Add Slack Community link in the left panel"
## Is your feature request related to a problem?

Not a problem as such, but would be good to have.

## Describe the solution you'd like

Add slack link to the bottom of left panel in SigNoz, so that users can easily go to slack community to ask any questions from the product itself.
The user should be directed to https://signoz.io/slack in a new tab on clicking that link

## Describe alternatives

[2022-02-08 09:40] pranshuchittora opened #683 "Bug[FE]: Sidebar navigation does not when it is in collapsed state"
## Bug description
Sidebar navigation does not work when collapsed.

*Please describe.*
*If this affects the front-end, screenshots would be of great help.*

https://user-images.githubusercontent.com/32242596/152959304-20fa8619-8ea4-4328-b43d-4a53675aaf4f.mov

## Expected behavior
The user should be able to navigate.

## How to reproduce

1.  Collapse the sidebar
2. Click on any sidebar item

## V

[2022-02-08 15:52] polyglothacker opened #687 "Autocomplete for metrics in PromQL query when adding a dashboard"
## Is your feature request related to a problem? No

Prometheus and Grafana autocompletes the metric exported by Prometheus when we start typing.  This is a very useful feature as many metrics start with the same prefix.

## Describe the solution you'd like

Provide autocomplete drop-down like Grafana does (See image)

## Describe alternatives you've considered

## Additional context
Add any other

[2022-02-08 15:53] polyglothacker commented on #687
![graf](https://user-images.githubusercontent.com/97145793/153024466-7a018048-4ef2-4647-840a-e9ee630b811f.jpg)

[2022-02-08 16:02] polyglothacker opened #688 "Dashboard action buttons [Save, Apply, Discard] is in a blind spot"
## Bug description
The new dashboard action buttons are in the top right which is really in the user's blindspot after he has added the metrics. It is better positioned in the right bottom corner (just below the "Time Preference" section).

It took me help to figure out where the Save button is - also the color contrast doesn't help - it should be more prominent, especially in the black theme.

*P

[2022-02-08 16:03] polyglothacker commented on #688
![signoz3](https://user-images.githubusercontent.com/97145793/153026505-10760d33-5919-46a8-b59a-0f32aa179166.jpg)

[2022-02-08 17:12] pranay01 commented on #688
thanks @polyglothacker for opening the issue. We will look into it

[2022-02-08 17:14] pranay01 commented on #687
Yeah, this is something which we have in our pipeline. Understand that finding and typing exact text may be too cumbersome for users

[2022-02-08 18:27] #662 closed

[2022-02-08 18:33] polyglothacker opened #690 "Blocking Save dialog which feels unresponsive in retention metrics settings"
## Bug description

When saving retention metrics it looks like the process is allocating space for saving the data serially when OK is clicked on the dialog as it blocks for a noticeable period and you feel the application is unresponsive.

## Expected behavior

Instead the space creation for data should happen asynchronously and the dialog should return immediately, or at least show a spinning w

[2022-02-08 18:40] pranay01 commented on #690
Thanks for raising the issue @polyglothacker It seems its a firefox specific issue where the spinning wheel near Ok button is not being shown.

I tested this in chrome - and there is a spinning wheel which appears on the Ok button which gives user some feedback on this

https://www.loom.com/share/5616d5257afb4383bca987de97dbf777

[2022-02-09 11:11] pranay01 opened #691 "showing a URL to user after installing SigNoz in their infra rather than pointing to an IP"
One of the common issues which our users face is setting the right IP where they should be point there application to.
When SigNoz is installed, can we also create a proxy at the server so that it exposes a url where the applications should be pointed to.

It could be a random id generated which is shown to user after the install is successful. So something like - [org1234shsh.signoz.io]or [org123

[2022-02-09 18:02] #569 closed

[2022-02-09 19:49] makeavish opened #697 "Cache bug in frontend (v0.6.0)"
## Bug description

On chromium browsers when a user opens signoz app then the dashboard or trace or anyother page doesn’t load, but when you do cmd+shift+R the page loads fine.

## Version information
* **Signoz version**: v0.6.0
* **Browser version**: Brave Version 1.35.100 Chromium: 98.0.4758.87 (Official Build) (arm64)](https://brave.com/latest/)
* **Your OS and version**: MacOS 12.2 ARM64

##

[2022-02-10 03:52] pranay01 commented on #697
@makeavish Does this happen only for a repeat user ( someone who has opened SigNoz in the same browser earlier) or also for a new user ( who has never opened SigNoz in the same browser)?

[2022-02-10 04:14] makeavish commented on #697
Happens only for old user.

[2022-02-10 05:47] polyglothacker opened #700 "Parse error in PromQL causes a dead panel"
## Bug description

In PromQL query I mistakenly added two queries one after another like below
`mongodb_ss_opcounters{legacy_op_type="query"} mongodb_ss_opcounters{legacy_op_type="getmore"}`

Then I saved and the panel went dead with a parse error (no interaction buttons - cant delete as well)

*If this affects the front-end, screenshots would be of great help.*

## Expected behavior
Parse error

[2022-02-10 05:48] polyglothacker commented on #700
The screenshot shows how the panel looks like after the save - you can see all the interaction options have disappeared on RHS top.

[2022-02-10 05:51] polyglothacker commented on #700
There is a way to resurrect the panel - by dragging and dropping "time series" or "value" widgests into it - but still the issue is that the validation should happen before the user tries to save and not after causing a dead panel.

[2022-02-10 06:12] palash-signoz commented on #700
Hi @polyglothacker

In the Panel, there is an option that can help to edit and delete

<img width="133" alt="Screenshot 2022-02-10 at 11 40 29 AM" src="https://user-images.githubusercontent.com/88981777/153348375-eab5f0d8-a58f-48a5-addf-0d5ed27efccc.png">

[2022-02-10 06:14] palash-signoz commented on #700
Closing the issue for now. re-open if you find this is not working

[2022-02-10 09:50] polyglothacker commented on #700
I guess you missed the point - the screenshot shows the `full panel` and due to the parser error it is not rendering correctly - the edit/delete/maximize options *are missing*.

[2022-02-10 09:52] polyglothacker commented on #700
![signoz6](https://user-images.githubusercontent.com/97145793/153381946-23491873-e1f3-400c-85fc-46918fefd851.jpg)
The bigger picture (literally) should make it clear  I hope. See the 2nd from top panel on the left.

[2022-02-10 13:07] prashant-shahi opened #704 "[Feature Request] Integrate cobra and viper for managing configuration in query service"
## Is your feature request related to a problem? No.

We will need an organised configuration management in place and avoid using `os.GetEnv` directly in different files.

## Describe the solution you'd like

Integrating cobra and viper in query service:
- https://github.com/spf13/cobra
- https://github.com/spf13/viper

We will need to support environment variables, CLI flags and perhaps configura

[2022-02-10 16:17] polyglothacker commented on #700
Please mark this as important as today while evaluating signoz I ended up creating 3 "dead panels" and there is no way I can get rid of them - they are cluttering the UI. Thanks for the great work!

[2022-02-10 19:04] #486 closed

[2022-02-10 19:04] pranay01 commented on #486
sure, thanks for the contribution @amustaque97

[2022-02-11 07:01] polyglothacker opened #707 "Ability to Clone a Panel"
## Is your feature request related to a problem? No

When setting up Panels it would be nice to have the ability to `Clone` a panel when adding lots of similar metrics.

## Describe the solution you'd like

A `Clone this Panel` button from the Dashboard as one of the action buttons on the panel on right top. This will immediately clone the panel and also take you to the Edit mode of the new panel.

[2022-02-11 07:03] polyglothacker opened #708 "Ability to Clone an Alert"
## Is your feature request related to a problem? No

When creating a bunch of similar alerts it would be quite useful if one alert can be created and then cloned multiple times to create the rest of them.

## Describe the solution you'd like
Under `Actions` under `Alerts` for each alert - also add a `Clone` action which will copy the alert data to a new alert and then take the user immediately to

[2022-02-11 07:06] polyglothacker opened #709 "Ability to change type of a panel"
## Is your feature request related to a problem? No

It would be quite useful to convert a panel to/from time-series -> numeric and back. Datadog has this ability in the Edit of a panel and this would be a compelling/competing feature.

## Describe the solution you'd like

In the edit options add a type drop-down which will convert the panel to the other type (and in future -> to more possible typ

[2022-02-11 07:33] ankitnayan opened #710 "Make setting retention async"
## Is your feature request related to a problem?

Currently, setting retention can take a long time if a lot of data points has to be modified. Clickhouse does this async at background.

## Describe the solution you'd like
SigNoz's backend and frontend should not wait and block the UI. Rather it should say, request has been submitted and the UI should reflect wheneven it is done.

We can also show

[2022-02-11 07:34] ankitnayan commented on #690
apart from fixing spinner we should make the call async and non-blocking -> https://github.com/SigNoz/signoz/issues/710

[2022-02-11 10:35] #697 closed

[2022-02-11 15:17] jze2 opened #715 "Trace graph is misaligned"
## Bug description

![obrazek](https://user-images.githubusercontent.com/86746389/153616987-b3e12c50-2956-4570-883c-7350f4362f94.png)

## Expected behavior
I expect the right edge of the first orange bar to be aligned with the right edge of the last orange bar in the image (what is happening in the red rectangle I drew?).

## How to reproduce

1.
2.
3.

## Version information
* **Signoz version**:

[2022-02-11 15:32] jze2 opened #716 "Traces table sorting does not work"
## Bug description
Screenshots of traces table sorting after clicking on the Date column:
![obrazek](https://user-images.githubusercontent.com/86746389/153618758-aa4e0b71-c7ee-4a88-a357-9cde6270ec2c.png)
![obrazek](https://user-images.githubusercontent.com/86746389/153618848-25958e81-8405-439b-81bc-e8cde38d5b99.png)
![obrazek](https://user-images.githubusercontent.com/86746389/153618923-0f44a1be-c

[2022-02-11 16:58] pranay01 commented on #715
hi @jze2 Thanks for opening the issue. As of now the top flamegraph is not very accurate for complex traces. The bottom panel which shows the gantt chart view should be more accurate.

We are working on an improved trace flamegraph design which you can track in this issue https://github.com/SigNoz/signoz/issues/624

[2022-02-11 17:40] ankitnayan commented on #715
@jze2 Is it possible to return the API response on this page? Would help in replicating the flamegraph and check sanity. Also, works if you can DM me/Pranay on slack as Pranay mentioned or you can mask some data and provide it. Would be really helpful to debug.

[2022-02-11 17:44] SoniaisMad commented on #687
@pranay01 Can i try to work on this one ?

[2022-02-11 18:03] pranay01 commented on #687
@SoniaisMad Do you have prior understanding of Prometheus query language and Clickhouse - might be important for working on this issue.

[2022-02-12 05:40] #575 closed

[2022-02-12 05:41] #641 closed

[2022-02-12 06:26] pranay01 opened #717 "[Docs] PromQL Queries to build k8s infrastructure dashboards"
Currently users need to build their own PromQL queries to show data in SigNoz dashboard

One can take inspirations from:
https://grafana.com/grafana/dashboards/315
https://grafana.com/grafana/dashboards/6417

SigNoz's docs for metrics are available at https://signoz.io/docs/tutorial/kubernetes-infra-metrics/#list-of-metrics-from-kubernetes-receiver

[2022-02-12 12:21] ankitnayan opened #720 "Performance Report"
## Ingestion

- [ ] 100K spans/s
- [ ] 500K spans/s
- [ ] 1M spans/s
- [ ] 100K metrics per scraping interval (10s or 60s)

## Querying

the time taken by each page in signoz to respond back with below varying params

- [ ] time period chosen from datetime picker
- [ ] LHS filters in trace filtering page
- [ ] chart in trace filter page
- [ ] time to query a traceId say, 1 hr and 1 day back
- [ ]

[2022-02-12 15:38] pranay01 commented on #391
yeah @shashank99928 - disabling the button when webhook URL is not entered should be fine. Were you able to make any progress on this issue?

[2022-02-13 10:14] polyglothacker opened #721 "Very slow dashboard for K8S metrics"
## In what situation are you experiencing subpar performance?

Plotting K8s metrics which return a lot of data across multiple containers/pods

For my stage environment the following metrics as timeseries take a lot of time to preview/load  (See attached pic)

[code]

The worst performer is `k8s_container_memory_request` which is always the last to load.
The entire dashboard takes slightly more th

[2022-02-13 10:21] polyglothacker opened #722 "Get rid of the "Click a widget icon to ..." panel in the final dashboard layout #nicetohave"
## Is your feature request related to a problem? No

Let us say I want to add an even number of panels and make my dashboard look nice. Since signoz always adds the `Click to add widget here` panel even in the final layout this is not possible. Even becomes odd - odd becomes even.

## Describe the solution you'd like

Get rid of the `Click a widget icon to add it here` in the final dashboard layou

[2022-02-13 11:19] pranay01 commented on #722
@polyglothacker Thanks for opening the issue. Just trying to understand this better, is this concern just from a visual cleanliness point of view or there are some functional issues caused by it? Do you intend to project these dashboards on a monitors etc. which developers would also visually monitor?

As of now we don't have a construct of edit/view mode in dashboard. The section which shows the

[2022-02-14 06:18] makeavish commented on #460
I think this is picked by @prashant-shahi

[2022-02-14 06:32] polyglothacker commented on #722
Visual cleanliness and finish. Think of it as - if my wall is painted I dont want to see a paintbrush on the corner ?

[2022-02-14 06:42] #666 closed

[2022-02-14 06:43] #561 closed

[2022-02-14 07:00] ankitnayan opened #724 "K8s- Docker - VM IP grid"
Currently there is a lot of confusion on which IP to use to send data to signoz. Multiple scenarios lead to different IPs to connect to signoz. We shall share a matrix of scenarios depending on where signoz is installed and where is the application running.

SigNoz can run in:
- [ ] docker-compose
- [ ] kubernetes

Application can run in:
- [ ] a VM with vanilla deployment instructions
- [ ] a VM

[2022-02-14 07:16] prashant-shahi opened #725 "[Feature Request] show appropriate message in UI when query-service is not ready"
## Is your feature request related to a problem? Yes.

It takes query-service sometime to be READY in kubernetes.
Currently, we see empty page with "Not Found" message.

![frontend-ui](https://user-images.githubusercontent.com/11138844/153814265-f9e6ee83-82f2-4251-bf3f-bc66e440d757.png)

## Describe the solution you'd like

It would be nice to have a UI with appropriate message to wait for query s

[2022-02-14 08:05] jze2 commented on #716
That is constantly changing. Sometimes it is 8:02:58 (after the first cycle of clicking on Date's column sorting to get the highest value, after the second cycle of clicking on Date column is is just 8:02:21, .....). Also the highest page number is increasing (but the latest timestamp is just 8:02:58) - currently 41022. Tested at 8:59.

[2022-02-14 10:28] ankitnayan commented on #715
@jze2 I have tried explaining in this loom video.
https://www.loom.com/share/cc77e607302e41ec9e68d2e4f06a37aa

[2022-02-14 14:35] jze2 commented on #716
@pranay01 Even if it was limiting the number of traces to the first XXX, then it should not exhibit the behaviour above. Cannot test limiting the number of traces right now as I haven't found any sampling configuration within SigNoz, so I will have to figure out how to do it at input.

[2022-02-14 16:30] SoniaisMad commented on #687
@pranay01 I understand, i'll pass on this one, and take a much simple issue as i'm starting to contribute and don't know really well all the repository

[2022-02-14 16:33] pranay01 commented on #687
cool - there are some issues labeled as  good first issues which can be easier to get started with @SoniaisMad - https://github.com/SigNoz/signoz/issues?q=is%3Aissue+is%3Aopen+label%3A%22good+first+issue%22

[2022-02-14 16:34] SoniaisMad commented on #688
@pranay01 Can you assign me this one ?

[2022-02-14 17:25] pranay01 commented on #688
Sure @SoniaisMad Assigned it to you. Will share the design with you before you get started on this

[2022-02-15 07:32] prashant-shahi commented on #460
I had created series of PRs to ease down the troubleshoot across platforms.

https://github.com/SigNoz/troubleshoot/pulls?q=is%3Apr+is%3Aclosed

I think we can close this issue.
/cc @ankitnayan

[2022-02-15 07:58] SoniaisMad commented on #688
Thanks :)
I'll wait for the design to start then

[2022-02-15 08:41] palash-signoz commented on #725
@prashant-shahi in this case api return 404 which is a valid case and render error component with error message

[2022-02-15 10:06] palash-signoz opened #726 "Feat(UI): Sorting Params in Aggregates API"
## Is your feature request related to a problem?

*Please describe.*
in getFilteredSpans/aggregates API there should be params with sort=desc/asc which will sort the data accordingly

which will solve #718

[2022-02-15 13:29] ganny26 opened #728 "MySql logs are not captured in Database Calls tab"
## Bug description

From node js application after adding auto instrument to tracer file, captured db logs metrics not getting populated in Database Calls tab

*Please describe.*
*If this affects the front-end, screenshots would be of great help.*
<img width="1558" alt="image" src="https://user-images.githubusercontent.com/11629190/154070918-388125e4-5f06-441f-baa2-d78132c60474.png">
<img width="1

[2022-02-15 17:39] prashant-shahi opened #729 "Dashboard layout changes are not saved correctly"
## Bug description

The order of charts were changed with some charts taking up whole rows on centre.

Refreshing the page, I notice layouts changed randomly.

![Screenshot from 2022-02-15 23-01-25](https://user-images.githubusercontent.com/11138844/154117046-9f369692-a3ef-482a-a673-df51f44a6826.png)

## Expected behavior

Dashboard retaining position changes of charts.

## How to reproduce

1. Cr

[2022-02-15 17:42] prashant-shahi opened #730 "[Feature Request] Support import/export for dashboards"
## Is your feature request related to a problem? **No**

## Describe the solution you'd like

Users should be able export the dashboard and download JSON.
While we should support the same other way around: supporting JSON as import for creating new dashboard.

/cc @palash-signoz

[2022-02-16 02:56] makeavish commented on #726
Have to add one more param to the API and update the DB query accordingly.

[2022-02-16 03:04] makeavish opened #732 "Feat(Backend): Add support for DESC/ASC param for getFilteredSpans API"
## Is your feature request related to a problem?

Related to this issue: https://github.com/SigNoz/signoz/issues/716

## Describe the solution you'd like

Add support for DESC/ASC param for getFilteredSpans API in query service

[2022-02-16 03:06] makeavish commented on #726
We don't need to update aggregates API, also created new issue for backend: https://github.com/SigNoz/signoz/issues/732

[2022-02-16 03:06] makeavish commented on #732
Loom video to understand context: https://www.loom.com/share/64314df4036d4a5db9dd4407428f5ffd

[2022-02-16 04:07] palash-signoz commented on #587
Closing for ref: as not able able to see in the new UI

[2022-02-16 04:07] #587 closed

[2022-02-16 04:09] palash-signoz commented on #550
Closing as there is no such option in the new UI

[2022-02-16 04:09] #550 closed

[2022-02-16 04:18] #554 closed

[2022-02-16 04:25] palash-signoz commented on #381
Closing as this is not in the new UI

[2022-02-16 04:25] #381 closed

[2022-02-16 04:25] palash-signoz commented on #369
Closing as this is not in the new UI

[2022-02-16 04:25] #369 closed

[2022-02-16 05:50] prashant-shahi commented on #725
@palash-signoz Yes, you are right.
However, the message is unclear about what is "not found".

[2022-02-16 10:25] #724 closed

[2022-02-16 10:49] viljart opened #734 "query-service getOutboundIP crashes from behind firewall"
https://github.com/SigNoz/signoz/blob/5aa46c7e96e7c1acf853fb97da00180f36b881a7/pkg/query-service/telemetry/telemetry.go#L62

is this IP resolution absolutely needed!?

[2022-02-16 18:55] Siddhant-K-code commented on #498
Are we facing the same issue with the `dev` version? If it is so, then we have to change add some routes to handle `/`. Else I will look into it more.

[2022-02-17 05:39] pranay01 commented on #734
@makeavish Can you take a look at this. This shouldn't be crashing

[2022-02-17 07:50] pranay01 commented on #729
@palash-signoz Can this be taken in the current sprint after trace detail page?

[2022-02-17 07:55] #620 closed

[2022-02-17 07:58] #574 closed

[2022-02-17 08:01] pranay01 commented on #113
closing this issue as we have deprecated support for druid as datastore

[2022-02-17 08:01] #113 closed

[2022-02-17 08:02] pranay01 commented on #33
Added telemetry docs and opt out path here - https://signoz.io/docs/telemetry/

[2022-02-17 08:02] #33 closed

[2022-02-17 08:07] pranay01 commented on #86
This would potentially be useful even in new trace filter design

[2022-02-17 08:08] pranay01 commented on #86
@nishit-prasad are you still interested in working on this or I should unassign?

[2022-02-17 08:09] pranay01 commented on #78
@pranshuchittora Something to be taken care of in the new flamegraph implementation

[2022-02-17 08:13] pranay01 commented on #153
This is fixed not with new trace filter design in https://github.com/SigNoz/signoz/releases/tag/v0.6.0

[2022-02-17 08:13] #153 closed

[2022-02-17 08:14] pranay01 commented on #162
@pranshuchittora Pointers to keep in mind for flamegraph design

[2022-02-17 08:23] pranay01 commented on #166
@prashant-shahi Is this issue fixed now?

[2022-02-17 08:24] pranay01 commented on #200
flattener processor was only there for druid datastore setup. Support for druid as datastore is deprecated now

[2022-02-17 08:24] #200 closed

[2022-02-17 08:26] pranay01 commented on #225
@prashant-shahi Is this fixed now with the `ok-to-test` setup?

[2022-02-17 08:35] #238 closed

[2022-02-17 08:36] #242 closed

[2022-02-17 08:37] pranay01 commented on #237
Flattener processor was only part of the setup with druid as datastore. We have deprecated support for druid as a datastore

[2022-02-17 08:37] #237 closed

[2022-02-17 08:40] pranay01 commented on #250
No longer facing this issue with v0.6.0

[2022-02-17 08:40] #250 closed

[2022-02-17 11:04] prashant-shahi commented on #166
@pranay01yes  it is resolved.

We don't expose `8080` port of query-service anymore.

We only expose two ports by default in docker-compose YAML:
- `3301`  frontend port
- `4317` otel collector port

[2022-02-17 11:04] #166 closed

[2022-02-17 11:19] pranay01 commented on #354
this is fixed as in v0.6.0

[2022-02-17 11:19] #354 closed

[2022-02-17 11:23] pranay01 opened #735 "Page with List of active Alert channels should not have time filter"
## Bug description

Page with List of active Alert channels should not have time filter on top right corner

*If this affects the front-end, screenshots would be of great help.*

![Open source Observability platform SigNoz 2022-02-17 at 4 53 55 PM](https://user-images.githubusercontent.com/504541/154471823-596109c5-8f25-4716-9d24-b7fd6dda1c7d.jpg)

## Expected behavior

There is no need/use of tim

[2022-02-17 11:23] prashant-shahi commented on #225
yes, it is.

We are not pushing each images built from PRs to DockerHub, but rather using it k3d cluster created in CI to set up the preview environment.

[2022-02-17 11:23] #225 closed

[2022-02-17 11:28] #406 closed

[2022-02-17 11:30] pranay01 commented on #513
transferring to website repo as this issue seems to point to adding test cases on. https://signoz.io website, right @Harshal0902

[2022-02-17 11:31] pranay01 commented on #434
https://github.com/SigNoz/signoz/issues/434#issuecomment-999211156

[2022-02-17 11:31] #434 closed

[2022-02-17 11:33] runoono opened #736 "Otel Collector uses up significant amount of swap memory"
## In what situation are you experiencing subpar performance?

*Please describe.*

## How to reproduce

1. During prolonged runtime otel collectors will use a lot of swap and will continue until the OOME kicks in and kills the collector or until the user kills them

## Your Environment

- [x] Linux (Ubuntu 20.04 64 bit)
- [ ] Mac
- [ ] Windows

![image](https://user-images.githubusercontent.com/16

[2022-02-17 11:36] #683 closed

[2022-02-17 11:37] runoono commented on #736
turns out my machine didn't have swap limit support enabled. You should be able to see if your machine has it by doing `docker info` if you get something along the lines of:
`INFO[0781] GET /v1.21/info
Containers: 0
Images: 0
Server Version: 1.9.1
Storage Driver: aufs
 Root Dir: /var/lib/docker/aufs
 Backing Filesystem: extfs
 Dirs: 0
 Dirperm1 Supported: true
Execution Driver: native-0.2
Logging

[2022-02-17 11:37] #736 closed

[2022-02-17 11:37] pranay01 commented on #522
v 0.6.0 and later doesn't have Server and Client drop down

[2022-02-17 11:37] #522 closed

[2022-02-17 11:40] pranay01 commented on #736
hey @runoono thanks for opening the issue and also adding the solution. Will confirm it from our end also and add in the docs.

[2022-02-17 11:44] pranay01 commented on #547
@prashant-shahi we do have codeowners set up in the repo now right? Can this be closed

[2022-02-17 11:46] pranay01 commented on #589
@prashant-shahi Does this issue still persist after latest helm chart improvements?

[2022-02-17 11:49] pranay01 commented on #525
This should be solved with v0.6.0 where trace filter page is redesigned

[2022-02-17 11:49] #525 closed

[2022-02-17 12:07] prashant-shahi commented on #547
yes, we have codeowners set up for the repo. #633

Closing the issue.

[2022-02-17 12:07] #547 closed

[2022-02-17 13:36] pranay01 commented on #506
this is expected behavior. Users need to be in a particular directory to run install.sh

[2022-02-17 13:37] pranay01 commented on #544
this is not there in trace filter page UI from v0.6.0

[2022-02-17 13:37] #544 closed

[2022-02-17 13:43] pranay01 commented on #644
@makeavish Is this done?

[2022-02-17 15:41] Doxify commented on #732
I'd like to tackle this issue if its still available!

[2022-02-17 15:47] Doxify commented on #732
For sure! I'll do some research today after work and I'll reach out with my questions.

[2022-02-18 11:07] pranshuchittora opened #738 "Footer takes significant space on the page and does not add much value."
## Description
The footer on the FE takes valuable space and does not add much value.

<img width="1440" alt="Screenshot 2022-02-18 at 16 34 07" src="https://user-images.githubusercontent.com/32242596/154671257-53a7ad95-4ef2-42cf-965b-753cbf6609be.png">

We can remove this and place the copyright SigNoz Inc on some other page or show the footer only on home/login/signup page

[2022-02-18 11:16] pranshuchittora opened #739 "Move the theme change toggle to better place."
## Description
1. The theme change toggle's placement is incorrect as it is being placed at the most important place i.e. top left, ideally it should be place in the top right as it's not the highlight of the product.

<img width="385" alt="Screenshot 2022-02-18 at 16 39 12" src="https://user-images.githubusercontent.com/32242596/154672117-1e221f43-b394-4d53-a54c-e1fd571d70aa.png">

2. There's no

[2022-02-19 17:59] not-so-rabh commented on #735
@pranay01 I would like to work on this!

[2022-02-19 18:08] pranay01 commented on #735
Sure @not-so-rabh - assigned to you. feel free to ask any questions you may have

[2022-02-20 17:50] makeavish opened #740 "Outdated Query Service README"
The [README.md](https://github.com/SigNoz/signoz/blob/develop/pkg/query-service/README.md) file docs in query-service is outdated.
Have to be updated by following this doc: https://github.com/SigNoz/signoz/blob/develop/CONTRIBUTING.md#contribute-to-query-service

[2022-02-20 20:20] udasitharani commented on #739
I would like to work on this.

[2022-02-20 20:21] udasitharani commented on #738
I would like to pick this one too

[2022-02-21 03:21] pranay01 commented on #738
hey @udasitharani Let's start with this one. Assigning to you

[2022-02-21 19:30] udasitharani commented on #738
Awesome! Thanks

[2022-02-21 20:04] udasitharani commented on #738
So I am a bit confused on the home and login pages.
1. Not sure what page is the home page. If it is the metrics page, I (having a knack for UX) suggest we remove the footer from home page too.
2. I couldn't find any login page.

Hence, removing the footer from all the pages except the signup page for now.
Let me know if we would want to retain the footer on any other page.

[2022-02-21 20:24] udasitharani opened #749 "UX Improvement - Feedback FAB"
## Is your feature request related to a problem?

Having the chat floating button on the bottom right corner in every single page is a bit annoying. From a user PoV, I want to see my data, but this sometimes catches my attention and I find it annoying.

## Describe the solution you'd like

Remove the floating button. But since feedback is crucial for us, let's add something in the side bar for thi

[2022-02-22 04:11] pranay01 commented on #749
That's a good suggestion @udasitharani  Can you raise a PR removing this component from all pages. We are adding a link for slack community on the left side panel. Here's a PR which has been approved for that - https://github.com/SigNoz/signoz/pull/719

Can you check if removing the Feedback FAB  and above PR (adding slack link) works well together?

[2022-02-22 04:18] udasitharani commented on #749
Sure. I would be happy to take that

[2022-02-22 05:18] makeavish commented on #734
Acknowledged the issue.
Will create a PR soon.

[2022-02-22 05:27] palash-signoz commented on #517
yes @pranay01 it just css only... easy to implement

[2022-02-22 05:28] palash-signoz commented on #729
yes @pranay01 we can take this up after trace detail page

[2022-02-22 08:43] makeavish commented on #687
Prometheus Integrates this using codemirror-promql:
https://github.com/prometheus/codemirror-promql
Maybe we can integrate this^

Prometheus has integrated it over frontend, eg: https://github.com/prometheus/prometheus/blob/431ea75a11ca165dad9dd5d629b3cf975f4c186b/web/ui/react-app/src/pages/graph/CMExpressionInput.tsx

[2022-02-22 12:27] makeavish commented on #734
Here's the fix PR: https://github.com/SigNoz/signoz/pull/750

[2022-02-22 12:34] makeavish commented on #732
@Doxify Looks like you have been busy.
Should I pick this task?

[2022-02-22 12:35] itzikiusa opened #751 "Upgrade to clickhouse versions v2"
Hi,
can clickhouse client be upgraded to V2?
both collector and query service

in some tests i did, it improves ingestion rate drastically (400%)
and also select query are improved(mainly if large data is being extracted, around 200%)

also, go version upgrade?
and a lot of dependencies having old versions......

Thanks!

[2022-02-22 12:36] makeavish opened #752 "Feat(Backend): Add new hasError column to signoz_index table"
This is requirement by frontend to be able to mark/highlight error spans.

[2022-02-22 12:53] makeavish commented on #751
Hey @itzikiusa, thanks for the suggestions!
We have already have clickhouse-v2 upgrade PR ready for collector (https://github.com/SigNoz/opentelemetry-collector-contrib/pull/9).
Haven't started on migration for query-service though.
Would be great if you can create PR to upgrade clickhouse version for query service and also share stats on query improvement (if you have).

[2022-02-22 14:41] Doxify commented on #732
Yeah -- sorry about this.

[2022-02-22 16:55] makeavish commented on #732
No issues, you can other task whenever you are free.
Thanks 😄

[2022-02-22 17:01] makeavish commented on #732
Apparently the DESC/ASC support already exists in getFilteredSpans API: https://github.com/SigNoz/signoz/blob/05c79b71190decb76bee79e535ef3251090a0cd7/pkg/query-service/app/clickhouseReader/reader.go#L1714

Example curl:
[code]

[2022-02-22 17:01] #732 closed

[2022-02-22 17:03] makeavish commented on #726
Apparently the DESC/ASC support already exists in getFilteredSpans API: https://github.com/SigNoz/signoz/blob/05c79b71190decb76bee79e535ef3251090a0cd7/pkg/query-service/app/clickhouseReader/reader.go#L1714

Example curl:
[code]
@palash-signoz Please update the API request on frontend.
cc: @pranshuchittora @ankitnayan

[2022-02-22 17:41] makeavish commented on #644
I did complete this but had too many merge conflicts (due to changes to source).
Will fix merge conflicts and raise the PR soon.

[2022-02-23 02:49] palash-signoz commented on #738
@pranshuchittora @pranay01 can you please help here in which pages do we need to remove footer as @udasitharani is seems confused here

[2022-02-23 02:57] palash-signoz commented on #664
Possibly we can turn it back on when ```selectedTimeInterval !== "custom"```

[2022-02-23 03:02] palash-signoz commented on #739
@udasitharani sure go for it

[2022-02-23 03:06] palash-signoz opened #754 "Bug(FE): Trace Filter Table Date is in Incorrect Format and displaying wrong value"
## Bug description

*Please describe.*
*If this affects the front-end, screenshots would be of great help.*

In Trace Filter page: Date seems in incorrect format as it is displaying months in place of minutes thanks to @pranshuchittora to point out the typo

## Expected behavior

1. Table date should be in 12 hr format
1. Date should be in the correct format

[2022-02-23 06:50] itzikiusa commented on #751
@makeavish
i'm working with different version then original(using clickhouse MV and different web framework, also removed druid support)

[2022-02-23 12:41] pranay01 commented on #644
ok

[2022-02-23 12:46] pranay01 commented on #517
cool @palash-signoz - Is this the PR which fixes this? -https://github.com/SigNoz/signoz/pull/755

[2022-02-23 12:47] palash-signoz commented on #517
Yes @pranay01

[2022-02-24 03:48] yadav6554 opened #757 "Issue with query-service service not starting"
## Bug description
Attached screen shot of query-service not being started :
Error:
2022-02-23T13:13:42.269Z INFO clickhouseReader/reader.go:559 SELECT id, updated_at, data FROM rules
panic: runtime error: invalid memory address or nil pointer dereference
[signal SIGSEGV: segmentation violation code=0x1 addr=0x40 pc=0xa2d328]

## How to reproduce

1. Followed this https://signoz.io/docs/install/do

[2022-02-24 10:39] axaysagathiya commented on #740
had a talk with the [udasitharani](https://github.com/udasitharani). he allowed me to raise a PR.
@makeavish can you please review my PR.

[2022-02-24 11:07] yadav6554 commented on #757
Retried everything and it works fine now. Apologies for the inconvenience caused.

[2022-02-24 11:07] #757 closed

[2022-02-24 11:07] pranay01 commented on #757
cool - no issues :)

[2022-02-24 18:40] pranay01 commented on #738
@udasitharani Yeah - this should be fine to keep it only in signup page, and removing from other pages

This PR seems fine from a functionality perspective @palash-signoz

[2022-02-24 18:51] pranay01 commented on #739
@udasitharani This would also need some UX input.

We were thinking of use what docusaurus uses on its main page https://docusaurus.io/

![Screenshot 2022-02-25 at 12 13 35 AM](https://user-images.githubusercontent.com/504541/155587384-9a2b9f7c-db09-449d-b4c6-308ff301c215.png)

Though, I not sure on the location it should be put at - we can put at top right corner as it has date time filter and I

[2022-02-25 08:40] #517 closed

[2022-02-25 08:40] #754 closed

[2022-02-25 09:35] makeavish commented on #272
@itziklavon I know it has been long time but If possible can you please provide example of query-service?
We have started improving table structure so it would be great help.

[2022-02-25 11:35] #740 closed

[2022-02-25 11:36] #678 closed

[2022-02-25 14:38] #566 closed

[2022-02-25 15:45] ankit01-oss opened #773 "Too many decimal points in duration time variable"
There is no need for 3 decimal points in duration filter here and in other places where duration is shown. We can follow a rule of max three digits for any `duration` including the decimal places. So, if it's `1000ms` it can be shown as `1s`.
<img width="274" alt="Screenshot 2022-02-25 at 8 38 30 PM" src="https://user-images.githubusercontent.com/83692067/155738532-de9fc5c9-7c51-486e-a978-64ff5c6c

[2022-02-25 15:51] ankit01-oss opened #774 "Duration slider gets stuck when `min==max`"
The duration slider gets stuck if `min==max`
<img width="269" alt="Screenshot 2022-02-25 at 9 18 27 PM" src="https://user-images.githubusercontent.com/83692067/155744950-dd362ed9-3143-43ba-b218-e6b9fc99cd35.png">

[2022-02-25 15:57] ankit01-oss opened #775 "Clicking on any drop down refreshes graph"
Clicking on the dropdown of any filter headings like `Status`, `Service Name`, `Operation`, etc. refreshes the graph which does not seem ideal.

The graphs should only be refreshed if I have selected or unselected a filter.

<img width="282" alt="Screenshot 2022-02-25 at 9 24 56 PM" src="https://user-images.githubusercontent.com/83692067/155746091-d6bbc7ee-810e-4caf-87bd-72b561157c5e.png">

[2022-02-25 16:01] ankit01-oss opened #776 "The input box of duration filter updates the user input to some value"
I tried inputting `110` in the `min` input box. The duration updates automatically to `161.339 ms`. The data is from the sample HOT rod application.

<img width="276" alt="Screenshot 2022-02-25 at 9 29 59 PM" src="https://user-images.githubusercontent.com/83692067/155746851-d03ffabc-dd9b-4389-882b-9b71b0642a49.png">

[2022-02-25 17:00] pranay01 commented on #734
fixed by #750

[2022-02-25 17:00] #734 closed

[2022-02-25 17:07] pranay01 commented on #548
This issue is now solved with new trace filter page released with v0.6.0

[2022-02-25 17:07] #548 closed

[2022-02-26 05:13] ankit01-oss opened #780 "`AM-PM` should be mentioned in time filter on time filter"
## Bug description
There is no `a.m-p.m` in timestamps of time filter. This might confuse a user. Also, as we are having that in all other places, it would be consistent.

<img width="406" alt="Screenshot 2022-02-26 at 10 37 57 AM" src="https://user-images.githubusercontent.com/83692067/155830088-bfef5d70-18d7-4782-81c3-69ac6d8258b1.png">

## How to reproduce

1. Go to metrics tab
2. Choose a time

[2022-02-26 05:19] ankit01-oss opened #781 "`Refresh` button disappears after applying custom timestamps"
## Bug description

The `refresh` button disappears after using custom timestamps and clicking on `apply`

<img width="257" alt="Screenshot 2022-02-26 at 10 45 38 AM" src="https://user-images.githubusercontent.com/83692067/155830219-120f7e33-2f56-42f9-9cb6-6ed3ecb76019.png">

<img width="365" alt="Screenshot 2022-02-26 at 10 48 39 AM" src="https://user-images.githubusercontent.com/83692067/1558302

[2022-02-26 05:23] ankit01-oss opened #782 "Typo - `)` closing bracket missing in `Function` filter dropdown"
## Bug description
`)` closing bracket missing in Function filter dropdown on trace filter page.

<img width="258" alt="Screenshot 2022-02-26 at 10 52 11 AM" src="https://user-images.githubusercontent.com/83692067/155830364-f4456dd9-29ae-40ed-8122-41830bb68b32.png">

## Version information
* **Signoz version**:v0.6.2
* **Browser version**: Chrome
* **Your OS and version**: macos
* **Your CPU Archi

[2022-02-26 06:16] ankit01-oss opened #783 "Duration in input boxes doesnot update while changing the filters back"
## Bug description
The value input box of duration does not show updated data when the filters are changed.

Notice the data inputs:
`Min` = 0.019 ms
`Max` = 1450.837 ms

Status filters selected
`ok` and `error`
<img width="270" alt="Screenshot 2022-02-26 at 11 40 42 AM" src="https://user-images.githubusercontent.com/83692067/155831972-0c1320b2-607a-40fb-a40f-b521640cc16f.png">

Notice the data in

[2022-02-26 06:51] ankit01-oss opened #784 "Using the dropdown for filter headings reselects the checkboxes"
## Bug description
Using the dropdown for filter headings reselects the checkboxes, while other checkboxes remain same. But number are according to the state of all selected checkboxes. Please check the screenshots below for more clarity:

### State 1
All checkboxes are selected under `Status` and `Service Name`
<img width="277" alt="Screenshot 2022-02-26 at 12 02 37 PM" src="https://user-images.g

[2022-02-26 06:56] ankit01-oss opened #785 "The number of span counts on a combination of filters does not match"
As you can see from the screenshot:
Number of spans under `Operation` for `SQL Select` = 250
while the number of spans under `Status` and `Service` shows 278
<img width="1238" alt="Screenshot 2022-02-26 at 12 24 31 PM" src="https://user-images.githubusercontent.com/83692067/155833287-fc94765b-975a-4ea1-895a-0c31eab215cf.png">

## Version information
* **Signoz version**: v0.6.2
* **Browser version

[2022-02-26 07:13] ankit01-oss opened #786 "Duration in `ns` is not user-friendly to read"
We can use seconds or ms for better readability.

Taken from the `traces-filter` page after selecting `Sum(duration in ns)`
<img width="965" alt="Screenshot 2022-02-26 at 12 40 25 PM" src="https://user-images.githubusercontent.com/83692067/155833799-39d391b4-ce98-472b-acb4-3fc1398d32ea.png">

## Version information
* **Signoz version**: v0.6.2
* **Browser version**: chrome
* **Your OS and version*

[2022-02-26 07:19] ankit01-oss opened #787 "Unintuitive to user if they can scroll to access more legends"
While I deselected all legends for filter combination of `Count` by `Operation`, there was still one line-graph left. Took me some time to figure out that the legends can be scrolled down.

<img width="955" alt="Screenshot 2022-02-26 at 12 46 03 PM" src="https://user-images.githubusercontent.com/83692067/155833993-81ad40f6-8639-4828-b23e-31cd72973ae2.png">

## Version information
* **Signoz versio

[2022-02-26 07:27] ankit01-oss opened #788 "Y-axis label updates to a different scale when no legends are selected"
The y-axis label updates to a completely different scale when the `GET` method is deselected. This happens in all cases where no legend is selected. I think the label should be maintained.

<img width="969" alt="Screenshot 2022-02-26 at 12 54 59 PM" src="https://user-images.githubusercontent.com/83692067/155834253-09688c7e-b0e6-4971-b27c-ef46707ebb72.png">

<img width="967" alt="Screenshot 2022-02

[2022-02-26 11:02] itzikiusa commented on #272
Hi, there are a lot of internal services i use(for clickhouse connection, query, scanning, and for all applicaiton structure, it willl be very hard to understand, i'll put here the tables + the dao queries

Tables:
[code]

[2022-02-26 11:10] itzikiusa commented on #272
@makeavish
you can ping me if you have any questions

[2022-02-26 11:12] itzikiusa commented on #272
this is working example with v1.5 of clickhouse:
https://github.com/itziklavon/signoz

BTW, it is the same person :)
i just have few accounts

[2022-02-27 10:54] palash-signoz opened #790 "Bug: Trace Search Tag is not parsing the query into the right format and select operator is behaving weird"
## Bug description

https://cln.sh/aWVnml

[2022-02-27 16:58] aryanshridhar commented on #517
Cool!

[2022-02-28 04:11] ankitnayan commented on #364
upgraded to `v0.43.0`

[2022-02-28 04:11] #364 closed

[2022-02-28 04:18] pranay01 commented on #364
@ankitnayan Where was the PR for this? In otel contrib repo? Would be good to link it here for future reference

[2022-02-28 04:46] polyglothacker opened #792 "Random dead panel issue"
## Bug description

Created a panel using valid PromQL (don't recall the query - but this was Mongo related). Saved the panel and it rendered well.
However after some time (as in a few reloads) the panel stopped working with a random error (see attached). Now I can't remove or edit the panel.

Running from branch main, commit id: 3302a84ab579c12bc2e2443d8e0e69a1851a4fec

## Expected behavior

## H

[2022-02-28 04:51] polyglothacker opened #793 "Panel layout is not persisted on Save"
## Bug description

I have Signoz running reverse proxied by Nginx on a VPS instance. The problem is even after I re-arrange the panels in a dashboard and save it multiple times, whenever I reload the panel layout reverts to the original one.

*If this affects the front-end, screenshots would be of great help.*

## Expected behavior

Upon save the panel layout must persist and (of course) remain t

[2022-02-28 07:18] ankitnayan commented on #364
@pranay01  It was a complete upgrade and added a new branch at https://github.com/SigNoz/opentelemetry-collector-contrib/tree/signoz-v0.43.0

We need to define process to maintain otel-collector-contrib going further.

[2022-02-28 10:28] prashant-shahi commented on #589
@pranay01 yes, we still have this issue because of ClickHouse operator and associated resources aren't deleted when helm release is deleted.

Unfornately for removing the same, we will have to either manually `kubectl delete` those resources or delete the namespace itself.

[code]

Read more here: https://signoz.io/docs/operate/kubernetes/#uninstall

[2022-02-28 11:13] makeavish opened #794 "Clean Query-service"
- [x] Remove Druid (as it's deprecated)
- [x] Remove redundant endpoints

[2022-02-28 12:11] pranay01 commented on #364
ok

[2022-02-28 14:06] pranay01 opened #797 "Issues restarting SigNoz via docker compose after shutting down docker desktop"
I had installed SigNoz v0.6.2 properly and it was running fine yesterday. Then I shut down my docker ( I was running on my Macbook M1 pro).

I tried restarting SigNoz today again.

Tried 2 methods
1.  `sudo docker-compose -f docker/clickhouse-setup/docker-compose.arm.yaml up` from `deploy` folder  - this gave me the following error
![Screenshot 2022-02-28 at 7 33 47 PM](https://user-images.githubu

[2022-02-28 14:12] pranay01 commented on #797
On doing docker compose down, its not able to stop cleanly

![Screenshot 2022-02-28 at 7 42 12 PM](https://user-images.githubusercontent.com/504541/155997608-952490e0-7ce7-4699-82b0-c8eebd35b68f.png)

[2022-03-02 11:01] meyvan commented on #623
wouldnt it be better to build a generic webhook input ? and do whatever you want with it when you receive an event. I understand that is extremely important but having a webhook  would solve most of the customer's problems since they can build it themselves and allows the team to focus to pushing other features for the time being

[2022-03-02 11:07] pranay01 commented on #623
thats a good point @meyvan  Would enabling webhook's also add email as a channel?

[2022-03-02 12:56] meyvan commented on #623
Yup, infact you dont even need slack as a channel, since the data is transferred on a per-event basis, the webhook is responsible for transferring internally or externally to any systems they prefer including but not limited slack, email, another datawarehouse for compliance storage etc... From signoz point only webhook should be supported. No need to unneccesarily maintain intregations. The sprin

[2022-03-03 03:17] burntcarrot commented on #704
Hi @prashant-shahi! I'd like to take up this issue; could you assign it to me?

[2022-03-03 12:54] #782 closed

[2022-03-03 12:58] #716 closed

[2022-03-03 13:40] #790 closed

[2022-03-03 13:45] pranay01 commented on #715
fixed by #764  - Updated trace detail page design

[2022-03-03 13:45] #715 closed

[2022-03-03 13:46] pranay01 commented on #624
fixed by https://github.com/SigNoz/signoz/pull/764 - Updated trace detail page design

[2022-03-03 13:46] #624 closed

[2022-03-03 13:46] pranay01 commented on #563
fixed by https://github.com/SigNoz/signoz/pull/764 - Updated trace detail page design

[2022-03-03 13:46] #563 closed

[2022-03-03 13:47] pranay01 commented on #519
fixed by https://github.com/SigNoz/signoz/pull/764 - Updated trace detail page design

Please reopen if the issue persists

[2022-03-03 13:47] #519 closed

[2022-03-03 13:47] pranay01 commented on #442
fixed by https://github.com/SigNoz/signoz/pull/764 - Updated trace detail page design

[2022-03-03 13:47] #442 closed

[2022-03-03 13:47] pranay01 commented on #282
fixed by https://github.com/SigNoz/signoz/pull/764 - Updated trace detail page design

[2022-03-03 13:47] #282 closed

[2022-03-03 13:48] pranay01 commented on #178
fixed by https://github.com/SigNoz/signoz/pull/764 - Updated trace detail page design

[2022-03-03 13:48] #178 closed

[2022-03-03 13:48] pranay01 commented on #162
fixed by https://github.com/SigNoz/signoz/pull/764 - Updated trace detail page design

[2022-03-03 13:48] #162 closed

[2022-03-03 13:48] pranay01 commented on #161
fixed by https://github.com/SigNoz/signoz/pull/764 - Updated trace detail page design

[2022-03-03 13:48] #161 closed

[2022-03-03 13:48] pranay01 commented on #159
fixed by https://github.com/SigNoz/signoz/pull/764 - Updated trace detail page design

[2022-03-03 13:48] #159 closed

[2022-03-03 13:49] pranay01 commented on #78
fixed by https://github.com/SigNoz/signoz/pull/764 - Updated trace detail page design

[2022-03-03 13:49] #78 closed

[2022-03-03 13:58] pranay01 commented on #728
More discussion on this here - https://signoz-community.slack.com/archives/C01HWQ1R0BC/p1644931782858929?thread_ts=1644680048.871169&cid=C01HWQ1R0BC

[2022-03-03 14:04] pranay01 commented on #515
this is fixed in v0.6.2

[2022-03-03 14:04] #515 closed

[2022-03-03 14:06] pranay01 commented on #163
fixed by https://github.com/SigNoz/signoz/pull/764 - Updated trace detail page design

[2022-03-03 14:06] #163 closed

[2022-03-03 14:06] pranay01 commented on #531
fixed by https://github.com/SigNoz/signoz/pull/764 - Updated trace detail page design

[2022-03-03 14:06] #531 closed

[2022-03-03 14:08] pranay01 commented on #45
Spans with errors are now shown in red in flamegraph
fixed by https://github.com/SigNoz/signoz/pull/764 - Updated trace detail page design

[2022-03-03 14:08] #45 closed

[2022-03-03 14:09] pranay01 commented on #186
fixed by https://github.com/SigNoz/signoz/pull/764 - Updated trace detail page design

[2022-03-03 14:09] #186 closed

[2022-03-03 14:11] pranay01 commented on #500
solved by #505

[2022-03-03 14:11] #500 closed

[2022-03-03 14:20] pranay01 opened #812 "feat: Enable S3 storage for Clickhouse"
Enabling S3 storage for ClickHouse will enable users to set up long term data retention in S3 without need to worrying about disk usage when running SigNoz

[2022-03-03 14:29] pranay01 opened #813 "feat: Enable users to configure sampling of traces"
## Is your feature request related to a problem?

Sending events data without sampling makes the ingestion rate very high which leads to higher resource requirements. Some users may be comfortable with capturing only sampled data if they don't need high granularity in traces data.

## Describe the solution you'd like

OpenTelemetry collector provides sampling processors like[ Probabilistic Samplin

[2022-03-03 14:31] pranay01 commented on #813
Some relevant discussions:

[2022-03-05 11:31] ankit01-oss opened #826 "Duration sorting in events table of `Trace-filter` page"
## Bug description

The events table in `Trace Filter` page used to have sorting for duration and also other columns. It's not there in the latest release.

<img width="1075" alt="Screenshot 2022-03-05 at 4 59 15 PM" src="https://user-images.githubusercontent.com/83692067/156881090-5ac7e194-6e27-47e1-a696-171dee3c97dd.png">

From our [user guide](https://signoz.io/docs/userguide/traces/)
<img widt

[2022-03-05 18:09] pranay01 commented on #781
this is as expected, as in custom time period - specific time period in past is chosen. So need to refresh it

[2022-03-05 18:09] #781 closed

[2022-03-05 18:17] pranay01 opened #827 "SigNoz version number and system status within the dashboards/UI"
Currently, SigNoz version number only appears in the Sign Up page. It is not shown within the UI anywhere after that.

It would be good to understand for users which version they are on, so that they can upgrade when new version is released or even use this to raise Github issues etc.

[2022-03-07 04:59] pranay01 commented on #827
We should also suggest users that a new version is available if they are on older versions, so that they can access the lastest features

[2022-03-07 05:09] pranay01 commented on #827
![Screenshot 2022-03-07 at 10 38 43 AM](https://user-images.githubusercontent.com/504541/156971628-e807407d-0b39-488f-bba8-b5056d155494.png)

[2022-03-07 07:08] #460 closed

[2022-03-07 08:01] #752 closed

[2022-03-07 08:03] makeavish commented on #752
https://github.com/SigNoz/signoz/pull/756

[2022-03-07 08:09] prashant-shahi commented on #717
I had created a set of PromQL queries for the same.
However, since there is no varying k8s metrics, there were flat graphs.
Also, it would be more convenient with import/export feature - can be tracked here #730

[2022-03-07 08:38] prashant-shahi commented on #663
related #717

[2022-03-07 09:03] prashant-shahi commented on #827
We can make the API call equivalent to the following command from the UI/Backend and compare the same with current version.
[code]
Also, note that the API may fail in case of a firewall blocking public internal network calls.

[2022-03-07 09:18] pranay01 commented on #725
@prashant-shahi We already have a not found page - would a message like this be appropriate? Do we expect this to get ready in 2-3 minutes or does it take more time?

`SigNoz is getting setup. Please check back in 2-3 mins...
`
![query-service-not-ready](https://user-images.githubusercontent.com/504541/157002281-edd81ccc-bc04-47b7-a1a5-30c77f034c09.png)

[2022-03-07 10:01] prashant-shahi commented on #725
yes, that UI looks good. Except for the sidebar on the left. They wouldn't work anyways if query-service is not ready yet.

Actually a status page UI would be nice: showing `READY` status of all SigNoz components.
- clickhouse
- query service
- otel collector
- otel collector metrics

[2022-03-07 10:28] ankitnayan commented on #476
@rajdas98 would you like to pick this up? We can discuss and implement this.

[2022-03-07 15:41] pranay01 commented on #827
We can create a section with system status and guide to upgrade. Design iterations

![base](https://user-images.githubusercontent.com/504541/157066650-45d08e4c-5a54-4fa8-a821-a877ddd6aa69.png)
![selected](https://user-images.githubusercontent.com/504541/157066638-2116aef0-86dd-4993-b830-98085c6913f6.png)

[2022-03-07 18:35] pranay01 opened #832 "Header in `Top Endpoint` section overflows in browser with reduced width"
## Bug description

Header in `Top Endpoint` section overflows in browser with reduced width

## Expected behavior

Header shouldn't overflow

## How to reproduce

1. Go to SigNoz dashboard metrics page with reduced browser window width
2. Open any application
3. Top Endpoint panel header appears overflowing

## Version information
* **Signoz version**: v0.7.1
* **Browser version**: Version 98.0.4

[2022-03-08 04:17] pranay01 commented on #826
@palash-signoz is this issue fixed?

[2022-03-08 05:38] palash-signoz commented on #726
Solves via https://github.com/SigNoz/signoz/pull/718

[2022-03-08 05:38] #726 closed

[2022-03-08 06:36] pranay01 commented on #827
Build only for showing version info first

[2022-03-08 06:38] palash-signoz commented on #827
@pranay01 would need error and loading state in the sidebar

[2022-03-08 06:50] ankitnayan commented on #729
duplicate of #793

[2022-03-08 06:50] #729 closed

[2022-03-08 06:51] ankitnayan commented on #792
@pranay01 can this be reproduced now?

[2022-03-08 07:42] rinshadka opened #833 "OTLP HTTP/1.0 receiver not found in otel collector service"
Hi, I lost the **OTLP HTTP/1.0 receiver**, after upgrading otel collector service to latest `signoz/otelcontribcol:0.43.0` version.

Now I could only use  **OTLP GRPC** receiver port at **4317.**

Earlier I was using **OTLP HTTP/1.0** receiver at **55681**.

Found different in the [docker-compose](https://github.com/SigNoz/signoz/blob/develop/deploy/docker/clickhouse-setup/docker-compose.yaml) por

[2022-03-08 07:45] pranay01 commented on #833
yeah @rinshadka We have deprecated OTLP HTTP/1.0 receiver at 55681

Are you not able to use port 4317 for sending your application data to SigNoz?

[2022-03-08 08:03] ankitnayan commented on #833
@rinshadka were you instrumenting nodeJs application? OpenTelemetry has deprecated the use of port 55681 and we have upgrade otel-collector to latest versions. We recommend you to upgrade to the latest version of SigNoz `v0.7.1` and make minor changes to your nodeJs apps.

@pranay01 would be great to refer some nodeJs docs and examples that  use `4317` for communication

[2022-03-08 08:05] pranay01 commented on #833
@rinshadka Here's the updated docs for instrumenting you Nodejs app - https://signoz.io/docs/instrumentation/nodejs/

[2022-03-08 08:13] rinshadka commented on #833
Thanks for the support @pranay01 @ankitnayan. I am running the latest SigNoz `v0.7.1` now and `4317` is working fine from a python application. I will share these information with our developer.

[2022-03-08 08:30] palash-signoz commented on #826
no @pranay01 there are some changes pending from the backend after that client can incorporate

[2022-03-08 08:31] palash-signoz commented on #826
@makeavish when i can expect to complete this one ? ... possibly a blocker to implement in client

[2022-03-08 08:56] pranay01 commented on #833
cool 🎉

[2022-03-08 09:15] palash-signoz commented on #827
As client can directly use

[code]

`"v0.7.1"`

[2022-03-08 09:46] makeavish commented on #826
@palash-signoz Will pick before end of this week, please pick some other tasks for now.

[2022-03-09 11:53] makeavish commented on #272
Collector PR: https://github.com/SigNoz/opentelemetry-collector-contrib/pull/18
Query-service PR: https://github.com/SigNoz/signoz/pull/838#issuecomment-1062827109

[2022-03-09 12:17] pranay01 commented on #272
Nice @makeavish

Can you share more details on what you mean by 40x improvement in trace detail page? What specific queries? would be great to learn more

[2022-03-09 12:32] makeavish commented on #272
Now we are using [different table](https://github.com/SigNoz/opentelemetry-collector-contrib/blob/485e2eb52b94a008b812a4f201156d07ccbef0aa/exporter/clickhouseexporter/migrations/000008_init_signoz_spans.up.sql) to fetch trace detail (dump of trace on single column).
According to our benchmarking tests(ingesting 50k spans/second on a 4CPU and 16GB machine), when fetching an individual trace the que

[2022-03-09 12:58] makeavish commented on #787
I faced similar issue when trying to group by http. It was not intuitive that I can scroll on legends.

![image](https://user-images.githubusercontent.com/9512100/157446097-528335d7-7952-4bfe-9ea8-bc4ffa6fdaae.png)

[2022-03-09 13:13] makeavish opened #839 "Bug in refresh button after selecting a custom time period"
## Bug description
If we click refresh, after selecting a custom time period the time period changes to **_Last 5 mins_**

## Expected behaviour
The time period should stay unaffected after clicking refresh button.

## How to reproduce
https://www.loom.com/share/cdf8afa0d16b48579c727cf55b6bbc76
## Version information
* **Signoz version**: 0.7.1

#### *Thank you* for your bug report – we love squas

[2022-03-09 15:33] palash-signoz opened #841 "FE: Open Metrics Application and Trace details in new Page"
## Is your feature request related to a problem?

*Please describe.*

Open Metrics Application and Trace details in new Page

[2022-03-09 15:42] palash-signoz commented on #826
@makeavish ok

[2022-03-10 08:02] dittybijil commented on #833
@ankitnayan @pranay01 as @rinshadka mentioned its working fine with python and node application.  But we are facing issue when we use it for web.  As per tickets [2825 ](https://github.com/open-telemetry/opentelemetry-js/discussions/2825) and [2806](https://github.com/open-telemetry/opentelemetry-js/issues/2806)  they are not providing support for this feature now.  Can you support us for solving

[2022-03-10 11:58] ankitnayan commented on #833
for web you can continue sending data to via http at `4318` port. Opentelemetry collector already listens at http and just the port `4318` needs to be exposed at https://github.com/SigNoz/signoz/blob/develop/deploy/docker/clickhouse-setup/docker-compose.yaml#L61. The default http port has changed from `55681` to `4318`.

[2022-03-10 13:47] ankit01-oss opened #843 "Too many decimal points in duration data of spans table"
## Bug description

Time data in the duration column in the spans table has too many decimal points for it to be relevant.

<img width="1440" alt="Screenshot 2022-03-10 at 10 29 40 AM" src="https://user-images.githubusercontent.com/83692067/157674557-d41f0b56-9d1f-4d68-9173-efe581b9a1f6.png">

## Version information
* **Signoz version**: v0.7.1
* **Browser version**:
* **Your OS and version**:
* *

[2022-03-11 05:05] rinshadka commented on #833
@ankitnayan we are using `signoz/otelcontribcol:0.43.0`  as collector service and from the logs I can see that ports 4317, 55681 and 4318 are all starting from the log below:-

[code]

Then I have added 55681 and 4318 ports along with 4317 for exposing in docker-compose as below:-

[code]

But both the HTTP ports are not working as expected. In earlier version of otel-collector,  we were getting a

[2022-03-11 13:09] pranay01 commented on #700
Reopen this issue. I am able to reproduce this in v0.7.1

Please see attached loom video

cc @palash-signoz

https://www.loom.com/share/2917691b59484830b625c0617ab71a84

[2022-03-11 13:11] pranay01 commented on #792
@palash-signoz not able to reproduce this exact case - but I am able to reproduce the dead panel issue which may be related

https://github.com/SigNoz/signoz/issues/700#issuecomment-1065099085

[2022-03-11 14:38] rinshadka commented on #672
@pranay01, We have deployed Signoz in a remote server and we only have` 80,443` port access to that server and those ports are using by `Traefik `reverse proxy.  So we use Traefik rules to route requests to each container services. We have achieved routing all the requests to` OTEL HTTP collector `via Traefik. But in the case of `OTEL gRPC collector` we are unable to route the requests to it.

[2022-03-11 16:30] prashant-shahi commented on #672
@rinshadka You would have to use `h2c` protocol or `http2` with Traefik for gRPC.

You can refer to this guide:
https://doc.traefik.io/traefik/user-guides/grpc/

[2022-03-12 12:09] palash-signoz commented on #700
@pranay01 can you please try https://github.com/SigNoz/signoz/pull/840

[2022-03-13 14:54] ankit01-oss opened #847 "Hard coded timestamp value on Trace Detail page"
The timestamp `05:57:27am 01/01` is hard coded. If you open any spans from the span table, it shows this timestamp.

<img width="939" alt="Screenshot 2022-03-13 at 8 23 38 PM" src="https://user-images.githubusercontent.com/83692067/158065448-e3e293b1-7f54-4860-8bc3-25aa0806600d.png">

[2022-03-13 14:58] ankit01-oss opened #848 "Inconsistent date formats on trace filter page"
The filter on the top right corner has date in `YYYY/MM/DD` format. While in the spans table it is in `DD/MM/YYYY` format

![inconsistent_date_formats](https://user-images.githubusercontent.com/83692067/158065607-4b4fed02-7da5-44bb-84aa-2d252ea9f740.png)

[2022-03-13 15:00] ankit01-oss opened #849 "Side-bar menu leads to a horizontal scroll on the traces tab when collapsed and reopened"
Check out the video 👇
https://www.loom.com/share/bebbb2e4f4e94719b94d355a034c9f93

#### *Thank you* for your bug report – we love squashing them!

[2022-03-14 07:53] palash-signoz opened #850 "BUG(FE): Order of the Filter does not change"
## Bug description

*Please describe.*
*If this affects the front-end, screenshots would be of great help.*

When user uncheck the any filter order of the filter changes

## Expected behavior

Order should not change

[2022-03-14 10:00] pranshuchittora opened #853 "Add list of available instrumentations to the Add Instrumentation page"
## Description
Currently the add instrumentation page provides a link to the signoz docs for adding instrumentations. This link is external and kinda breaks the user's flow, in order to improve the UX it would be great if we provide more details on the available instrumentations on the dashboard itself.

Something like this
![Screenshot 2022-03-14 at 15 23 20](https://user-images.githubusercontent

[2022-03-14 13:35] palash-signoz opened #854 "Bug(FE): Alert Channels Edit Page is breaking"
## Bug description

Alert Channels Edit Page is breaking

[2022-03-15 04:38] palash-signoz opened #857 "BUG(FE): Remove the Global Time Selection Dropdown from Channels page"
## Bug description

*Please describe.*
*If this affects the front-end, screenshots would be of great help.*
Remove the Global Time Selection Dropdown from Channels page

## Expected behavior
Global Time Dropdown should not be present

[2022-03-15 17:11] ankitnayan commented on #833
@rinshadka Is this solved now? I would suggest trying out some examples from opentelemetry on configuring and sending data to otel-collector. You might have to add cors at otel-collector config apart from exposing ports at docker-compose.yaml.
Like this https://github.com/open-telemetry/opentelemetry-js-contrib/blob/main/examples/connect/docker/collector-config.yaml#L6-L8
SigNoz's otel-collector c

[2022-03-16 06:43] rinshadka commented on #833
@ankitnayan I was not able to expose the port 4318 to host machine with the latest - `otelcontribcol:0.43.0` version.
So I am using `otelcontribcol:0.6.0` version now with exposed 55681 port. For CORs headers I am using `Traefik` reverse-proxy.

[2022-03-16 06:58] ankitnayan commented on #833
got it

[2022-03-16 10:44] #552 closed

[2022-03-16 11:21] #857 closed

[2022-03-16 13:33] ankit01-oss opened #863 "Too many datapoints in the graph of trace-filter page when duration is selected as 1 week"
It makes it difficult to read data points from the graph. We can make relevant aggregates to show in the graph. From the user's perspective, it should be easy to make takeaways about a week's performance from the graph. And generally the point would be to figure out any outliers.

<img width="938" alt="Screenshot 2022-03-16 at 7 01 25 PM" src="https://user-images.githubusercontent.com/83692067/158

[2022-03-16 13:36] ankit01-oss opened #864 "The dropdown filter level not synced with Y-axis labels"
The dropdown filter for the graph named `Function` has label set to `Sum(duration in ns)` while we show Y-axis duration in `min`. I think we should remove units from the labels in the dropdown.

<img width="935" alt="Screenshot 2022-03-16 at 7 04 12 PM" src="https://user-images.githubusercontent.com/83692067/158601544-4c3407b5-7f7b-4f97-8a80-1e5aba0047aa.png">

## Version information
* **Signoz ve

[2022-03-16 13:37] ankit01-oss commented on #848
We should also take care of having a consistent timestamp format at all places.

[2022-03-16 14:01] pranshuchittora commented on #864
This is the expected behaviour, because if nano second data point is too big therefore we are converting it to relevant units like ms, s, min, hr ....

cc @ankitnayan can you pls take a look at this.

[2022-03-16 17:05] #854 closed

[2022-03-16 17:56] #841 closed

[2022-03-17 06:26] #847 closed

[2022-03-18 05:36] ankit01-oss opened #865 "The last timestamp label overflows in the flamegraph of trace detail page"
Notice how the last timestamp `703.45ms` overflows the line.

<img width="775" alt="Screenshot 2022-03-18 at 11 05 34 AM" src="https://user-images.githubusercontent.com/83692067/158943650-806e2127-dd00-4081-956b-13fbd2f5514b.png">

[2022-03-18 06:42] ankit01-oss opened #866 "In light mode, last two components of side bar menu remains dark"
Notice the area starting from `Support` in the side bar menu.

<img width="479" alt="Screenshot 2022-03-18 at 12 12 13 PM" src="https://user-images.githubusercontent.com/83692067/158950455-3e865b3f-024d-4c1a-a61c-dbb7ac48c24d.png">

[2022-03-21 06:27] ikumaran29 opened #872 "Service Map - with grouping concept"
## Is your feature request related to a problem?

As part of my cluster, I have many resources - 10-15. And I should have my APM has a single toolkit for monitoring my apps in UAT and Prod. For UAT and Prod, i will configure 10-15 resources, each. Hence, should have a grouping for service map - so that, I can view the service map DAG for resources in each environments.

## Describe the solution yo

[2022-03-21 06:56] makeavish commented on #872
Related to https://github.com/SigNoz/signoz/issues/333

[2022-03-22 04:48] ikumaran29 opened #880 "[Traces] Filter based on custom tags as part of openTelemetry property otel.resource.attributes"
## Bug description

This need not be a bug as per Signoz - but as per OpenTelemetry options - this needs to fixed.
My usecase is more like, I will have UAT and Prod Teams monitoring and tracing their clusters. All of them will use same SigNoz server. Also, I wanted UAT and Prod Team to add a tag - and identify their resources. Ensure ProdTeam can access only prod resources and not UAT resources.

[2022-03-22 05:03] hardik-epifi opened #881 "Pass resource attributes to signoz UI"
## Is your feature request related to a problem?
Use case :
We have 4 non prod environments and one common cluster of otel collector and signoz backend to receive data from all these 4 enviornments. We should be able to view traces from one env at a time.
We may want to pass service names from application code which is more business specific.

*Please describe.*
Hi I am using below method to get t

[2022-03-22 10:52] #848 closed

[2022-03-22 10:52] #849 closed

[2022-03-22 10:52] #864 closed

[2022-03-22 17:06] ankitnayan commented on #812
https://github.com/SigNoz/signoz/pull/837

[2022-03-22 17:06] #812 closed

[2022-03-23 03:50] rinshadka commented on #672
@prashant-shahi I have already tried h2c scheme as per the documentation provided from Traefik. I will install a fresh Traefik and try once more from the scratch.

[2022-03-23 05:20] makeavish opened #889 "Integrate monitoring/trace to SigNoz"
- [ ] Frontend
- [ ] Query-service

[2022-03-23 05:58] pranshuchittora commented on #832
Did a quick fix, made the table scrollable horizontally with that made we are not squashing the table contents hence making it more readable.

https://user-images.githubusercontent.com/32242596/159633297-04b33d67-8ea1-4d69-b36d-f4ec88dd1a4b.mov

[2022-03-23 06:18] #832 closed

[2022-03-23 10:00] ankit01-oss opened #892 "Different time formats in hover legend and x-axis on charts"
The time stamp in the hover legend is in the 12-hr format while on the x-axis it is in 24-hr format. It should be consistent.

<img width="417" alt="Screenshot 2022-03-23 at 3 28 40 PM" src="https://user-images.githubusercontent.com/83692067/159673196-18e8c6d4-a71c-4686-9b7a-0698ba9a2436.png">

[2022-03-23 11:10] mindhash opened #893 "Alert Manager Deployment packaging"
## Is your feature request related to a problem?

This [PR](https://github.com/SigNoz/alertmanager/pulls/1) in [ alert manager](https://github.com/SigNoz/alertmanage) changes the parameters from conf.file to queryService.url for alert manager.

The deployment of SigNoz and Alert Manager needs to address this change.

## Describe the solution you'd like
The existing alert manager build process is t

[2022-03-23 13:21] palash-signoz opened #894 "Bug(Fe): Clicking on Service Table and Trace Filter Table should not be open in new Tab"
## Bug description

*Please describe.*
*If this affects the front-end, screenshots would be of great help.*

Clicking on Service Table and Trace Filter Table should not be open in new Tab

## Expected behavior
component should be wrapper within anchor tag

[2022-03-23 13:32] palash-signoz opened #896 "bug(FE): onChange event is listening in monaco editor"
## Bug description

*Please describe.*
*If this affects the front-end, screenshots would be of great help.*

onChange event is listening in monaco editor

## Expected behavior
onChange event should be there and update the value

[2022-03-23 14:14] #896 closed

[2022-03-23 14:14] #894 closed

[2022-03-23 16:34] palash-signoz opened #899 "Feat: unit selection for value graph in the dashboard"
## Is your feature request related to a problem?

*Please describe.*

## Describe the solution you'd like
unit selection for value graph in the dashboard

[2022-03-23 16:34] #899 closed

[2022-03-23 19:35] ankitnayan commented on #833
@rinshadka A good concrete way of solving this would be to help us with a sample Github repo that does not work and our team will try to make it work.

[2022-03-24 03:50] makeavish opened #902 "convert setTTL API to async"
setTTL API is a long duration operation that can take over a minute depending on the size of clickhouse DB, so it should be converted to non blocking async API

[2022-03-24 05:49] #700 closed

[2022-03-24 05:50] #792 closed

[2022-03-24 07:12] palash-signoz opened #905 "update build.yml for strict frontend checks before release"
## Is your feature request related to a problem?

*Please describe.*
right now pipeline allow error over eslint

## Describe the solution you'd like
blocking the build when eslint error is present

[2022-03-24 09:36] #235 closed

[2022-03-24 11:12] pranshuchittora opened #909 "GHA: Leverage GHA Composition to reduce logic duplication"
https://github.blog/changelog/2021-08-25-github-actions-reduce-duplication-with-action-composition/

[2022-03-24 15:10] rinshadka commented on #833
@ankitnayan , Today I have worked on a fresh installation one of the test servers.

**Fetch the repository:-**
`git clone -b main https://github.com/SigNoz/signoz.git && cd signoz/deploy/`

**Deployment:-**
`docker-compose -f docker/clickhouse-setup/docker-compose.yaml up -d`

**Accessed OTLP HTTP port in browser:-**
http://local-ip:4318/ -> responds with a `404 page not found`

Then enabled `OTLP

[2022-03-24 17:26] makeavish opened #910 "Service Map misbehaves when there are no services"
## Bug description

Service Map gets stuck on loader when there are no services.

Screenshot:
<img width="1232" alt="screenshot_2022-03-24_at_08 42 08" src="https://user-images.githubusercontent.com/9512100/159974071-c8a1b1ef-8e51-45d3-88b7-69fe20999997.png">

## Expected behavior

Show there are no services when the backend returns an empty array for ServiceMapDependencies API.

## Version inform

[2022-03-25 05:20] makeavish opened #911 "Update query-service Go version to 1.17"

[2022-03-25 05:59] palash-signoz opened #913 "feat(FE): integrate commitzen while commit"
## Is your feature request related to a problem?

*Please describe.*
Integrate https://github.com/commitizen/cz-cli

[2022-03-25 07:35] palash-signoz opened #915 "bug(FE): trace search add filter is not adding any row in trace filter page"
## Bug description

*Please describe.*
*If this affects the front-end, screenshots would be of great help.*

onClick Add Filter is not adding any row seems onclick is not working
<img width="561" alt="Screenshot 2022-03-25 at 3 44 54 PM" src="https://user-images.githubusercontent.com/88981777/160101649-b5757e58-3807-4c4e-a8e8-f8c4ee4f04b3.png">

*Expected result*
This should work

[2022-03-25 10:33] palashgdev opened #917 "Bug (FE): UI Layout is behaving weirdly on changing the theme."
1. UI Layout is behaving weirdly on changing the theme.
2. The footer of the popup is grey even in light mode.

https://user-images.githubusercontent.com/32242596/160103777-5a31940d-9957-46c9-8bb1-1225ca7633bd.mov

IMO this is not related to this, we can address this via another PR

_Originally posted by @pranshuchittora in https://github.com/SigNoz/signoz/issues/916#issuecomment-1078882255_

[2022-03-25 11:07] ankitnayan commented on #833
@rinshadka I need a frontend repo with configurations used to replicate and then investigate. This must have little to do with SigNoz but with how instrumentation is done on frontend.

The signoz's otel-collector has been upgraded from otel's `v0.26.0` to `v0.43.0`, so there is something the instrumentation config is using which changed in receivers in `v0.43.0` and hence would need a frontend rep

[2022-03-25 11:15] #254 closed

[2022-03-25 12:07] ankit01-oss opened #918 "Color difference in side panel on light mode"
In light mode, the section above support has a different color than the section that starts from `support`
<img width="207" alt="Screenshot 2022-03-25 at 5 37 08 PM" src="https://user-images.githubusercontent.com/83692067/160117856-96ea98e5-8414-4636-962b-2a7963fb3f6c.png">

[2022-03-25 13:46] #915 closed

[2022-03-25 16:48] ankitnayan commented on #833
Hey @rinshadka, I tested it out with an angular app. The config to define cors has changed from
[code]
to below in otel-collector version `v0.43.0`
[code]
After this, you need to restart otel-collector to apply the new config.

And, you need to use endpoint `http://<IP of machine hosting signoz>:4318/v1/traces` from your frontend app. Assuming you have already exposed port `4318` at signoz's machi

[2022-03-25 17:11] ankitnayan commented on #833
Though I could not see the frontend app on application list page but was able to see the traces in `traces` page

[2022-03-25 17:23] makeavish opened #919 "Handle request timeouts or 500 errors for getFilteredSpansAggregate API on frontend"
## Bug description
When the backend API responds with 500 error code then the loader on charts section loads infinitely

<img width="1237" alt="Screenshot 2022-03-25 at 22 47 52" src="https://user-images.githubusercontent.com/9512100/160169847-ec9402ae-da7a-43ed-95c0-f3f8372d456d.png">

## Expected behavior

Charts should show *No Data* like in trace table.

## Version information
* **Signoz versi

[2022-03-25 18:37] prashant-shahi commented on #254
[OTLP HTTP Exporter](https://github.com/open-telemetry/opentelemetry-collector/tree/v0.43.0/exporter/otlphttpexporter) is released in `v0.43.0` on port `4318` but still marked as "Beta".

Here is the sample configuration to enable it:
[code]

[2022-03-26 12:19] palash-signoz opened #920 "bug(FE): logged in user can visit signup page"
## Bug description

*Please describe.*
*If this affects the front-end, screenshots would be of great help.*
logged in user can visit signup page

## Expected behavior
user should be re-directed to `/application` page

## How to reproduce

1. after success-full signup
2. visit `/signup`

## Version information
* **Signoz version**:
Latest

#### *Thank you* for your bug report – we love squashing th

[2022-03-28 15:42] prashant-shahi opened #925 "Dashboard name not confined to defined area"
## Bug description

Dashboard name not confined to defined area.

![Screenshot 2022-03-23 at 17-36-56 Open source Observability platform SigNoz](https://user-images.githubusercontent.com/11138844/160429387-bde2b193-c411-47a1-83ac-af804b60f412.png)

## Expected behavior

Expected the title to confine or wrap within the

## Version information
* **Signoz version**: `v0.7.3`

/cc @ankitnayan @palash-

[2022-03-29 02:18] makeavish opened #927 "Time range component acting weird in trace filter page"
## Bug description
Time range component acting weird in trace filter page

*Please describe.*
Here's the loom video: https://www.loom.com/share/d7278b59040448b2985f1833fe2c71ce

## Version information
* **Signoz version**: 0.7.3

#### *Thank you* for your bug report – we love squashing them!

[2022-03-29 05:43] #905 closed

[2022-03-29 06:07] ankitnayan opened #931 "Set default retention period for metrics, traces and Logs"
## Is your feature request related to a problem?
There is no current default retention period set for metric and traces.

## Describe the solution you'd like
We can set the default period of metrics to be 1 month and traces to be 7 days.

- [ ] https://github.com/SigNoz/signoz/issues/2123

[2022-03-29 06:54] #925 closed

[2022-03-29 18:32] palash-signoz commented on #910
close https://github.com/SigNoz/signoz/pull/934

[2022-03-30 01:13] pranay01 commented on #812
Discussion on adding s3 storage backend from jaeger community - https://github.com/jaegertracing/jaeger/issues/638#issuecomment-820213986

[2022-03-31 06:29] prashant-shahi opened #937 "Support removal of TTL once set"
## Bug description

At the start of a new SigNoz cluster, get TTL API returns `-1` that indicates TTL is not set.
However, once a value is set for TTL. It cannot be unset.
Setting it to `0` makes the SigNoz data _almost_ always unavailable.

## Expected behaviour

Users should be able to unset TTL. It can be either done upon `-1`/`0` duration using the same Set TTL API handler or, we can have a ne

[2022-03-31 06:51] pranshuchittora opened #938 "fix: cold storage changes request should be reject if the time period is same as before"
An extension of this https://github.com/SigNoz/signoz/pull/837
Say user sends the request from the FE with the same TTL for any of the field (Traces,Metrics - Total and S3) then the BE should not try running the respective query, it must reject the changes for that field and only run the changes for the changed field.

The BE should not through an error on the API call, it should avoid running the

[2022-03-31 09:56] srikanthccv commented on #938
@pranshuchittora Why make api request when there is no change in the input value?

[2022-03-31 11:58] pranshuchittora opened #939 "Backend should validate TTL values"
1. Should be in relevant time unit (hr)
2. Should no allow decimal values
3. What happens when someone set the TTL to 0 (Data will never be retained)

[2022-03-31 19:25] srikanthccv commented on #939
Valid time units are "ns", "us" , "ms", "s", "m", "h". So one could send something like "10h", "5m" etc.. Any other duration with unknown units is rejected with error.

May be we should for first decimal place? If user wanted to set something like 50 hours and 30 min they could send "50h30m" as ttl.

This shouldn't be allowed and may be we should also come up some lower bound for ttl.

[2022-03-31 19:26] srikanthccv commented on #937
+1 for a new handler with `DELETE`.

[2022-04-01 07:48] rongfengliang opened #940 "Deployment signoz in Production with large service"
## Is your feature request related to a problem?

can we  provide some practice for  deployment `signoz` in Production with large service

## Describe the solution you'd like

with cluster deployment && performance tuning  docs

[2022-04-01 08:19] rongfengliang opened #941 "Support other RelationalDB"
## Is your feature request related to a problem?

currently from the source code I see `signoz `  only support  SQLite database . maybe we can support more other database

## Describe the solution you'd like

we can use  `jmoiron/sqlx` package   and some configuration  for support more database

#### *Thank you* for your feature request – we love each and every one!

[2022-04-01 10:17] #920 closed

[2022-04-01 15:54] ikumaran29 opened #942 "Unable to create a new channel webho"
## Bug description
When trying to add a webhook channel - I am getting below error:
error: "Error in getting 2xx response in API call to alertmanager(POST http://signoz-alertmanager:9093/api/v1/routes)\n%!(EXTRA string=404 Not Found)"

Note: In existing helm (0.7.1 - chart version 0.0.10), values.yaml - I updated the versions alone to 0.7.4. Do we have latest helm - incase, I am missing.
![image](

[2022-04-01 16:34] prashant-shahi commented on #942
Hey @ikumaran29!

Thanks for raising this issue.

There had been few changes introduced in the recent patch release around alerts and `alertmanager`.

There is newer version of `alertmanger`: `signoz/alertmanager:0.6.0`.
In that we have changes in the CLI flags as well. You can refer the changes in [this commit](https://github.com/signoz/signoz/commit/1002ab553eed39b580d22f88d1c06b76757ea987).

We

[2022-04-01 18:38] pranay01 commented on #941
@rongfengliang Curious to know. whats the use case for supporting more databases? As of now SQLite is primarily used to store internal metadata like dashboards layout, alert config, etc

[2022-04-02 01:05] rongfengliang commented on #941
@pranay01 Thanks. with sqlite for dashboard and alert . if we have multi instance of query service maybe not good for share message

[2022-04-02 02:33] rongfengliang commented on #940
@pranay01  Thanks.  `large service` means we have many applications that need to trace. we can deploy with k8s but the dashboard and alert need a shared database, currently, if we deploy multi-instance some dashboards will be lost. we need one practice for large service deployment

[2022-04-02 11:33] ZQiannnn opened #943 "Highlight error spans"
Background Color RED if the span has tag error:true or http.status_code:5xx
It's still not working on 0.7.4

<img width="1266" alt="image" src="https://user-images.githubusercontent.com/19886406/161381178-5a918d5e-cb1b-4471-870a-61f711946a55.png">

<img width="609" alt="image" src="https://user-images.githubusercontent.com/19886406/161381185-e039f3f8-5dc2-4872-89c1-c4a05e97d844.png">

[2022-04-02 11:34] palash-signoz commented on #943
@pranshuchittora

[2022-04-03 13:41] devinstasafe commented on #526
@pranay01 @ankitnayan : this is very much needed as even I have lost configured dashboards, I have shared the link with others and they deleted by mistake.

[2022-04-03 14:30] bhaswanth88 opened #946 "Enable sharing Dashboards with view only link"
## Is your feature request related to a problem?

our usecases include monitoring VMs  in 3rd party data centers where our piece of code run. When a issue occurs we might need to monitor the VM for extended period by multiple IT teams. So a dashboard that can be shared is very much needed for our kind of use cases.

## Describe the solution you'd like

I would to see the feature of shared dashboar

[2022-04-03 14:48] bhaswanth88 opened #947 "Value based widget actions overlap with panel title"
## Bug description

*Please describe.*
Value type widget which are added to dashboards have 3 actions buttons which overlap with that panel title.
![Screenshot 2022-04-03 at 20-11-27 Open source Observability platform SigNoz](https://user-images.githubusercontent.com/60409/161433408-3ebc76fa-69cf-41cd-b775-e49708976c3d.png)

## Expected behavior

It should not overlap, simplest solution would be t

[2022-04-04 09:14] zaid2130 commented on #853
Can I work on it? Instead of giving the external docs link, we can give the instrumentation steps in the application as well.

[2022-04-04 11:09] pranshuchittora commented on #937
I recommend going ahead with `-1` for unsetting the TTL

[2022-04-04 11:53] ankitnayan commented on #946
@bhaswanth88 will it suffice to have read/write permission level at dashboard level and not at widget level?

[2022-04-04 12:02] ankitnayan commented on #941
@rongfengliang that is right. We have added the apis in an interface so that other databases like Postgres can implement them. We shall need non-embedded db when running multiple query-service instances querying the same relational DB as you mentioned already.

We shall pick this up if some users face this issue. Currently, I don't see a need to run multiple query-services as query-service is not

[2022-04-04 12:03] #910 closed, assigned to palashgdev

[2022-04-04 12:05] #526 closed

[2022-04-04 12:06] ankitnayan commented on #526
@devinstasafe this will be fixed in upcoming release. PR fixing this is already merged https://github.com/SigNoz/signoz/pull/534

[2022-04-04 13:00] palash-signoz commented on #927
Able to observe in non chrome and chromium based browser

[2022-04-04 13:19] bhaswanth88 commented on #946
@ankitnayan : it can work as a temporary workaround where we can create separate dashboard with just required widget and share that. Ideally good to have on both.

[2022-04-04 13:30] bhaswanth88 opened #951 "Filters For Dashboards"
## Is your feature request related to a problem?

Currently all created dashboards can be seen in list view, but when there are many dashboards, especially for our case where we create a new dashboard for every host, it is hard to look for specific ones.

## Describe the solution you'd like

As tags are already part of dashboard, an option to filter by tags   (with eq or not eq) conditions would b

[2022-04-04 20:10] prashant-shahi commented on #942
@ikumaran29 SigNoz chart `0.0.11` is released which supports signoz `0.7.4` and alertmanager `0.6.0`.
To upgrade, you can refer here: https://signoz.io/docs/operate/kubernetes/#upgrade

Feel free to re-open the issue, if the issue persists after upgrading.

[2022-04-04 20:10] #942 closed

[2022-04-05 06:22] ankitnayan commented on #951
@pranshuchittora we can have `title`, `description` and `tag` based filtering in dashboards

[2022-04-05 07:53] #843 closed

[2022-04-05 08:26] #850 closed

[2022-04-05 08:26] #774 closed

[2022-04-05 12:30] #943 closed

[2022-04-06 09:46] ankit01-oss opened #961 "The type of alerts channel changes while collapsing side menu bar"
While adding a new alerts channel, the type of alerts changes when the side menu bar is collapsed.

See how to recreate the bug.

https://www.loom.com/share/999cebf02e7641f9bfe207faf1e88670

[2022-04-07 07:22] palash-signoz opened #967 "Issues in trace filters when coming from the metrics page are fixed. Will take up a discussion with @pranay01 for certain UX cases later, which does not affect current release."
Issues in trace filters when coming from the metrics page are fixed. Will take up a discussion with @pranay01 for certain UX cases later, which does not affect current release.

_Originally posted by @ankit01-oss in https://github.com/SigNoz/signoz/pull/965#pullrequestreview-934590505_

[2022-04-07 20:51] makeavish opened #974 "Multiple calls to getTagFilters API"
## In what situation are you experiencing subpar performance?

When a user tries to select tagKey then getTagFilters and getTagValues API is called but getTagFilters API is redundant and negatively affecting the performance.

![image](https://user-images.githubusercontent.com/9512100/162299576-4e8c2e64-d5b9-4697-ac4f-71d3cffe98a0.png)

#### *Thank you* for your performance issue report – we want S

[2022-04-08 07:33] hardik-epifi opened #975 "Add grpc status code to traces view"
Currently signoz supports only http status code.
Services running on grpc want grpc status code so we can filter and view traces appropriately.

![image](https://user-images.githubusercontent.com/61773955/162386470-fe36c168-8dbc-413f-8e1c-bd148e3d7ccf.png)

Jaegar supports grpc status code by default.
![image](https://user-images.githubusercontent.com/61773955/162386539-fbf68f1a-aa64-4bed-b967-8d4

[2022-04-08 08:01] ankitnayan commented on #975
@hardik-epifi  would highlighting the span as erroneous suffice? I don't think mixing http status codes and grpc status codes will be a good idea. Or should we?
We can also add another column for grpc status codes but I think it will be overkill to show 2 columns for status codes.

[2022-04-08 08:13] hardik-epifi commented on #975
Can we not populate grpc status code and http status code in same column based on rpc.system = grpc
Also highlighting as erroneous would definitely add value to someone just seeing how the system is performing but it comes with the nuance that some status codes like NotFound, InvalidArgument are not really errors. We can allow users to filter on status codes they want or they want to exclude

[2022-04-08 11:52] bhaswanth88 opened #977 "Disable Alert Feature"
## Is your feature request related to a problem?

As of now there is only delete of Alert, but sometimes we might need to disable to avoid some alerts temporarily and enable later. If we delete, the text / expression written for alert configuration is gone. so it is needed to introduce disable so that configuration is not lost.

[2022-04-08 12:03] ankitnayan commented on #975
right @hardik-epifi , I was also of the opinion that NotFound, InvalidArgument are not really errors. But I have seen companies using that as errors too and want to include them in error percentage.

Adding status code in the column should be handled. BTW right now, you should be able to filter out the status codes too, right? It should be available in the tags filtering at the top bar of trace fi

[2022-04-08 13:16] pranshuchittora opened #978 "bug: sometimes filtering traces based on service name behaves weirdly"
## Bug description
Sometimes Filtering doesn't work as expected. Not happens every-time but it is noticeable.

https://user-images.githubusercontent.com/32242596/162443013-a5514368-ddd0-4855-9d11-9e847eecec40.mov

[2022-04-10 08:15] heykartikey commented on #919
Hey! Assign this to me.

[2022-04-10 08:24] pranay01 commented on #919
@heykartikey Assigned it to you. Feel free to ask any question you may have to get started

[2022-04-11 09:56] makeavish commented on #978
@pranshuchittora Can you please check API response from network tab on developer console?
If the API response is correct then tag this issue as frontend or else tag this as backend issue.

[2022-04-12 05:34] LEO1612D commented on #902
Can you give me some more details on this, i can help.

[2022-04-12 06:20] makeavish opened #983 "Handle empty values in trace filter exclude"

[2022-04-12 08:59] makeavish opened #984 "Handle updated response schema for getFilteredSpans API"
For https://github.com/SigNoz/signoz/issues/975 the backend had to update the response schema of getFilteredSpans API.

Current response schema:

[code]

Updated response schema:

[code]

This updated response has to be handled by frontend.

[2022-04-12 09:04] makeavish opened #985 "Trace Detail breaking when viewing trace data"
## Bug description
The trace detail page is breaking when viewing trace data:

<img width="1440" alt="Screenshot 2022-04-12 at 14 33 23" src="https://user-images.githubusercontent.com/9512100/162923552-fe2e1e14-2363-49fd-ab04-9a6414de986d.png">

## How to reproduce

Sample data for which trace detail page is breaking:
[code]

## Version information
* **Signoz version**: 0.7.5
* **Browser version**

[2022-04-12 09:28] makeavish opened #986 "Suggestion of tag keys with empty tag values"
For some tags in trace filter page, there are no values suggested in tags value.

<img width="814" alt="Screenshot 2022-04-12 at 14 42 58" src="https://user-images.githubusercontent.com/9512100/162925176-78d37a76-c65b-496a-8c64-1cd2a400df44.png">

[2022-04-12 09:50] makeavish commented on #986
Fixed in this commit: https://github.com/SigNoz/opentelemetry-collector-contrib/pull/18/commits/601f76eeab76d14b9d8171187cb1ec5eb2c32eb9

[2022-04-14 06:25] makeavish commented on #902
@LEO1612D setTTL api has to converted to async API. There are multiple ways to do that. I am describing one such way below.
So frontend would make a POST setTTL request and then use GET setTTL API to check if POST setTTL request was successful or not. We can use SQLlite to store the information on POST setTTL request status.

[2022-04-14 06:42] ankitnayan commented on #902
We can start with checking if clickhouse provides any status on progress when a TTL is set. Else, we can send a POST request from frontend and return `change of ttl is requested and will be set soon` and store it in the sqlite db, something what @makeavish said and we can change the `getTTL` api to return an extra field `status` depending on whether the ttl extracted from clickhouse table schema m

[2022-04-17 15:42] palash-signoz commented on #984
not able to find in testing app

[2022-04-17 15:43] palash-signoz commented on #826
@makeavish what is the status of this one ?

[2022-04-18 04:13] palash-signoz commented on #974
Blocked by #995

[2022-04-18 07:56] prity-k opened #996 "signoz integration fails when using signoz backend domain name."
Application data is not sent to signoz when **OTEL_EXPORTER_OTLP_ENDPOINT** is set to signoz backend domain name but it works with the IP. Is there a way to make signoz integration work with  domain name?

[2022-04-18 08:20] pranay01 commented on #996
@prity-k Thanks for creating the issue. Quick questions:
1. Which language/framework is your application written in?
2. What's the use case for using domain name and not IP?  Would be great if you can share in some more detail

[2022-04-18 11:15] makeavish commented on #826
This is part of performance improvement PR: https://github.com/SigNoz/signoz/pull/838.

[2022-04-19 05:12] pranshuchittora commented on #985
Just mocked the above response and the page is working as expected
![Screenshot 2022-04-19 at 10 41 38](https://user-images.githubusercontent.com/32242596/163924472-ca068864-1271-4302-9570-fed9b4d5b028.png)

[2022-04-19 05:12] #985 closed

[2022-04-19 05:22] #984 closed

[2022-04-19 05:27] #947 closed

[2022-04-19 08:08] prity-k commented on #996
1. Python/FastAPI
2. Signoz is deployed in K8s env and I have configured domain name for the signoz frontend to access dashboards and in similar fashion a domain name has been assigned to signoz backend as well.
3.
`upstream qa--signoz-backend {
    server 10.1.1.230:4317;
}
server {
    listen 80;
    server_name signoz-backend.test.com;
    location / {
        proxy_pass http://qa--signoz-backe

[2022-04-19 19:53] prashant-shahi commented on #996
Since `4317` is a gRPC port, we should use `grpc_pass` instead of `proxy_pass`.
[code]

Since gRPC uses `HTTP/2`, we should add `http2` at the end of the `listen` command.
[code]

@prity-k Do let us know if this works for you.

[2022-04-20 07:39] prity-k commented on #996
@prashant-shahi Unfortunately, above solution did not work.
Right now I have following configuration:
1 nginx config:
`upstream qa--signoz-backend {
    server 10.1.1.230:4317;
}
server {
    listen 80 http2;
    server_name signoz-backend.test.com;
    location / {
        grpc_pass grpc://qa--signoz-backend;
    }
    access_log  /datadrive/logs/nginx/qa--signoz-backend-access.log;
    error_log

[2022-04-20 10:18] nityanandagohain opened #1002 "Bug: Time duration resets during naviation"
https://user-images.githubusercontent.com/26831659/164205879-85004faa-03da-4f29-9072-61cade5d3c29.mov

Whenever we change the duration and then navigate, the duration value gets reset.

[2022-04-21 08:07] hardik-epifi opened #1004 "Span details in millisecond units for operations taking time in seconds"
## Bug description

*Please describe.*
For operations taking greater than 1 second, all the spans have time in seconds which does not give a clear picture on how much time each span took.

*If this affects the front-end, screenshots would be of great help.*
![image](https://user-images.githubusercontent.com/61773955/164409137-3921c570-b282-46b6-8e01-5136c0d67c2e.png)

## Expected behavior
Each spa

[2022-04-21 10:46] pranshuchittora commented on #730
We also need to define a `version` inside JSON while exporting. Why?
Say we want to make some breaking change in the JSON structure or rename a key in that case importing old dashboards won't work and we may need to write migrations for JSON it would be great if we version the dashboards to perform migrations if required.

[2022-04-21 10:59] palash-signoz commented on #730
Yup make sense ?

[2022-04-21 11:09] palash-signoz commented on #730
@ankitnayan @pranay01 call here ?

[2022-04-21 11:16] ankitnayan commented on #730
@palash-signoz yes..it makes sense. Let's include it from now on.

[2022-04-21 11:41] pranshuchittora opened #1006 "Versioning of Dashboard JSON"
Extension to this https://github.com/SigNoz/signoz/issues/730

We also need to define a version inside JSON while exporting. Why?
Say we want to make some breaking change in the JSON structure or rename a key in that case importing old dashboards won't work and we may need to write migrations for JSON it would be great if we version the dashboards to perform migrations if required.

This is a bit

[2022-04-21 17:56] pranay01 commented on #880
Thanks for opening this issue @ikumaran29 We will be taking this up soon

[2022-04-22 08:38] thunko opened #1010 "Plot K8S Infra metrics docs"
## Bug description

Hi, I'm trying to plot K8S Infra metrics to Signoz as indicated here:
https://signoz.io/docs/tutorial/kubernetes-infra-metrics/
but it takes me here:
https://signoz.io/docs/userguide/metrics-dashboard/
where it shows 'Not Found'

![image](https://user-images.githubusercontent.com/25479180/164650232-0b2d4fb3-4a3f-4a44-be18-522586780eee.png)

## Expected behavior

See instruction

[2022-04-22 08:44] pranay01 commented on #1010
@thunko The link is incorrect. Please use - https://signoz.io/docs/userguide/dashboards/

Will fix this

[2022-04-22 08:48] pranay01 commented on #1010
Also, this might be helpful - https://signoz.io/docs/userguide/metrics/

[2022-04-22 08:51] pranay01 commented on #1010
this is fixed now

[2022-04-22 08:51] #1010 closed

[2022-04-22 10:55] thunko opened #1011 "Unable to export metrics using Otel collector from Otel Operator"
## Bug description

hi !
I'm trying to export k8s infra metrics to Signoz as indicated here:
https://signoz.io/docs/tutorial/kubernetes-infra-metrics/#steps-to-export-k8s-metrics-to-signoz

In my case I'm running Signoz in the same cluster where applications are, therefore updated the endpoint accordingly but I can't plot any metrics as indicated in your docs.
One note is that I have installed the

[2022-04-22 12:07] prashant-shahi commented on #1011
Hey @thunko!

Are you running `v0.43.0` version of OtelCollector using the operator?

If not, you should perhaps **upgrade** the exist helm release along with the following:
[code]

Do let us know if it helps.

[2022-04-22 12:21] thunko commented on #1011
hi @prashant-shahi thanks for getting back

I'm running OtelCollector `0.46.0` from the operator (same version):
`Image:         ghcr.io/open-telemetry/opentelemetry-collector-releases/opentelemetry-collector:0.46.0`

Do you suggest to downgrade ?
Thank you,

[2022-04-22 12:49] prashant-shahi commented on #1011
@thunko yes, you would need to use `v0.43.0` since latest version of SigNoz OtelCollector supports that version.

URL of the version: https://github.com/open-telemetry/opentelemetry-operator/pkgs/container/opentelemetry-operator%2Fopentelemetry-operator/14805564?tag=v0.43.0

[2022-04-22 13:33] pranshuchittora commented on #951
Shipping via https://github.com/SigNoz/signoz/pull/1005 🎊

[2022-04-22 13:33] #951 closed

[2022-04-22 14:15] #974 closed

[2022-04-22 16:35] thunko commented on #1011
@prashant-shahi thank you

now using `0.43.0`: `Image:         otel/opentelemetry-collector:0.43.0` installed through [helm](https://github.com/open-telemetry/opentelemetry-helm-charts/blob/opentelemetry-operator-0.6.2/charts/opentelemetry-operator/Chart.yaml)
but still unable to plot metrics.
Collectors in both ends looks cleear and `Ready to process data` but my PromQL query doesn't go through.

[2022-04-24 19:23] JLHasson opened #1015 "The install script should allow no input to proceed when asking for email"
## Bug description

At the end of the installer you are prompted to enter your email "to receive support & updates". Many users will not want to enter their email at this prompt. Currently pressing "enter" (i.e. no input) repeats the prompt indefinitely. It is impossible to know as the user of this script if the script has completed or if there is some further code that will run after entering you

[2022-04-25 09:25] prashant-shahi commented on #1011
@thunko Can you confirm if all of the SigNoz components are up with the following?
[code]

I tested the same from [Kubernetes Infra Metrics docs](https://signoz.io/docs/tutorial/kubernetes-infra-metrics).
I was able the plot graph.

Can you make sure the k8s cluster is up?
Also, make sure that you have included appropriate SigNoz OtelCollector address in the files below:
- agent/infra-metrics.yaml

[2022-04-25 09:47] thunko commented on #1011
@prashant-shahi they are all up

[code]

what metrics did you try to plot ?
so you don't get the errors I posted in my previous comment ?

I defined the address in the `OpenTelemetryCollector` CR I posted in the description of this ticket: https://github.com/SigNoz/signoz/issues/1011#issue-1212210619

I joined slack, here is the thread in the support channel: https://signoz-community.slack.com/arc

[2022-04-25 11:09] prashant-shahi commented on #1011
@thunko In the logs, I see both of those however, they shouldn't cause any issue.

From the looks of the OtelCollector config, I suppose you have missed out including `kubeletstats`. Also, make sure to include the receiver in the pipeline.

[code]

If it still does not resolve your issue, don't hesitate to ping me on our Slack Community.

[2022-04-26 04:48] pranay01 commented on #1015
Thanks for opening this issue @JLHasson Looks like a simple improvement we can make :)

[2022-04-28 08:38] li-zhixin commented on #826
I am very much looking forward to this issue being fixed soon.

[2022-04-28 13:42] rharyanp commented on #1015
great

[2022-05-02 14:14] hmazucato opened #1024 "Rows per page setting button does not work"
## Bug description
Hello team! Thank you for providing and supporting SigNoz! I am currently testing SigNoz application and found something that may be a bug in UI.

![image](https://user-images.githubusercontent.com/101214165/166247585-f20be838-a6af-468d-92c5-3fcf1ff27837.png)

## Expected behavior
Trace analyze page should show the quantity of rows that was selected on the setting button.

## Ho

[2022-05-03 02:17] pranay01 commented on #1024
thanks @hmazucato for raising the issue. We have raised a PR which should solved this issue. It would be availble in the next release

[2022-05-03 06:54] pranay01 opened #1027 "One admin deleting/editing permissions of other admins should not be allowed"
## Is your feature request related to a problem?

As of now one admin can delete/edit permission of other admins. This could potentially lead to issues with one admin revoking access for others

## Describe the solution you'd like

there should be a concept of owner of an organization. Only owner should be allowed to delete other admins, edit their permissions

## Describe alternatives you've cons

[2022-05-03 09:57] #625 closed

[2022-05-03 10:00] #1024 closed

[2022-05-03 10:11] #880 closed

[2022-05-03 19:42] hmazucato opened #1050 "Dashboard - CPU Consumption Scale not Working Properly"
## Bug description
Hi team!

I have created a new dashboard to show CPU Consumption metrics that are being queryed through a node exporter agent.
I successfully added the PromQL query, which is `avg without(cpu) (irate(node_cpu_seconds_total{job="LabNodeMetrics", mode="user"}[1m]))`

I also selected Y Axis Unit as `Percent (0.0-1.0)`

When Signoz renders the graphic, it shows a Y Axis Scale from 0

[2022-05-04 06:13] #911 closed

[2022-05-04 06:28] #986 closed

[2022-05-04 07:02] malanvaneck opened #1055 "Missing Service Name icons when grouping the tracing graph by service name."
## Bug description

*Not all services are shown on this graph when grouped by Service Name:*
![image](https://user-images.githubusercontent.com/52539494/166634789-f1b7ca37-e19a-42b6-b1c9-12bd8d99df87.png)

After forcing the browser height on the div to auto:
![image](https://user-images.githubusercontent.com/52539494/166635034-f6c7ab1c-8b2a-4d06-b97a-225a345880bf.png)

![image](https://user-images

[2022-05-04 07:04] pranay01 commented on #1055
@malanvaneck thanks for opening the issue

[2022-05-04 09:15] malanvaneck opened #1061 "Service to database/queue communication on the Service Map"
## Is your feature request related to a problem?

*Currently only Service to Service communication is shown on the Service Map*

## Describe the solution you'd like

*Request to add service to database/queue communication on the Service Map as shown in the HotR.O.D Demo*
![image](https://user-images.githubusercontent.com/52539494/166653861-0af17d3e-0065-47b5-9279-59357f6de9e9.png)

## Describe alt

[2022-05-04 15:23] ankit01-oss opened #1079 "Number of spans in each category should be same in `Traces` tab"
<img width="275" alt="Screenshot 2022-05-04 at 8 52 23 PM" src="https://user-images.githubusercontent.com/83692067/166714738-ed6b20a3-fd04-45f7-a0b4-c3410426bebc.png">

The number of spans in `Status` and `Service Name` should be same.

[2022-05-04 16:24] bdronneau commented on #247
Hi,
Just passing here because I started to instrument django app. This issue is done your work in https://github.com/SigNoz/sample-django

[2022-05-05 04:17] slavitch opened #1083 "Import Alerts as YAML files"
## Is your feature request related to a problem?

*Please describe.*

## Describe the solution you'd like

An alerts directory where I can add alert yaml files.

Each file is parsed and if successful implemented as an alert.

## Describe alternatives you've considered

Hand adding alerts is slow when you have automation.

[2022-05-05 05:43] pranay01 opened #1087 "Intermittent issue with services shown in aggregate chart when filtering services from left panel"
## Bug description

Intermittent issue with services shown in aggregate chart when filtering services from left panel. The services shown in aggregate chart are not same as those selected in left panel

*If this affects the front-end, screenshots would be of great help.*

https://www.loom.com/share/45c74537dcc9421488c595ff29a40772

## Expected behavior

Aggregate chart should only show services wh

[2022-05-05 05:49] pranay01 commented on #1050
@hmazucato This [PR](https://github.com/SigNoz/signoz/pull/1081) should solve it. Do check after this is release and let us know if the issue persists

[2022-05-05 15:15] pranay01 opened #1099 "Inconsistent breadcrumb label for exceptions page"
## Bug description

On clicking a particular error type, the breadcrumb changes to `Error` and then changes back to `exceptions` on  clicking it again

*Please describe.*
*If this affects the front-end, screenshots would be of great help.*
https://www.loom.com/share/0bc32477177f46ea96412aca71e6af12

## Expected behavior

The breadcrumb should have label `Exception` for all situations

## How to re

[2022-05-05 15:38] pranay01 opened #1101 "Error message is not informative when incorrect current password is entered"
## Bug description

Error message is not informative when incorrect current password is entered

*If this affects the front-end, screenshots would be of great help.*

https://www.loom.com/share/7554baa8a38b4b3aac5c066f3985fe59

## Expected behavior

The error message should say something like `invalid current password`

## How to reproduce

1. Go to my account from navbar pop up
2. Enter incorrect

[2022-05-06 07:27] ankit01-oss opened #1108 "Graphs getting slashed in `Usage Explorer` Tab"
In the usage explorer tab, the first and the last bar graph are getting slashed.

<img width="1126" alt="Screenshot 2022-05-06 at 12 55 11 PM" src="https://user-images.githubusercontent.com/83692067/167086352-76374912-74c0-4c50-a390-fd2ac129542a.png">

[2022-05-08 02:53] ankit01-oss opened #1110 "Breadcrumbs in `Exceptions` monitoring tab not consistent"
On Exceptions monitoring tab, we see `/Exceptions`

<img width="1440" alt="Screenshot 2022-05-08 at 8 22 23 AM" src="https://user-images.githubusercontent.com/83692067/167279665-3c6b8a37-a01f-4e57-a656-b330b5be07f3.png">

After clicking on any error, we see `/errors` which is not consistent. Ideally it should be `Exceptions/error_name`

<img width="1438" alt="Screenshot 2022-05-08 at 8 22 53 AM" s

[2022-05-09 18:33] pranay01 commented on #247
thanks @bdronneau for pointing this out. Closing the issue

[2022-05-09 18:33] #247 closed

[2022-05-09 18:35] pranay01 commented on #1050
@hmazucato can you check if this is solved now?

[2022-05-10 04:14] ankit01-oss opened #1112 "URL says `/errors` while the tab is named as `Exceptions`"
We can have more consistent naming. It should be either `Errors` or `Exceptions` at both the places.

<img width="790" alt="Screenshot 2022-05-10 at 9 42 08 AM" src="https://user-images.githubusercontent.com/83692067/167541223-f21bdda2-b86e-46d9-bcf1-d27887e5c1fc.png">

[2022-05-10 05:34] nitin1993915 opened #1113 "Unable to integrate Uvicorn (multiple workers) to SigNoz."
## Bug description

*Below mentioned Docker CMDs work with single uvicorn worker to get the app traces but does not work with multiple uvicorn workers
 `["opentelemetry-instrument",` "uvicorn", "app:app", "--host", "0.0.0.0", "--port", "8000"]
 -- worked
 `["opentelemetry-instrument",` "uvicorn", "app:app", "--host", "0.0.0.0", "--port", "8000", "--workers", `"2"]
 -- did not work
*

## Expected b

[2022-05-10 06:13] pranshuchittora opened #1114 "Set granularity on the TimeSeries Visualisation (Graphs)"
## Is your feature request related to a problem?
Currently, we have a dynamic step size for getting the time series data.

## Describe the solution you'd like
It would be great if we provide a way to define the granularity/step size.

## Describe alternatives you've considered
NA

[2022-05-10 07:52] ankit01-oss opened #1117 "`Save` button disabled with default values in Retention Settings"
https://www.loom.com/share/ffcc2ed40a4c47cbb06658889ac1b319

[2022-05-10 07:55] palash-signoz commented on #1117
@Cruxashu this is expected right... as button will make a AJAX call which will update the default retention period if the value is equal to the default value which is received from the server... i don't think we should allow the user to update the same values

[2022-05-10 07:57] pranshuchittora commented on #1117
+1

[2022-05-10 09:21] srikanthccv opened #1121 "Idea: Unified query builder for all types of telemetry"
The user experience can be greatly improved with addition of Explore tab and a unified query builder for all kinds of telemetry. For the sake of argument, say I want to look at the number of traces received since last 3 hours Or say I want to look at the top 10 calls with maximum span duration grouped by component. Currently there is now way to query this data but is easier to enable with unified

[2022-05-10 09:34] srikanthccv opened #1122 "Client (browser/mobile) instrumentation trace analytics in SigNoz"
SigNoz doesn't show the browser/mobile application in the list of service in [View Metrics](https://signoz.io/docs/userguide/metrics/) page even though the service.name is differently unique for client Instrumentations. This makes sense because there is nothing to show in terms of req/s for the end user program. But the telemetry emitted by clients can be really useful. What is the average page lo

[2022-05-10 11:55] pranshuchittora opened #1125 "Double org display name fields on Org Setting page"
https://user-images.githubusercontent.com/32242596/167622547-93a3fca6-9a9b-4b9b-90f5-6c80b49180ef.mov

[2022-05-10 11:56] palash-signoz commented on #1125
@pranshuchittora did you check the response of the org ?

[2022-05-10 12:42] AnirudhaGohokar opened #1129 "Not all applications getting listed in application dashboard"
In application dashboard i.e "Home / Application" , we are not able to see couple of applications that are sending metrics data to signoz.
But the same applications we are able to see in "Home / Traces" filter by Service Name section. Can we check why there's descripency here. Due to this we are unable to move forward with this monitoring tool.

[2022-05-10 13:13] palash-signoz commented on #1129
Hi @AnirudhaGohokar
Can you please change the Global Time in the Header section ? would that solve your problem

[2022-05-10 14:29] pranay01 commented on #1117
@ankit01-oss This is expected behavior, only if there is a change in value - the save button should be enabled. Closing the issue

[2022-05-10 14:29] #1117 closed

[2022-05-10 14:31] pranay01 commented on #1129
@AnirudhaGohokar The list of services shown are based on the time selected in the top right corner. Only the services which send data in the selected time are shown.

As @palash-signoz suggested, can you try changing the time period and see if the issue still persists

[2022-05-10 19:44] palash-signoz opened #1131 "integrate commit lint in frontend"
## Is your feature request related to a problem?

*Please describe.*
https://github.com/conventional-changelog/commitlint

## Describe the solution you'd like
Configure commit lint in frontend

[2022-05-11 17:06] pranay01 commented on #1125
@palash-signoz Is this an issue from frontend or backend?

[2022-05-12 05:19] ankitnayan commented on #395
https://github.com/SigNoz/signoz/pull/994
https://github.com/SigNoz/signoz/pull/993

[2022-05-12 05:19] #395 closed

[2022-05-12 05:22] #644 closed

[2022-05-12 05:23] makeavish commented on #975
[v0.8.0](https://github.com/SigNoz/signoz/releases/tag/v0.8.0) fixes this

[2022-05-12 05:23] #975 closed

[2022-05-12 05:24] makeavish commented on #751
[v0.8.0](https://github.com/SigNoz/signoz/releases/tag/v0.8.0) uses clickhouse v2 with native client.

[2022-05-12 05:24] #751 closed

[2022-05-12 05:24] makeavish commented on #881
[v0.8.0](https://github.com/SigNoz/signoz/releases/tag/v0.8.0) is released with this feature.

[2022-05-12 05:24] #881 closed

[2022-05-12 05:27] makeavish commented on #272
[v0.8.0](https://github.com/SigNoz/signoz/releases/tag/v0.8.0) has improved the clickhouse performance by updating schema of the DB and also using clickhouse v2 native version as a client.

[2022-05-12 05:27] #272 closed

[2022-05-12 06:35] itzikiusa commented on #272
@makeavish
any plans of imroving the metrics page?
regarding the tracing page i'm only inserting the "problematic" traces, so there is not much of an issue on my case

i have around 1 billion traces a day
and querying the base table without MV takes a long time

thanks for the PR

[2022-05-12 08:46] malanvaneck opened #1137 "Font style on the Service-map"
## Is your feature request related to a problem?

No

## Describe the solution you'd like

Request to make the service-map service names more readable.
![image](https://user-images.githubusercontent.com/52539494/168029852-5fc559bf-b07e-48a9-81eb-82892956964c.png)

## Describe alternatives you've considered

Maybe make the entire service name visible, and change the color.
Right now it's very hard

[2022-05-12 09:38] makeavish commented on #272
@itzikiusa Metrics perf improvement is still WIP.

Do you have 1 billion problematic traces?

[2022-05-12 09:49] itzikiusa commented on #272
@makeavish no :)
i have total around 1 billion traces, out of them around 100k are problematic
but when trying to get metrics data about service performance (latency for example)
we still query all of the 1 billion spans
creating MV for this would be very usefull, and all queries should run on the aggregated table, instead of main one
and main one should be used when trying to dig into specific tr

[2022-05-12 17:06] #738 closed

[2022-05-12 17:12] pranay01 opened #1139 "Enable support for Logs"
This feature should enable users to send logs to SigNoz and visualise it in SigNoz UI

- [ ] https://github.com/SigNoz/signoz/issues/1140
- [ ] https://github.com/SigNoz/signoz/issues/1141

[2022-05-12 17:14] pranay01 opened #1140 "Enable Support for Logs (Frontend)"

[2022-05-12 17:14] pranay01 opened #1141 "[Epic] Enable Support for Logs (Backend)"

[2022-05-12 17:23] pranay01 commented on #564
@palash-signoz Should we close this issue as #569 is already merge?

[2022-05-12 17:23] pranay01 opened #1142 "Implement Playwright for better frontend QA"
Ref - https://github.com/SigNoz/signoz/issues/564

[2022-05-12 17:27] pranay01 opened #1143 "Add better ways to visualise Trace aggregates"
Current trace filter page in SigNoz, shows individual spans on filtering. Many users have shared that individual traces may be too granular and there should be a way to show trace aggregate data before diving down deeper into individual traces

[2022-05-12 17:28] pranay01 opened #1144 "[EPIC] Add support for sampling traces"
Currently SigNoz doesn't enable sampling of traces. Enabling sampling would allow organizations which can potentially generate huge trace data to sample it so that resource requirements are optimised

Tasks:

- [x] Blocker for sampling: https://github.com/SigNoz/signoz/issues/1793
- [x] https://github.com/SigNoz/signoz/issues/2151
- [x] https://github.com/SigNoz/engineering-pod/issues/641
- [ ] ht

[2022-05-12 17:55] pranay01 commented on #1113
@srikanthccv do you have insights on this?

[2022-05-12 18:03] pranay01 commented on #946
@bhaswanth88 is Part 1. of this issue resolved by the auth feature with VIEWER access?

[2022-05-12 18:08] pranay01 commented on #55
Users can now choose if they want to be anonymous when logging in

[2022-05-12 18:12] pranay01 commented on #582
@pranshuchittora Can you create docs and blogs based on the examples you have tried for PHP apps

[2022-05-12 18:12] srikanthccv commented on #1113
@nitin1993915 Which version of SDK are you using? Unlike gunicorn, uvicorn doesn't have any hooks that can be used to instantiate new span processor for each worker https://github.com/open-telemetry/opentelemetry-python/tree/main/docs/examples/fork-process-model. The newer version of sdk attempt to fix this to certain extent but there might be some limitation with uvicorn.

[2022-05-12 18:14] bhaswanth88 commented on #946
@pranay01 : viewer account based is solved, but our main requirement is to able to share dashboard as view only link to some external users without account.

another possible enhancement would be embedding the sharable dashboards using iframes or some js scripts / divs

[2022-05-12 18:16] bhaswanth88 commented on #1141
would love to see this feature soon.  This is very much the need of hour to do a simple way of integrating logs for distributed microservice based envs

[2022-05-13 04:45] palash-signoz commented on #564
Yes Closing

[2022-05-13 04:45] #564 closed

[2022-05-16 13:13] makeavish commented on #289
Blog is published on signoz.io: https://signoz.io/blog/opentelemetry-ruby/

[2022-05-16 13:13] #289 closed

[2022-05-16 19:52] nico-ketl opened #1149 "Botocore metrics not showing up in external metrics"
## Bug description

I can’t find data in the metrics tab about client s3 calls done in my grpc service.

A trace with s3 call
<img width="1238" alt="image" src="https://user-images.githubusercontent.com/87372031/168669851-a0fb9ef3-b753-44df-93dc-3ffaacbc33b3.png">

Empty external metrics
<img width="1219" alt="image" src="https://user-images.githubusercontent.com/87372031/168669955-30db0b0c-e192-4

[2022-05-16 20:04] pranay01 commented on #1149
Adding slack thread from community for more context - https://signoz-community.slack.com/archives/C01HWQ1R0BC/p1652726376405559

[2022-05-17 09:53] myoss opened #1150 "unknown time zone Asia/Shanghai"
## Bug description

[code]

[2022-05-17 12:10] #1137 closed

[2022-05-18 01:32] myoss commented on #1150
use external `/usr/local/Cellar/go/1.17/libexec/lib/time/zoneinfo.zip`
[code]

[2022-05-18 06:03] myoss opened #1156 "otel-collector-metrics deploy failed"
## Bug description

[code]

## How to reproduce

[code]

signoz-0.0.13.tgz

[2022-05-18 13:49] makeavish opened #1157 "Show Clickhouse storage usage on UI"
## Is your feature request related to a problem?
When Clickhouse reaches the storage limit then the user doesn't know what's the issue without looking at query-service logs.

## Describe the solution you'd like
Show Clickhouse storage usage on UI along with the amount of disk available in the Usage Explorer tab.

#### *Thank you* for your feature request – we love each and every one!

[2022-05-18 14:07] bdronneau opened #1161 "Service map broken if only background workers"
Hello,

When Signoz is only plug with background workers, when navigate to `service-map`, we've got a blank page.

In the console:
![image](https://user-images.githubusercontent.com/4170158/169061135-025ddf2b-a43a-470f-a4ea-75cef35cb17a.png)

Best

[Thread slack](https://signoz-community.slack.com/archives/C01HWQ1R0BC/p1652879603473779)

[2022-05-18 19:56] pranay01 opened #1160 "Add support for monitoring Traefik"
## Is your feature request related to a problem?

Many users have asked for a way to support Traefik with SigNoz - so that users can also understand time spent in the API gateway or get metrics from it

## Describe the solution you'd like
SigNoz should be able to get get trace / metrics data in Traefik

## Describe alternatives you've considered

## Additional context
Reddit Discussion - https://w

[2022-05-19 01:53] mxlxm opened #1162 "Add LDAP Authentication"
## Is your feature request related to a problem?

Allow user to login with their LDAP credentials.

## Describe the solution you'd like

Integrate LDAP support with https://github.com/go-ldap/ldap, and also allow user to specify mappings between LDAP group memberships and signoz user role.

## Describe alternatives you've considered

## Additional context
Add any other context or screenshots about

[2022-05-19 07:59] #1131 closed

[2022-05-19 08:34] prashant-shahi commented on #1150
Hey @myoss!

I am able to see `Asia/Shanghai` in the clickhouse image that is used in SigNoz. Are you using external Clickhouse? if yes, please share information like docker image and version.

I am tried to replicate on my machine but I wasn't able to.

Can you share more details on how it can be replicated?
Also, do share what you have done differently like any OtelColelctor or Clickhouse config

[2022-05-19 10:25] myoss commented on #1150
used external clickhouse, deployed by other teams, our server time zone is `Asia/Shanghai`

[code]

[2022-05-19 10:39] #1125 closed

[2022-05-19 11:12] #1112 closed

[2022-05-19 13:27] makeavish opened #1168 "Test and Upgrade Clickhouse images"
SigNoz is using 1 year old Clickhouse image, latest images has bug fixes and performance improvements.

[2022-05-19 14:01] #937 closed

[2022-05-19 14:01] #939 closed

[2022-05-20 00:13] mugr1x opened #1172 "update Makefile build- target"
trying to build with deploy/install.sh as advised in docs builds fine,
however make build-frontend-amd64 shows an error about node version
so this is mostly dev/pipeline due to an outdated docker repo ?

in clean arch chroot: https://bin.disroot.org/?bf9d0899220b375b#6Ewxhb3mXmiqcJfJJ6zwchhp4k8vL8mMCTkmAkW4V3Tn

[2022-05-20 01:49] myoss commented on #1150
[code]

[2022-05-20 04:32] prashant-shahi commented on #1156
Hey @myoss :wave:

The above issue should be fixed with the following PR.
https://github.com/SigNoz/charts/pull/25

You can fork the charts repository and test it out. Or you can wait for next couple of days, we will be releasing new chart soon.

[2022-05-20 05:59] mindhash commented on #941
@dwelch2344 I have started working on this. You should see it soon in upcoming releases.

[2022-05-20 06:57] medicharlachiranjeevi opened #1175 "coldStorage s3 issue"
## Bug description
config about Move to S3  is reverting back to none values in logs we got the exception.
[code]
this is working as at version 0.7.5 in 0.8.0 it's not working as expected.

## How to reproduce

1. install latest SigNoz in k8s using helm
2. enable coldStorage
3. try change Move to S3 period.

![Screenshot from 2022-05-20 12-26-11](https://user-images.githubusercontent.com/17638736/

[2022-05-20 10:33] palash-signoz commented on #1175
Fixed by https://github.com/SigNoz/signoz/pull/1177

[2022-05-20 11:22] prashant-shahi commented on #1175
@medicharlachiranjeevi The above PR should resolve this issue.

[2022-05-20 11:22] #1175 closed

[2022-05-20 11:22] prashant-shahi commented on #1175
@medicharlachiranjeevi The above PR should resolve this issue.

[2022-05-20 11:25] medicharlachiranjeevi commented on #1175
when it is going to be realised ?

[2022-05-20 11:33] #1142 closed

[2022-05-20 11:42] prashant-shahi commented on #1175
@medicharlachiranjeevi Today :)

[2022-05-22 12:20] alexanderadam opened #1188 "[authn] oidc support in community?"
## Is your feature request related to a problem?

It would be nice to use external auth services like [Authelia](https://www.authelia.com/), [Keycloak](https://www.keycloak.org/), [Authentik](https://goauthentik.io/) or [GitLab](https://docs.gitlab.com/ee/integration/openid_connect_provider.html).
OpenID Connect is probably the widely adapted one but some might prefer SAML.

## Describe the soluti

[2022-05-22 14:13] pranay01 commented on #1188
hey @alexanderadam Thanks for the issue. Curious, to learn what specific use case would this solve for you? Do you use Gitlab/Authelia auth currently in your org

[2022-05-22 19:49] alexanderadam commented on #1188
I would even claim that everybody uses an identity solution (sometimes even without knowing).
Apps like GitLab or Nextcloud have the server (and even client) functionality included and most famous applications that can be selfhosted allow to use OAuth2, OpenID Connect or SAML.

[2022-05-23 03:54] makeavish commented on #88
This is solved in latest version.

[2022-05-23 03:54] #88 closed

[2022-05-23 05:22] medicharlachiranjeevi commented on #1175
hey @prashant-shahi ,
seem's it's not deployed yet.

[2022-05-23 06:13] prashant-shahi commented on #1175
@medicharlachiranjeevi we are currently working on couple of things that would be out in the new release..
it should be out in few days.

[2022-05-23 09:48] srikanthccv opened #1193 "Remove the old druid references in codebase"
Example https://github.com/SigNoz/signoz/blob/develop/pkg/query-service/app/server.go#L111

[2022-05-23 18:15] pranay01 commented on #1172
@prashant-shahi do you have any more insights on this?

[2022-05-23 18:16] pranay01 commented on #1162
thanks for opening this issue @mxlxm We will look into it

[2022-05-24 05:50] #1161 closed

[2022-05-25 02:56] srikanthccv commented on #728
This is an issue from our collector span metrics writer exporter infrequently dropping the data because of tcp I/O timeout. There is a retry mechanism in place to avoid the dropping but it could be possible that the retry is also not successful in very rare scenarios. We are looking into this. If you don't see any data at all for an application that is under constant workload, please share us the

[2022-05-25 04:51] GameXG opened #1200 "How to set signoz-access-token?"
The [sample-golang-app](https://github.com/SigNoz/sample-golang-app) example sets [signoz-access-token](https://github.com/SigNoz/sample-golang-app/blob/master/main.go#L33) , where can signoz get this token?

How does signoz add client authentication? Only process legally submitted data?

[2022-05-25 05:01] pranay01 commented on #1200
@GameXG I don't think you need SigNoz access token. @makeavish can you confirm this? Please remove it from sample token as well if it is not needed

@GameXG What do you mean by client authentication? Do you want to check if the application sending data to SigNoz is authenticated to send or not?

[2022-05-25 05:53] makeavish commented on #1200
Yes @pranay01 signoz access token is not required, it's mentioned in [blog](https://signoz.io/opentelemetry/go/) too.

[2022-05-25 05:57] prashant-shahi commented on #1172
Hey @mugr1x! That looks like node version mismatch issue.

We had updated frontend Dockerfile few days back.
Can you pull latest changes from `develop` branch? It should be fixed there.

Closing this issue for now, feel free to re-open if this issue still persists for you.

[2022-05-25 05:57] #1172 closed

[2022-05-25 05:59] pranay01 commented on #1200
I see. Can you raise PR fixing both the blog and the sample app @makeavish

[2022-05-25 06:38] GameXG opened #1203 "[documentation] How does signoz Metrics work?"
Manually submitted traces and metrics will not be displayed in metrics, and applications cannot be seen. But the records can be seen inside traces.

And go.opencensus.io/plugin/ochttp and other submissions can be seen in metrics.

Tried to imitate ochttp submission, but still can't see it in metrics.

May I ask what conditions are required for the metrics to display the application?

Test code:

[

[2022-05-25 08:31] prashant-shahi commented on #1156
Closing this issue as it had been fixed by https://github.com/SigNoz/charts/pull/25

@myoss Feel free to open this issue if the issue still persists for you when tried from `main` branch.

[2022-05-25 08:31] #1156 closed

[2022-05-25 12:51] GameXG commented on #1200
thanks

@pranay01  Yes, hopefully only authenticated programs can send data to SigNoz.

[2022-05-25 15:26] pranay01 commented on #1203
@GameXG would be great if you can share what you learned - may be helpful for others in the community

[2022-05-26 07:09] makeavish commented on #542
DB instrumentation was added to sample golang app: https://github.com/SigNoz/sample-golang-app

[2022-05-26 07:09] #542 closed

[2022-05-26 08:04] #1200 closed

[2022-05-26 11:08] GameXG commented on #1203
https://github.com/open-telemetry/opentelemetry-go-contrib/blob/main/instrumentation/net/http/otelhttp/handler.go#L69

solved

Only requests that carry this SpanStartOption will be counted in Metrics.

[2022-05-26 11:08] #1203 closed

[2022-05-27 05:36] #794 closed

[2022-05-27 05:54] pranay01 commented on #1160
Wait for opentelemetry support

[2022-05-27 08:08] prashant-shahi commented on #1160
Tracking issue: https://github.com/traefik/traefik/issues/6374

[2022-05-27 16:18] JamieSlome opened #1210 "Security concern"
Hello 👋

I run a security community that finds and fixes vulnerabilities in OSS. A researcher (@cokebeer) has found a potential issue, which I would be eager to share with you.

Could you add a `SECURITY.md` file with an e-mail address for me to send further details to? GitHub [recommends](https://docs.github.com/en/code-security/getting-started/adding-a-security-policy-to-your-repository) a secur

[2022-05-29 00:38] boojongmin opened #1211 "redirect login page after install.sh"
## Bug description

I meet login page when install signoz main & develop branch(over 8.x version)

I downed major version 8 to 7. (7.5)
then I meet this page

<img width="969" alt="image" src="https://user-images.githubusercontent.com/9567723/170847062-03edd80b-4777-4308-85e1-68d6cb3757ca.png">

## Expected behavior

<img width="969" alt="image" src="https://user-images.githubusercontent.com/95677

[2022-05-29 04:20] pranay01 commented on #1211
@boojongmin Not clear what your question is. The above screen is expected in v0.7.5

We have updated the login/auth mechanism in v0.8.0 - https://signoz.io/docs/userguide/authentication/
Upgrade path from 0.7.5 to 0.8.0 -> https://signoz.io/docs/operate/upgrade/

It would be great if you can share more details on the issue you are facing

[2022-05-29 08:38] Zoharos opened #1212 "@opentelemetry/exporter-otlp-grpc is deprecated"
Hi,
I noticed that in the documentation it is recommend to use @opentelemetry/exporter-otlp-grpc although it is deprecated.

Maybe update the documentation @opentelemetry/exporter-trace-otlp-grpc and @opentelemetry/exporter-metrics-otlp-grpc and that it is supported.

Thanks

[2022-05-29 08:45] TENX-S opened #1213 "[Question] Unable to install signoz"
Following the https://signoz.io/blog/opentelemetry-grpc-golang/#installing-signoz:
[code]
I got:
[code]

OS:
[code]

[2022-05-29 09:05] srikanthccv commented on #1213
@TENX-S This is not really related to SigNoz. https://github.com/moby/moby/issues/16816 This is issue with your docker, try restarting your docker. These comments might help you https://github.com/moby/moby/issues/16816#issuecomment-179717327, https://github.com/moby/moby/issues/16816#issuecomment-185103502

[2022-05-29 09:11] srikanthccv commented on #1212
@Zoharos feel free to send a pull request updating the docs if you are interested. Otherwise, one of us will review the post content again and update all the relevant deps.

[2022-05-29 11:31] pranay01 commented on #1212
@Zoharos here's the repo for the website - https://github.com/SigNoz/signoz.io/

[2022-05-29 13:00] #1213 closed

[2022-05-29 13:14] TENX-S opened #1215 "[Question] unable to signup"
![bug](https://user-images.githubusercontent.com/40336192/170870570-b860dfaa-8297-4ce3-bb58-224d069e4947.gif)

[2022-05-29 13:17] TENX-S commented on #1215
Sorry for the noise

[2022-05-29 14:03] pranay01 commented on #1215
@TENX-S I think it's a valid issue. the Get started button should be disabled when the password requirements are not met.

[2022-05-29 22:05] boojongmin commented on #1211
@pranay01

thank you comment. I didn't understand what updated login mechanism.
because I haven't no admin information where console log or web documentation.
but signoz web page want to admin authentication when first install.

how I find login id/password?

thank you

[2022-05-29 23:59] tinti opened #1216 "Add environment variable to set Traces and Metrics TTL"
## Is your feature request related to a problem?

No.

## Describe the solution you'd like

Would be nice to have two environment variables like `SIGNOZ_TRACES_TTL` and `SIGNOZ_METRICS_TTL`. Setting those variables would make SigNoz server adjust the TTL on boot.

## Describe alternatives you've considered

Setting the default TTL at the InitDB() function but this would cause confusion if the vari

[2022-05-30 03:25] pranay01 commented on #1216
thanks for creating the issue @tinti

Which version of SigNoz are you on? In the newer versions you should be able to set Trace and Metrics TTL from the `Settings` tab in UI.

Attached is a reference screenshot

![Screenshot 2022-05-30 at 8 54 21 AM](https://user-images.githubusercontent.com/504541/170911564-00977b99-413e-4ac6-9fc6-c0331056aa0e.png)

[2022-05-30 10:43] pranay01 commented on #1210
thanks @JamieSlome for opening the issue. Let me check the GitHub link you have shared

[2022-05-30 11:07] JamieSlome commented on #1210
Thanks, @pranay01 🤝

Just for reference, the report we received can be found directly here:
https://huntr.dev/bounties/f2181d40-407d-4ce3-b137-8fb3af66cad0/

It is currently private and only accessible to maintainers with repository write permissions that sign up to the platform. However, we understand that you may not want to sign-up, so can provide you with a magic URL once we have an e-mail tha

[2022-05-30 11:35] pranay01 commented on #1210
Hey @JamieSlome
Have added an email for reporting vulnerabilities here
https://github.com/SigNoz/signoz/blob/develop/SECURITY.md

[2022-05-30 11:54] #1210 closed

[2022-05-31 03:58] pranay01 opened #1219 "Update video link which appears when users have 0 services instrumented"
The youtube video link which appears in the popup when there are 0 services instrumented points to an older version (as shown in the screenshot below)

Please update the video URL to https://www.youtube.com/watch?v=J1Bof55DOb4

![Screenshot 2022-05-31 at 9 22 13 AM](https://user-images.githubusercontent.com/504541/171089695-8919d5d6-f800-4d05-8c73-d9b9d577d3c4.png)

[2022-05-31 06:34] srikanthccv commented on #728
@ankitnayan it has been observed that some instrumentation libraries and people who use manual instrumentation don't set the span kind to client and such operations are not considered to generate span metrics. We can be less restrictive about span kind and include the SpanKind.Internal as well. What are your thoughts?

[2022-05-31 19:03] Zoharos commented on #1212
Hi,
Before I leave a PR I checked if the new recommended libraries are supported by signoz and it made me some problems.
In http I get 400 bad request because of unknownfield scopeSpans ERROR.
In grpc I get http2Server.HandleStreams received bogus greeting from client ERROR.

[2022-06-01 02:59] srikanthccv commented on #1212
@Zoharos thanks for taking a stab at it. There was a change in proto since 0.15.0 because of renaming `InstrumentationLibrarySpans` to `ScopeSpans` https://github.com/open-telemetry/opentelemetry-proto/releases/tag/v0.15.0. Which version of `@opentelemetry/exporter-trace-otlp-*` are you using?

[2022-06-01 04:07] Zoharos commented on #1212
@srikanthccv with both grpc and http packages I tried with the latest version as of now (0.29.0)

[2022-06-01 12:45] #1219 closed

[2022-06-01 18:37] makeavish commented on #272
@itzikiusa Agree that we should be querying aggregated traces in cases where we are aggregating data to show metrics. But we are going to move db query of fetching of errors rates, latency, etc to metrics db which will be derived by using SpanToMetrics processor.
For trace filter page we couldn't aggregate data to show charts as we also provide tag filters now which has very high cardinality and i

[2022-06-01 20:50] kenichi opened #1222 "Alert expression support for exceptions"
## Is your feature request related to a problem?

We can not get alerts configured for quantity of exceptions (>0) in a time range.

## Describe the solution you'd like

We'd like to have an expression or built-in metric to count exceptions in a time range so that we may trigger an alert when conditions are met.

## Describe alternatives you've considered

sentry, rollbar, honeybadger, etc.

## Ad

[2022-06-01 22:48] srikanthccv commented on #1222
@kenichi Are you sending any exception counter metric to signoz? If so, you could create your own expression on that metric  for rule.

Otherwise, you can use one of metrics generated by signoz from the span data and relevant metric is `signoz_calls_total`. You could probably use this metric. Expression for rule would look something like this for error rate change > x% for 1 min.

[code]

You coul

[2022-06-02 08:16] zriyansh opened #1223 "Bug in sorting traces via duration"
## Bug description

## How to reproduce

1. Install SigNoz on localhost.
2. Install the [sample-go-app](https://github.com/SigNoz/sample-golang-app).
3. Connect both (connect Otel with sample app).
4. Go to “frontend” Application of the default hot R.O.D app, click on any point in the graph and “view traces”.
5. Then go back to traces tab (bottom section) and try to sort the “Duration” tab a coupl

[2022-06-02 14:05] pranay01 opened #1224 "Enable searching of services and operation names in trace filter page"
## Is your feature request related to a problem?

When there are lots of services and operations in the trace filter page ( say 20+) then finding the exact service/operation to filter on becomes extremely cumbersome in current UX.

## Describe the solution you'd like

Users should be able to filter services and operations name through a search like interface, so that they can find the required ser

[2022-06-02 14:28] pranay01 opened #1225 "More intuitive custom time filter selection"
## Is your feature request related to a problem?

To select a custom time filter in SigNoz UI, users need to go the time filter in top right corner and select a time frame. Though users are generally not very sure on what time filter they should  select and which has the issues they are trying to investigate.

![Screenshot 2022-06-02 at 7 39 39 PM](https://user-images.githubusercontent.com/504541/

[2022-06-02 14:41] #1223 closed

[2022-06-02 14:52] pranay01 opened #1226 "Enable status code filtering in left panel in trace filter page for grpc codes also"
## Is your feature request related to a problem?

Currently, left panel in trace filter page is shows only HTTP code as filters. Though users can filter based on GRPC code using tag filters, it would be good idea to enable status code based filtering in trace filter left panel also

![Screenshot 2022-06-02 at 8 19 30 PM](https://user-images.githubusercontent.com/504541/171657054-6e781beb-315b-4e25

[2022-06-02 14:58] pranay01 opened #1227 "Enable typing and autosuggestion in tag filters in trace filter page"
## Is your feature request related to a problem?

Currently, tag filters in trace filter page only supports selecting from the dropdown. But if this list is very long, then finding the exact entries may be cumbersome.

![Screenshot 2022-06-02 at 8 24 19 PM](https://user-images.githubusercontent.com/504541/171658296-9b895451-df48-460e-9911-1a872b589df6.png)

## Describe the solution you'd like

Ena

[2022-06-02 16:55] srikanthccv opened #1228 "Incorrect 5xx rate calculation"
The original 5XX for each service is getting replaced by 4xx in the later step.

https://github.com/SigNoz/signoz/blob/5d080f5564c7839d0908db48bc8fff47d0e55648/pkg/query-service/app/clickhouseReader/reader.go#L1161-L1165

https://github.com/SigNoz/signoz/blob/5d080f5564c7839d0908db48bc8fff47d0e55648/pkg/query-service/app/clickhouseReader/reader.go#L1188-L1192

[2022-06-02 18:48] pranay01 commented on #1222
hey @kenichi Just curious, don't platform like Sentry/Rollbar allow you to set such alerts. Asking as I don't have much experience with these platforms :)

[2022-06-02 19:05] pranay01 commented on #1216
@tinti Just checking if the above response solves the issue?

[2022-06-02 19:21] pranay01 commented on #728
Related : https://github.com/SigNoz/signoz.io/issues/341

[2022-06-02 19:44] pranay01 commented on #481
Closing issue as this is fixed now

[2022-06-02 19:44] #481 closed

[2022-06-02 19:49] pranay01 commented on #333
![Screenshot 2022-06-03 at 1 17 35 AM](https://user-images.githubusercontent.com/504541/171725761-b25ca1ea-8474-43d8-a9ec-fa8ce19b9e87.png)

@adirmatzkin we have added support for services.namespace attribute  now. You can filter based on this in Services list page.

Relevant docs - https://signoz.io/docs/userguide/metrics/#steps-to-add-resource-attributes

[2022-06-02 19:51] pranay01 commented on #582
https://signoz.io/docs/instrumentation/php/ - this is fixed now

[2022-06-02 19:51] #582 closed

[2022-06-02 19:53] #516 closed

[2022-06-02 22:55] ceefour commented on #582
Awesome!

[2022-06-03 16:31] makeavish opened #1230 "Incorrect status on trace table for gRPC spans"
## Bug description

Status on trace table of trace filter page for gRPC spans is always shown as zero:
![image](https://user-images.githubusercontent.com/9512100/171906900-6be2ff98-a5b8-4920-99ac-5db98313e1a5.png)

But gRPC status in trace detail for same span is correct which is 5:
![image](https://user-images.githubusercontent.com/9512100/171907140-dd50de2e-6534-458c-880e-0b56915fe982.png)

User

[2022-06-03 16:33] makeavish commented on #1230
This isn't reproducible in golang gRPC instrumentation, maybe this is instrumentation specific bug.
Trying on sample nodejs gRPC app.

[2022-06-04 00:32] derrickmehaffy commented on #1188
Also popping in here to advocate for us Keycloak users, even as hobbyists this would be an awesome win :)

[2022-06-04 00:37] derrickmehaffy commented on #940
Also believe it would be nice to add some references to scalability best practices for tracing and metrics for multiple applications.

Ideally best practices focusing on fault tolerance and load balancing of incoming data.

[2022-06-04 10:39] vizcay opened #1231 "Minimum memory requirements"
For the "Docker standalone" installation the docs state:

As I know is usual README overstates the requirements I got into the Slack for a quick search where I found one of the maintainers stating:

![signoz](https://user-images.githubusercontent.com/4545990/171995529-7d95026c-6d5c-4287-bcc1-4bcabf33dd9b.png)

I will suggest extending the docs to something like:

* A minimum of 2GB of memory must

[2022-06-04 10:56] alexanderadam commented on #1231
Maybe there are even possibilities to configure SigNoz to use less memory?
[GitLab for instance documented some tweaks how to use less memory](https://docs.gitlab.com/omnibus/settings/memory_constrained_envs.html). Maybe this would be possible here as well?

[2022-06-05 00:58] pranay01 commented on #1231
thanks @alexanderadam @vizcay for the issue.

I think the Gitlab link is interesting. It specifically mentions how to run Gitlab on memory constrained environments.

@vizcay Feel free to open a PR for your suggestion, seems like a fair point

[2022-06-05 01:31] pranay01 commented on #589
I see. So this is something which can't be fixed @prashant-shahi - and we can close this issue as we have noted this in docs

or are there ways to fix this?

[2022-06-05 01:33] pranay01 commented on #739
this is fixed with https://github.com/SigNoz/signoz/releases/tag/v0.8.0

[2022-06-05 01:33] #739 closed

[2022-06-05 01:37] pranay01 commented on #690
the firefox specific issue is fixed now, https://github.com/SigNoz/signoz/issues/710 tracks the async approach

[2022-06-05 01:37] #690 closed

[2022-06-05 01:43] pranay01 commented on #786
this is fixed with https://github.com/SigNoz/signoz/pull/1081

[2022-06-05 01:43] #786 closed

[2022-06-05 01:47] pranay01 commented on #717
@prashant-shahi I think this is done now, right?

[2022-06-05 01:59] pranay01 commented on #1113
@nitin1993915 Just checking if you are still facing this issue or this is solved. Please update here accordngly

[2022-06-05 02:03] pranay01 commented on #946
Related https://github.com/SigNoz/signoz/issues/444

[2022-06-05 02:04] pranay01 commented on #613
@prashant-shahi Is this fixed now?

[2022-06-05 02:06] pranay01 commented on #710
fixed by https://github.com/SigNoz/signoz/pull/1173

[2022-06-05 03:52] Tusharknath1 opened #1232 ".NET6 Docker - Signoz is not working. No data and no service name register"
.NET6 Docker - Signoz is not working. No Service name and no data of traces but console exporter is printing data on console.
Could any one can look into these issue ?

https://github.com/SigNoz/sample-ASPNETCore-app/blob/main/Startup.cs

Signoz is not working with docker for .NET 6 projects. Current below oltp nuget packages for .net6

-------------------------------------------------------------

[2022-06-05 09:24] prashant-shahi commented on #717
@pranay01 yes, it is done. And dashboard addition could be found in docs here: https://signoz.io/docs/tutorial/kubernetes-infra-metrics/

Closing the issue.

[2022-06-05 09:24] #717 closed

[2022-06-06 01:05] tinti commented on #1216
Hi @pranay01,

Thanks for replying. The UI works but would be great to have a way to do it without having to manually set it at the UI. I think this PR would solve the issue: https://github.com/SigNoz/signoz/pull/1233

[2022-06-06 07:03] ParamTechLead opened #1236 "[web] nginx reverse proxy not working at subpath"
Hi, We are trying to run Signoz frontend behind nginx reverse proxy. When we try to access signoz using server path like https://domain.com/signoz only a blank page is displayed. We are able to access using root path and port. But in our case it needs to be under /signoz and not / .
How do we update baseref in helm values.yaml for frontend?

[2022-06-06 08:05] mindhash commented on #389
This will be useful in situations like 'high disk usage' which can may take a while for the fix (since human intervention might be required).

Mute alerts with an option to specify timeframe (e.g. Mute this alert for 24 hours) will help users to get a reminder.

[2022-06-06 08:39] ankitnayan commented on #389
@mindhash also, `resume` option to start sending alerts again.

[2022-06-06 08:48] Zoharos opened #1237 "Querying traces"
## Is your feature request related to a problem?
No

## Describe the solution you'd like
I want to make a query on traces and create a dashboard panel of it, is it possible right now in Signoz?

[2022-06-06 08:58] pranay01 commented on #1237
@Zoharos Can you share more details on which specific queries you want to run ?

[2022-06-06 09:00] pranay01 commented on #1237
You can filter traces based on tags today - https://signoz.io/docs/userguide/traces/#filter-spans-by-tagsattributes
![Screenshot 2022-06-06 at 2 29 41 PM](https://user-images.githubusercontent.com/504541/172130106-607d9698-ca97-4c6d-bcbf-9200363af5bf.png)

[2022-06-06 09:04] Zoharos commented on #1237
I want to compare the number of traces with errors in the last two weeks compare to the two weeks before them

[2022-06-06 09:24] prashant-shahi commented on #589
@pranay01  Now, that I think of it again.
We could actually use label filter with `clickhouse.altinity.com/app=chop` to delete all Clickhouse Operator items.

[code]

[2022-06-07 06:52] makeavish commented on #902
Fixed with https://github.com/SigNoz/signoz/pull/1173 and https://github.com/SigNoz/signoz/pull/1195

[2022-06-07 06:52] #902 closed

[2022-06-07 06:52] makeavish commented on #710
Fixed with https://github.com/SigNoz/signoz/pull/1173 and https://github.com/SigNoz/signoz/pull/1195

[2022-06-07 06:52] #710 closed

[2022-06-07 10:32] #1215 closed

[2022-06-09 11:37] pranay01 opened #1244 "Clicking on edit tag takes to a 404 page on edit alert page"
## Bug description
Clicking on edit tag takes to a 404 page on edit alert page

*Please describe.*
[Loom Video](https://www.loom.com/share/1a63f833f0304205aba9e8367fda435e
)
## Expected behavior

Clicking on edit shouldn't return 404 page

## How to reproduce
As shown in loom video

## Version information
* **Signoz version**: v0.8.1 -rc5
* **Browser version**:
* **Your OS and version**:
* **Your

[2022-06-09 11:44] pranay01 opened #1245 "Incorrect Last refresh time being shown when custom date is selected"
## Bug description

*Please describe.*
*If this affects the front-end, screenshots would be of great help.*

## Expected behavior
The last refreshed time should be more accurate

## How to reproduce
[Loom Video](https://www.loom.com/share/57e672142d30488a9ed3d271ad63f81e)

## Version information
* **Signoz version**:
* **Browser version**:
* **Your OS and version**:
* **Your CPU Architecture**(ARM

[2022-06-09 12:04] pranay01 opened #1247 "Filtering dashboards based on specific titles does not work"
## Bug description

Filtering dashboards based on specific titles does not work. for e.g. Titles with parenthesis

## Expected behavior

The filtering of dashboards should work seamlessly irrespective of filtering of dashboards

## How to reproduce

Attached [loom video](https://www.loom.com/share/49a25af058294beb8af97f2161e577a7)

## Version information
* **Signoz version**:v0.8.1-rc5
* **Browser

[2022-06-13 11:10] pranay01 opened #1248 "[docs] Create docs on using Zapier with Webhooks to send alerts to email"
## Is your feature request related to a problem?

Currently, SigNoz doesn't support sending alerts directly to emails. But it is possible to send alerts to emails by using webhooks as the alert channel and a service like Zapier or integromat

## Describe the solution you'd like

We should create docs on how users can do this, so it is very easy to set up sending alerts to emails by following the g

[2022-06-13 11:28] pranay01 opened #1249 "Rename `Metrics` tab to `Services`"
Currently the default selected tab in SigNoz is `Metrics` tab which actually shows the list of services and datapoints on them which are obtained from traces.

This name could be a bit misleading as SigNoz also supports [sending many types of metric ](https://signoz.io/docs/userguide/send-metrics/) which can be plotted in the `Dashboards` tab.

Hence, using `Services` for the default tab might be

[2022-06-13 11:31] pranay01 commented on #1249
@ankitnayan What do you think?

[2022-06-13 11:51] ankitnayan commented on #1249
@pranay01 yes, we can do that. It makes sense.

[2022-06-13 18:22] pranay01 opened #1252 "Make SigNoz more GRPC aware"
## Is your feature request related to a problem?

Currently, SigNoz assumes the request type being HTTP requests. This leads to suboptimal experience for users using SigNoz for GRPC services.

e.g.
1. To be considered for External calls tab, only call with `http.url`. as non empty are plotted
2. HTTP code facet in trace filter page shows only HTTP status codes

## Describe the solution you'd like

[2022-06-13 18:35] pranay01 opened #1253 "TLS for Otel Collector"
https://signoz-community.slack.com/archives/C01HWQ1R0BC/p1655115917054239

[2022-06-13 19:39] bartoszkosciug opened #1255 "Deploy with helm chart on AWS"
## Bug description
Cant run the signoz on the AWS, the problem is that chi-signoz-cluster dont want to run:
![image](https://user-images.githubusercontent.com/97445164/173431268-68e9191d-d060-49ea-b260-373823139575.png)
![image](https://user-images.githubusercontent.com/97445164/173431309-d24ae776-f4d9-4adb-b25b-db660bd21124.png)

## Expected behavior
The expected behavior is that helm chart is de

[2022-06-13 20:39] ankitnayan opened #1256 "migration script for shifting metrics data to the new schema"

[2022-06-14 05:38] pranay01 opened #1257 "Show Loading icon for cases when API response is taking more time for trace filter page"
Sometimes, trace filter page takes time in loading. In these scenario a loading gif should be shown to indicate to users that this page will take some time to load

[2022-06-14 05:46] pranay01 opened #1258 "Users can't change values in duration filter by typing in it"
## Bug description

Users can't change values in duration filter by typing in it

## Expected behavior

Users should be able to change values in duration filter by typing in it

## How to reproduce

https://www.loom.com/share/6bc255ba42724691a819837e44a31a6b

## Version information
* **Signoz version**: v0.8.1
* **Browser version**:
* **Your OS and version**:
* **Your CPU Architecture**(ARM/Intel)

[2022-06-14 05:50] pranay01 opened #1259 "Error % shown in metrics detail page and in Services List page is different"
Sometimes the values shown in `Error Percentage` panel in application detail page doesn't match with the Error % shown in services list page for that application

[2022-06-14 06:07] makeavish commented on #1143
PRD issue: https://github.com/SigNoz/engineering-pod/issues/440

[2022-06-14 06:09] makeavish commented on #1144
PRD issue: https://github.com/SigNoz/engineering-pod/issues/441

[2022-06-14 06:14] pranshuchittora commented on #788
We have attached the relevant time units to each graph type. So looks like it is fixed.
![Screenshot 2022-06-14 at 11 43 55](https://user-images.githubusercontent.com/32242596/173506140-1388e7f4-230e-4d5b-8a22-8ddbe10496e6.png)

[2022-06-14 06:14] #788 closed

[2022-06-14 06:16] nityanandagohain opened #1260 "Research on supporting multiple source of logs using otel."

[2022-06-14 06:16] nityanandagohain commented on #1141
- [ ] https://github.com/SigNoz/signoz/issues/1260

[2022-06-14 06:17] pranshuchittora commented on #1140
Task List
- [ ] https://github.com/SigNoz/engineering-pod/issues/443

[2022-06-14 06:18] nityanandagohain opened #1261 "Research on ingesting logs from docker, Kubernetes and host"

[2022-06-14 06:20] makeavish opened #1262 "Create a sample NodeJS gRPC app"
Sample App is required to investigate https://github.com/SigNoz/signoz/issues/1230

[2022-06-14 06:21] makeavish commented on #1230
https://github.com/SigNoz/signoz/issues/1262

[2022-06-14 06:53] prashant-shahi commented on #663
Completed: https://signoz.io/docs/tutorial/kubernetes-infra-metrics

[2022-06-14 06:53] #663 closed

[2022-06-14 06:53] AnirudhaGohokar opened #1263 "Manual context propagation across microservices behind Pub/Sub system"
Hi ,

I want to propogate traceid context from one NodeJS microservice to another NodeJS microservice. Currently this is the architecture:

    MicroserviceA >>> KAFKA >>> MicroserviceB

After using code as mentioned [here](https://github.com/open-telemetry/opentelemetry-js/issues/2458#issuecomment-913849614)
 using `W3CTraceContextPropagator`  am unable to get the span under the same traceid.

Is

[2022-06-14 07:14] pranay01 commented on #1263
@AnirudhaGohokar Which opentelemetry related libraries are you using in your NodeJS application? And how is your NodeJS application connecting with Kafka?

[2022-06-14 07:17] AnirudhaGohokar commented on #1263
Am using below temetry libraries:

[code]

For connecting to kafka am using `node-rdkafka`

[2022-06-14 07:24] AnirudhaGohokar commented on #1263
This is the tracer.js file content which am invoking as `node -r tracing.js index.js`

[code]

Now when publishing from MicroserviceA via KAFKA am doing this to get traceID:
[code]

Now when consuming via Kafka in MicroserB am doing this:
[code]

[2022-06-14 16:09] srikanthccv commented on #1263
using W3CTraceContextPropagator am unable to get the span under the same traceid.
Is this even possible with Signoz? Do you have a sample application for same?

@AnirudhaGohokar The trace context propagation is entirely the client instrumentations work. How are you transporting the W3C trace parent value to downstream consumer service? If you log the carrier do you the see the carrier containing `

[2022-06-15 03:11] zedongh opened #1269 "[BUG] application custom chose date and time range not working for some grid graph"
## Bug description

Application inside grid graph view, choose custom date & time range not working for some grid graph.
Request with start time and end time is 0.

## Expected behavior

request with user choosed start end time

## Version information
* **Signoz version**: current develop head

[2022-06-15 05:13] palashgdev commented on #1101
if the status code is 500 frontend will show Something went wrong

[2022-06-15 05:41] nityanandagohain commented on #1260
we can use different operators to parse out logs.

* eg:- https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/examples/kubernetes
* operators :- https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/pkg/stanza/docs/operators

[2022-06-15 05:42] nityanandagohain commented on #1261
k8s example :- https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/examples/kubernetes/otel-collector-config.yml

[2022-06-15 05:56] nityanandagohain opened #1270 "Finalize schema for sotring logs in clickhouse"

[2022-06-15 06:35] nityanandagohain opened #1271 "Build API's for logs"
Will go through design and add subissues w.r.t to the design

@pranay01  we need designs to do complete estimation of building API's

[2022-06-15 06:50] ankitnayan commented on #1257
@pranay01 please add more details

[2022-06-15 21:33] blakeromano opened #1273 "Alert Definitions Through Source Code"
## Is your feature request related to a problem?

This is a feature that the Prometheus Alertmanager comes with and I think would be super helpful for other teams as well as our own in terms of transitioning from Prometheus/Grafana to Signoz and Open Telemetry.

## Describe the solution you'd like

We'd like to see an option which may also work would be to support the scanning of github repos for

[2022-06-16 05:26] makeavish commented on #1230
This issue is related to official otel grpc sdk of node js.
The gRPC status code is being passed as string value and signoz expects it to be integer value which is standard for otel sdk for all the other languages.

[2022-06-16 05:28] makeavish commented on #1262
Closed with https://github.com/SigNoz/sample-nodejs-grpc-app/commits/main

[2022-06-16 05:28] #1262 closed

[2022-06-16 05:53] nityanandagohain commented on #1260
Logs are getting pushed from otel collector, but the only limiting thing is that we have to write different kind of operators for different types of logs in the collector config, which can get complex in aproduction environment.

[2022-06-16 05:54] nityanandagohain commented on #1261
Logs are ingested when docker containers and otel collector is running on the same host, next steps are to collect logs from systems running in different hosts.

[2022-06-16 08:22] zriyansh opened #1274 "service names disappear using sample-rust-app"
## Bug description

Loom video recording that captures the issue better - https://www.loom.com/share/d53fc8dc1a4647e581ffd326d5b41d0e

## Unexpected behavior
HOT ROAD app service names disappear when I try to view a trace of sample-rust-app and then come back to the previous tab.

I am not sure if this is happening for all sample apps or is caused because of signoz v8 breaking changes.

## How to

[2022-06-16 08:43] zriyansh opened #1275 "service name issue with sample-php-app"
## Bug description
This is a front-end issue.
Video link that captures the issue live - https://drive.google.com/file/d/1P2Tgs2zC8sipXHNCHAHC7OtAyEN5_r_S/view?usp=sharing

## How to reproduce

1. Follow sample-php-app instrumentation blog - https://signoz.io/blog/opentelemetry-php/
2. sample-php-app repository - https://github.com/SigNoz/sample-php-app

## Version information
* **Signoz version**:

[2022-06-16 10:38] palashgdev commented on #1275
Hi @zriyansh
Can you please share network logs

[2022-06-17 04:17] buicuong1303 commented on #1263
I have the same issue. I got traceparent: '00-b833af7bc3e35afeaf3955a922273c9d-017ea7b504ba9d57-01'. But I can not extract the parent context in service B

[2022-06-17 08:09] zriyansh commented on #1275
[code]

[2022-06-17 08:31] abelkuruvilla opened #1278 "Listing of Services/Application in Metrics tab"
## Is your feature request related to a problem?

Currently on Metrics tab, only services with Span Kind SERVER is displayed. This is confusing, as most projects may have few servers, and the others could be of CONSUMER kind

## Describe the solution you'd like

I would like to see all the services whose data I've send via otel

## Describe alternatives you've considered

## Additional context
Add

[2022-06-17 09:59] palashgdev commented on #1275
@zriyansh this does not resolve any thing ... from this i am not able to check what's the payload here

[2022-06-17 12:31] zriyansh commented on #1275
Is it possible for you to reproduce this error?

1. Install signoz locally
2. clone the php repo
3. run `php 1-getting-started-console-exporter.php`
4. OTEL_SERVICE_NAME=signoz-php-app php ./src/2-send-trace-to-collector.php

@palashgdev

[2022-06-17 21:15] srikanthccv commented on #1263
What is the issue you are facing while extracting the context? Is the propagator (from SDK) not working or something else?

[2022-06-19 18:34] idlevillager opened #1281 "In some Node Metric charts ( for example for Used Diskspace ), all Y axis co-ord can be the same"
## Bug description
In some Node Metric charts ( for example for Used Diskspace ), all Y axis co-ord are the same
*Please describe.*
Possibly this is because of rounding, however the minichart or legend should show full values.
*If this affects the front-end, screenshots would be of great help.*
![image](https://user-images.githubusercontent.com/1864879/174495295-913d1240-a32b-4667-9e15-8697da551c4

[2022-06-20 02:22] pranay01 commented on #1281
thanks for sharing the issue @idlevillager , we will take a look into it

[2022-06-20 02:24] pranay01 commented on #1278
thanks for reporting the issue @abelkuruvilla Some other users have also reported this issue and you should see a fix soon

[2022-06-20 04:45] moronmon opened #1282 "Sign Up Button Not Working"
## Bug description
Hi,
I do try to run the Signoz 0.8.2 version, deployed using the docker-compose.
The deployment is working fine, but when I try to log in, I don't know the administrator credentials. After looking at the documentation (https://signoz.io/docs/userguide/authentication/), it said:
"
The person who installs SigNoz and registers for the first time is by default assigned the role of a

[2022-06-20 04:54] makeavish opened #1283 "Option to turn off timestamp/duration sorting optimization"
Currently SigNoz uses materialized view and projections to optimize timestamp or duration sorting. But it also increases storage use by 2x.

## Describe the solution you'd like
Allow user to turn off timestamp/duration sorting to reduce storage usage.

## Describe alternatives you've considered
None

#### *Thank you* for your feature request – we love each and every one!

[2022-06-20 04:56] ankitnayan commented on #1282
@moronmon I think you did not meet the requirement checks of a strong password as can be inferred from the screenshot attached

![Screenshot 2022-06-20 at 10 25 13 AM](https://user-images.githubusercontent.com/12460410/174527875-259ee21e-9622-49d6-885d-6a628f574883.png)

[2022-06-20 05:13] #1260 closed

[2022-06-20 06:17] moronmon commented on #1282
Hi @ankitnayan ,
Thank you ... thank you. I missed the special character.

[2022-06-20 06:17] #1282 closed

[2022-06-20 06:32] nityanandagohain commented on #1261
* Ingested tested through TCP receiver which can listen on a port and all the agents/docker containers can send logs to this port.
* The TCP receiver will also allow receiving logs from different machines where log agents support TCP exporters.

[2022-06-20 10:27] makeavish commented on #1230
Opened [issue](https://github.com/open-telemetry/opentelemetry-js/issues/3052) on opentelemetry-js.

[2022-06-20 11:32] pranay01 opened #1285 "Ability to track performance of endpoint and assign to specific team members as KPIs"
## Is your feature request related to a problem?

Some users want to export the list of top endpoints and maintain sheet with performance fixes and assignee to each endpoint. This will help them assign KPIs to individuals around perf improvements which they can track over time

## Describe the solution you'd like

A dashboard where APIs assigned are assigned to team members and the improvements of

[2022-06-21 00:18] buicuong1303 commented on #1263
I think the propagator is not working. I use gRPC to communicate service A and B. I don't know how to propagate the context between 2 services

[2022-06-21 00:52] drjasonharrison commented on #1285
Instead of a single team member, the APIs could be assigned to a team. This would mean that SigNoz would need a team/groups feature.

[2022-06-21 00:59] drjasonharrison opened #1290 "Allow Y-Axis minimum value to be zero"
## Is your feature request related to a problem?

For some graphs, a Y-axis of 0 (zero) is expected rather than a Y-axis min/max interval that adjusts with the data in the current time period. For example, CPU load, latency, response time...It's fine to scale Y-axis max sometimes, but other times it should be set to a fixed value. This allows for quicker interpretation as the user does not need to

[2022-06-21 04:42] srikanthccv commented on #1263
Which propagator are you using? All the propagators provided by SDK work. You could still propagate span context even when you are using gRPC with metadata headers. You first serialize the context to string and then extract context out of string to be used by downstream service. It would look something like this
[code]

[2022-06-21 06:14] prashant-shahi opened #1291 "Auto-instrumentation support for httprouter (Golang request router)"
## Is your feature request related to a problem?

HttpRouter auto-instrumentation currently not supported by Otel Golang SDK.

## Describe the solution you'd like

Native or custom Golang extension SDK to support HttpRouter auto-instrumentation.

## Describe alternatives you've considered

Users can create manual instrumentation, but it can get tedious as application becomes more complex.

/cc @an

[2022-06-21 06:21] buicuong1303 commented on #1263
Thank you. I will try again.

[2022-06-21 09:54] ankitnayan opened #1292 "Add regex support in operators in query builder"

[2022-06-21 10:37] srikanthccv commented on #1259
Query service /overview error calculation - based on the span table entries which have `hasError` set to true i.e `http.status_code` >= 400 or `rpc.grpc.status_code` >= 2 or span status == 2 ( == `ERROR`).

Promql expression for error calculation - >= 400 && < 500 are not considerd which can introduce the variation.
[code]

[2022-06-21 11:08] ankitnayan opened #1293 "Add `not like` and `not regex` operators in query builder"

[2022-06-21 11:11] ankitnayan opened #1294 "Test custom function to calculate running difference for rate"
### Purpose:
To accommodate for corrections like reset counters and other corrections that Prometheus does

### Performance
Report change in performance with the new function

[2022-06-21 11:12] ankitnayan opened #1295 "Query Builder v2"
- [ ] https://github.com/SigNoz/signoz/issues/1294
- [ ] https://github.com/SigNoz/signoz/issues/1293
- [ ] https://github.com/SigNoz/signoz/issues/1292

[2022-06-21 16:07] drjasonharrison opened #1297 "Injection of AWS S3 security keys as environment variables"
## Is your feature request related to a problem?

I can't get the page on this to load (https://signoz.io/docs/configuration/deep_storage)

The AWS S3 access keys for storage of SigNoz data are hardcoded into the signoz/deploy/docker/clickhouse-setup/lickhouse-config.xml

## Describe the solution you'd like

We'd like to have AWS access keys injectable as environment variables using any of the app

[2022-06-21 17:16] pranay01 commented on #1297
hey @drjasonharrison the page you linked is deprecated - https://signoz.io/docs/configuration/deep_storage

This was for druid deep storage setup, but we have deprecated druid as data store. SigNoz currently supports Clickhouse as the datastore.

We don't support s3 storage for Clickhouse currently

[2022-06-21 17:17] pranay01 commented on #1297
@prashant-shahi @ankitnayan do you have more points to add here?

[2022-06-22 04:49] ankitnayan commented on #728
@srikanthccv we can proceed with logic
[code]

seems ok?

[2022-06-22 05:04] srikanthccv commented on #728
Sounds good to me 👍 .

[2022-06-22 05:16] pranay01 opened #1298 "Create a repo for community members to share pre made SigNoz dashboards"
## Is your feature request related to a problem?

SigNoz currently supports ability to import and export dashboard JSON. Currently every SigNoz user needs to create his own dashboard from scratch. This is time consuming.

## Describe the solution you'd like

We can allow SigNoz users to share dashboards they have created with the community. This would help new users get started with a good base po

[2022-06-22 07:19] ankitnayan commented on #1259
The application list page uses below query at `GetServices` method
[code]

The application overview page uses promql that you mentioned to get error data
[code]

The below logic you mentioned is used in the same `overview` page and is not used for error calculation in the overview page.

@palashgdev can you confirm this?

[2022-06-22 07:22] palashgdev commented on #1259
@ankitnayan i am not clear with the comment

[2022-06-22 07:39] ankitnayan commented on #1259
@srikanthccv I confirmed from @palashgdev that `overview` api is not used to create error percentage chart.

[2022-06-22 07:42] zriyansh commented on #1298
<img width="1258" alt="Screenshot 2022-06-22 at 13 10 46" src="https://user-images.githubusercontent.com/52788043/174972291-df95ebf7-fa3e-4e7d-9433-43f214e943ec.png">

Is the JSON for these dashboards available in the docs?
If some dev has it, would be good to initiate the community repo with these pre-made examples.

[2022-06-22 08:35] pranay01 opened #1299 "Create docs and guides based on user persona on how they can use SigNoz to get best outcome"
Some personas we can target for tips and guides -
- [ ] CTO/Decision Maker
- [ ] Engineering Manager
- [ ] SRE Manager
- [ ] SRE

[2022-06-22 08:35] ankitnayan commented on #1259
@pranay01 I see this happen when the metrics is not being stored due to `otel-collector-metrics` crashing. In such case, `error %` and `rps` both charts plots are empty or 0. I don't think this is a case of data sanity. As the application list page fetches data from the trace data whereas the `rps` and `error %` in application overview page fetches data from the metrics api, this scenario will be

[2022-06-22 08:36] srikanthccv commented on #1259
Ok, I was confused then. A week back we fixed an issue with error value here https://github.com/SigNoz/signoz/pull/1229. That could have been one of the possible reasons for the disparity.

[2022-06-22 08:40] pranay01 commented on #1298
Currently, this has dashboards for hostmetrics and k8s metrics.

https://github.com/SigNoz/benchmark/tree/main/dashboards

@prashant-shahi do confirm if this can be added in the docs?

[2022-06-22 08:53] pranay01 commented on #827
With #924 We added the status page with indication on whether the current version is outdated. We should also add the system status panel  in the page - so that users can know if any of the containers are failing and take appropriate actions

[Figma File](https://www.figma.com/file/lE5BDDuulXuGnqvB5GRk1V/SigNoz-OSS---v2-Designs?node-id=2422%3A37051)

<img width="1101" alt="Screenshot 2022-06-22 at

[2022-06-22 09:05] ankitnayan commented on #1259
Yes, that could have caused that. Thanks for fixing that !

[2022-06-22 09:24] ankitnayan opened #1300 "Reduce number of timeseries for external call metrics"
Currently, in `signozspanmetricsprocessor` we are creating a histogram for external call metrics to enable `percentile` calculation for external addresses. We can reduce the number of timeseries by keeping just 2 metric names for calculating `avg` of external call duration, `bucket count` and `bucket sum`. This will reduce the number of timeseries.

[2022-06-22 09:30] #1230 closed

[2022-06-22 10:58] srikanthccv opened #1301 "Enhance external calls inference logic"
It should consider rpc calls. It should look at the url parts (`http.host`, `host.port`, `http.scheme`) if the attribute `http.url` doesn't exist. There are not so widely used things such as Faas which still fall under the category.

- [X] #1305
- [X] FasS

[2022-06-22 11:16] prashant-shahi commented on #1298
@pranay01  We are already using that dashboard JSON in docs. https://signoz.io/docs/tutorial/kubernetes-infra-metrics/

But a new repository for dashboards would make more sense.

[2022-06-22 14:57] huahuayu opened #1302 "open-telemetry compatible JSON stream as datasource"
Hi, I can generate open-telemetry compatible JSON from my application, can I somehow use JSON as signoz data source? I can write go program if needed.

[code]

[2022-06-22 17:55] makeavish opened #1303 "Pagination and Sorting in Exception list page"
Exception list page as pagination on frontend but backend API query which is being made doesn't use pagination which results in slow API response and large network calls.
Even sorting on frontend is client side currently.

[2022-06-23 02:12] taniaduggal commented on #270
Hey @pranay01 . I wanna work on this issue .Could you help me to get started with it ?

[2022-06-23 02:15] taniaduggal commented on #1231
Hey @vizcay . Can you Please share the link of doc where changes can be done ?

[2022-06-23 02:16] taniaduggal commented on #1231
/assign

[2022-06-23 04:08] srikanthccv commented on #1302
@huahuayu It's not practical to adopt some new protocol and it's not about writing some program. OTLP is already stable and everything is built on top of it. FYI, You can already send the JSON encoded OTLP https://github.com/open-telemetry/oteps/blob/main/text/0122-otlp-http-json.md.

[2022-06-23 04:34] #728 closed

[2022-06-23 04:45] #1168 closed

[2022-06-23 04:55] #1247 closed

[2022-06-23 04:58] srikanthccv opened #1305 "include rpc calls and check it full url can be constructed from parts"

[2022-06-23 06:10] prashant-shahi commented on #1297
@drjasonharrison We currently only support S3 as cold storage for historical data that can be set to be moved automatically after some duration from clickhouse default disk.
It would require changes in query-service and clickhouse storage config to use S3 as main storage via ClickHouse.

[2022-06-23 06:48] pranshuchittora commented on #1249
@pranay01 Palash has raised a fix for the same and renamed the specific Tab name per the requirements.
And here's the PR for the same https://github.com/SigNoz/signoz/pull/1250

Ideally, the name of the route (in the URL) and the breadcrumb should change as well but it is now mentioned in the scope of this issue,

Refer this for the detailed explanation of what exactly is missing https://github.co

[2022-06-23 06:53] pranshuchittora opened #1307 "Invalid server status code when alert with specific ID is not found."
## Bug description
The API for getting an alert based on ID is returning 500 instead of 404 when the alert is not found.

*Please describe.*
*If this affects the front-end, screenshots would be of great help.*
Refer this video for detailed explanation
https://github.com/SigNoz/signoz/pull/1251#pullrequestreview-1014638202

## Expected behavior
API should return 404

## How to reproduce
Refer this

[2022-06-23 09:59] #1307 closed

[2022-06-23 10:14] #1269 closed

[2022-06-23 10:30] #1244 closed

[2022-06-23 10:31] palashgdev opened #1310 "Change the name of the route and breadcrumb to include `Services`"
Ideally, the name of the route (in the URL) and the breadcrumb should change as well but it is now mentioned in the scope of this issue,

Refer this for the detailed explanation of what exactly is missing https://github.com/SigNoz/signoz/pull/1250#pullrequestreview-1014626726

_Originally posted by @pranshuchittora in https://github.com/SigNoz/signoz/issues/1249#issuecomment-1164019397_

[2022-06-23 10:38] #1249 closed

[2022-06-23 13:42] #1258 closed

[2022-06-23 15:18] pranay01 opened #1313 "Service Map page should show calls to DBs and other components like Kafka as well"
## Is your feature request related to a problem?

Current service map doesn't show DB calls or calls to other components ( like brokers) even though this information is present in traces.

## Describe the solution you'd like

If Databases ( e.g. mysql) and components like Kafka, RabbitMQ are instrumented correctly and present in traces, they should also be shown in service map.

## Describe altern

[2022-06-23 15:21] pranay01 opened #1314 "Support and docs for opentelemetry operators"
Some users of SigNoz are already using opentelemetry operators. Once key advantages is that it autoinstruments application in supported languages.

We should document the support for this and how users can go about using it.

[2022-06-23 15:21] pranay01 opened #1315 "Support and docs for opentelemetry operators"
Some users of SigNoz are already using opentelemetry operators. Once key advantages is that it autoinstruments application in supported languages.

We should document the support for this and how users can go about using it.

[2022-06-23 17:42] Tchoupinax commented on #672
Hello,

@rinshadka did you solve your error? I met the same issue.
In my test, I'm able to make it working with port-forwarding the service, port 4317. But if I declare an ingress which target this port, I have the following error.

[code]

I also tried with h2c schema for Traefik but no change detected.

[2022-06-23 19:28] drjasonharrison commented on #1297
@prashant-shahi looking a bit more into this it looks like s3-fuse or AWS EFS could be used to mount a volume that the docker containers could use for persistent storage. If anyone has any experience or advice on doing this it would be great. The idea of having the data and configuration "stuck" on a machine in the cloud is terrifying.

[2022-06-25 16:17] RamyAllam commented on #248
Yes please, That would be awesome to have for Laravel and WordPress.

[2022-06-26 07:58] pranay01 commented on #248
@RamyAllam This is already updated  - https://github.com/SigNoz/sample-php-app. Here is the related docs - https://signoz.io/docs/instrumentation/php/

Was this not helpful? Feel free to reopen or open a new issue as needed.