[2022-06-26 07:58] #248 closed

[2022-06-27 07:30] Rakesh-Phenom commented on #1297
1. S3 table engine storage helps - as mentioned by click house integration.
2. Can we have a extended link, in case old data is requested by click-house and can be searched in the s3  if not available in the clickhouse local storage.

When can we have this in the signoz.?

[2022-06-27 07:36] nityanandagohain commented on #1270
It will follow the otel logs model with the following points in mind.
* Attributes will be stored in JSON object.
* Materialized columns for attributes parsed from the UI

[2022-06-27 08:49] pranshuchittora opened #1321 "Dashboard widget contains has margin at the bottom relative to the height of the widget."
## Bug description

On FE the Dashboard Widget has some extra space at the bottom which is relative to the height of the widget.

![Screenshot 2022-06-27 at 12 20 16](https://user-images.githubusercontent.com/32242596/175898577-fa37ad72-0a27-4266-b2e8-a5033d3e864f.png)

## Expected behavior
The extra space should be absolute not relative.

[2022-06-28 13:36] ankitnayan commented on #1252
@srikanthccv please check `spanmetricsprocessor` for missing data in application detail charts at https://github.com/SigNoz/engineering-pod/issues/405

- [ ] RPS
- [ ] Error
- [ ] External Calls
- [ ] DB Calls

[2022-06-28 13:47] ankitnayan commented on #1252
@pranay01 How to change below fields in making signoz `grpc` aware?
-  the `method` table column in the span list component
-  LHS filters starting with `HTTP `

![Screenshot 2022-06-28 at 7 14 13 PM](https://user-images.githubusercontent.com/12460410/176194232-7a25828e-9db0-4496-a74e-94101fccda39.png)

[2022-06-28 13:48] srikanthccv commented on #1252
@pranay01 the below two charts in the external page are by http address. Should we create two new panels with address=`rps service`+`rpc method`? Or should we combine all of them on into same two panels with new name like `remote resource` i.e HTTP endpoint for HTTP calls and `rps service`+`rpc method` for gRPC and similar.
![Uploading Screenshot 2022-06-28 at 7.15.22 PM.png…]()

[2022-06-28 14:27] pranay01 opened #1327 "Date for 2-3 minute at the edges is lost when plotting time series graphs using Query Builder/ClickHouse query"
## Bug description
2-3 minutes lost at the edges when plotting time series graphs using Query Builder/ClickHouse query
[Loom Video](https://www.loom.com/share/ccde7ac0c809488b8329f59051810367)

## Expected behavior
The graph should plot the exact time range as selected by user

## How to reproduce

1. Go to Dashboards
2. Plot any query via Query Builder or ClickHouse query
3. Check the time stamps

[2022-06-29 01:30] srikanthccv opened #1329 "Client requests should include token header for all requests"
I noticed that some of the requests made to query-service do not send the token header ex metric auto suggest and v2 query range. Client should add some interceptor to attach the token for all requests.

[2022-06-29 01:38] srikanthccv commented on #1292
This already exists in the list of [operators](https://github.com/SigNoz/signoz/blob/develop/pkg/query-service/app/metrics/query_builder.go#L108-L121) supported.

[2022-06-29 01:38] #1292 closed

[2022-06-29 04:09] ankitnayan opened #1332 "Optimise trace table schema for storage"
We have multiple tables to store trace data for different needs. We should only store relevant field of trace in each table to optimise the storage needs.

[2022-06-29 04:10] ankitnayan opened #1333 "Optimise Trace Storage"
- [ ] https://github.com/SigNoz/signoz/issues/1332
- [ ] https://github.com/SigNoz/signoz/issues/1283

[2022-06-29 04:12] #1227 closed

[2022-06-29 04:14] ankitnayan commented on #1259
Another case was observed where both `error` and `rps` were not having data.

[2022-06-29 04:17] ankitnayan commented on #1224
Fixed by https://github.com/SigNoz/signoz/pull/1304

[2022-06-29 04:17] #1224 closed

[2022-06-29 05:19] pranay01 opened #1334 "Legend formatting in ClickHouse query tab doesn't work as expected"
## Bug description

Legend formatting in ClickHouse query tab doesn't work as expected. Adding plain text legend like `Hello` doesn't update the legend value in graph

## Expected behavior

The legend in graph should update to the text entered in legend format field

## How to reproduce

1. Go to dashboards, create a new panel of time series
2. Select ClickHouse query tab and add a valid query
3.

[2022-06-29 05:41] #1261 closed

[2022-06-29 08:23] pranshuchittora opened #1337 "Dashboard filtering is case sensitive and operators are not named properly"
## Bug description
Currently, the dashboard filtering is case-sensitive.

Rename the operators to `Contains` and `Not Contains` to `Equal` and `Not Equal` respectively.

[2022-06-29 09:16] eroo36 opened #1338 "Password validation problem when registering"
## Bug description
Password validation problem in front-end
[screenshot](https://puu.sh/J8zlr/10a5cd0588.png)
## Expected behavior
accept +, ., , as a special character

## How to reproduce
1. Go to signup page
2. enter 1235Asd++ as password, for example.
3. A dot or comma also is not recognizeyd as special char.

## Version information
* **Signoz version**: SigNoz v0.8.2
* **Browser version**: Ch

[2022-06-29 09:21] eroo36 commented on #1338
I had a warning now when i tried use - as a special char because it let me click to the button "get started" but if this was intended there need to be a better explanation about the password requirements.

[2022-06-30 01:59] srikanthccv commented on #1259
@ankitnayan any chance you were looking at the external calls tab when you made the above comment? because that's a legitimate case we know not working for rpc systems but no the service incoming rps. We could see the data exist for each service yesterday.

[2022-06-30 05:10] srikanthccv commented on #1252
@pranay01 We plan to address this in current sprint and make it part of next release. Please share a PRD doc and we will discuss and iterate on it.

Some things to note:

Usually systems are mostly either gRPC/protobuf (microservices-demo) or HTTP/JSON(hotrod). So by dividing and adding separate panels and filters for each protocol we make UI little complicated. This will create empty HTTP panels

[2022-06-30 07:03] prashant-shahi opened #1343 "Support for custom precision in dashboard widgets"
## Is your feature request related to a problem?
Not really. But it helps to have option to custom precision when dealing with floats.

## Describe the solution you'd like

Custom precision option for each queries in number and time series widgets.

## Describe alternatives you've considered
NA

/cc @pranay01 @ankitnayan  @palashgdev

[2022-06-30 09:10] pranshuchittora commented on #1050
This issue is caused inside the yaxis lib i.e. @grafana/data where decimal precision was low.

Recently we built (me and @ankitnayan) an algo in-house which converts the decimal to minimum valid decimal.
1.0000234 will be converted to 1.00002.

So now the problem is if we give a big precision value then the users will be able to see valid values but the values may overflow like this
![Screenshot f

[2022-06-30 17:22] ankitnayan commented on #1343
https://github.com/SigNoz/signoz/issues/1050#issuecomment-1170966900

[2022-07-01 04:30] pranay01 commented on #1139
Initial logs design. Would love any feedback. Any thing which you find missing
![variant2](https://user-images.githubusercontent.com/504541/176823688-67c0080d-872e-4255-ad2d-5192af7c390c.png)

[2022-07-01 05:09] #1329 closed

[2022-07-01 07:08] alexanderadam commented on #1139
It looks great. Any plans to [render the shell colour codes in HTML/CSS](https://unix.stackexchange.com/questions/44956/converting-colored-output-into-html)?

[2022-07-01 07:31] AnirudhaGohokar commented on #728
I can now see mongodb call trace details after changing mongodb driver version from 3.1.0 to 4.5.0 for my NodeJS application . Maybe we should update the documentation.

[2022-07-01 09:10] makeavish opened #1349 "NestJs graphQL POC"
Few community members have reported that NestJs graphQL app instrumentation is not working.

[2022-07-01 09:23] ankitnayan opened #1350 "Create chart for the alert rule to verify the alert rule"
Currently, when writing an alert rule a user is not sure whether the rule is correct and it creates confusion if an alert is not firing. Today, we have to go to the `dashboards` page and create a temporary panel and plot the alert rule to verify that it works and then copy that to the alerts page.

What can be done?
1. Show a chart for the alert rule when creating an alert on the same page
2. Allo

[2022-07-01 17:14] pranay01 commented on #1139
hey @alexanderadam thanks for the feedback. Is the use case for having different colors based on stderr or stdout  - to identify logs from stderr more easily? Would you not just want to filter based on that?

[2022-07-02 07:24] alexanderadam commented on #1139
It was just an idea. A filter is sure necessary but I often like visual hints. It's also fine for me if there isn't any visual hint.

[2022-07-02 23:09] blakeromano commented on #1139
It'd be awesome if the syntax was similar to Kibana Query Language (KQL). Also if we could select a specific time frame to look at. For example I may want to look from 10:30AM-11:30AM even though it is 10PM now.

[2022-07-04 04:43] ankitnayan opened #1353 "Move db calls to prepared statements with context"
Move all db calls to prepared statements and specifically with context if possible to make signoz more secure from sql injections.
A query should not be a string prepared from `fmt.sprintf(...)` if it has args to pass. We should try to avoid string formatting for args.

[2022-07-04 04:59] HyunGook-Kim commented on #1212
@opentelemetry/exporter-trace-otlp-http with version 0.28.0 works fine. But 0.29.0 above requires collector version 0.48 and up(https://github.com/open-telemetry/opentelemetry-js#upgrade-guidelines).

So, i tried to upgrade my signoz/otelcontribcol version from 0.45.1-1.0 to 0.5.0 and the docker image throws an error `cannot unmarshal the configuration: unknown exporters type "clickhousetraces" fo

[2022-07-04 06:04] jshiwam commented on #1353
Hi @ankitnayan Please assign this issue to me, I will complete the query-service installation today and will start making the changes. Also since we go for the Prepared Statements, here we are only trying to address the insecurities that arise due to malicious SQL data literals.

[2022-07-04 07:48] pranay01 commented on #1139
@blakeromano You would be able to select custom time frame. This is supported even today in SigNoz. We will leverage the same component

![Screenshot 2022-07-04 at 1 16 01 PM](https://user-images.githubusercontent.com/504541/177106935-ff992861-a2b6-4452-a09e-a379a853aba0.png)

Regarding KQL, is the primary reason for the suggestion is that you are currently familiar with KQL and would want to see

[2022-07-04 07:53] #1334 closed

[2022-07-04 09:24] pranay01 commented on #1252
I think in the LHS filters we can change fields to

`Status Code`
`Method`
`HTTP Host`
`HTTP Route`
`HTTP URL`

@srikanthccv does GRPC also have Host, Route and URL? In that case we would need to change the above fields as well

[2022-07-04 09:36] pranay01 commented on #1252
I would prefer to go with 2nd approach. A question here: Can a service have both HTTP and GRPC calls? In that case I think there should be an indication on which calls or HTTP calls and which are GRPC

[2022-07-04 10:04] pranay01 commented on #1252
Discussed with @ankitnayan We will go with HTTP and GRPC in the same graph

[2022-07-04 12:20] srikanthccv commented on #1252
Not in the same sense as HTTP but there are similar attributes, closest thing to route is `{rpc.serivce}`+`rpc.method` and URL = Host + Route.

RPC Method
HTTP Method
HTTP Host
HTTP Route
HTTP URL

I think one more detail we can include in the left is `rpc.service` (not same service name; a process can expose multiple rpc services but the resource `service.name` is same for both) because user will

[2022-07-04 12:27] srikanthccv commented on #1212
We will probably upgrade in next major release

[2022-07-05 04:27] ankitnayan commented on #1252
@srikanthccv this seems cleaner to me. What do you say?

[2022-07-05 07:13] AnirudhaGohokar opened #1358 "No reset password option in login screen"
Not sure how we can reset password. There's no option available on login screen.

[2022-07-05 07:29] srikanthccv commented on #1252
@ankitnayan Yes, I think that would also be more appropriate because in general [`http.url`](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/trace/semantic_conventions/http.md#common-attributes) can be anything.

[2022-07-05 08:05] pranay01 commented on #1358
@AnirudhaGohokar Users can't reset their password from login screen.

You can ask your admins to generate a link to reset password (as shown in the screenshot below). You can use this link to reset your password

![Screenshot 2022-07-05 at 1 34 13 PM](https://user-images.githubusercontent.com/504541/177280331-cf69a305-b3e2-4955-bc4a-21671f01f85b.png)

[2022-07-05 08:05] #1358 closed

[2022-07-05 13:10] blakeromano commented on #1139
I think that the query mechanism in Kibana is smart and easy, and I think using similar syntax will make transition over for teams easier. Or I would be okay with something similar to the new query builder where you have the option to use KQL or Signoz's own query language. I think that might also be a smart way to go.

[2022-07-06 07:05] ankitnayan opened #1363 "Move `externalCall` APIs to query-builder from promql"
The current `externalCall` page has 4 charts which needs to move from promQl to query-builder APIs. Below are the charts in that page

1. External Call Error Percentage
2. External Call duration
3. External Call RPS(by Address)
4. External Call duration(by Address)

[2022-07-06 07:32] sf-pchakraborty commented on #1363
I will take it up.

[2022-07-06 07:33] ankitnayan commented on #1363
Okay @sf-pchakraborty. I have assigned the issue to you.

[2022-07-06 07:49] leonjonesadaptive opened #1364 "Include kafka only applications in the 'services' tab, with RED signals"
If I have a Kafka only backend, the traces are captured but nothing appears in the Services tab.

I'm using:
* Spring boot
* Sleuth (with otel autoconfigure)
* Otel collector

It would be good if I could have some notion of an application, without having an external API

[2022-07-06 12:28] pranay01 commented on #1350
@ankitnayan Is this for the new alerts builder UI or for existing promql page?

[2022-07-07 04:15] pranay01 commented on #1364
thanks for creating the issue @leonjonesadaptive

Can you share more details on what do you mean by a Kafka only backend? I see you have SpringBoot application in the architecture. Do requests go to Kafka topics first and then are picked by Springboot application.

Would love to understand a bit more on your request flow

[2022-07-07 18:56] zriyansh commented on #616
@pranay  @ankit01-oss  can you add any tag/label to this issue?

[2022-07-08 19:21] srikanthccv opened #1370 "add golangci to workflow"
Enables minimum set of checkers initially
    - gofmt
    - goimports
    - staticcheck
    - misspell

TODO: Each of these require some code changes so, it's ideal to add one after other

- [ ] gosec
- [ ] govet
- [ ] errcheck
- [ ] gocritic
- [ ] revive
- [ ] deadcode
- [ ] gosimple
- [ ] ineffassign
- [ ] depguard
- [ ] errorlint
- [ ] structcheck
- [ ] varcheck
- [ ] unused

[2022-07-10 20:22] jshiwam opened #1371 "jsoniter v1.1.10 incompatible with go 1.18"
## Bug description
Currently query-service uses jsoniter v1.1.10 which is compatible with go version 1.17 but incompatible with go1.18.

Read More here:
https://github.com/json-iterator/go/releases/tag/v1.1.12

*Please describe.*
 Using json.Masrshal while trying to import Dashboard throws SegFault.

The error comes from this function in signoz/pkg/query-service/app/http_handler.go :
[code]
This g

[2022-07-11 04:15] nityanandagohain commented on #1141
- [ ] #1271

[2022-07-11 04:17] nityanandagohain commented on #1271
- [ ] https://github.com/SigNoz/engineering-pod/issues/535
- [ ] https://github.com/SigNoz/engineering-pod/issues/536
- [ ] https://github.com/SigNoz/engineering-pod/issues/537
- [ ] https://github.com/SigNoz/engineering-pod/issues/538

[2022-07-11 06:40] ankitnayan commented on #1259
@srikanthccv I noticed no data in error and rps but the apis from traces were showing results. It's not about data inconsistency but it might have more to do about data not available as metrics. We can close this issue if you think it's okay.

[2022-07-11 06:45] srikanthccv commented on #1259
Since that is different issue, I am closing this. What we have known from one of users is that they didn't have data ingested for `signoz_*` metrics, which happens when the collectors from node not sending data. If we come across new users who have the same issue but for different reasons we can create another issue.

[2022-07-11 08:58] ankitnayan opened #1372 "Show DB queries and their analytics"
Requirement - Show the list of queries fired to a database along with RPS, latency and error rate for those spans. This will be an extension to the DB metrics that currently show up in the application detail page.

This data should already be present with SigNoz as it follows semantic conventions of OpenTelemetry at https://github.com/open-telemetry/opentelemetry-specification/blob/main/specificat

[2022-07-11 10:00] gokul427 commented on #797
Any updates? i am also facing same issue

[2022-07-11 10:18] prashant-shahi opened #1373 "Test SigNoz with OpenTelemetry Operator with DB calls"
Mainly test the operator in NodeJS for DB calls (MongoDB/PostgreSQL).

[2022-07-11 12:25] ankitnayan opened #1374 "Move `db calls` apis to query-builder from promql"
The current `db calls` section in application detail page has 2 charts which need to move from promQL to query-builder APIs. Below are the charts on that page
1. Database Calls RPS
2. Database Calls Avg Duration

[2022-07-11 12:27] ankitnayan opened #1375 "Move the `overview` section apis at application detail page to query-builder from promql"
The current overview section in the application detail page has 4 charts which need to move from promQL to query-builder APIs. Below are the charts on that page:

1. Application latency
2. Requests
3. Error Percentage
4. Top Endpoints

[2022-07-11 12:44] srikanthccv commented on #1259
re-opening since we suspect some metrics could be dropped because of issues with cache eviction/addition mechanism or size.

[2022-07-11 15:29] ankitnayan opened #1377 "Verify scraping of multiple otel-collector instances by otel-collector-metrics"
- [x] Swarm mode
- [x] K8s

[2022-07-12 00:56] AwateAkshay commented on #1370
Would assign this task to me @pranay01

[2022-07-12 03:22] pranay01 commented on #1370
done @AwateAkshay

[2022-07-12 04:22] srikanthccv opened #1378 "remove `component` from the model"
this is a non-standard attribute which originally used as an umbrella key for different system values. this is no longer set by instrumentation which adhere to semconv. this should be removed from ui and database.

[2022-07-12 14:06] RemyRanger opened #1380 "Dashboard charts keep changing colors between refresh"
## Bug description

Chart's colors keep changing between refreshes in my dashboard:
Refresh 1 :
![image](https://user-images.githubusercontent.com/27485192/178508220-fa071e32-abc3-487d-a07a-8388deed2f3f.png)

Refresh 2 :
![image](https://user-images.githubusercontent.com/27485192/178508330-0d78c8dd-c280-46a7-b3fa-509d19f71e39.png)

## Expected behavior

It would be better if colors and services or

[2022-07-12 15:03] AkshayAwate commented on #1255
can you provide logs of pod `kubectl logs <chi-pod> `or please paste the output of `kubectl describe pod <chi-pod-name>` ? @bartoszkosciug

[2022-07-12 16:29] prashant-shahi commented on #1255
@AkshayAwate Thanks for the message in the thread. It turns out that I missed out on it.

@bartoszkosciug we have updated quite a lot of things in charts recently. As Akshay stated logs and pod state would be very helpful.

[2022-07-12 17:03] pranay01 commented on #1380
thanks for opening the issue @RemyRanger

[2022-07-12 17:07] ankitnayan opened #1382 "Change interval of promql queries to `5m` in all application detail tabs"
With change of scrape duration from `30s` to `1m` for signoz apm metrics, the promql queries need to be changed to `2m` min to get data in the charts. Please change the promql time range to `5m` everywhere in below tabs in application detail page

- Overview tab
- External calls tab
- DB calls tab

[2022-07-13 05:45] pranshuchittora opened #1383 "Support legend in formulas"
## Is your feature request related to a problem?
Currently, the formula field doesn't support the legend.

## Describe the solution you'd like
Add support for legend in formula

[2022-07-13 06:49] #1303 closed

[2022-07-13 07:48] prashant-shahi commented on #1377
One way forward would be using `loadbalancingexporter` as done below:

https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/8994142df06cc04b89eb9f59898cd86df14b8ef4/exporter/loadbalancingexporter/example/otel-agent-config.yaml#L11-L22

[2022-07-13 10:14] #1382 closed, assigned to palashgdev

[2022-07-13 11:17] makeavish opened #1386 "Remove use of deprecated columns"
`gRPC Status code`, `HTTP status code`, `gRPC Method` columns are deprecated in the latest `v0.10.0` release so we can update the [logic](https://github.com/SigNoz/signoz/blob/bf3e9eff699c2fcb7e798a081a6e17fef145dd8c/pkg/query-service/app/clickhouseReader/reader.go#L1758) of GetFilteredSpans function too where we are using gRPC and HTTP status code, we can directly use new status code.

Otel colle

[2022-07-13 15:21] #1300 closed

[2022-07-13 15:21] #1305 closed

[2022-07-13 19:06] srikanthccv opened #1389 "Error rate should be a percentage of total requests"
https://github.com/SigNoz/signoz/blob/7aeaecaf1f2e60a12e111d45bf246e4b35b64fd5/pkg/query-service/app/clickhouseReader/reader.go#L1226

This should be change to error calls/ total number of calls.

[2022-07-14 04:30] #1389 closed

[2022-07-14 04:54] #1252 closed

[2022-07-14 11:44] srikanthccv commented on #1259
@ankitnayan I believe we are sorted from the calc side issue. You should be able to paly around with grpc/http-client/server data with the latest staging app and see the parity b/w list page and detailed page.

[2022-07-14 12:10] srikanthccv commented on #1259
If the issue still persists after this then it's the writer dropping the metrics. I suspect the issue there is more likely an synchronization related than the size of cache. However, we should try to reproduce it and fix.

[2022-07-14 14:08] fetsorn opened #1397 "Search by plain text"
## Problem?

When I enter text in the query box, SigNoz tells me "Unrecognized query format", but the docs say "You can enter plain text in the Quick Filter input box and then select the Run button at the far right".
https://signoz.io/docs/userguide/traces/#filter-spans-by-tagsattributes

AFAIK this is not currently supported, but would be a useful feature.

Some traces pass an "args" tag/attribut

[2022-07-14 15:06] gxwilkerson415 commented on #1101
@pranay01 can i be assigned to this issue?

[2022-07-14 18:14] prashant-shahi commented on #236
@gxwilkerson415 That would be great!
Assigning to you the issue as it seems like @lalitkale is not actively working on it.

Do checkout the following tests, as I think the work for this issue would be closely related.
https://github.com/SigNoz/signoz/tree/develop/pkg/query-service/tests

[2022-07-14 18:27] gxwilkerson415 commented on #236
Thanks! I'll get started later today!

[2022-07-14 18:47] prashant-shahi commented on #236
@gxwilkerson415 Can you ping me on our community slack so that I can connect you with relevant folks for seamless contribution journey?
Join here: https://signoz.io/slack

[2022-07-15 17:04] Natrinicle opened #1407 "Show Timestamp from Events"
## Is your feature request related to a problem?

Events show up in the correct order but don't display the timestamp when they occurred in the Tags/Events right side panel when a span is selected. I used Jaeger before and it was incredibly helpful to see the timestamp so you could add events without starting a whole new span and still get an idea of where your code is running slowly.

## Describe

[2022-07-15 17:08] Natrinicle opened #1408 "Allow Tag/Event Panel to Be Resized"
## Is your feature request related to a problem?

The Tag/Event panel is difficult to see the field values at times and requires copying the value out to something else in order to see.

## Describe the solution you'd like

It would be nice if the Tag/Event panel could be resized so slightly longer fields could be viewed directly in the window.

## Describe alternatives you've considered

Perhaps

[2022-07-15 17:12] Natrinicle opened #1409 "Allow Horizontal Scrolling for Long Traces"
## Is your feature request related to a problem?

Traces longer than ~20 seconds can run under the Tags/Events pane making them difficult to see where they fall in the waterfall view. The top flamegraph shows all the traces but if they're 20ms in a 20s trace you can't make them out up there. Scrolling down they end up running off the viewable window.

## Describe the solution you'd like

Allow for

[2022-07-16 03:10] ankitnayan commented on #1407
@Natrinicle that is true.
@pranay01 we already have timestamp coming from the backend. We should include timestamp in the design and frontend should be able to display it.

[2022-07-16 04:40] pranay01 opened #1411 "Migration tools from tools like DataDog/New Relic to SigNoz"
Many users want to migrate from tools like DataDog/NewRelic to SigNoz. Though currently the experience is not very seamless.

They need to all their dashboards and alerts manually to SigNoz. Can we make this process simpler?

Something like a script or tool which when run does this heavy lifting of migrating dashboards/ alerts.

I don't expect this to be 100% accurate but may provide a base from w

[2022-07-16 05:00] pranay01 opened #1412 "Allow wrap limit of 2/3 lines in tags value in trace detail page"
## Is your feature request related to a problem?

Currently tag value fields starts showing `View full value` link if the value exceeds a single line.

![Screenshot 2022-07-16 at 10 27 04 AM](https://user-images.githubusercontent.com/504541/179340128-c82421b2-8c14-4d1e-b89b-3ed225f5c42a.png)

## Describe the solution you'd like

Ideally it should show up to 2/3 lines as wrapped text before startin

[2022-07-16 08:48] jshiwam commented on #1353
https://github.com/jshiwam/signoz/commit/f18be5c9f7e1699199861f3ca2b19a63e633ea3c

Hi @ankitnayan please check these comments. I have added them for some clarifications, as my understanding of the whole flow of the project might not be good enough. Please reply on those comments and point out if I have identified all the statments that need to be chagned.
Thanks.

[2022-07-16 08:54] ankitnayan commented on #1353
@jshiwam I think you are going to the right direction. One suggestion is to apply changes to only a few APIs or maybe 1 single API to start with and get it merged and then keep on adding small PRs for a small set of each APIs.

@srikanthccv please have a look and guide if needed

[2022-07-16 10:13] jshiwam commented on #1353
Sure Actually I have made change to one of the functions and it is working, the testing is also complete. I will remove the comments from those files and only keep that single change and make the first PR.

[2022-07-17 16:19] srikanthccv opened #1416 "ready-to-use aletrs for services and common scenarios"
There are certain kind of alerts almost every team and org sets up for monitoring their systems. While the new builder makes it easy to write query, there is still some learning on how it works. It can be time consuming and repetitive to write similar alerts.

It would be really nice feature to have pre-built alerts ready to be enabled with sane defaults (and can be customized) for known alerts. F

[2022-07-17 18:18] pranay01 commented on #1416
this is a great suggestion.

[2022-07-17 19:12] warent commented on #1140
@pranshuchittora those lead to a 404

[2022-07-17 20:20] warent opened #1417 "Disable Registration"
Is it possible to disable registration in the login page? If the page is exposed to the public web, it would be nice to deny people the ability to arbitrarily create accounts.

[2022-07-18 04:51] pranay01 commented on #1417
@warent Only the admin who register for the first time can create an account. Other users need to get an invite from admin to create an account. For more details check here - https://signoz.io/docs/userguide/authentication/#roles

[2022-07-18 05:57] AnirudhaGohokar opened #1418 "Unable to run SigNoz 0.10.0 on windows 10"
Trying to run Signoz 0.10.0 on my windows 10 Home machine via docker using below command as per documentation

`docker-compose -f docker/clickhouse-setup/docker-compose.yaml up -d`

All services are running fine except clickhouse-setup_otel-collector_1 running on port 4317 and it is continuously throwing below error:

`2022-07-18T05:53:12.098Z info exporterhelper/queued_retry.go:215 Exporting fail

[2022-07-18 06:27] zriyansh commented on #1418
"If you use Windows, you need to create a virtual machine with Ubuntu"

[Link1](https://clickhouse.com/docs/en/development/developer-instruction/)

[2022-07-18 07:15] pranshuchittora opened #1419 "Logs: Log search query integration"

[2022-07-18 07:15] #1419 closed

[2022-07-18 08:17] AnirudhaGohokar commented on #1418
It was working earlier with 0.8.0 version. Not sure what changed in 0.9.0 and 0.10.0. Do i need to increase RAM and storage allocation for docker?

[2022-07-18 13:19] palashgdev commented on #1408
@pranay01 Can you please help me with the design here

[2022-07-18 15:47] Natrinicle opened #1424 "Unable to Migrate v0.9.2 to v0.10.0"
## Bug description

Getting the following segmentation violation when attempting to run Signoz upgrade

[code]

[code]

Not sure if this is related to the number of rows in my database? Migrate appears to have worked on another cluster configured the same way but with no data in it.

## Expected behavior

Upgrade to complete successfully

## How to reproduce

1. Run command as specified in upgrade

[2022-07-18 16:51] jshiwam opened #1425 "Add Documentation on how to setup Query-Service locally with the frontend."
Update Query-Service setup documentation.

[2022-07-19 01:21] srikanthccv commented on #1259
I am going to close this for now since we release a fix in 0.10.0. If any data dropping issues noted will be addressed in separate issue.

[2022-07-19 01:21] #1259 closed

[2022-07-19 01:24] srikanthccv commented on #1301
This is done. The FAAS should be included as well. I will close this one for this sprint. Although we tried to cover mostly everything, If there are edge cases  missing we will gather more information about them and address them in future.

[2022-07-19 01:24] #1301 closed

[2022-07-19 02:00] srikanthccv commented on #1418
This is an issue with the ClickHouse https://github.com/ClickHouse/ClickHouse/issues/35036.

[2022-07-19 09:10] ankitnayan opened #1427 "Enable default alerts for APM"
We should enable default alerts for APM metrics which should give users a template and they can just change the threshold for the alert to get started.

[2022-07-19 09:12] ankitnayan opened #1428 "[EPIC] - Enable easy integrations from the UI"

[2022-07-19 09:13] ankitnayan opened #1429 "Redis Integration"

[2022-07-19 09:13] ankitnayan opened #1430 "[EPIC] - Enable easy integrations from the UI"
- [ ] https://github.com/SigNoz/signoz/issues/1429
- [ ] mongodb
- [ ] memcached
- [ ] mysql
- [ ] kafka
- [ ] https://github.com/SigNoz/signoz/issues/1837
- [ ] https://github.com/SigNoz/signoz/issues/1447
- [ ] https://github.com/SigNoz/signoz/issues/3685

[2022-07-19 09:26] ankitnayan commented on #1212
https://github.com/open-telemetry/opentelemetry-js/issues/2943#issuecomment-1114265125

[2022-07-19 15:46] makeavish opened #1431 "Allow feature flagging for exceptions tab"
Some features like the exceptions tab is not being used by users but SigNoz still processes and stores data on relevant Clickhouse table. If we have feature flags for different features then the user can disable features that are not being used and thus saving on storage and resources.

[2022-07-20 06:21] ankitnayan opened #1432 "Loading a trace detail page with 10K spans consumes all available resource of a host"
Some questions to dig deeper
- Is context cancellation not working? If a user exits the page from browser or switches to another page at signoz, the past query should stop executing at clickhouse and query service
- What is the estimated size of api response in that case? How big is the data in query-service after fetching from clickhouse?
- Is the frontend not able to handle 10K spans?
- Is the f

[2022-07-20 06:24] ankitnayan opened #1433 "Improve perf of Usage Explorer page"
It takes a lot of time to count spans in a week or day of data is ingested at > 200K spans/min

## Solution
We can have a materialized view for a minute data or using aggregating merge tree

[2022-07-20 08:55] ankitnayan commented on #1432
https://github.com/SigNoz/engineering-pod/issues/322

[2022-07-20 10:18] ankitnayan opened #1434 "Submit proposal to list signoz at aws-observability"
We should submit a proposal to list signoz as a partner at aws-otel docs which should be a good guide for the beginners.

https://aws-otel.github.io/docs/components/otlp-exporter
https://github.com/aws-observability/aws-otel-community/issues/35

[ADOT Datadog exporter traces support ](https://github.com/aws-observability/aws-otel-test-framework/issues/340)

[2022-07-20 13:00] pranay01 commented on #1417
hey @warent let me know if this issue is good to be closed or you have any questions on this

[2022-07-20 13:33] cryoff commented on #1211
On v0.10.0 @boojongmin you can create a new user at the login screen with any email and username

[2022-07-20 20:52] warent commented on #1417
It makes sense, thank you for your quick response! Just a gentle suggestion that the UX for this gets looked at again so it's clearer that it is secure. At minimum possibly just adding a setting in the admin panel to remove/hide "Create an account"

Anyway, loving Signoz for my business [fontpeek.com](https://fontpeek.com/). Thanks for your hard work!

[2022-07-20 20:52] #1417 closed

[2022-07-21 14:56] Natrinicle opened #1435 "[telemetrystore][migrator] Auto Resume Migration on Failure"
## Is your feature request related to a problem?

The migration script is currently attempting to run a query that is consuming too much memory in my Clickhouse database instance so the database is killing it. This causes the script to bail out with an error exit status code and when the migration container restarts it attempts the migration from the beginning. The migration script accepts the las

[2022-07-21 20:50] prashant-shahi commented on #1435
/cc @ankitnayan @srikanthccv @makeavish

[2022-07-21 22:01] prashant-shahi commented on #797
@gokul427 Wait for some time till all components are healthy when checked using `docker ps` and run `docker-compose -f docker/clickhouse-setup/docker-compose.arm.yaml down -v` from `deploy` folder..

After the cluster is down properly, you should be able to run `install.sh` script to bring back the SigNoz cluster.

[2022-07-22 07:54] makeavish commented on #1349
https://github.com/SigNoz/opentelemetry-examples/tree/main/js/sample-nestjs-graphql-app

[2022-07-22 07:54] #1349 closed

[2022-07-25 08:26] ankitnayan commented on #1377
For swarm - https://www.innoq.com/en/blog/scraping-docker-swarm-service-instances-with-prometheus/

[2022-07-25 08:28] ankitnayan commented on #1377
For K8s - https://stackoverflow.com/questions/53365191/monitor-custom-kubernetes-pod-metrics-using-prometheus

I tried a POC for K8s but otel-collector-metrics still failing to scrape. Have a look at my configs at https://github.com/ankitnayan/charts/tree/feat/scrape-all-otel-collectors

[2022-07-25 09:43] ankitnayan opened #1437 "Disable TTL moves on insert"
Use below config to insert to s3 in a background thread while insertion
[code]

Source: https://altinity.com/blog/clickhouse-and-s3-compatible-object-storage

[2022-07-26 08:26] iomari opened #1439 "default password"
Greetings,
I just installed on kubuntu 22.04 using ocker compose.  All went well but I didn't see any default password so I can't login. What is the default password?

#### *Thank you* for your bug report – we love squashing them!

[2022-07-26 08:26] #1439 closed

[2022-07-26 10:54] pranay01 commented on #1424
@Natrinicle Just checking if this issue was solved or you are still facing this issue
 cc: @makeavish

[2022-07-26 11:13] pranay01 opened #1440 "Enable better onboarding of new users"
## Is your feature request related to a problem?

Currently, users who install SigNoz are shown the main login screen directly where they can create an account and log in to SigNoz.

On logging in, there is no onboarding steps currently and users are expected to know what dashboards and different sections mean. This may be OK for a user who has used the product multiple times, but for a new user t

[2022-07-26 11:18] pranay01 commented on #295
We can also leverage [Third Eye](https://engineering.linkedin.com/blog/2019/01/introducing-thirdeye--linkedins-business-wide-monitoring-platfor)

This is built for Apache Pinot which an OLAP database similar to ClickHouse

[2022-07-26 11:30] pranay01 opened #1441 "[EPIC] Integration Platform to enable easy data ingestion from different sources"
There are few categories in which we can enable integrations in SigNoz, which would help users get started more easily.

1. Ingesting Data for Infrastructure metrics and Logs - Enabling data from GKE, EKS, K8s, AKS
2. Application logs and Metrics - Ingesting data from applications like Redis, Kafka, MongoDB, etc.
3. Sending alerts and Notification data - SigNoz generates alerts based on rules conf

[2022-07-26 12:06] Natrinicle commented on #1424
This is still running the debug version of the migration script that @makeavish provided me. We managed to get a single error message from it that indicated Clickhouse required more RAM.

[code]

After increasing the RAM and restarting Clickhouse, the migration script started again and ran Clickhouse out of HDD space after a couple of days. I increased the HDD space and am running the migration sc

[2022-07-26 13:24] pranay01 opened #1442 "Show pub/sub and cron services in Services list"
_Description of the problem_
Currently Services list tab only shows services which serve API requests, though many users have services which are Pub/Sub services or cron jobs. Currently these services are not shown in services list

_Expected Behavior_
Pub/sub and cron job services should also be shown in services list and the top level metrics like p99 latency, RPS and Error rates be shown for th

[2022-07-26 13:34] pranay01 opened #1444 "Improve Migration scripts for upgrading SigNoz versions"
Some users have reported issues in migrating from one version to the next, with SigNoz instance running in full load. This sometimes leads to OOM states for huge stored data

Some suggestions on how this can be improved

1. Always read/write in batches
2. Let the user know required resources(cpu, ram, and temporary increase in storage requirements) to run the migration as migration is read and wri

[2022-07-26 17:07] ankitnayan opened #1447 "Enable signoz as integration at Vercel"
https://vercel.com/integrations#monitoring

[2022-07-27 00:05] srikanthccv commented on #1442
@ankitnayan running a background job to fetch traces and compute top-level operations is an overkill for this. I think we are fine with just using views. It will be something like this
[code]

There are no changes needed from metrics since the `calls_total` and `call_latency` metrics also have `operation` in the label set. Please let me know if you prefer some other approach.

[2022-07-27 06:23] #1437 closed

[2022-07-27 07:07] ankitnayan opened #1449 "Create alerts for `value` type queries"
Currently, a user cannot create alerts on `value` type queries. This issue is to enable creating such alerts.

[2022-07-27 11:36] iomari opened #1451 "No Traces"
Greetings,
I'm running the signoz with the lateset opentelemetry-python v1.12.0rc2 in docker. Signoz is running with the demo I'm not getting traces from my sample python flask app. If I run:

`OTEL_RESOURCE_ATTRIBUTES=service.name="inspired" OTEL_EXPORTER_OTLP_ENDPOINT="localhost:4318" opentelemetry-instrument --traces_exporter otlp_proto_http,console flask run`

I see the output on the console b

[2022-07-27 11:42] samnano opened #1452 "Provide helm chart used to install SigNoz in the repo"
## Is your feature request related to a problem?

we have a k8 cluster and we would like to be able to edit the templates/manifests files easily to suit our needs

## Describe the solution you'd like

it will be better if you can provide us manifest files for the helm chart or a kustomization manifest file in deploy directory in the Repo

[2022-07-27 11:43] prashant-shahi commented on #1452
@samnano we have our helm charts in `signoz/charts` repository: https://github.com/SigNoz/charts

[2022-07-27 11:58] ksponomarev opened #1453 "otel-collector panic: runtime error: invalid memory address or nil pointer dereference"
## Bug description
Hello
opentelemetry-collector can't run because of error

## Expected behavior
[code]

## How to reproduce

1. [values.yaml](https://gist.github.com/ksponomarev/51cbedc57dcb395786097d88cb6c517e)
2. helm upgrade -i signoz signoz/signoz -f values.yaml

## Version information
- frontend version: '0.10.0'
- query-service version: '0.10.0'
- alertmanager version: '0.23.0-0.1'
- otel-

[2022-07-27 12:07] srikanthccv commented on #1453
Can you confirm if the ClickHouse server is running and reachable when you run into this issue?

[2022-07-27 12:10] srikanthccv commented on #1451
@iomari If you are using `opentelemetry-instrument` already you do not have to set the provider and add processor manually, what happens when you do that is the global provider can only be set once and any subsequent tries are successful leading not configuring the OTLP exporter.

[2022-07-27 12:11] ksponomarev commented on #1453
[code]

[2022-07-27 12:24] iomari commented on #1451
so you'rw saying I don't need these lines?

[code]

[2022-07-27 12:27] iomari commented on #1451
If I rem them out I get:

`NameError: name 'tracer' is not defined`

[2022-07-27 12:35] Natrinicle commented on #1424
@makeavish provided the new migration script image but upon running it, it appears that the retention period was hit and the exceptions expired so this is no longer an issue. It appears that I was likely unable to run the migration because of limited resources on the Clickhouse database pod just in case anyone else hits similar things in the future. Thanks for adding that batchSize argument to the

[2022-07-27 12:35] #1424 closed

[2022-07-27 12:37] srikanthccv commented on #1453
Is it the same ClickHouse configured to be used by collector?

[2022-07-27 12:38] srikanthccv commented on #1451
You need this line `tracer = trace.get_tracer(__name__)` but not the remaining trace pipeline setup. Also add the scheme to endpoint URL.

[2022-07-27 12:42] ksponomarev commented on #1453
yes. Clickhouse was configured for all services

[2022-07-27 12:51] srikanthccv commented on #1453
Can you share the full log of the collector startup to crash?

[2022-07-27 13:03] ksponomarev commented on #1453
[code]

[2022-07-27 13:10] ankitnayan commented on #1432
Jaeger has a limit of loading 10K spans in a trace https://github.com/jaegertracing/jaeger/pull/1202

[2022-07-27 13:18] srikanthccv commented on #1453
Thanks. There is certainly something wrong here since the traces exporter migrations also were not successful.
[code]
And the mostly likely reason for this panic is that ClickHouse connection was established successfully. Are you sure the user credentials are correct and database is accessible with them?

[2022-07-27 13:45] ksponomarev commented on #1453
[code]
Yeah, I can connect to clickhouse. I also checked secret with clickhouse password and it's correct.
Also checked envs in pod - the password is correct
I'll try to find information about db version. I missed this error because it was `info` type :(
Databases:
[code]

[2022-07-27 13:54] ksponomarev commented on #1453
version of clickhouse:
[code]

[2022-07-27 14:05] srikanthccv commented on #1453
Ok you have to use ClickHouse server version `22.4` or later when working with SigNoz version >= `0.9`.

[2022-07-27 14:10] ksponomarev commented on #1453
Sorry, didn't notice that in `values.yaml` and docs.
I'll try to update and write results
Thank u

[2022-07-27 14:13] Natrinicle opened #1454 "Add to Service Map via Span Tags"
## Is your feature request related to a problem?

The service map feature currently requires that every system shown talking to each other must be sending in traces/spans to the OpenTelemetry collector but some systems either don't have an integration or would take time and effort to integrate.

## Describe the solution you'd like

Use the db.system and net.peer.name to identify system communicati

[2022-07-27 14:25] ankitnayan commented on #1454
@Natrinicle many users have requested this feature and we have decided to work on this. Not just dbs but also messaging systems could be part of the service map in upcoming releases of SigNoz. We will keep you posted.

[2022-07-27 15:10] ksponomarev commented on #1453
Upgrade clickhouse version helped. Thank you.
But there is a same error with migration FYI

[2022-07-27 16:35] iomari commented on #1451
This is the update code. I'm still getting nothing in the Signoz frontend though I'm getting console full trace and metric output:

`OTEL_RESOURCE_ATTRIBUTES=service.name="inspired" OTEL_EXPORTER_OTLP_ENDPOINT="localhost:4317" opentelemetry-instrument --traces_exporter console --metrics_exporter console flask run `

app.py
[code]

[2022-07-27 18:52] iomari commented on #1451
Also, my console metric output looks like this:

`{"resource_metrics": [{"resource": {"attributes": {"telemetry.sdk.language": "python", "telemetry.sdk.name": "opentelemetry", "telemetry.sdk.version": "1.12.0rc2", "service.name": "inspired", "telemetry.auto.version": "0.32b0"}, "schema_url": ""}, "scope_metrics": [{"scope": {"name": "app", "version": "", "schema_url": ""}, "metrics": [{"name": "ro

[2022-07-28 01:00] srikanthccv commented on #1453
Is application running and showing data now? What is the environment you are running this on?

[2022-07-28 01:02] srikanthccv commented on #1451
This is incomplete command. You are only supplying the console exporter. It should be `--traces_exporter console,otlp_proto_grpc`.

[2022-07-28 01:05] srikanthccv commented on #1451
If you are following this guide https://opentelemetry.io/docs/instrumentation/python/getting-started/, please make sure you understand each step. It works and send data to OTLP without any problem.

[2022-07-28 04:48] ankitnayan opened #1456 "Improve ServiceMap"
- [ ] add non-service components in servicemap like db, messaging systems, etc
- [ ] enable filtering in servicemap
- [ ] improve perf of servicemap
- [ ] view service map at some other datetime

[2022-07-28 04:51] ankitnayan opened #1457 "Improve perf of servicemap"
perf test latency of servicemap to run on data ingestion rate of 100K spans/s

[2022-07-28 08:20] iomari commented on #1451
Yes, I've been following that guide and as I stated there is no issue in opentelemetry. I see console output.
My issue is seeing the data in signoz.
When I run:

[code]

I get:

[code]
which is good but I see nothing in the gui.

When I added otlp_proto_grpc to the --traces_exporter, I get:
[code]
in the console along with the usual output.
So we are clear, here is my current command:
[code]

[2022-07-28 08:35] #1377 closed

[2022-07-28 08:58] srikanthccv commented on #1451
You are running into an issue with the python gRPC library hence nothing in the UI. The data is not received by SigNoz from the python OTLP exporter. You may fix the environment you are running in to work gRPC or alternatively use HTTP exporter.

[2022-07-28 09:17] ksponomarev commented on #1453
Not yet. This is dev environment. App is running but there are some problems. Trying to find a problem. May be with connection between backend and frontend

[2022-07-28 10:09] iomari commented on #1451
http works in console but signoz 4318 not flowing.

troubleshoot checkEndpoint --endpoint=localhost:4318

[code]

[2022-07-28 10:22] srikanthccv commented on #1451
Run this and let me know if it doesn't work. Please make sure you have installed `opentelemetry-exporter-otlp-proto-http`
[code]

[2022-07-28 10:28] iomari commented on #1451
It works. Unbelievable. You mean "localhost:4318" and "http://localhost:4318" made the difference?

[2022-07-28 10:30] iomari commented on #1451
Thanks for your help

[2022-07-28 10:38] iomari commented on #1451
Please one last thing. O mentioned above about my metric console output not looking like it does in he tutorial. How can I get the metrics to look like tab indented json?

[2022-07-28 10:46] mindhash commented on #1449
@pranay01 This refers to comparing the threshold with the value from the latest sample in the selected timeframe.  Something similar to what we have in REDUCE TO option of metrics builder.

I am thinking we can include this verbiage `in the last sample` in the rule condition (below).  but there may be a better way to handle this.

![image](https://user-images.githubusercontent.com/10277894/1814871

[2022-07-28 10:57] srikanthccv commented on #1451
It's the same output but the docs website renders it as json https://raw.githubusercontent.com/open-telemetry/opentelemetry.io/main/content/en/docs/instrumentation/python/getting-started.md

[2022-07-28 17:19] samnano commented on #1452
Thank you @prashant-shahi

[2022-07-28 17:19] #1452 closed

[2022-07-29 03:04] srikanthccv commented on #1451
@iomari I am going to close this issue since it's not an issue with SigNoz but an exporter. Feel free to join our [Slack community](https://signoz-community.slack.com/join/shared_invite/zt-lrjknbbp-J_mI13rlw8pGF4EWBnorJA#/shared-invite/email) if you have general questions that others can help you with.

[2022-07-29 03:04] #1451 closed

[2022-08-01 02:50] YoKv commented on #1150
in my case :
external  clickhouse version 22.6.3.35
`/etc/clickhouse-server/config.d/config.xml`

[code]

image 'signoz/query-service:0.10.0'

error log
[code]

[2022-08-01 06:40] #1371 closed

[2022-08-01 08:45] myoss commented on #1150
@YoKv  fix in local, solution:

[code]

[code]

[2022-08-01 11:19] derN3rd opened #1460 "Docker Container fails to start if Clickhouse Server has timezone "Etc/UTC""
## Bug description

If Clickhouse Server has timezone "Etc/UTC" the query-service will fail to start.

## Expected behavior

Should start with no issues

## How to reproduce

While testing out signoz with out own existing Clickhouse servers, I couldn't get it to launch, because of the issue

[code]

1. Pull the repo
2. Use docker setup script
3. Change configs to replace docker-clickhouse with exi

[2022-08-01 11:21] derN3rd commented on #1460
Seems to be the same issue as https://github.com/SigNoz/signoz/issues/1150

[2022-08-01 13:20] derN3rd commented on #1460
The fix was to not only add the [zoneinfo to the query-service](https://github.com/SigNoz/signoz/issues/1150#issuecomment-1200903779), but to the otel collector as well.

Why is the zoneinfo not on the main Dockerfile?
Was there a specific reason?

My fix:

my docker-compose.yaml
[code]

custom-signoz/Dockerfile:
[code]

custom-otel/Dockerfile:
[code]

[2022-08-02 04:35] #1460 closed

[2022-08-02 06:41] prashant-shahi opened #1463 "Alerts query-builder support for `absent`"
Not able to replicate equivalent of the following:

[code]

The above query helps to figure out if any of the agents are down:
- `1` when the agent is up
- no values are returned when the agent is down

cc @mindhash

[2022-08-02 06:54] jshiwam opened #1464 "Use prepared statement for DB calls that use args."
(conitnuation of Issue #[1353](https://github.com/SigNoz/signoz/issues/1353))
Use Prepared Statements in [GetService ](https://github.com/SigNoz/signoz/blob/develop/pkg/query-service/app/clickhouseReader/reader.go#L660)

[2022-08-02 07:20] srikanthccv commented on #1353
Not fully addressed

[2022-08-02 07:20] srikanthccv commented on #1464
@jshiwam that will be addressed as a part of https://github.com/SigNoz/signoz/pull/1455. So, I am going to close this issue and re-open the original issue. Please a new comment with sub-items in #1353 and when you open a PR, use the description `Part of #Issue` instead of `Fixes #Issue` or link it.

[2022-08-02 07:20] #1464 closed

[2022-08-02 07:47] gbloisi commented on #1418
I resolved the problem by using a named volume in docker compose (see below).

`version: "2.4"

volumes:
  data_clickhouse:

services:
  clickhouse:
    volumes:
      - data_clickhouse:/var/lib/clickhouse/`

[2022-08-02 08:25] pranay01 commented on #1449
- How will user select that they are trying to create alert for a time series or value type. In dashboard there is a way to select timeseries or value first before using query builder

[2022-08-02 08:36] jshiwam commented on #1353
Thanks @srikanthccv add the changes here.

[2022-08-02 09:29] prashant-shahi commented on #1460
Thanks @derN3rd for raising this issue in detail.

This issue has been resolved in `develop`.
The fix will be included in next patch release soon. If you want to check it out, feel free to use `develop` docker image tag.

[2022-08-02 10:09] mindhash commented on #1449
Discussion between Pranay and Amol:

- Alerts on `Value` type may not be the right way to go as they would result in occasion spikes and  reduce quality of alerting.  Unless a specific use case shows up in the future, we can recommend users to go with `at least once` in 5 mins (timeframe) option which gets closer to value type.
- This issue will not go into Thursday Release cycle
- Amol to explore

[2022-08-02 11:24] #1150 closed

[2022-08-02 12:57] prashant-shahi commented on #1150
@myoss @YoKv Thank you for raising this issue and solutions in detail.

This issue has been resolved in `develop` for query-service and latest release of otel-collector `0.45.1-1.2`.
The fix will be included in next patch release soon. If you want to check it out, feel free to use `develop` docker image tag.

[2022-08-03 08:16] ksponomarev commented on #1453
I'm back) Sorry, I had emergency tasks and had to drop signoz. Now, I deployed it and have a new problem
[code]
and database signoz_traces is really empty. CH version:
[code]

[2022-08-03 08:17] ksponomarev commented on #1453
and also this
[code]

[2022-08-03 13:39] srikanthccv opened #1468 "Move table names from constants to reader struct"
There are some table names defined as constants in reader.go and used for querying.
https://github.com/SigNoz/signoz/blob/e39d2f799d14b495596dade12cf40b15e453b08f/pkg/query-service/app/clickhouseReader/reader.go#L52-L59

 They should be moved to reader struct like many traces tables which exist already.

https://github.com/SigNoz/signoz/blob/0620cacb0b244752c8463dd0bb97453cac65a3f7/pkg/query-servi

[2022-08-04 04:24] srikanthccv commented on #1453
That shouldn't be the case. Are you sure your collector service up and able to run migrations successfully?

[2022-08-04 05:41] makeavish opened #1472 "UI for TTL logs"

[2022-08-04 05:47] makeavish opened #1473 "set TTL failures"
It has been reported that setting TTL takes longer when there is large data (billions of rows). Since in traces we have 5-6 tables so setting of TTL can fail on few of the tables and in that case TTL is set for other tables and operation is not reversible.

[2022-08-04 06:27] #1442 closed

[2022-08-04 06:30] jshiwam commented on #1353
@srikanthccv @ankitnayan [GetService](https://github.com/SigNoz/signoz/blob/develop/pkg/query-service/app/clickhouseReader/reader.go#L660) queries clickhouse and we use the clickhouse-driver Conn in order to query the data there. I am not sure if they provide a way to use Prepare Statements. I am new to clickhouse so might be missing something. Please let me know if my observation is correct.

[2022-08-04 07:08] #1457 closed

[2022-08-04 07:25] #1433 closed

[2022-08-04 09:17] ksponomarev commented on #1453
No. Still have this error
[code]

[2022-08-04 09:30] ksponomarev commented on #1453
UPDATE:
I dropped CH at all and reinstalled it. Now apps is working. Thx

[2022-08-04 09:30] #1453 closed

[2022-08-04 10:46] ankitnayan commented on #1237
@srikanthccv doing this should be possible with the CH query builder, right? I tried running below query but it return 0 values in the chart but works fine when I connect to clickhouse from a terminal client.

[code]

[2022-08-04 10:49] ankitnayan commented on #1226
This is fixed now

[2022-08-04 10:49] #1226 closed

[2022-08-04 11:46] ankitnayan opened #1476 "Add tags to trace filter page on click on any tag in trace detail page"
SigNoz shows a list of tags in the trace detail page. It would be useful to give an option to add a tag to search filter for spans in trace filter page. This would help users in investigating a tag and see latencies and errors of the spans with that tag in trace filter page

[2022-08-04 13:08] srikanthccv commented on #1237
@ankitnayan make sure resulting time column is `time.Time` and value is `float64` from the query result. Let me know if it still doesn't work.

[2022-08-05 04:41] pranay01 opened #1477 "APDEX score support"
## Is your feature request related to a problem?

Many New Relic users are used to seeing an APDEX score for the health of their services. We have had feedback from some users asking for supporting it

## Describe the solution you'd like

Support APDEX scores in SigNoz or some similar measure. We have to understand what extra information does an APDEX score provide which is not included in current

[2022-08-05 04:58] makeavish commented on #1108
Also the gaps in between them is too much.

<img width="1140" alt="Screenshot 2022-08-05 at 10 25 24" src="https://user-images.githubusercontent.com/9512100/183004514-616b60d4-f6d9-4af1-b430-9e0009410d6d.png">

[2022-08-05 10:57] prashant-shahi opened #1479 "`k8s_container_*` metrics not shown for k8s with Spot Instances"
## Bug description

After following [Kubernetes Infra Metrics Docs](https://signoz.io/docs/tutorial/kubernetes-infra-metrics), able to integrate `kubelet_stats` receiver.
However,  `k8s_container_*` metrics are not present.

## Expected behavior

To obtain `k8s_container_*` metrics along with other metrics after the integration.

## How to reproduce

1. Spin up EKS cluster with Spot Instances
2. F

[2022-08-06 08:50] ankitnayan commented on #1237
@srikanthccv it worked with above changes
[code]

cc: @pranay01

[2022-08-06 08:54] ankitnayan commented on #1237
@Zoharos the above query should yield what you want to plot. Can you check if this works for you?

[2022-08-06 08:54] #1237 closed

[2022-08-08 05:15] makeavish commented on #1454
Closing this as it was shipped as part of [v0.10.1](https://github.com/SigNoz/signoz/releases/tag/v0.10.1)

[2022-08-08 05:15] #1454 closed

[2022-08-08 10:28] mindhash commented on #1449
Closing this issue for now, as we will not support this immediately unless a good use case comes up

[2022-08-08 10:28] #1449 closed

[2022-08-08 10:38] mindhash commented on #1273
Hi @blakeromano,
Can you please describe the feature (that you are looking for) in further detail?

SigNoz currently supports alerting on the metrics. Are you looking to introduce alerting based on a pattern in source code in any GitHub repo?

[2022-08-09 03:30] zedongh opened #1482 "【BUG】GetMinMax function '1 day' should be '24 hours' not '26 hours'"
## Bug description

[code]

## Version information
all version

## Additional context

#### *Thank you* for your bug report – we love squashing them!

[2022-08-09 05:44] palashgdev commented on #1482
Solved with https://github.com/SigNoz/signoz/pull/1483

[2022-08-09 05:44] #1482 closed

[2022-08-09 08:25] ankitnayan opened #1484 "Enable filtering by traceID"
Currently, SigNoz does not have an option to filter and group by traceID.
This feature request is to enable traceID based filtering and groupby in trace filter page. This would help in identifying specific traces using groupby. And filtering would enable to see spans, services, other tags etc of a particular trace which might be the scope of the study.

- [ ] https://github.com/SigNoz/signoz/issue

[2022-08-09 12:01] srikanthccv opened #1485 "Enpoint or opeations with conflicting promql special characters must be handled"
## Bug description

If operation contains the wildcard matching character used by promql such as * exists it fails to parse. This failed if the API endpoint was something like `/**`.

## Expected behavior

It should still work and escape such character.

## How to reproduce

1. Create an operation which contains the double asterisk

## Version information
* **Signoz version**: `0.10.1`

[2022-08-09 13:23] pranshuchittora opened #1486 "One click clear log search query"
## Is your feature request related to a problem?
Feature/Enhancement

Currently, the logs search query field does not support clearing the query in one click. Antd's Search input provides a prop called `allowClear`which shows a button to clear the value. It clears the value from the UI but doesn't call the `onChange` handler to clear the value from the data layer.

## Describe the solution you'd l

[2022-08-09 13:31] pranshuchittora opened #1487 "Logs FE: Live tail shows stale data on updated query"
## Bug description
Scope : FE

In Logs Live Tail when the search query is updated the persisted logs are stale/not relevant to the search query.

## How to reproduce

1. Start live tail
2. After some time, add some some search query
3. The logs shown immediately after adding the query are not relevant as per the new query inserted

## Version information
* **Signoz version**:
* **Browser version**

[2022-08-09 14:13] pranay01 opened #1488 "Adding more time periods in service map time drop down"
For service map, can we enable the drop down with following times :

- 5 mins
- 30 mins
- 1 hr
- 6 hr
- 24 hr
- 1 week

[2022-08-09 15:46] #1141 closed

[2022-08-10 01:43] benjaminb- opened #1489 "No traces or service registered with NestJS / gRPC"
Hi Everyone, I followed this article https://signoz.io/blog/opentelemetry-nestjs/ but I'm not able to receive any trace in Signoz.

Here my tracer.ts file

[code]

this how it's called in the main.ts

[code]

The service is not registered in Signoz and no traces are received.

**I tried another setup without Signoz using only Jaeger with Http Exporter successfully.**

Here the error from the conta

[2022-08-10 02:12] benjaminb- commented on #1489
Also tried this and no issue on that part :

[code]

Should i see the sample data in Signoz ? I don't see anything

[2022-08-10 03:18] #1489 closed

[2022-08-10 03:22] benjaminb- commented on #1489
I had to set options like this, also my mistake but I was not using the grpc exporter by the proto exporter.

[code]

[2022-08-10 04:03] ankitnayan opened #1490 "Design for filtering traces by `traceID`"

[2022-08-10 04:04] ankitnayan opened #1491 "Backend for filtering traces by traceID"

[2022-08-10 04:05] ankitnayan opened #1492 "UI for filtering traces by traceID"

[2022-08-10 04:14] ankitnayan opened #1493 "Frontend Perf Improvement for trace detail page to load > 10K spans"
Currently, the trace detail page loads somewhere between 5K to 10K spans and the browser tab OOMs for more spans. The frontend handles creating multiple trees and subtrees from the backend response. This issue is to optimise the performance of the trace detail page and test how many spans can be loaded on the trace detail page after improvisations.

[2022-08-10 04:18] ankitnayan commented on #1432
tracking UI perf improvements at https://github.com/SigNoz/signoz/issues/1493

[2022-08-10 04:25] ankitnayan commented on #1408
@Natrinicle Is this fixed with `v0.10.0` release? I think we open a modal to show the complete value of a tag if the size does not fit the current allocation. Can you please check?

[2022-08-10 04:26] ankitnayan commented on #1383
@pranshuchittora this would be needed to move the application overview metrics to query-builder from promql?

[2022-08-10 04:30] ankitnayan commented on #1144
we can start with commented settings in otel-collector and docs for head-based sampling

[2022-08-10 06:04] pranshuchittora commented on #1409
@pranay01 can you pls initiate a PRD for the same and the design process too.

[2022-08-10 07:20] chrisstetter commented on #1139
I have seen that log management will be released with https://github.com/SigNoz/signoz/milestone/12. But as far as I can see, you plan not to release the corresponding frontend in that release?

[2022-08-10 09:00] nityanandagohain opened #1494 "Better way to manage headers present in live tail api."
Right now we have explicitly added headers in the reader for live tail API, we need a better way to handle it.

[2022-08-10 09:19] nityanandagohain opened #1495 "Seperate out functions to sql.go from parser in logs"
Seperate out functions to sql.go from parser in logs

[2022-08-10 09:49] pranay01 commented on #1440
- [ ] Create default dashboards and alerts for users out of the box based on the services they have started sending data from. e.g. Create alerts in disabled state for RPS threshold for services which are sending data. Users can modify these alerts very easily and configure alerts based on their requirements

[2022-08-10 09:52] pranay01 opened #1496 "Update time filter component to allow live and pause mode"
- Currently we support live and pause mode in Logs, but metrics and trace filters page don't have a live mode.
- This would be important for metrics pages and dashboards where companies can keep a graph open in dashboards and monitor in big screens

[2022-08-10 09:53] pranay01 commented on #1496
Related https://github.com/SigNoz/signoz/issues/1225

[2022-08-10 09:59] #1271 closed

[2022-08-10 10:09] pranay01 opened #1497 "Add visual feedback on `Copy JSON` in Log filter page"
https://www.loom.com/share/57e77d893b88463b9633c968a5a4e6e7

[2022-08-10 10:15] pranay01 opened #1498 "Support for ARM machines"
Currently SigNoz doesn't run on ARM machines provided by cloud providers like AWS, Azure, etc. It does run on M1 ARM machines  provided by Apple though.

Some users are interested in using ARM machines as they are 30-35% cheaper than AMD/Intel machines for the same specs.

It would be great if SigNoz can run on ARM machines. It will be more cost effective for users

e.g.
a1.4xlarge    is 0.408  US

[2022-08-10 14:19] Natrinicle commented on #1408
Yes, it looks like I can see the data. Nice solution, thanks!

[2022-08-10 14:19] #1408 closed

[2022-08-10 15:01] Natrinicle opened #1504 "Extract More Services for Service Map from Span Tags"
## Is your feature request related to a problem?

No, not  a problem, just a nice to have.

## Describe the solution you'd like

Recently there was an addition to extract Service Map data from span tags that populated the Service Map when real services were getting used and it looks great! I would love to see more services displayed if possible though in order to get a broader understanding at a g

[2022-08-10 15:39] #1488 closed

[2022-08-11 06:00] upeshphable opened #1508 "Provide auto refresh feature for the dashboard"
## Is your feature request related to a problem?

as a user, I need to keep refreshing the dashboard every now and then.

## Describe the solution you'd like

There should be a toggle button that enables auto refresh and the frequency of refresh.

## Describe alternatives you've considered

None

## Additional context
Add any other context or screenshots about the feature request here.

#### *Than

[2022-08-11 06:11] #1485 closed

[2022-08-11 09:52] pranay01 commented on #1188
thanks for the inputs. We will have support for SAML, LDAP and OIDC in our enterprise plan

[2022-08-11 10:23] upeshphable opened #1510 "Need an option to save charts"
## Is your feature request related to a problem?

As a user, I have to come back to dashboard to look at data periodically but I lose the charts with filtered operations.

## Describe the solution you'd like

Ability to save the filter/charts so that I can come back later and just open them up.

## Describe alternatives you've considered

None

## Additional context

#### *Thank you* for your feat

[2022-08-11 12:00] ankitnayan opened #1511 "Search servicesList page using plain text"
Currently, the servicesList page does allow filtering by resource attributes but when the number of services become large then it becomes difficult to find a service.
This is a feature request to enable searching a service by text.

[2022-08-15 12:30] #977 closed

[2022-08-16 10:21] ankitnayan commented on #1472
completed with  https://github.com/SigNoz/signoz/pull/1436

[2022-08-16 10:21] #1472 closed

[2022-08-16 13:57] pranay01 opened #1519 "Write blogs on SigNoz perf for Metrics"
We can take inspiration from these blogs from Grafana

https://grafana.com/blog/2022/04/08/how-we-scaled-our-new-prometheus-tsdb-grafana-mimir-to-1-billion-active-series/

 https://grafana.com/blog/2022/05/24/scaling-grafana-mimir-to-500-million-active-series-on-customer-infrastructure-with-grafana-enterprise-metrics/

[2022-08-17 06:04] ankit01-oss opened #1522 "Hot ROD application services not getting removed my list of services"
Hey Folks 👋

I have removed the hot rod application containers from the `docker-compose` file but it's not getting removed from my dashboard in the list of applications. The containers were removed a day before, but even when selecting the time filter for `last 5 mins` it shows up.

<img width="1246" alt="Screenshot 2022-08-17 at 11 28 36 AM" src="https://user-images.githubusercontent.com/83692067

[2022-08-17 06:10] pranay01 commented on #1522
@ankit01-oss can you share what does your `docker ps` show?

[2022-08-17 06:27] prashant-shahi commented on #1522
@ankit01-oss it is likely that hotrod containers are still running. You could either manually delete them or run docker-compose command with `--remove-orphans` flag.

[2022-08-17 06:49] vkperumal opened #1523 "Not able to set traces retention when s3 cold storage is enabled"
## Bug description

When traces retention is set on the application it gets reverted back to 3 days.

![image](https://user-images.githubusercontent.com/35548944/185053420-bcbbd8b3-8583-432d-92b9-df15eca59032.png)

## Expected behavior
Traces Retention period should be set

## How to reproduce

1.set traces retention to 7 days and move to s3 to 4 days
2. Go to another section like usage explorer
3

[2022-08-17 07:57] ankit01-oss commented on #1522
@pranay01 here. The hotrod containers are not running.

<img width="1439" alt="Screenshot 2022-08-17 at 1 25 28 PM" src="https://user-images.githubusercontent.com/83692067/185065292-b1a57ca6-8b19-4af1-948a-96faf3eb773c.png">

@prashant-shahi I used `--remove-orphans` to run the docker compose command. Sharing a screenshot for reference 👇

<img width="865" alt="Screenshot 2022-08-17 at 1 25 54 PM"

[2022-08-17 08:00] ankit01-oss commented on #1522
I just instrumented a sample nestjs application. I think ideally services not reporting data in a time range should not appear in the `application` list, right @pranay01 ? But other services are still showing in the list, including a nodejs app that I instrumented hours ago. Though, all the data shown is `0`.

<img width="1236" alt="Screenshot 2022-08-17 at 1 28 30 PM" src="https://user-images.git

[2022-08-17 10:14] ankit01-oss commented on #1522
@ankitnayan the below PR should fix this, right? If yes, feel free to close this issue.

 https://github.com/SigNoz/signoz/pull/1521

[2022-08-17 14:55] Luckz commented on #1519
Can compare to the competition using metrics like bytes per data point ( https://valyala.medium.com/high-cardinality-tsdb-benchmarks-victoriametrics-vs-timescaledb-vs-influxdb-13e6ee64dd6b ; https://medium.com/@romanhavronenko/victoriametrics-how-to-migrate-data-from-prometheus-d44a6728f043 ; https://medium.com/@romanhavronenko/victoriametrics-how-to-migrate-data-from-prometheus-filtering-and-modi

[2022-08-18 10:36] pranay01 commented on #1490
@ankitnayan  Is there any more details on this issue?
I was checking jaeger UI for this and it had just one box to add trace id, after which it opens the trace detail page.
Can't users do the same thing today by going to trace detail page and changing the traceid?
Should we add this capability in filtering page or traceID page? Is there a use case for seeing all spans in a trace ( for a given trac

[2022-08-18 11:16] ankitnayan commented on #1522
yes...though @srikanthccv would be the right person to answer that

[2022-08-18 12:05] srikanthccv commented on #1522
@ankit01-oss yes, this is fixed by #1521

[2022-08-18 12:05] #1522 closed

[2022-08-18 14:07] makeavish commented on #938
I think we should close this issue as it should only be a validation on FE.
@srikanthccv @pranshuchittora

[2022-08-18 16:00] prashant-shahi commented on #938
@makeavish This should be handled in the backend as well.

As seen in the testbed, where TTL was set but query-service restarted. Which caused a scenario which looked like it was taking forever to setting TTL, while in reality the ClickHouse TTL was already set to the requested duration.

/cc @ankitnayan

[2022-08-19 02:01] srikanthccv commented on #938
@prashant-shahi isn't that a different issue?

[2022-08-19 02:04] srikanthccv commented on #938
I think the update request payload should only contain the fields that changed. Even if everything is sent I do not think the query-service should reject it. It will just honor the new data and tries to update TTL to new values.

[2022-08-19 08:08] ankit01-oss opened #1524 "Refresh Button disappears for when custom filter is applied"
Please refer to the video for the issue

https://www.loom.com/share/e317482111eb44d5b3b6cb267b2ed50f

[2022-08-19 09:06] pranay01 opened #1525 "Capturing details of requests going via loadbalancers"
If there is a load balancer between client (browser) which generates request and the backend server - will the time spent in loadbalancer be captured in SigNoz?
- How can one instrument their loadbalancer
- Will the load balancer time appear as a span in a trace

[2022-08-19 09:32] pranay01 commented on #1525
https://github.com/envoyproxy/envoy/issues/9958

Example load balancers we can support which already have built in opentelemetry instrumentation

[2022-08-19 09:49] pranay01 commented on #1525
![Screenshot 2022-08-19 at 3 17 20 PM](https://user-images.githubusercontent.com/504541/185593083-c8065f05-6659-4d76-9d6b-bd16f6a00649.png)

Some popular load balancers
- F5 NGINX.
- HAProxy.
- Citrix ADC.
- Traefik.
- Google Cloud Load Balancing.
- Varnish Software.
- AWS Elastic Load Balancing.
- HashiCorp Consul.

[2022-08-19 10:17] makeavish opened #1526 "Suggest users about missing spans when spans are missing in trace detail"

[2022-08-20 11:20] alexanderadam commented on #1188
I'm just leaving this URL here: https://sso.tax/

[2022-08-22 07:48] pts95 commented on #657
Is this issue still open? If so, would like to take this.

[2022-08-22 11:17] pts95 opened #1529 "Improve experience of running SigNoz from source for contributors"
I tried to setup SigNoz for the first time following CONTRIBUTING.md - and it took me 30 minutes to get it running end-to-end. For context, I am developing on a Mac M1. Most of these changes are done to existing files in master - which are not supposed to be committed. I think we can reduce the time to run SigNoz from source.

## Describe the solution you'd like

We can either write a script for l

[2022-08-22 13:35] pts95 commented on #1526
Is this about detecting breaks in context propagation (i.e. when child contexts are not created properly / there is a mismatch between different components)? If not, what are some of the other ways in which you are detecting missing spans?

[2022-08-23 05:27] pranshuchittora commented on #1383
https://github.com/SigNoz/signoz/pull/1530

[2022-08-23 07:35] #1511 closed

[2022-08-23 07:54] pranay01 opened #1531 "Create docs on how to run otel collectors in VMs and send data from them to SigNoz otel collector"
Based on a conversation in slack community

https://signoz-community.slack.com/archives/C01HWUTP4HH/p1661239521408789

![Screenshot 2022-08-23 at 1 21 26 PM](https://user-images.githubusercontent.com/504541/186103113-431fd8ad-57f9-406a-97e2-194616e93ab2.png)

[2022-08-23 12:47] #1383 closed

[2022-08-23 13:28] #1490 closed

[2022-08-23 15:06] praddy26 commented on #657
I had created single binary using both the rice CLI and now the native go has the packaging capability. I was able to achieve that and the app was working fine, but the reload had issue.

[2022-08-24 18:58] drjasonharrison commented on #457
Wondering what it would take to get this done. We'd also like to have all data stored in persistent storage (Elastic Block Store / S3) rather than on an EC2 instance.

[2022-08-24 20:07] pranay01 commented on #457
@prashant-shahi would you have any ideas on this which can help @drjasonharrison

[2022-08-25 08:42] pranshuchittora commented on #1524
https://user-images.githubusercontent.com/32242596/186618203-ac6cbf21-7111-480a-81aa-fa5d6867e075.mov

[2022-08-25 10:34] prashant-shahi commented on #457
@drjasonharrison With K8s installation (using Helm charts), all ClickHouse, Alertmanager, and SQLite data are persisted with Amazon EBS.

[2022-08-25 12:54] calcium90 opened #1540 "Ability to set email relay for invites"
## Is your feature request related to a problem?

Users don't receive invite emails from Signoz.

## Describe the solution you'd like
We have an SMTP email relay that we usually send internal emails via, so if we could have an option to configure the host and port for this in Signoz (including in the helm chart) it would be useful

#### *Thank you* for your feature request – we love each and every

[2022-08-25 16:25] pts95 opened #1541 "Add a metrics summary page - highlighting metrics information, tag values and cardinality information."
## Problem

A typical organization using a monitoring / metrics solution will have >100 metrics - where each metric is a tagged numerical value.

-  A developer therefore might want to know - what are all the metrics available and what are the tags and associated values for each metrics.
- An operations engineer / SRE might want to know the number of tag combinations (i.e. timeseries).

Since most

[2022-08-26 02:01] variable commented on #1129
I am also having this problem, I have followed the [instructions](https://opentelemetry-python.readthedocs.io/en/latest/examples/django/README.html) to setup django side

[code]

And has signoz running in a docker service, can't see `MyApp` showing in the dashboard

[2022-08-26 19:06] jkowall commented on #812
Also on OpenSearch this is ongoing work as well. I can link issues if you want too @pranay01

[2022-08-28 19:37] didip opened #1542 "API to integrate with Grafana"
## Is your feature request related to a problem?

*Please describe.*

## Describe the solution you'd like

For a company that already have Druid and Grafana infrastructure, it would be much easier to experiment with SigNoz if SigNoz provides API to integrate with Grafana.

## Describe alternatives you've considered

To use Signoz UI as-is. But we prefer to have a backup plan such as Grafana.

## A

[2022-08-28 19:49] pranay01 commented on #1542
Hey @didip thanks for opening the issue. Let's check if there is interest in the community for such features

Note for others interested in this issue, please add an upvote or comments with your use case

[2022-08-30 02:54] variable commented on #1129
@srikanthccv thanks, I am completely new on this topic if I use auto instrumentation, do I still need to add my own tracers in each view? The docs are very fragmented. Also how do I define where the trace data should go? Again, the docs don't mention any of these.

[2022-08-30 03:39] variable commented on #1129
Hi @pranay01 I am getting this error:
[code]

[2022-08-30 04:42] srikanthccv commented on #1129
@variable try setting the --metrics_exporter to none. If you don't set anything it defaults to gRPC.

[code]

[2022-08-30 07:17] ankitnayan opened #1543 "Configure HPA for otel-collector and clickhouse"
Enable auto-scaling of components for ingestion to handle bursts in traffic

- [ ] otel-collector
- [ ] clickhouse

[2022-08-30 09:38] fahad-frontend commented on #1524
Working on this

[2022-08-30 10:13] nityanandagohain opened #1544 "Add option to discard or save changes while refreshing dashboard page."
## Is your feature request related to a problem?

Let's say I made some changes to the layout of the dashboard and I hit refresh without saving the layout, all the changes are removed, and it gets difficult when there are a lot of panels in the dashboard.

## Describe the solution you'd like

There should be a prompt if the user wants to discard the change

[2022-08-30 10:54] nityanandagohain opened #1545 "Repeated use of color makes it difficult to use dashboard."
## Bug description
![image](https://user-images.githubusercontent.com/26831659/187418756-0b555ff0-2044-4248-ba1b-281d43b5e2e4.png)

When the same color is used again, it is very difficult to distinguish.

## Expected behavior
Random colors should be used.

[2022-08-30 16:24] #1444 closed

[2022-08-30 17:36] sf-pchakraborty commented on #1524
Had a look into this issue, looks like the moment we select custom  from date range, the refresh button is disabled.

[2022-08-30 18:26] ankitnayan commented on #1524
@pranay01 is this supposed to be like this as choosing a custom time range will not change past data and hence hitting refresh won't pull the latest data and hence the chart remains the same?

[2022-08-30 18:59] gihad commented on #1188
This is too bad. "SigNoz: open-source alternative to DataDog"
That is until you need SSO.

[2022-08-30 21:57] variable commented on #1129
For the life of me I can't get the app to show up in signoz, it doesn't raise any errors, so I don't know if it's emitting data to it or not.

[2022-08-31 04:32] makeavish commented on #1523
Closing as the issue was not reproducible and was resolved after clickhouse container resources were increased.

[2022-08-31 04:32] #1523 closed

[2022-08-31 07:21] mindhash commented on #1273
@ankitnayan here is what I am thinking -

- these rules will loaded directly from the source files into rule manager
- we can explore if a file can be watched for changes and reload the rule
- the getRules() Api will have to change to pull these rules from memory (since these will not exist in db)
- no edits will be supported in the UI (but we can show a readonly copy of the rule)
- for distribute

[2022-09-01 12:29] rrangerCDV opened #1547 "Logs filtering custom fields"
## Bug description

I can't filter my logs by custom traceId field. My logs can contains traceId / spanId and some times not, so the parsing step to copy fields is not working properly. I'm using filelogs on 2 VMs with otel-collector docker.

ex 1:
`"{\"level\":\"info\",\"service\":\"Router\",\"time\":1662023186,\"message\":\"[back-front-2] \\\"GET https://web.fr/realestate/v2/developers HTTP/2.0\

[2022-09-01 13:15] nityanandagohain commented on #1547
Can you please share the logs of query-service when you run this query. Will help us debug the issue.

[2022-09-02 08:08] rrangerCDV commented on #1547
`2022-09-02T08:06:42.297Z	INFO	app/server.go:312	Starting HTTP server{port 11 8080  <nil>} {addr 15 0 0.0.0.0:8080 <nil>}
2022-09-02T08:06:42.297Z	INFO	app/server.go:324	Starting pprof server{addr 15 0 0.0.0.0:6060 <nil>}
2022-09-02T08:06:42.297Z	INFO	app/server.go:338	Starting Private HTTP server{port 11 8085  <nil>} {addr 15 0 0.0.0.0:8085 <nil>}
starting private http
2022-09-02T08:06:46.558Z	IN

[2022-09-02 08:09] rrangerCDV commented on #1547
I hope it will help you :)

[2022-09-02 08:28] nityanandagohain commented on #1547
You should get a debug statement like this when you run the query on the UI.

![image](https://user-images.githubusercontent.com/26831659/188097844-cb26fc92-d46f-41e8-97d9-ee206a00db64.png)

Can you share that.

Also can you exec into your clickhouse container and run the following commands and share the output.

[code]

[2022-09-02 08:45] rrangerCDV commented on #1547
![image](https://user-images.githubusercontent.com/95221433/188101232-38e7eead-9f45-4710-beaa-c1e7898c9374.png)

[2022-09-02 11:07] nityanandagohain opened #1548 "Dashboard is incorrect when timestamp starts in between a timerange."
## Bug description

Let's say I selected a time-range of 30 mins, and my metric started from last 15 mins, the graph for the corresponding metric should be plottect from the middle, but it starts from the beginning which is incorrect

![image](https://user-images.githubusercontent.com/26831659/188126358-37aa6a62-7dfb-410c-a7ad-70f96b483e47.png)
In this case you can see the lines on the top left

#

[2022-09-05 05:52] iamkhalidbashir commented on #1162
This would be cool if implemented

[2022-09-05 07:06] pranay01 opened #1549 "Add links to docs of different languages in `Add instrumentation page`"

[2022-09-05 18:09] pranay01 commented on #1549
Updated design
https://www.figma.com/file/lE5BDDuulXuGnqvB5GRk1V/SigNoz-OSS---v2-Designs?node-id=3986%3A54286

![get-started](https://user-images.githubusercontent.com/504541/188498923-5813b028-e32d-4980-9f77-7eef85fbe414.png)

[2022-09-06 13:01] svrnm commented on #1525
for nginx (and apache) have a look here: https://github.com/open-telemetry/opentelemetry-cpp-contrib/tree/main/instrumentation/otel-webserver-module :-)

[2022-09-06 13:01] #1315 closed

[2022-09-06 13:09] prashant-shahi commented on #1373
I tested OpenTelemetry Operator with Pet Clinic deployment with auto-instrumentation.
I was able to see DB calls in the SigNoz UI.

![Image](https://user-images.githubusercontent.com/11138844/188643218-901164bb-35eb-43fe-b6bb-3b6f49e5c4bd.png)

[2022-09-06 13:09] #1373 closed

[2022-09-07 03:35] srikanthccv commented on #1548
Adding on to this since it's kind of related. The plot's overall shape changes as the number of points and order of the points list in response payload changes. I try to show it here with an example https://www.loom.com/share/e699dcd4354d4051adb0e0fb247a15bc.

Use this hard-coded response payload for debugging purposes. Shuffle the `result` array in the response randomly and one can reproduce it.

[2022-09-07 04:23] nityanandagohain commented on #1547
Will it be possible for you to share the source logs that you are ingesting along with the otel-collector-config as it will be easier to replicate on my side?

[2022-09-07 10:11] vg18gupta commented on #1524
@pranay01 have the team started working on this?
If no, I you can assign this to me

[2022-09-08 04:44] nityanandagohain opened #1553 "DOC on s3 retention for logs"
We don't have any docs today for setting s3 retention for logs - may be we can update this once our s3 perf benchmarks for logs is done - https://www.reddit.com/r/selfhosted/comments/x856uk/comment/injeu18

[2022-09-08 04:45] nityanandagohain opened #1554 "DOC - Not clear how fields are parsed"
It's not clear from our docs on how fields are parsed and if can set which fields would be indexed fields from collector config file. I tried to look for it - but was not apparent to me. Can we add more details on it in the docs? - https://www.reddit.com/r/selfhosted/comments/x856uk/comment/inijecl/

[2022-09-08 05:02] nityanandagohain opened #1555 "DOC - Log collection using winston"

[2022-09-08 05:25] srikanthccv commented on #1548
@ankitnayan we could probably order the data on our own but that seems unnecessary if the user themselves didn't do that and when the order doesn't make any difference. I think fixing the timestamp issue also solves the dashboard flickering problem.

[2022-09-08 06:07] ankit01-oss commented on #1524
@ankitnayan yes, that is applicable for just custom time range. But if we go back to `Last 5 min`, the `refresh` button should come up.

And as @pranshuchittora mentioned, the refresh button also reappears when the page is refreshed.

[2022-09-08 06:07] pranay01 commented on #1524
Not showing Refresh button when custom data range is selected is correct. But when the time is changed to `Last 5 min` or something like that, then refresh button should appear

[2022-09-09 04:41] tarunlalwani commented on #357
+1 on this. This should not be a `enterprise` only feature

[2022-09-09 07:17] ankitnayan commented on #357
@tarunlalwani we are building our philosophy on what to include under the `community` and `enterprise` section at https://signoz.notion.site/Our-Philosophy-on-Pricing-73f5e6939c1f42be905fe937b4107dad

[2022-09-09 10:03] ankitnayan commented on #1524
@fahad-frontend are you working on this or @vg18gupta can pick this up

[2022-09-09 15:01] imrishabh18 commented on #1374
Hey @ankitnayan, I had opened both the files promQl and queryBuilder but couldn't figure out how to replace, as I am new to this project. Can you give more context on this issue please?

[2022-09-12 14:05] #1484 closed

[2022-09-12 14:05] #1491 closed

[2022-09-12 14:05] #1492 closed

[2022-09-14 03:39] sf-pchakraborty opened #1565 "Return to Metrics Page should be renamed to Return to Services Page"
Currently if page isn't found , we are showing "Return to Metrics Page" as in the attached screenshot. Since we have renamed it to Services, it should show  "Return to Services Page".

![Screenshot 2022-09-14 at 8 05 37 AM](https://user-images.githubusercontent.com/30225487/190056319-e4e16340-aba3-4d25-8e29-8979ba3631c5.png)

[2022-09-14 03:44] pranay01 commented on #1565
Yes, we should rename to `Return to Services page`

Can you raise a PR for this?

[2022-09-14 07:34] pranay01 opened #1568 "Update README - Add more details on Logs Feature"

[2022-09-14 07:36] pranay01 commented on #1529
Closing issue as #1528 was merged

[2022-09-14 07:36] #1529 closed

[2022-09-14 07:39] pranay01 commented on #1140
we shipped logs in [v0.11.0](https://github.com/SigNoz/signoz/releases/tag/v0.11.0)

[2022-09-14 07:41] pranay01 commented on #1139
We have released logs in [v0.11.0](https://github.com/SigNoz/signoz/releases/tag/v0.11.0)
@chrisstetter @alexanderadam would be great if you can check out any share any feedback

[2022-09-14 07:41] #1139 closed

[2022-09-14 07:44] pranay01 commented on #1108
@ankit01-oss this is fixed as of v0.11.0

[2022-09-14 07:44] #1108 closed

[2022-09-14 07:47] pranay01 commented on #1274
@zriyansh Can you check if this still reproduces with v0.11.0 ? We have made some recent chanes in service map module

[2022-09-14 07:49] pranay01 commented on #120
the service map popup now appears on hovering over edges

[2022-09-14 07:49] #120 closed

[2022-09-14 07:53] pranay01 commented on #463
this is fixed now. Users can specify which channels they want the alert to go to when specifying alert rules
![Screenshot 2022-09-14 at 1 23 21 PM](https://user-images.githubusercontent.com/504541/190094850-97708abc-d794-4224-911d-e275ea101826.png)

[2022-09-14 07:53] #463 closed

[2022-09-14 07:55] pranay01 commented on #722
this is fixed now in the latest versions

[2022-09-14 07:55] #722 closed

[2022-09-14 07:56] pranay01 commented on #853
This is implemented with v0.11.1

![Screenshot 2022-09-14 at 1 26 37 PM](https://user-images.githubusercontent.com/504541/190095565-a4a03322-372c-4686-b9fc-b8ad8ee8ff82.png)

[2022-09-14 07:56] #853 closed

[2022-09-14 08:01] pranay01 commented on #665
@srikanthccv It seems this issue still persists, any idea why?

[2022-09-14 08:03] pranay01 commented on #1524
related https://github.com/SigNoz/signoz/issues/664

[2022-09-14 08:04] pranay01 commented on #1524
@vg18gupta assigning to you since we have not received any response form @fahad-frontend

[2022-09-14 08:06] pranay01 commented on #404
this is fixed v0.11.0 onwards

[2022-09-14 08:06] #404 closed

[2022-09-14 08:10] pranay01 commented on #961
this is not reproducible in v0.11.1

[2022-09-14 08:10] #961 closed

[2022-09-14 09:50] srikanthccv commented on #665
@pranay01 I am not aware of this bug. I will look into it. The other PR which solved the dashboards issue solved a different problem.

[2022-09-14 11:41] idkw opened #1569 "Ability to configure metrics and traces retention via configuration when deploying signoz"
Hello
I want to configure the retention of traces, right know the documentation says it can be done via the frontend : https://signoz.io/docs/userguide/retention-period/

However I'd like to configure it automatically when deploying the signoz instance without manual clicks in the frontend.
I'm using the helm chart for deployment on a kubernetes cluster.

A way to configure it via the helm chart w

[2022-09-15 05:25] srikanthccv commented on #1274
Just to clarify, this issue is not about the service present on `Services` (previously `Metrics`) page but rather the name not being present on `Traces` page when you come back from the trace detail page.

[2022-09-15 09:35] pete-woods opened #1571 "Grouping spans by custom tags (and table of results)"
## Is your feature request related to a problem?

Coming from Honeycomb, some equivalent to the span query page is something I'm looking for.

The key thing that's missing is being able to group by multiple, standard and custom tags. See the top of the screenshots below for comparison to the Honeycomb feature set.

## Describe the solution you'd like

Additionally (I realise this would be further

[2022-09-15 09:48] zriyansh commented on #1274
@srikanthccv yes exactly

[2022-09-15 09:52] pete-woods opened #1572 "Dashboards for span queries"
## Is your feature request related to a problem?

Once you can create the sorts of queries that we would find useful (#1571), the next thing is to be able to dashboard them.

## Describe the solution you'd like

Similar to the metric dashboards, being able to collect and arrange useful span queries together (including their tables) is very important to us.

[2022-09-15 13:28] xpherism commented on #645
One thing you could mention in the README, is that for WSL user the containers directory need to be mounted like this

`- /mnt/wsl/docker-desktop-data/version-pack-data/community/docker/containers:/var/lib/docker/containers:ro`

Assuming you are using docker desktop :-)

[2022-09-16 04:47] sf-pchakraborty commented on #1565
This should be fixed with this PR - https://github.com/SigNoz/signoz/pull/1566

[2022-09-16 14:24] makeavish commented on #1332
Tested a new index on `signoz_index_v2` table to fetch trace.
Without index: 1.43B rows scanned - (all the rows) at speed of 36M rows/s. 40s
With index: 8M rows scanned at speed of 1.5M rows/s. 5s
On `signoz_spans` table it took 0.8s and only scanned 34k rows at speed of 41k rows/s.
I will try different types of index to optimize the result but currently looks like will lose around 5-6 times perf

[2022-09-16 14:27] makeavish commented on #1332
@ankitnayan Can we introduce a new ID named sTraceID (short for signoz traceID) which will be based on timestamp(kuid) similar to ID in logs.
We will replace traceID with sTraceID everywhere and we can use min max index. This will improve performance and we can deprecate `signoz_spans`

[2022-09-16 20:14] adecchi-2inno opened #1577 "signoz-otel-collector as deployment"
## Bug description

Unable to run **signoz-otel-collector** as **deployment**, it only runs as **daemonset**.
On the other hand, there is a bug that Signoz try to use replicacount inside a daemonset.

## Expected behavior

Run **signoz-otel-collector** as **deployment** and fix the issue in case of to run it as **daemonset**.

## How to reproduce

1. Trying to install it with helm.

## Version inf

[2022-09-17 15:07] vg18gupta commented on #1524
@ankit01-oss @pranay01  looks like the refresh button is intentionally hidden for the custom date range.
Also not able to raise PR, can someone help me here?

[2022-09-19 05:38] prashant-shahi commented on #1577
@adecchi-2inno  We have already moved back OtelCollector to Deployment but the release PR is pending.

You can track it here: https://github.com/SigNoz/charts/pull/82

[2022-09-19 14:41] aaronhuggins-carewell opened #1580 "[BUG] Docker compose volume mounting gives "permission denied" on SELinux-enabled systems"
## Bug description

Permission denied on all volumes when running setup command.

`docker-compose -f docker/clickhouse-setup/docker-compose.yaml up`

## Expected behavior

No volume permission errors.

## How to reproduce

1. Enable SELinux on your fresh linux install
2. Install docker and docker-compose
3. Run install command

## Version information
* **Signoz version**: latest docker compose on

[2022-09-19 18:18] imrishabh18 commented on #919
@pranay01 Is this issue still valid?

[2022-09-19 19:51] prashant-shahi commented on #1577
@adecchi-2inno The PR has been merged. You should have SigNoz otelCollector reverted back to deployment.
While `k8s-infra` chart is introduced to handle the same.

[2022-09-19 19:51] #1577 closed

[2022-09-20 04:54] sf-pchakraborty commented on #1524
@vg18gupta What you said is correct. But when you try to flip back to 'Last 5 min' or something like that the 'Refresh' button should re-appear right? that's not happening right now.

For this to replicated you need to select custom date range first and then flip back to pre-defined ranges.

[2022-09-20 10:33] nityanandagohain commented on #1553
Duplicate of [Coldstorage query performance of logs#643](https://github.com/SigNoz/engineering-pod/issues/643)

[2022-09-20 10:33] #1553 closed

[2022-09-20 13:53] zriyansh opened #1581 "login screen autofill password issue"
## Bug description

auto-suggested password for Safari browser does not work during SigNoz login screen, only the confirm password field gets populated.

*If this affects the front-end, screenshots would be of great help.*
![Screenshot 2022-09-14 at 21 38 06](https://user-images.githubusercontent.com/52788043/191275713-4a0b0c80-f601-4a56-86f1-6e27d463993c.png)

## Expected behavior

## How to repr

[2022-09-20 17:25] vg18gupta commented on #1524
@sf-pchakraborty I have raised a [PR](https://github.com/SigNoz/signoz/pull/1582), seems like there is another issue in here. Once a custom date is selected and then if we refresh the page the hidden state of the refresh button is not persisted

[2022-09-20 18:19] srikanthccv opened #1583 "Formula expects the empty entry for filter set"
If the request payload doesn't include the `tagFilters` for a query the error is thrown. Right now, this is required for formulas also but it doesn't make sense to enforce this for them. It should work fine without `tagFilters` in the request payload.

[2022-09-20 19:33] imrishabh18 commented on #919
@palashgdev How can I reproduce this error? I have setup the frontend but the app looks a bit overwhelming 😅. Can you guide please?

[2022-09-20 20:29] drjasonharrison opened #1584 "API (and documentation) on how to monitor processors that request data from a job queue"
## Is your feature request related to a problem?

No

## Describe the solution you'd like

We would like to monitor processors that request data from a job queue. The jobs (JSON data) arrive from outside of the system and are queued based on the values of fields within the request. Since it's JSON, our queue system puts the jobs into sub-queues. Then a processor will request a job from the sub-que

[2022-09-22 05:26] sf-pchakraborty opened #1587 "Update SigNoz vs Jaeger' in README"
Now that we have Log Management in place, SigNoz vs Jaeger comparison should be updated to highlight that

[2022-09-22 05:32] pranay01 commented on #1587
makes sense. Can you raise a PR fixing this @sf-pchakraborty

[2022-09-22 05:42] sf-pchakraborty commented on #1587
Done

[2022-09-22 05:44] #1554 closed

[2022-09-22 07:58] srikanthccv commented on #1584
@drjasonharrison What I understand from your description is that you have piece of program that consumes a message from queue and does some work and at the end conditionally marks if the job failed. And you would like to monitor this setup, right?

It seems you only have one hop which is the processor program. You will probably need to manually instrument the processor code depending upon the code

[2022-09-22 09:31] yxiaoy6 opened #1589 "use externalClickhouse doesn't work"
## Bug description
Deploying with Helm directly
value.yaml:
[code]
*Please describe.*
query-service fail
[code]
**I make sure the account password is correct and the signoz_log library has been automatically created in my clickhouse**
otel-collector:
[code]
*If this affects the front-end, screenshots would be of great help.*

## Expected behavior

## How to reproduce

1. Modify value.yaml, update

[2022-09-22 16:33] #1587 closed

[2022-09-23 19:16] jwillp opened #1590 "Human-Readable JSON View for Trace Tags"
In Jaeger, when viewing a tag that has a JSON value, the UI formats it in a human-readable form.
This is particularly useful for specific tags and quick debugging. Is there any plan to do the same in Signoz?

[2022-09-24 00:12] publikphigor opened #1591 "[feat]: Create template for documentation issues"
## Is your feature request related to a problem?
I was going to open an issue to contribute to the docs but I couldn't find in the list a template for docs contributions.

## Describe the solution you'd like
Add a docs contribution to the template available for selection when opening a new issue.
Also, a pretended prefix that describes the issue being opened instead of a blank one. Examples:
[docs

[2022-09-24 00:24] publikphigor opened #1592 "[docs]: Typo errors discovered in the documentation"
## Bug description
Outlined are some of the typo errors I discovered:
[code]
## Screenshots
![Screenshot_20220924-005021_Chrome](https://user-images.githubusercontent.com/35191595/192071863-ceb12d40-2de2-493f-bac7-f26a26e345c1.png)
![Screenshot_20220924-005105_Chrome](https://user-images.githubusercontent.com/35191595/192071866-ff4b385c-543f-4b96-a8b8-e7798bbf5ece.png)
![Screenshot_20220924-005339

[2022-09-24 11:59] palashgdev commented on #919
Try to return a object with 500 status code if that helps

[2022-09-24 17:11] pranay01 commented on #1592
hey @publikphigor Thanks for raising the issue.

Can you raise a PR fixing this in https://github.com/SigNoz/signoz.io

[2022-09-24 17:12] publikphigor commented on #1592
Sure I can.

[2022-09-25 18:20] prashant-shahi commented on #1589
@yxiaoy6 This likely happens for various reasons:
- when user/password combination is not correct
- user passed does not enough permissions to create dbs and tables
- IP whitelisting not allowing the IPs which are trying to connect to ClickHouse

Could you please make sure the above are not the case here?

[2022-09-26 01:57] yxiaoy6 commented on #1589
Use dry_run to generate a test run file, can see that query_service does not have the environment variable CLICKHOUSE_PASSWORD
[code]
After I manually assign the password, the query service can run, but the otel-collector still cannot get up

[2022-09-26 02:22] yxiaoy6 commented on #1589
otel-colletor log：
[code]

[2022-09-26 05:36] yxiaoy6 commented on #1589
value.yaml:
[code]

[2022-09-26 05:39] yxiaoy6 commented on #1589
otel-collector always restart
![image](https://user-images.githubusercontent.com/43592152/192201307-f566d66a-9676-42ab-b345-42257cc2c9a7.png)

[2022-09-26 18:23] drjasonharrison commented on #1584
Thank you!

[2022-09-26 18:23] #1584 closed

[2022-09-27 02:28] adiandroo opened #1596 "Tutorial for Nuxt JS"
Is there any tutorial for Nuxt JS? I'm confused about implementing on Nuxt JS which makes me errors when implementing. Thanks in advance

[2022-09-27 03:26] mumutu66 commented on #1580
+1

[2022-09-27 05:58] nityanandagohain opened #1597 "Docker container name not present in docker container logs."
Right now the default docker log collection doesn't have the container name in attributes.

[2022-09-27 07:14] #1583 closed

[2022-09-27 09:27] nityanandagohain commented on #1597
Solution using [logsprout](https://github.com/gliderlabs/logspout) .

We can route the logs to signoz otel collector from logsprout and we can get the container id as well.

The configuration for it is
[code]

We will also need to export  `2255` port for otel collector.

Now we can start logspout by running
[code]

We will be able to see the attributes in the UI

![Screenshot 2022-09-27 at 2 44 52

[2022-09-27 10:35] KR-Ravindra opened #1598 "signoz-otel-collector:0.55.1 Image Not found"
While using docker stack deploy example from - https://signoz.io/docs/install/docker-swarm/
The latest git pull has an image "signoz-otel-collector:0.55.1" which is not found. I had also tried pulling this manually. No luck!

[2022-09-27 10:52] yxiaoy6 commented on #1589
@prashant-shahi Looking forward for your response, thanks!

[2022-09-27 10:59] prashant-shahi commented on #1598
@KR-Ravindra could you please update the images of `otel-collector` and `otel-collector-metrics` to `signoz/signoz-otel-collector:0.55.1`?
You could either manually update it or `git checkout` to `develop` branch and re-deploy.

We have already fixed this in `develop` and it would be part of the next release.

[2022-09-27 11:09] KR-Ravindra commented on #1598
Ok Thanks for the quick reply! @prashant-shahi I guess this solves my problem!

[2022-09-27 11:09] #1598 closed

[2022-09-27 14:20] DamZiobro opened #1599 "Alert Threshold value 0 is not allowed"
## Bug description

When I create new alert in SigNoz UI and try to set 'Alert Threshold == 0' I get the following error.
![image](https://user-images.githubusercontent.com/4758489/192551587-b7355041-1d4d-4164-9d3f-b72f982f5377.png)

As a workaround I can use very low fraction value ex. 0.0000001, but it is not very intuitive.
Alert Threshold 0 should be valid.

## Expected behavior

Setting of Al

[2022-09-28 04:02] bhaswanth88 opened #1600 "Conditional color codes for number(Value) widgets in dashboard"
## Is your feature request related to a problem?

As the value widgets are pure textual, easy / quick glance will be hard if there are multiple value widget, so conditional visual representation will be easy to look.

## Describe the solution you'd like
In the scenario I am using, I have created one dashboard which shows expiry of SSL certificates issued for domains we are maintaining. As there ar

[2022-09-28 07:09] bhaswanth88 commented on #1600
similar kind can also be introduced for Services section-> columns: P99, Error Rate & OPS

[2022-09-28 08:36] thelazyoxymoron opened #1601 "Support Microsoft Teams as an alert channel"
## Is your feature request related to a problem?

I'm not able to send alert notifications via webhook to Microsoft Teams. The alert manager logs says `unexpected status code 400`

## Describe the solution you'd like

Microsoft Teams requires that a JSON body be sent with a mandatory parameter named `text` which has all the content. Whatever is being sent over normal webhook calls can be wrapped i

[2022-09-28 11:04] ajeetraina opened #1602 "Proposal for Signoz Docker Extension"
Docker Extensions allow developers to connect their favourite development tools seamlessly to their application development and deployment workflows. With the [SDK](https://docs.docker.com/desktop/extensions-sdk/), you’re able to simplify your team’s workflows — by creating new automation that integrates both your tools and external tools into Docker Desktop. Extensions are packaged as specially f

[2022-09-29 05:49] palashgdev commented on #1524
Closed via: https://github.com/SigNoz/signoz/pull/1582

[2022-09-29 05:49] #1524 closed

[2022-09-30 02:10] srikanthccv opened #1604 "Tag value auto complete throws error"
## Bug description

The following API throws error `api/v2/metrics/autocomplete/tagValue?metricName=....&tagKey=...`

[code]

## Expected behavior

It shouldn't throw an error. It should either return an empty result or return tag values.

[2022-09-30 12:16] sf-pchakraborty commented on #493
@palashgdev I think this issue should be closed. The PR where this issue was mentioned, has already been closed.

[2022-10-03 01:32] #1310 closed

[2022-10-03 03:21] #1363 closed

[2022-10-03 08:15] tomquas opened #1606 "signup fails"
## Bug description
<img width="388" alt="Screen Shot 2022-10-03 at 10 05 47" src="https://user-images.githubusercontent.com/564311/193530009-dec4224b-a382-4457-b91c-17fc42c8b6b9.png">

http://localhost:3301/signup

According to screenshot, password policies are a) a pain b) useless if not implemented correctly c) not worth a dime - as many studies and reports found out before. why not drop them?

[2022-10-03 11:41] AnirudhaGohokar opened #1607 "Compliance issues with Signoz"
Hi Signoz Team,

The privacy policy of signoz is clearly stating that it collects personal information like user details,usage,location and cookies. Some clients specially big enterprise customers won't be comfortable in sharing any of these data points. So is there any documentation around turning off these data points collection? If not can you please mention which of those data point collection

[2022-10-04 06:46] pranay01 commented on #1607
@AnirudhaGohokar Please check details on telemetry data collected and way to disable - https://signoz.io/docs/telemetry/

[2022-10-04 06:46] #1607 closed

[2022-10-04 08:27] LasseRafn commented on #1606
submit a PR to change it

[2022-10-04 08:29] LasseRafn commented on #1526
I think this can be closed 😅

[2022-10-04 09:14] #1565 closed

[2022-10-04 09:14] sf-pchakraborty commented on #1565
This is fixed with https://github.com/SigNoz/signoz/pull/1566

[2022-10-04 12:41] AM1CODES opened #1609 "Feature Request: Update Website UI"
## Is your feature request related to a problem?

Hey Folks, Aayush here. I am a Product Designer and I was wondering if I could contribute to the project by working on building newer UI for the project. The current home/landing page looks cool and does the job but i think maybe i can give it a shot and try and make some improvements to it.

## Describe the solution you'd like

Update the current

[2022-10-04 21:15] saurabhisdev commented on #1321
Hi @pranshuchittora , I tried to find the issue myself. But it looks like that now the dashboard UI has been changed in latest version. PFA
![Screenshot from 2022-10-05 02-42-29](https://user-images.githubusercontent.com/91323536/193930770-91ea26db-644b-4946-90c6-dbff99c8045a.png)

[2022-10-04 21:24] saurabhisdev commented on #1321
@pranay01

[2022-10-05 00:21] pranay01 commented on #1609
hey @AM1CODES Thanks for the suggestion. Can you share key things you would like to be improved? We are working on a new version of the website also, so may be you can contribute on that.

[2022-10-05 02:57] sf-pchakraborty opened #1610 "The Service Name should not be capitalized"
## Bug description

Currently the list of services in Services tab show in Capital Case. But when we click on a particular service, and go to the details,
the breadcrumbs show the service name in lower case.

## Expected behaviour
The breadcrumbs should also show the service name in the small case, same as reported by backend.

## How to reproduce

1. Go to Services Tab

<img width="1434" alt="Scr

[2022-10-05 04:13] palashgdev commented on #1321
Hi @saurabhisdev issue is still there

[2022-10-05 07:07] AM1CODES commented on #1609
Just wanted to upgrade the look of the website and how information is being presented. Maybe we can bump it up a little to present the current information in a more efficient way, put more emphasis on important CTAs and so on.

[2022-10-05 07:07] pranay01 commented on #1610
I think the breadcrumbs should also be in Capital case. can you take this up @sf-pchakraborty

[2022-10-05 11:59] ankitnayan commented on #1610
I recommend we do not change the case of service name anywhere. We should display what we receive in the telemetry data. If in the service list page, we are capitalizing the first char, we should not do that.

[2022-10-05 17:29] pranay01 commented on #1606
@palashgdev can you check what's the issue here?

[2022-10-05 17:31] pranay01 commented on #1606
Thanks for reporting the issue. This is not expected. Is there a particular type of passwords you see this repeating on ? Cause this works well for some passwords I tried @tomquas

[2022-10-05 17:34] pranay01 commented on #1591
Hey - you can create issues for documentation in https://github.com/SigNoz/signoz

[2022-10-05 17:35] #1591 closed

[2022-10-05 18:09] oneart-dev opened #1612 "Trace page error (URI malformed)"
## Bug description

After attaching my zap logger(GO 1.19) to telemetry I can't open trace page. Its just blank page with error in console:

Page uri: ```http://localhost:3301/trace/96c0984483049c9134e334727313ee2e?spanId=2d69a0700c7b42cd```
[code]

Trace without attached logs works just fine.

## Expected behavior
No error

## How to reproduce
[code]

## Version information
* **Signoz version**:

[2022-10-05 18:16] ankitnayan commented on #1612
@makeavish can you try to reproduce the issue and check what's wrong

[2022-10-05 18:25] oneart-dev commented on #1612
Server response when opening the corrupted trace:
<details>
<summary>JSON Response</summary>

[code]
</details>

Hope it helps

[2022-10-06 05:14] palashgdev commented on #493
Thanks @sf-pchakraborty

[2022-10-06 05:14] #493 closed

[2022-10-06 05:51] sf-pchakraborty commented on #490
@palashgdev Is this fixed? or are there additional changes requested?

[2022-10-06 06:22] #490 closed

[2022-10-06 06:25] sf-pchakraborty commented on #1375
@ankitnayan Please assign this to me.

In the above Tab only 2 charts are coming from PromQl - Rate (ops/s) and Error Percentage.  The other two charts are from different apis. They needn't be changed.
@srikanthccv confirmed the same.

[2022-10-06 06:28] ankitnayan commented on #1375
@sf-pchakraborty we will change the other 2 APIs also. Move them from traces to metrics API. But to scope it down we can start with metrics API.

[2022-10-06 06:51] palashgdev commented on #1606
it is due to regex is failing at https://github.com/SigNoz/signoz/blob/develop/frontend/src/pages/SignUp/utils.ts#L10

we can add `:`

[2022-10-06 06:55] manang opened #1614 "https support for docker compose"
Hi,
I need to install signoz in a internal lab.
I want to know if there is an option to setup signoz using selfgenerated certificated.
Thanks a lot

[2022-10-06 07:56] ishan123456789 opened #1615 "Sorting doesn't works as expected with date columns"
## Bug description
No matter if I try toggle ascending/descending the sorting doesn't happen
![Screenshot 2022-10-06 at 1 24 30 PM](https://user-images.githubusercontent.com/23247168/194249793-7130af2e-8295-4fbd-b4c7-b4e32fba0308.png)

## Expected behavior
Sorting on date column should work similar to the other columns

## How to reproduce

1. Go to traces page
2. Try to click on Date
3. See that

[2022-10-06 09:28] vg18gupta commented on #735
@pranay01  If this is not yet picked, I would like to work on this.

[2022-10-06 10:45] vg18gupta commented on #919
@palashgdev if this is not picked yet, I would like to work.

[2022-10-06 11:24] palashgdev commented on #735
Sure @vg18gupta please go ahead

[2022-10-06 23:11] KongrooParadox commented on #1610
I am looking to contribute to an opensource project for the first time and think this issue would do nicely :)
@pranay01 @ankitnayan  @sf-pchakraborty  Could one of you assign this issue to me ?

I also think that the **original** case for service name should be preserved, and would remove the capital added to the service list page.
This would be coherent with the breadcrumbs and url of each servi

[2022-10-07 06:44] makeavish commented on #1615
@ishan123456789 This is due to [bug in clickhouse](https://github.com/ClickHouse/ClickHouse/issues/37673) projections. It is caused by duplicate entries in a table.
It was [fixed](https://github.com/ClickHouse/ClickHouse/pull/38725) by Clickhouse and released in 22.8 LTS version. Currently signoz is using 22.4 clickhouse image so this bug still exists. For now, you can run the below query to dedup

[2022-10-07 06:46] makeavish opened #1618 "Upgrade clickhouse to 22.8"
Clickhouse version needs to be updated to 22.8 LTS version as it also fixes the issues with sorting in projections.

[2022-10-07 06:50] makeavish commented on #1615
Can be closed after https://github.com/SigNoz/signoz/issues/1618 is closed.

[2022-10-07 07:35] manang opened #1619 "info about signoz"
Hi,
I have a question about signoz.
I've installed the example application about the e-store.
my question is: how does signoz able to understand that all the nodes are part of the same topology?

Is there a way in signoz to extend this capability with another protocol, such as real time traffic?
Thanks a lot
Angelo

[2022-10-07 20:19] pranay01 commented on #1619
Hey, we understand the relations between the application nodes by analysing the underlying trace data.

Can you share more details on what use case you have in mind when you say this
`Is there a way in signoz to extend this capability with another protocol, such as real time traffic?
`

What extra attributes does real time traffic data have? I am guessing by real time traffice data you mean traffi

[2022-10-07 20:38] manang commented on #1619
For example webrtc
Thanks for your answer

[2022-10-08 07:48] ankitnayan commented on #1531
https://signoz.io/docs/tutorial/opentelemetry-binary-usage-in-virtual-machine/

[2022-10-08 07:48] #1531 closed

[2022-10-09 09:41] yxiaoy6 opened #1623 "log file exporting failed"
Deploying with Helm directly

The following is the log of daemonset otel-collector

[code]
Signoz version: v0.11.0
Your OS and version: kubernetes v1.21.3

[2022-10-09 13:34] srikanthccv commented on #1623
This is fixed and will be part of the next release.

If you don't want to wait, you could use the patch release `signoz/signoz-otel-collector:0.55.3` in your deployment.

[2022-10-09 13:34] #1623 closed

[2022-10-10 08:52] YoKv opened #1624 "clickhousetraces table not create after drop"
## Bug description

signoz_traces have no tables created after drop datebase

## How to reproduce

1. docker-compose up -d
2. connect to  clickhouse and drop  datebases signoz_logs,signoz_metrics,signoz_traces
3. update signoz-otel-collector  in docker-compose.yaml to recreate container
4.  docker-compose up -d
5. signoz_logs,signoz_metrics works, signoz_traces only create datebase and no tables/v

[2022-10-10 09:17] makeavish commented on #1624
@YoKv We are using [golang-migrate](https://github.com/golang-migrate/migrate) to maintain database migrations. If you are dropping any tables manually, then you also need to force start migrations again by dropping `schema_migrations` table.

[2022-10-10 11:23] AshnaSabu123 opened #1626 "4318 port pointing to 4317"
The port 4318 of OTLP HTTP receiver is pointing to 4317 of  OTLP gRPC receiver.

signoz/signoz-otel-collector:0.55.1  --- 4317-4318/tcp

In the docker-compose file the ports are given like below

   - "4317:4317"     # OTLP gRPC receiver
   - "4318:4318"     # OTLP HTTP receiver

## How to reproduce
 docker-compose up -d

Please have a check on this issue

[2022-10-10 11:29] nityanandagohain opened #1627 "Enter key doesn't work correctly in login page"
## Bug description

In the login page when I enter my email and press enter it throws invalid credentials error, it only works when I click on the next button instead of pressing enter

![image](https://user-images.githubusercontent.com/26831659/194856288-4e0c38b5-0c4c-485f-b077-f7381743ba6a.png)

## Expected behavior
It should not throw the error.

[2022-10-10 17:01] prashant-shahi commented on #1626
@AshnaSabu123 I don't think that should be the case.
Upon running `docker ps` command, you should output with the following:

[code]

-  `4317-4318/tcp` should be shown for `otel-collector-metrics` which is derived from OtelCollector Dockerfile that states port of range from `4317` to `4318` are available. None of the ports are exposed for that service in `docker-compose` YAML.
- You should be see

[2022-10-10 17:01] #1626 closed

[2022-10-11 01:54] YoKv commented on #1624
it works.Thanks!

[2022-10-11 02:41] #1624 closed

[2022-10-11 08:50] yxiaoy6 opened #1629 "How does golang use http to send data"
My signoz is deployed in kubernetes using the helm method, and the ingress proxy cannot be used on port 4317. I would like to know how to use the http method of 4318 to send golang data to signoz.

thank you for your reply！

[2022-10-11 18:26] WilSimpson opened #1630 "Latest Helm Chart Installation Error"
## Bug description
Unable to deploy to local k8s cluster (microk8s) with helm. Running the install returns:
[code]

## Expected behavior
`helm install ...` does not throw any errors

## How to reproduce
1. Add chart to helm `helm repo add signoz https://charts.signoz.io`
2. Update helm chart `helm repo update`
3. Install with all defaults to an empty namespace `helm --namespace platform install si

[2022-10-11 19:03] prashant-shahi commented on #1630
@WilSimpson Thanks for reporting this issue.

I will be working on the fix ASAP.

[2022-10-11 19:37] prashant-shahi commented on #1630
@WilSimpson It looks like this is caused by unavailability of `Chart.IsRoot` in the Helm version used.

Could you please upgrade your Helm version?
I have tested it with Helm `v3.9.3`.

Do let us know if it works for you after upgrading.

[2022-10-11 19:44] prashant-shahi commented on #1630
It looks like the `Chart.IsRoot` function is available from `v3.7.0` onwards.

![image](https://user-images.githubusercontent.com/11138844/195184155-3f4e8219-85db-4e67-97dd-35b0d735e9b8.png)

[2022-10-11 19:45] WilSimpson commented on #1630
I upgraded to helm `3.10.0` and it fixed the issue. Thanks for the information! I tried to look for a version requirement of helm in the docs but all I remember seeing was 3.6.

[2022-10-11 19:45] #1630 closed

[2022-10-11 21:05] pranay01 commented on #1630
@prashant-shahi might be good to add the version requirements in docs as well

[2022-10-12 02:29] Mahoo12138 commented on #392
In my arm64 device, its kernel does not support the docker.

[2022-10-12 02:59] yxiaoy6 commented on #1589
It should be because the clickhouse version is too low

[2022-10-12 02:59] #1589 closed

[2022-10-12 04:38] prashant-shahi commented on #1589
@yxiaoy6 Thank you for being patient and responding with the solution to the reported issue.

When using external clickhouse, make sure:
- clickhouse version `22.4.X` for SigNoz `v0.8.X` till `v0.11.X` (and future releases)
- external clickhouse is accessible from SigNoz cluster
- for better security instead of making clickhouse globally accessible, use IP whitelisting
- correct user/password comb

[2022-10-12 06:54] ishan123456789 opened #1632 "Allow user to automatically select date range from graph itself"
## Is your feature request related to a problem?
Ease of setting custom date range

## Describe the solution you'd like
Currently to select a particular date range we need to manually add/update values in the dropdown which can be moved to graph itself, so selecting a particular range in graph should reflect in the selected range.

## Describe alternatives you've considered
N/A

## Additional cont

[2022-10-12 18:28] srikanthccv commented on #1263
@mahipatsinghtellius Are you still facing the issue? What is the propagator you are using and can you clarify where you are facing the issue?

[2022-10-13 03:20] ankitnayan commented on #1627
@palashgdev this is still not fixed IMO

[2022-10-13 05:59] palashgdev commented on #1627
@ankitnayan issue is with different use case let me check

[2022-10-13 05:59] palashgdev commented on #1627
@ankitnayan issue is with a different use case let me check

[2022-10-13 08:50] #1627 closed

[2022-10-13 17:05] ankitnayan commented on #1571
@pete-woods the group by `tags` is already enabled using `clickhouse query` builder in the dashboard. An example would be
[code]

[2022-10-13 17:06] ankitnayan commented on #1572
@pete-woods this is already possible today. An example query is mentioned at https://github.com/SigNoz/signoz/issues/1571#issuecomment-1277922563

[2022-10-14 12:46] nityanandagohain opened #1638 "auto log parsing for common formats"
## Is your feature request related to a problem?

We don't have automatic log parsing for common log formats.

## Describe the solution you'd like

We should have some config which should extract attributes for common log formats or a folder with configurations for parsing common log formats.

We should also consider extracting attributes directly from the UI using regex.

[2022-10-15 09:39] ankitnayan opened #1639 "Handle misconfigured clickhouse URL at otel-collector"
Currently, if the URL of clickhouse is incorrect, the otel-collectors seg fault with below error
[code]
All the custom exporters should handle this error and show correct log to help user understand the issue better

[2022-10-15 11:23] AM1CODES commented on #1609
Hey @pranay01 any updates on this? I would love to contribute to this!

[2022-10-16 15:09] sf-pchakraborty opened #1640 "In case of no data the chart goes blank, it should show proper message."
For External Calls, when there's no data, the chart goes blank. It's hard for the user to know if the chart is loading or there's nothing to show.

![Screenshot 2022-10-16 at 8 37 27 PM](https://user-images.githubusercontent.com/30225487/196043059-43e14f8e-7046-454c-9465-490c8f37a9fc.png)

## Expected behavior

It should atleast show some message to inform the user.

![Screenshot 2022-10-16 at 8 3

[2022-10-16 18:17] lakshya-dhariwal commented on #1606
Hey @pranay01 would love to take a stab at this. So what are we going with - adding : to regex or removing the special character constraint.

[2022-10-17 15:02] stalek71 opened #1641 "Can't recover clickhouse from crash loop"
## Bug description

When some node restarted SigNoz lost access to clickhouse engine.
The restarting pod has such info in the log like below.

[code]

As it can't start I can't fix the limit in the table def. I was trying to change the liveness probe of the pod and to start bash
but it failed so I was not able to connect to the pod (as it didn't start of course)

## Expected behavior
I think it co

[2022-10-17 19:51] allanli524 opened #1642 "Dashboard: table panel option to display Clickhouse query results"
## Is your feature request related to a problem?

I wanted to display the GraphQL requests with highest latency **grouped by GraphQL query names**. It seemed that the SigNoz platform is able to rank and sort individual traces but not grouped by certain custom attributes such as `graphql.operation.name`.

So then I created my own Clickhouse Query to get the data, but there appears to be no way to d

[2022-10-18 06:19] rajsingh1109 opened #1643 "Visualize service map dashboard for each service"

[2022-10-18 11:05] ankitnayan commented on #1643
@rajsingh1109 can you elaborate on this a bit? What would you like to see in serviceMap of 1 service? Does your serviceMap not fit in the screen today? It has a feature today to drag through the canvas to focus on any 1 service

[2022-10-18 11:41] rajsingh1109 commented on #1643
if we are sending data from more than one application to monitor through signoz, then service map dashboard will show a diagram for all these applications together.I was wondering if we could segregate the diagram for each application.

[2022-10-19 06:58] DevAshish-oodles opened #1644 "CORS error on tracing for Domains"
## Bug description

When I am trying to configure my react app for monitoring. In the configuration if i am passing my domain it is throwing CORS error, although I have added my domain in otel configuration, but when I use IP address in place of domain it works fine.

This is the error response - "Access to resource at 'http://172.31.1.XX:4318/v1/traces' from origin 'http://172.31.52.XX/' has been

[2022-10-19 07:05] DevAshish-oodles opened #1645 "MongoDB monitoring"
## Bug description

I am unable to get the metrics for mongodb tracing, I followed the document provided by Signoz team - https://signoz.io/blog/opentelemetry-mongodb/

It is working for the default the mongodb present in the docker-compose file, but it is not getting connect with my database and there is no  tracing response on the dashboard in signoz

## Expected behavior
It should show the trac

[2022-10-19 09:16] katepangLiu commented on #797
I think it is caused by a polluted volume `./data/clickhouse/:/var/lib/clickhouse/` .

[2022-10-19 10:52] katepangLiu opened #1646 "Make README.zh-cn.md more readable"

[2022-10-20 08:18] srikanthccv commented on #1113
You can get it to work using gunicorn + uvicorn.workers.UvicornWorker class but the uvicorn is directly not supported. Please follow up on the upstream repo for any updates https://github.com/open-telemetry/opentelemetry-python-contrib/issues/385.

[2022-10-20 08:18] #1113 closed

[2022-10-20 08:19] yashshanker commented on #1542
Grafana is one of the most preferred dashboard services for observability, if not the most, across the industry.
I've worked with Engineering teams of 3 startups that want to use Signoz and absolutely love it, but can't because they don't want another dashboard service other than Grafana, which they are already using for Cloud Infra, Logs, etc.

 IMHO, if this is rolled out, adoption will increase

[2022-10-20 13:14] bmike78 commented on #1580
@aaronhuggins-carewell and @mumutu66, I believe the fix I proposed should fix the issue you have by having clickhouse data in a docker volume.. I'm not running SELinux, but could you try it out?

I was getting permission errors as it was trying to write data in deploy/docker/clickhouse-setup/data/clickhouse as UID 101/GID 101 in my Ubuntu WSL instance.

[2022-10-20 13:31] VulcanDUSI opened #1652 "Two backslashes are shown in Event view instead of one (in value)"
## Bug description

Backslashes are escaped correctly in JSON view, but two backlashes are shown in Event view (should be just one '\').

{
  "timestamp": 1666272185422752800,
  "id": "2FlLy8mdGBzFof0oKEZy4x4YREm",
  "trace_id": "",
  "span_id": "",
  "trace_flags": 0,
  "severity_text": "",
  "severity_number": 0,
  "body": "",
  "resources_string": {},
  "attributes_string": {
    "Body": "",

[2022-10-20 13:33] VulcanDUSI commented on #1652
wrong user

[2022-10-20 13:34] #1652 closed

[2022-10-20 13:36] lukaszherman opened #1653 "Two backslashes are shown in Event view instead of one (in value)"
Backslashes are escaped correctly in JSON view, but two backlashes are shown in Event view (should be just one '\').

{
"timestamp": 1666272185422752800,
"id": "2FlLy8mdGBzFof0oKEZy4x4YREm",
"trace_id": "",
"span_id": "",
"trace_flags": 0,
"severity_text": "",
"severity_number": 0,
"body": "",
"resources_string": {},
"attributes_string": {
"Body": "",
"vSqlServer": "SQL111B\SQL2019B",
"vUserName":

[2022-10-20 16:38] aaronhuggins-carewell commented on #1580
I'll be happy to give it a go today or tomorrow.

[2022-10-22 05:26] sf-pchakraborty commented on #735
@palashgdev Looks like this is already fixed. Can you please close this?

[2022-10-24 02:41] pranay01 commented on #1188
The way we see it, to make any project sustainable in the longer term and keep building what the community values, we need to monetize a part of it. Here's our philosophy on [monetization](https://signoz.notion.site/Our-Philosophy-on-Pricing-73f5e6939c1f42be905fe937b4107dad).

SSO/SAML seems like a set of features which is generally needed by bigger cos, so seemed a good candidate to put under ent

[2022-10-24 21:13] marianomirabelli opened #1658 "signoz-otel-collector: panic on histogram creation without a bucket."
## Panic error on signoz-otel-collector creating a histogram without buckets.

We use SigNoz as APM to monitor the metrics and traces generated by OpenTelemetry. Our stack is based on Kotlin and we are saving custom metrics to Clickhouse using the [Micrometer](https://micrometer.io/) library with the [OTLP Meter](https://github.com/micrometer-metrics/micrometer/tree/main/implementations/micrometer

[2022-10-25 00:15] shermix commented on #284
Any update/progress on this issue yet?

[2022-10-25 10:02] palashgdev opened #1659 "Feat(FE): Global Time Visibility as per route"
## Is your feature request related to a problem?

*Please describe.*
Right now to show the global header we using [routesToSkip](https://github.com/SigNoz/signoz/blob/develop/frontend/src/container/TopNav/index.tsx#L11) need to refactor the logic to display where this component is required

## Describe the solution you'd like
we can keep an array of routes in which the header needs to disable

###

[2022-10-25 10:50] hussamkhatib commented on #1659
Can I pick up this issue ? @palashgdev

[2022-10-25 11:14] palashgdev commented on #1659
Yeah Sure @hussamkhatib

[2022-10-25 11:19] palashgdev commented on #1659
Also when you can take care routes = ['/services','/service/:id','/trace','/logs','/dashboard/:dashboardId','/exceptions','/service-map']

[2022-10-25 14:33] prashant-shahi commented on #1580
From official Docker docs, it looks like you would have to add either `:z` or `:Z` suffix next to volume bindings.

Example 1:

[code]

Examples 2:

[code]

@aaronhuggins-carewell @bmike78 Do let me know if this works for you.

_References:_
 - https://docs.docker.com/storage/bind-mounts/#configure-the-selinux-label
 - https://prefetch.net/blog/2017/09/30/using-docker-volumes-on-selinux-enabled-se

[2022-10-26 04:15] nathlx opened #1661 "Cannot start on a clean installed server - error container is unhealthy"
## Bug description

When running the ./install script or using the docker-compose command on a clean ubuntu or debian VM I get errors:

[code]

## Expected behavior

Containers should start

## How to reproduce

1. Install ubuntu server or debian minimal
2. If debian install sudo, git, curl.
3. Follow instructions, clone git, and run ./install.sh

## Version information
* **Signoz version**:
* **B

[2022-10-26 17:06] rinshadka opened #1665 "container directory mounted in otel collector"
HI,
I have found the docker container directory is bind mounted to otel collector service. Is this mandatory since I am running signoz in a server having many other parallel projects as docker containers. Actually whats the purpose of that volume mount?

https://github.com/SigNoz/signoz/blob/develop/deploy/docker/clickhouse-setup/docker-compose.yaml#L89

Thanks,
Rinshad.

[2022-10-26 19:24] palashgdev commented on #775
@ankit01-oss this is intentional right if we are updating section in left ?

[2022-10-27 00:40] dallasbeek commented on #1601
Up vote!

[2022-10-27 05:50] nathlx commented on #1661
OK checking 'docker logs containerid' I see Instruction check fail. The CPU does not support SSE4.2 instruction set.

Looks like the old server I use for testing is too old to run this.

[2022-10-27 05:50] #1661 closed

[2022-10-27 17:17] njuarezgt opened #1666 "Names of apps at Service Map is not display completly"
## Is your feature request related to a problem?

*Please describe.*

Names of apps at Map Services is not display completly
![image](https://user-images.githubusercontent.com/11880420/198355438-6987b9bb-9556-4ba0-b486-6323c16427b6.png)
## Describe the solution you'd like
Showing full service name onHover over the circle.
Thanks, regards.

## Describe alternatives you've considered

## Additional

[2022-10-27 18:17] makeavish opened #1667 "Missing service from Service Map"
## Bug description

After instrumenting a single nodeJs app, it's not being shown in service map. App is shown on front page and instrumented successfully.

## Expected behavior

App should be shown in service map.

## How to reproduce

1. Instrument a single nodeJs app
2. Check SigNoz service map page

## Version information
* **Signoz version**: v0.11.2
* **Your CPU Architecture**(ARM/Intel): In

[2022-10-28 04:58] makeavish commented on #1667
By looking at [materialized views](https://github.com/SigNoz/signoz-otel-collector/blob/main/exporter/clickhousetracesexporter/migrations/000016_dependency_graph_minutes.up.sql) responsible for populating services for service map it appears that we don't show single services on Service Map page.
@srikanthccv can you please confirm this?

[2022-10-28 06:25] prashant-shahi commented on #1665
Hi @rinshadka :wave:

It is not mandatory for running SigNoz.
We mainly use it to tail and parse logs from all containers and send it to SigNoz OtelCollector running locally.

Feel free to comment out that section if you do not need logs collection.

[2022-10-28 06:54] srikanthccv commented on #1667
That's correct. The individual service-wise numbers are shown in the landing page table. The service graph shows the RED metrics on edges, giving service interaction such as which downstream service is creating the most traffic, what error rate is observed b/w service calls, etc.

[2022-10-28 13:09] prashant-shahi commented on #1629
@yxiaoy6 You can find complete example of OpenTelemetry Golang using HTTP protocol here: https://pkg.go.dev/go.opentelemetry.io/otel/exporters/otlp/otlptrace/otlptracehttp

[2022-10-29 18:14] gzsombor commented on #1547
I think, I have the same problem. For me, filtering for `logback_mdc_uri IN ('/api/parts') ` works, I get correct result - and in the logs, I can see:

[code]

However, when I try to use `logback_mdc_uri IN ('/api/parts')  AND logback_mdc_userId IN ('5')`, I dont get anything back, in the docker logs, there is nothing shown up, and in the browser's network tab I can see that I get a 400 for this r

[2022-10-29 20:00] pranay01 commented on #1667
@makeavish @makeavish So, if a user has a single service instrumented then it will not be shown in the service map?

[2022-10-30 14:37] srikanthccv commented on #1667
Yes, that's the current behavior.

[2022-10-31 06:04] prashant-shahi commented on #1629
@yxiaoy6 Closing the issue since it is answered in previous comment.

Feel free to open it again, if you have face any issues regarding the same.

[2022-10-31 06:04] #1629 closed

[2022-10-31 12:30] geemark opened #1671 "otel-collector 0.55.3 : clickhouse [Encode]: mismatched len of columns"
## Bug description
OpenTelemetry data (.NET) does not get stored. otel-collector log output:

2022-10-31T12:24:56.624Z error clickhousetracesexporter/writer.go:101 Could not write a batch of spans {"kind": "exporter", "data_type": "traces", "name": "clickhousetraces", "error": "clickhouse [Encode]:  mismatched len of columns"}
github.com/SigNoz/signoz-otel-collector/exporter/clickhousetracesexport

[2022-10-31 14:09] prashant-shahi commented on #1255
Not able to replicate the issue in EKS with K8s version <= `0.22`.

@bartoszkosciug Closing this issue as we are unable to reproduce this.
Feel free to re-open if you could share the steps to reproduce the same using latest helm chart.

[2022-10-31 14:09] #1255 closed

[2022-10-31 18:54] pranay01 opened #1861 "Add docs on resetting admin pasword"
You can exec inside query-service container and remove all users and organisations:
[code]
OR
[code]

Run the following:

[code]

After that you should be able to create a new admin account from SigNoz UI.

[2022-11-01 06:01] pranay01 opened #1672 "Create servicemap using opentelemetry service graph processor"
Currently, SigNoz creates service map based on its own format. Recently, opentelemetry has introduced [service graph processor](https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/processor/servicegraphprocessor)

We should check if it would make sense to standardise SigNoz service graph based on this format

## Describe alternatives you've considered

Keep using current Si

[2022-11-01 07:58] nityanandagohain commented on #1547
Thanks @gzsombor will get back to you on this.

[2022-11-01 11:45] AshnaSabu123 opened #1673 "Old data not reflecting in UI after upgradation"
After upgrading the signoz to the latest version with the old volumes, the old data is not reflecting in UI.

## Expected behavior

Old data should be displayed in the UI

## How to reproduce

1. Change the docker images in the compose file to the latest version
2. docker-compose up -d

## Version information
* **Signoz version**: 0.11.2

[2022-11-01 12:29] makeavish commented on #1283
These two PRs closes this issues: https://github.com/SigNoz/signoz/pull/1674, https://github.com/SigNoz/signoz-otel-collector/pull/24

[2022-11-01 12:31] makeavish commented on #1667
@pranay01 Should we show individual services in Service Map UI?
Will it be relevant for the user who is instrumenting a single service for POC? One of the user thought it’s a bug.

[2022-11-01 18:47] allanli524 opened #1675 "Time macros not found in dashboard clickhouse query"
## Bug description
Dashboard - Panels: fresh after installation and setup, if no variable has been configured by the user, then the date range macros {{.SIGNOZ_START_TIME}} and {{.SIGNOZ_END_TIME}} are not included in the network request payload. This issue fixes itself after the user creates any sort of variable.

## Expected behavior
The macros should be included in the request payload

## How t

[2022-11-01 19:41] allanli524 opened #1676 "Dashboard: new variable, no form completion check"
## Bug description
 When we create a new variable in the dashboard and click the `save` button while not filling in the `name` field, the other fields that the user fills out gets erased and the reset without any warning.

## Expected behavior
The UI should warn the user to fill in the name field, at least it shouldn't reset all the other fields without any warning.

## How to reproduce

1. Create

[2022-11-02 16:09] standardrhyme commented on #392
@ShivamTyagi12345 are you still working on this? [241](https://github.com/SigNoz/signoz/issues/241) is a similar issue that is open, so I'd love to collaborate if you're on board.

[2022-11-02 16:09] ShivamTyagi12345 commented on #392
Sure

[2022-11-02 16:12] standardrhyme commented on #1468
@srikanthccv Could you please assign this to me?

[2022-11-02 16:16] standardrhyme commented on #236
Hi, I'd like to be assigned the issue--maybe third time's the charm 😂

[2022-11-02 17:22] makeavish opened #1677 "Unable to instrument redis on nodejs"
It has been reported by one of the user that instrumentation of redis on nodejs is not working.
Express and other calls are being instrumented properly but redis is not shown in spans or metrics.

[2022-11-02 22:32] gzsombor commented on #1547
After digging deeper, it seems that the problem came from the fact, that there are attributes, which contains upper case characters, which confuses the parser, because sometimes it inconsistently converts the fields to lower case, in #1670 I could fix my problem.

[2022-11-02 22:46] ppenguin opened #1678 "Feat(FE): Add compact table format to log viewer with scrolling / lazy loading"
## Is your feature request related to a problem?

When using the log viewer, one can only see an (arbitrary?) representation of log events, which is unsuitable to have a good overview of larger numbers of log messages.

## Describe the solution you'd like

A compact, table format log viewer (in the event pane) that can stream logs (in live tail mode) .
The columns would be selected from 2 sources:

[2022-11-03 00:10] pranay01 commented on #1667
That's a good point @makeavish Many people start with 1 service to test SigNoz.

How can we handle it?

Should we show an explicit message -  if there is only one service? Like

`Service map shows how different services interact with each other. Please instrument more than 1 service to show the relations in service map`

[2022-11-03 00:19] pranay01 commented on #1676
@palashgdev can you take a look at this issue. seems like a simple bug

@srikanthccv should have more context on how the feature works

[2022-11-03 00:24] pranay01 commented on #1673
@AshnaSabu123 Any specific reason why you didn't follow the [steps](https://signoz.io/docs/operate/docker-standalone/#upgrade) mentioned here to upgrade?

Can you share more details on what data you had in the system? Was it primarily traces data? Or you ahd logs and metrics as welk?

Were all the data missing?

[2022-11-03 00:28] pranay01 commented on #1666
@palashgdev Can you check what could be a good solution for this. Would showing full service name onhover work

[2022-11-03 00:40] #1646 closed

[2022-11-03 00:47] pranay01 commented on #1614
@manang Can you share some more detail on what do you mean by "ssetup signoz using selfgenerated certificated for the otel connector"?

What do you mean by otel connector here?

[2022-11-03 00:49] pranay01 commented on #1653
@lukaszherman Is it in the logs detail view?

[2022-11-03 00:52] pranay01 commented on #1602
@ajeetraina Thanks for sharing the issue. I think it would be a good way to enable easy deployment for SigNoz

 Do you want to take it up? We can help you get started on this

[2022-11-03 00:53] pranay01 commented on #1590
@jwillp Can you share some screenshots from Jaeger on what do you mean by human readable form?

[2022-11-03 00:54] pranay01 commented on #1640
thanks for opening the issue @sf-pchakraborty Would you like to take this up?

[2022-11-03 04:02] pranay01 opened #1679 "Simplify querying metrics data and ability to create alerts or add to dashboards"
There should be a Metrics tab on the left navigation bar which serves as place for querying the metric data where they see plot and result table which can optionally be converted either dashboard or an alert from here. And later a unified querying experience be added where they can query any source and do the same.

Users don’t know or don’t want to take all the four steps of dashboard creation ju

[2022-11-03 04:04] pranay01 opened #1680 "Show last received data timestamp for each signal type to show the latest data received"
We can probably add  some sort indication of last received timestamp on landing page for trace/metric/log records so people have easy feedback if the data is received on SigNoz end.

 this should be for the users who have issues sending data and can be annoying otherwise. How about we do something like “Waiting for the data to be received” if it’s fresh setup or after X units of time elapsed witho

[2022-11-03 04:27] pranay01 commented on #1541
thanks for sharing the suggestions @pts95

[2022-11-03 05:04] pranay01 commented on #1645
@DevAshish-oodles Are you trying to connect to mongodb installed in your machine or a hosted mongodb service?

[2022-11-03 05:12] DevAshish-oodles commented on #1645
I am trying to connect  to mongodb installed in my machine

On Thu, Nov 3, 2022 at 10:34 AM Pranay Prateek ***@***.***>
wrote:

--
<https://www.oodlestechnologies.com/>
*Ashish Sharma* Lead DevOps
+91  9691901988ashish.sharma

technologies.oodles.io | www.oodlesmarketing.com |
www.oodlesstudio.comDG-18-009,
Tower-B, Emaar Digital Greens, Sector- 61, Gurugram, Haryana- 122011, IN.
[image: Facebook

[2022-11-03 05:15] pranay01 opened #1681 "Show opentelemetry demo app in SigNoz demo environments"
Opentelemetry SIGs are working on creating demo environments which have good complexity to highlight different features. We should check how does this demo environment work in SigNoz.

https://github.com/open-telemetry/opentelemetry-demo

[2022-11-03 05:16] pranay01 commented on #1619
Related - https://github.com/SigNoz/signoz/issues/1681

[2022-11-03 05:22] srikanthccv commented on #1658
This is fixed

[2022-11-03 05:22] #1658 closed

[2022-11-03 05:29] pranay01 opened #1682 "Easy way to configure application healthcheck endpoint"
support to configure application healthcheck endpoint if it fails to reach it will raise slack notification.
Please let me know if this is possible.

[Slack Message](https://signoz-community.slack.com/archives/C01HWQ1R0BC/p1667381638887299?thread_ts=1667381638.887299&cid=C01HWQ1R0BC)

[2022-11-03 13:01] ankitnayan opened #1683 "SigNoz does not install with k8s version 1.23"
SigNoz works fine with k8s version 1.22 in EKS but does not install at 1.23.

[2022-11-03 14:34] ankitnayan opened #1684 "Issues going from metrics to traces page"
https://www.loom.com/share/c14bf247fef6492b89c18215e28b1d38

[2022-11-03 15:42] makeavish commented on #1667
Yes explicit message might be better option right now.

[2022-11-03 16:17] makeavish commented on #1677
User was using v5 of `ioredis` client. But only `ioredis` versions `>=2.0.0 <5` are supported.
Below versions of official redis client [node-redis](https://github.com/redis/node-redis) are also supported:

- `redis@^4.0.0` and above
- `redis@^2.6.0
`- `redis@^3.0.0`

@ankit01-oss please update [docs](https://signoz.io/docs/instrumentation/express/#redis-instrumentation) for the `ioredis`

[2022-11-03 16:17] #1677 closed

[2022-11-03 18:45] palashgdev commented on #1684
@makeavish can you check payload seems to me is correct

[2022-11-03 19:23] geemark opened #1685 "'Something went wrong' - invalid memory address or nil pointer dereference goroutine"
## Bug description

"Something went wrong" message on Service dashboard in the "Rate (ops/s)" and "Error Percentage" chart panels.

![signoz-ui-error](https://user-images.githubusercontent.com/15648549/199814904-747ddff4-7785-4780-919a-f6470096c197.png)

## Expected behavior
Expected the charts to show.

## How to reproduce
Don't know. It happens to about half my services, but works on the others.

[2022-11-03 22:55] pranay01 commented on #1685
@geemark Can you share what type of infra are you running SIgNoz on? Is it on docker or k8s? What's the OS of machine where you run SigNoz?

[2022-11-04 03:54] nityanandagohain commented on #1547
Thanks for the PR, I have added my thoughts on it.

[2022-11-04 08:06] geemark commented on #1685
K8S install performed using your Helm charts with no customization, on self-managed cluster.
Ubuntu 20.04.5 LTS running on a single AWS EC2 instance.

[2022-11-04 17:53] abhinavramana opened #1686 "Signoz Frontend Logs Query builder doesn't show all fields"
Some improvements:
1. It currently only shows interesting fields and selected fields. So no one knows that `body` exists and this makes it difficult to search
2. Query builder using AND etc. is only supported when we enter the entire text like: https://signoz/logs?q=service_name%20IN%20(%27paint-service-backend-prod%27)%20AND%20body%20CONTAINS%20%27LKEyS9zvyAggmOeIp0Hzu0bpGoX2%27 .
![image](https:

[2022-11-04 18:32] AlexeiZenin opened #1687 "Add Filters to "Exceptions" View"
## Is your feature request related to a problem?

Couldn't find exceptions for a certain service or environment easily

## Describe the solution you'd like

Add filters based on tags like how it is implemented in the "Services" page currently.

## Describe alternatives you've considered

Setting to show 100 per page and then using Ctrl + F in my browser to find the service(s) I need to look for ex

[2022-11-04 18:52] abhinavramana commented on #1686
Currently INTERESTING FIELDS doesn't contain body
![image](https://user-images.githubusercontent.com/4195703/200053198-89cd6474-7a67-4aeb-8cac-c5bb26bf72aa.png)

[2022-11-04 19:48] abhinavramana opened #1688 "Signoz Logs Query builder doesn't pop up unless from a new page"
## Bug description
After modifying values in the log query builder, Using Either ENTER or mouse click doesn't drop down the query builder anymore

## Expected behavior
The query builder should always pop up, atleast as long as the existing query is correct

## How to reproduce
Highly recommended to watch the video attached : https://drive.google.com/drive/folders/1Ed8q2u_gDWBosxVveyw-5qNo6YAwKYWh

[2022-11-04 20:07] abhinavramana opened #1689 "Long response time in Traces due to Signoz Frontend UX facet selection"
## In what situation are you experiencing subpar performance?
Anytime traces are opened even for smaller time ranges

## How to reproduce
Bit complex to describe, here's the video: https://drive.google.com/file/d/1nq-Dw1saRGkDWAgJf25IoovN2uKJfXXO/view?usp=share_link
## Suggestion
1. Have `Status Code`, `Status` and `HTTP Method` hardcoded as filters instead of facets so that we can always select f

[2022-11-04 20:45] abhinavramana commented on #1411
I think the biggest issue in Signoz vs Datadog is the logs integration. Traces migration was easy but logs didn't work as out of the box like they did with Datadog.

[2022-11-04 20:52] abhinavramana opened #1690 "Signoz Health Monitoring"
## Is your feature request related to a problem?

We want to monitor Signoz Health to see why its not working / performing on the UX itself, atleast the basic things

## Describe the solution you'd like
Have a page
![image](https://user-images.githubusercontent.com/4195703/200072301-c4d4972a-bef1-4c86-b532-8caf207b88d4.png) next to Settings that displays the following things:
**1. CPU / Memory uti

[2022-11-04 20:53] abhinavramana commented on #1690
This is important because some services suddenly stop working and we don't immediately know if its unhealthy

[2022-11-05 03:49] abhinavramana opened #1691 "Exceptions not registering in the main Exceptions page even though log page recognizes it"
**Describe your environment**
Hosting on AWS, but reproducible in normal local Docker too

The exceptions page doesn't get populated with logger.error  compared to if we don't catch it.

![image](https://user-images.githubusercontent.com/4195703/200083418-1d25580d-2bb5-4b36-b181-51a2aad07998.png)
Even though the logs do show it
[code]

**Steps to reproduce**
Code sample: https://github.com/abhinav

[2022-11-05 03:51] abhinavramana opened #1692 "Starlette logging middleware extensions lose the trace and span context in FastAPI"
**Describe your environment**
Happens in AWS docker containers as well as local box
Signoz running in Kubernetes but reproducible in local box as well

**Steps to reproduce**
Code: https://github.com/abhinavramana/trimmed-wombo-fastapi-signoz/blob/main/wombo/fastapi.py#L50 and https://github.com/abhinavramana/trimmed-wombo-fastapi-signoz/blob/main/wombo/logging_middleware.py
Video explaination: ht

[2022-11-07 01:42] srikanthccv commented on #1691
FYI: A log record with severity exception doesn't necessarily mean an exception on span event. In many cases exceptions are just caught and logged -- the trace may not have exception event depending how it's handled.

[2022-11-07 13:20] srikanthccv commented on #1692
See https://github.com/abhinavramana/trimmed-wombo-fastapi-signoz/commit/1dde3ddfe9a05efc1144468263ab756a720affcc#commitcomment-89123531

[2022-11-07 20:24] abhinavramana commented on #1692
I had to do something similar to CORSMiddleware as well but yes this works!

[2022-11-08 01:10] srikanthccv commented on #1692
The OpenTelemetry integration should be first, but the rest of your custom middleware can be in any order. Closing this since the original issue of lost trace context is fixed.

[2022-11-08 01:10] #1692 closed

[2022-11-08 02:39] srikanthccv commented on #1682
The `httpcheck` (will be shipped soon with our distro) can be used for this. They need to add the receiver with an endpoint and collection interval.
[code]

And include it in the metrics pipeline.
[code]

There will be a metric named `httpcheck_status` whose value is either 0 or 1 if the endpoint is healthy. The alerts can be set on this metric as they like. If they have complex use cases they can

[2022-11-08 04:52] pranay01 opened #1696 "Questions on understanding alert behavior"
From Mariano Mirabelli in Slack community
--
Hi there

I have a question related to the alerts behaviour. Even though I have configured alerts without any trouble, when the alert state should go back from Firing to Ok, it tends to suffer much delay in comparison with the actual application state. I have developed the following example in my localhost to manage a  controlled environment:

• I have

[2022-11-08 05:54] pranay01 opened #1697 "Ability to delete retained data if disk is close to full"
Wondering if there is some kind of config where we can have clickhouse just delete data if disk is close to full instead of needing to oversize the disk to fit some number of days which can fluctuate based on service usage. This way you can then tell how many days you start to store (as it would be less and less days if load increases) and can increase size of disk after to accommodate (usually ea

[2022-11-08 10:22] haicheviet commented on #1601
Same for google chat webhook Url

[2022-11-09 06:57] mindhash commented on #1696
The alerting module has two components:
- alert generation
- alert delivery

**Alert generation**
The alert statuses (firing, resolved) are generated as a result of query execution. This part is handled by query service. The basic principle is - if a query results stops producing a row (lets call this target row), it is assumed that the alert is no longer active.

The alert queries are executed ev

[2022-11-09 08:44] mindhash opened #1699 "Support for Clickhouse queries in alert builder"
## Is your feature request related to a problem?

*The alert builder currently does not support native clickhouse queries. This limits use of alert builder to metrics only. Adding support for clickhouse queries would be a good start in supporting alerts on logs and other components (in addition to metrics)*

## Describe the solution you'd like
- Add a new tab **clickhouse query** in alert builder

[2022-11-09 09:00] mindhash commented on #1699
The primary design concern in this solution would be handling of timeframe and threshold conditions.

In the current version, we support promql expression and query builder (form based) queries. Both these option go through a query construction phase, which appends the WHERE conditions on the query - threshold condition (like result > 10) and timeframe condition (timestamp between current - 15 and

[2022-11-10 09:17] Danteeswararao opened #1702 "chi-signoz-clickhouse-cluster-0-0-0 is in CrashLoopBackOff with Environment variable LD_PRELOAD is set to /opt/dynatrace/oneagent/agent/bin/current/linux-x86-64/liboneagentproc.so. It can compromise security."
kubectl get pods -nsignoz-platform
NAME                                                      READY   STATUS             RESTARTS   AGE
chi-signoz-clickhouse-cluster-0-0-0                       0/1     CrashLoopBackOff   31         5d22h
nfs-client-provisioner-signoz-platform-84554fc5f6-h45tt   1/1     Running            3          144m
signoz-alertmanager-0                                     0/1

[2022-11-10 11:46] pranay01 opened #1703 "Adding predictive alerting capibilities in SigNoz"
From Bhaswanth in Slack group
---
like for ex: if disk space/ram is getting filled, using the rate of increase, just calculating when system might go down.

as the alerts are static, even if 90% limit is reached, system might not go down immediately depending on the rate of increase, it would be good to have such capabilities so that actions can be taken accordingly.

[2022-11-10 15:24] mindhash commented on #1696
The issue is resolved. Closing the ticket.

[2022-11-10 15:24] #1696 closed

[2022-11-10 17:57] jwillp commented on #1590
@pranay01 something like this:
![image](https://user-images.githubusercontent.com/5913483/201171020-a4283edb-d1e3-4dd0-8c2d-fe87e38876c0.png)

[2022-11-11 03:19] srikanthccv commented on #1699
Select t1.value, t2.value from Samples s1, Samples s2, timeseries t1, timeseries t2 where ....

I don't think we should allow this. Here is what I think. We can assume that they query any source, and the final result must be of `Vector` form (throw invalid otherwise) with one `time.Time` column and one number column, and an optional n number of string columns with label pairs (this can be any numb

[2022-11-11 04:26] makeavish commented on #1684
Payload sent by frontend is missing.
I will pick up this issue.

[2022-11-11 04:45] #1283 closed

[2022-11-11 04:53] ankitnayan commented on #1618
@srikanthccv we also have a couple of other improvements with version 22.8, anything blocking moving?

@prashant-shahi can we test this with upgrading signoz and test data sanity?

[2022-11-11 05:16] ankitnayan commented on #1699
@makeavish please share a few queries on the traces data that should be supported. Eg, group by an attribute key, count of errors with a set of filters, number of events with a given name in a service.

@nityanandagohain please share a few queries on logs data that should be supported.

[2022-11-11 05:34] mindhash commented on #1699
@srikanthccv please share your reason for reservation against the proposed approach with an example. It helps in understanding an argument.

The alert queries are slightly different than dashboard since there is a need to pick target column.  The thought here is to ensure user always has a target column and identifies it.  The select can have multiple columns and choosing one column is necessary t

[2022-11-11 06:06] ankitnayan commented on #1144
https://opensearch.org/blog/technical-post/2021/12/distributed-tracing-pipeline-with-opentelemetry/

[2022-11-11 08:22] srikanthccv commented on #1618
This was the issue I was referring to https://altinity.com/blog/possible-clickhouse-data-corruption-advisory. We are using `AggregatingMergeTree` for the service map, but the issue shouldn't be affecting since we don't have a function that sore string for aggregation. I don't see anything else blocking us from upgrading.

[2022-11-11 08:52] ankitnayan commented on #1618
cool..then let's go

[2022-11-11 15:01] nappa85 opened #1707 "Can't find counter metrics in dashboard"
I'm testing SigNoz 0.11.2 using docker-compose clickhouse environment (minus hotrod containers), along with other products, firing metrics to a single otel-collector instance with different exporters.

In my Rust code I've got those metrics:
[code]

On SigNoz I can find `mysql.duration` (called `mysql_duration`) and `service.duration` (called `service_duration`) metrics, but I can't find `http.hit

[2022-11-11 16:38] pranay01 commented on #1707
@srikanthccv Would you have any insights on this?

[2022-11-11 22:57] srikanthccv commented on #1707
@nappa85 Please provide a fully reproducible example. I tried a basic OTLP example with an HTTP counter and could see the metric name `http_hits`.
<img width="836" alt="Screenshot 2022-11-12 at 4 23 42 AM" src="https://user-images.githubusercontent.com/22846633/201441660-13920301-9df0-4426-99bc-9c7cb692903e.png">

[2022-11-12 05:25] ankitnayan commented on #1685
@srikanthccv this is the metrics API failing. How to debug this?

[2022-11-12 05:42] srikanthccv commented on #1685
Some clear reproducible steps will help. Author says it's not an issue in general and only issue with some services. Was it because something from ClickHouse? or with the query statement? or something else. We could prevent full panic but it would be important to understand what is that exception case which triggers it.

[2022-11-13 03:21] pranay01 opened #1709 "Add list as a visualization panel type in SigNoz"
## Is your feature request related to a problem?

Currently, SigNoz only supports time series and value type in dashboards. Many users want to see lists in their dashboards as well.

Typical use case could be list of top 10 slowest APIs, list of hostnames with most cpu% usage. Currently, it is not possible to show such lists in SigNoz dashboards

## Describe the solution you'd like

Provide abilit

[2022-11-13 16:36] prashant-shahi commented on #1683
Addressed by https://github.com/SigNoz/signoz.io/pull/609

[2022-11-13 16:36] #1683 closed

[2022-11-13 16:39] prashant-shahi commented on #1665
Feel free to re-open the issue, if any issue related to the same persists.

[2022-11-13 16:39] #1665 closed

[2022-11-14 16:32] ankitnayan commented on #1707
@nappa85 the 2nd image is not from SigNoz's UI? How are you visualizing the data?

[2022-11-14 16:36] nappa85 commented on #1707
Second image is from another product ingesting the very same OTLP data (I've an otlp-collector exporting to different products to make a comparison)

[2022-11-14 19:18] srikanthccv commented on #1707
Ah, I see you are using delta temporality in the code. We currently support the cumulative to remain compatible with Prometheus, its query language and ecosystem. So if it's possible, I would suggest you use cumulative (which is also default in OTEL). Otherwise, there needs to be another intermediate step which converts delta points to cumulative making it stateful, which makes it difficult to sca

[2022-11-14 19:23] nappa85 commented on #1707
I've ended up using Delta after this issue https://github.com/open-telemetry/opentelemetry-rust/issues/677
I'll try with other configs and let you know

[2022-11-15 00:56] abhinavramana opened #1713 "Signoz Frontend logs doesn't respect the URL"
## Bug description

Video description: https://drive.google.com/file/d/1ASViNttxOfA1vbPie9KrsmVYQSh02aF7/view?usp=share_link

[2022-11-15 02:48] kaoutherab opened #1714 "Issues observed while importing dashboards through the "Import Grafana Json""
## Bug description
I am trying to leverage the out of the box node exporter grafana dashboards by importing the file https://github.com/rfmoz/grafana-dashboards/blob/master/prometheus/node-exporter-full.json into Signoz through the "Import Grafana Json" feature. But noticed the following behavior:
1- For some panels, I see in logs the error: "Max query size exceeded"
2- Signoz shows some panels, b

[2022-11-15 04:21] nityanandagohain commented on #1713
Thanks for reporting the issue @abhinavramana .

@palashgdev two request are getting created when query is present in the url. when the the page loads data w.r.t to the query is loaded but a new request is triggered with doesn't contain any query and it overrides the previous data.
![image](https://user-images.githubusercontent.com/26831659/201825575-e80d8dfc-095c-4436-92fd-7f5ce931583a.png)

![im

[2022-11-15 07:26] nityanandagohain commented on #1686
Hi @abhinavramana .

* So whenever you write any query, if it's a random string then it is searched against the `body`. Thats the reason we don't show body  in selected and interesting field. You can find some examples here https://signoz.io/docs/userguide/logs_query_builder/

* Regarding the second point, you are right. The when you click on the field for the second time it doesn't work in the qu

[2022-11-15 07:36] nityanandagohain commented on #1555
https://signoz.io/docs/userguide/collecting_nodejs_winston_logs/

[2022-11-15 07:36] #1555 closed

[2022-11-15 07:37] nityanandagohain commented on #1597
@ankitnayan  should we turn this into a tutorial/blog.

[2022-11-15 07:38] #1684 closed

[2022-11-15 07:58] nityanandagohain commented on #1653
@lukaszherman what is the actual value. I guess it's `SQL111B\\SQL2019B` right ?

[2022-11-15 08:01] nityanandagohain opened #1716 "Ability to select time range in charts manually and populate global time range based on that"
## Is your feature request related to a problem?
when I click on the bars (in the chart), I was expected to see logs associated with that timestamp

## Describe the solution you'd like
We should be able to select a time range from the counts chart.

![image](https://user-images.githubusercontent.com/26831659/201862614-6323476e-b1c0-47c9-9834-c831b09650ae.png)

[2022-11-15 09:34] makeavish commented on #142
This is fixed in latest version.
@pranay01 closing it.

[2022-11-15 09:34] #142 closed

[2022-11-15 10:04] makeavish commented on #648
Stale bug.
Closing it.

[2022-11-15 10:04] #648 closed

[2022-11-15 10:12] makeavish commented on #183
Added in https://github.com/SigNoz/signoz/pull/1712

[2022-11-15 10:12] #183 closed

[2022-11-15 10:16] makeavish commented on #181
Port has been moved to `3301` which is not used by other apps/services thus avoiding conflicts.
Closing it. Reopen if required.

[2022-11-15 10:16] #181 closed

[2022-11-15 10:17] makeavish commented on #121
Stale issue. Closing it.

[2022-11-15 10:17] #121 closed

[2022-11-15 10:19] makeavish commented on #252
@pranay01 Maybe the `view traces` pop up should be shown on hovering for more than 2s

[2022-11-15 10:22] makeavish commented on #333
Closing it as we already added support for `services.namespace` attribute

[2022-11-15 10:22] #333 closed

[2022-11-15 10:22] makeavish commented on #370
Stale issue. Closing it.

[2022-11-15 10:22] #370 closed

[2022-11-15 10:47] #664 closed

[2022-11-15 14:37] #1618 closed

[2022-11-15 15:12] manang opened #1721 "error when i run docker/clickhouse-setup/docker-compose.yaml"
Hi,
I'm trying to setup from scratch a new environment of signoz on a VM.
I obtain this error:

[code]
do you have idea about my error?
Thanks a lot
Angelo

[2022-11-15 15:34] pranay01 commented on #1721
@manang Can you share more details on your environment - which VM are you trying to install in? Which OS?

Also which version of SigNoz are you trying to install

[2022-11-16 08:42] nappa85 commented on #1707
I went with default values, so aggregator selector exact and export kind stateless, and I have the same behavior
![image](https://user-images.githubusercontent.com/7566389/202131168-24d2868a-d00d-40a8-8c01-eacba3a671a4.png)
![image](https://user-images.githubusercontent.com/7566389/202130654-278e2017-d2a4-453e-9070-115a4abceaf7.png)

[2022-11-16 10:40] srikanthccv commented on #1707
Is it constant? or is it not big enough to tell the difference in the same chart because y axis is skewed by noop line?

What is export kind stateless?

[2022-11-16 10:58] nappa85 commented on #1707
I'm sending a request every 2 seconds, so it's constant

It's an opentelemetry crate concept, I thought it was standard also outside rust

[2022-11-16 11:12] #1615 closed

[2022-11-16 15:51] makeavish commented on #785
This issue is because of exclude filter.
Spans with empty operation name are also being counted.

[2022-11-16 15:55] makeavish commented on #775
But if we update sections then it is instantaneously updated. Why do we need to reload when we minimize or expand sections? @palashgdev

[2022-11-16 16:11] makeavish commented on #839
Closing it as it's fixed in [v0.11.3](https://github.com/SigNoz/signoz/releases/tag/v0.11.3)

[2022-11-16 16:14] makeavish commented on #863
This is fixed in latest version:
<img width="932" alt="Screenshot 2022-11-16 at 21 43 49" src="https://user-images.githubusercontent.com/9512100/202234005-ca6c8ef7-7cc4-4fa9-b418-7239af883235.png">

[2022-11-16 16:14] #863 closed

[2022-11-16 16:16] makeavish commented on #1061
We have shipped this already: https://github.com/SigNoz/signoz/pull/1455

[2022-11-16 16:16] #1061 closed

[2022-11-16 16:26] makeavish commented on #978
Not reproducible in latest versions.
Closing it.

[2022-11-16 16:26] #978 closed

[2022-11-16 16:27] pranay01 commented on #1691
@abhinavramana Ok to close this? since trace exception event and exceptions in logger are different things?

More details on exception event - https://opentelemetry.io/docs/reference/specification/trace/semantic_conventions/exceptions/

[2022-11-16 16:31] pranay01 commented on #1690
Related - https://github.com/SigNoz/signoz/issues/827

[2022-11-16 16:36] pranay01 commented on #1689
@abhinavramana Can you share details on how much RAM/CPU have you allocated to SigNoz, and how many traces/data are you querying on?

[2022-11-16 17:49] prashant-shahi opened #1724 "Unable to change password after account is created"
UI only offers two fields i.e. current password and new password.
However, the form won't enable the change password button *unless input on both fields are the same* - which means the only password we can put into the form that will be accepted is the current password.

[Slack Message](https://signoz-community.slack.com/archives/C01HWQ1R0BC/p1668620432208439?thread_ts=1668620432.208439&cid=C01HWQ

[2022-11-16 17:52] palashgdev commented on #967
@pranay01 what's the action item for this one

[2022-11-16 17:53] abhinavramana commented on #1689
This is the cluster setup:

[code]

And

[code]

[2022-11-16 17:58] abhinavramana commented on #1691
@makeavish  Thanks the manual workaround I will try and see. However, I think that would again need lot of code changes all over the place.

@pranay01 @srikanthccv The traceId is definitely associated with the exception , as you can see with the json I posted
[code]

[2022-11-16 18:03] pranay01 commented on #1724
We already have an option to regenerate password - https://www.loom.com/share/31fb6ea80b504b138539feb2ed1d0923

[2022-11-16 18:03] nappa85 commented on #1707
Just to be fully transparent: I've made an MVP with opentelemetry 0.18.0, latest version, I wasn't using it because it's a big breaking change from 0.17.0 and it lacks documentation about metrics. You can find the code here https://github.com/nappa85/otlp-test/tree/v0.18.0
It fires every possible metric type (u64/f64)_((observable_)counter|histogram|observable_gauge|(observable_)up_down_counter),

[2022-11-16 18:49] nappa85 commented on #1707
Just to be clear, someone pointed out it seems I'm telling that SigNoz doesn't works.
No, I'm just pointing there are unclear/unfriendly things, I wrote this report at the end of my work day and I'm quite exhausted, so maybe I haven't choosen the best words...
As a developer, I think this kind of feedback are really helpful.

[2022-11-17 05:54] makeavish commented on #918
This is duplicate of https://github.com/SigNoz/signoz/issues/866
Closing it

[2022-11-17 05:54] #918 closed

[2022-11-17 05:56] makeavish commented on #917
This is not reproducible in latest version.
Closing it.

[2022-11-17 05:56] #917 closed

[2022-11-17 06:46] srikanthccv commented on #1707
@nappa85 I am not sure I really understand what you are trying to convey. We appreciate any and all feedback. Our underlying data model closely follows OpenMetrics (~Prometheus) exposition format. So just using NOOP gives you the raw data, which is not very helpful. You need to change the aggregate operator depending on the metric type (usually RATE or SUM_RATE for counters, combined with histogra

[2022-11-17 09:04] hardik-epifi opened #1725 "Filter on application in exceptions page"
## Is your feature request related to a problem?
We have lot of applications in production and it is becoming very difficult for us to view exceptions for a particular service.

## Describe the solution you'd like
Allow filtering on application name so that one can view exceptions happening in a particular service

## Describe alternatives you've considered
Sentry

## Additional context
Add any ot

[2022-11-17 09:34] ankitnayan commented on #1725
We can build a search like the one in the serviceList page. The image is attached for reference.

![image](https://user-images.githubusercontent.com/12460410/202409462-008ccc7a-cf54-4dd1-8bd4-8ce48e3be666.png)

[2022-11-17 09:35] hardik-epifi opened #1726 "Create alerts on exceptions count/velocity"
## Is your feature request related to a problem?
We want to create alerts whenever we see increase in number of exceptions occuring in particular services. The alert should be configurable on per error basis for example we do not want alerts on "not found" errors or certain other known business errors.

## Describe the solution you'd like
Should be able to set alerting rules on exceptions

## Desc

[2022-11-17 10:54] lukaszherman commented on #1653
Actual value should be with single backslash:
SQL111B\SQL2019B

[2022-11-17 15:08] makeavish commented on #1671
@geemark We have updated otel-collector with improved logging of errors.
Please update SigNoz to [v0.11.3](https://github.com/SigNoz/signoz/releases/tag/v0.11.3) and try again. If a batch of spans fails then report back the logs to us.

[2022-11-17 23:13] abhinavramana opened #1728 "Signoz Exceptions page results in 404"
## Bug description
Clicking on one of the exceptions results in 404 not found

## Expected behavior
It should open a typical page showing a link to the trace , and exception details

## How to reproduce

https://drive.google.com/file/d/1lvx_a9WDEksP3GDuqRsGUHEYSWJdGsJs/view?usp=share_link

## Version information
* **Signoz version**: 0.11.2
* **Browser version**: Firefox
* **Your OS and version**:

[2022-11-17 23:17] kchow1985 commented on #1724
@pranay01 that's only if use have admin option, if the user does not, they do not have access to the reset password link unless an admin help them to get it.

[2022-11-18 07:47] pranay01 opened #1729 "Ability to configure email sender to send invite emails to users directly"
I checked the documentation but couldn't find anything regarding this.  Where do I configure the email sender so that invites get to new users?

[Slack Message](https://signoz-community.slack.com/archives/C01HWQ1R0BC/p1668756949324179?thread_ts=1668756949.324179&cid=C01HWQ1R0BC)

[2022-11-18 08:41] nappa85 commented on #1707
An example of what I'm trying to express:

From my application I produce this histogram, it's variable data, response timing, I need to see something like the average time, not only the last value for the time frame.
I'm producing a random float value between 0 and 1, so, with standard distribution, the average will be near 0.5, and sending the exact same data to both products.

With the other pro

[2022-11-18 19:47] pranay01 opened #1734 "Show users their privilege level (Admin/Editor/Viewer) in the user/settings section"
## Is your feature request related to a problem?

Currently, its not shown clearly to user if he has a viewer, editor or admin privilege. He can infer through the availability of features

## Describe the solution you'd like

This should be clearly displayed either in the user detail dropdown or in the settings section

## Describe alternatives you've considered

It is possible to figure out privi

[2022-11-18 20:05] srikanthccv commented on #1707
I think I understand the challenge you are facing, especially since you don't have prior experience prometheus or primal. You were expecting the aggregation can be directly based on the metric type instead of you trying to figure out what to do with the underlying raw data.

[2022-11-21 08:54] nappa85 commented on #1707
Can you elaborate more? Being the data the same, how can I reach the same result i get with the other product using SigNoz?

[2022-11-21 09:08] makeavish commented on #1728
@abhinavramana Thanks for raising the issue.
We will investigate this and get back.

[2022-11-21 09:20] pranay01 commented on #1713
@palashgdev it seems even now in #1727 there are 2 queries being created, but both have query params.

API call 1
![Screenshot 2022-11-21 at 2 49 17 PM](https://user-images.githubusercontent.com/504541/203012568-da9c566d-
150f-4cea-865a-a78bee0ecc1f.png)

API call 2
![Screenshot 2022-11-21 at 2 49 30 PM](https://user-images.githubusercontent.com/504541/203012649-8c7ef6a4-afd7-48d8-abf3-2c7f8eb2ef8

[2022-11-21 11:01] palashgdev commented on #1713
yeah ideally it should be one only but this would require major refactoring

[2022-11-21 13:04] srikanthccv commented on #1691
The `ValueError` and `HTTPException` are _[handled](https://github.com/tiangolo/fastapi/blob/master/fastapi/exception_handlers.py#L10)_ hence they are not captured as a span [event](https://github.com/open-telemetry/opentelemetry-python/blob/74ced8508a71a263e56d92073af2498b7630978b/opentelemetry-api/src/opentelemetry/trace/span.py#L150). This is expected and by design from the OpenTelemetry SDK.

[2022-11-21 21:08] abhinavramana commented on #1691
@srikanthccv https://github.com/abhinavramana/trimmed-wombo-fastapi-signoz/blob/main/wombo/logger_stuff.py#L20 I did as you mentioned but its still not showing the missing excpetions

[2022-11-22 03:37] srikanthccv commented on #1691
What are these missing exceptions you are referring to? I could see the `ValueError` from the route `/exception_dont_works`

<img width="1239" alt="Screenshot 2022-11-22 at 9 06 06 AM" src="https://user-images.githubusercontent.com/22846633/203215295-9109a0d5-7925-40d9-8852-1ccb78b4b242.png">

[2022-11-22 05:29] ankitnayan opened #1736 "Enable receiving events from OpenTelemetry"
SigNoz should be able to receive events from kubernetes cluster https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/receiver/k8seventsreceiver

[2022-11-22 06:11] #1682 closed

[2022-11-22 06:38] #1725 closed

[2022-11-22 09:07] pranay01 commented on #1411
@abhinavramana Can you share more details on what you mean by logs not working out of box like DataDog? What specific type of logs data you wanted to see in SigNoz - and what the expected flow could have been

Would be very helpful for us to understand how we can improve

[2022-11-22 09:26] pranay01 commented on #1679
This will be something similar to metrics explorer and having ability to go from metrics explorer to dashboards and alerts would be very useful.

I think this should come after the integrated query builder piece is done

[2022-11-22 09:31] pranay01 opened #1738 "[EPIC] Add Table and Top List as visualization type for panels"
A typical use case for this would be to show top 10 APIs for a service or set of filters on services based on latency.

Currently, service pages show this, but it should be possible to add panels in dashboards as well which show lists or tables

[PRD link](https://www.notion.so/signoz/PRD-Add-Table-and-Top-List-as-visualization-type-for-panels-44c0d62147754160bdde509bd94dce40z) (internal link)

[2022-11-22 09:54] pranay01 commented on #1441
[PRD link](https://www.notion.so/signoz/PRD-Integration-framework-to-receive-export-data-from-different-sources-3e7cebdcf2e8405e84f7e55a16026972)

[2022-11-22 10:25] waveywaves opened #1739 "Pull Request Preview Environments for increasing maintainer productivity"
I would like to make life easier for Signoz maintainers by implementing [Uffizzi](https://github.com/UffizziCloud/uffizzi) preview environments.
Disclaimer: I work on [Uffizzi](https://github.com/UffizziCloud/uffizzi).

Uffizzi is a Open Source full stack previews engine and our platform is available completely free for Signoz (and all open source projects). This will provide maintainers with prev

[2022-11-22 11:05] iamkhalidbashir commented on #1726
We need this urgently

[2022-11-22 11:43] pranay01 opened #1740 "Logs Query builder recognises expression but the text input field doesn't"
Please refer to the video:  https://www.loom.com/share/e432bfe0ea3b4adfa6a730199867eb61

[2022-11-23 05:27] makeavish opened #1741 "Faster way to drop old data from clickhouse"
It's known that setting TTL on tables with a huge amount of data in Clickhouse is very slow and sometimes even fails. We need to explore ways to optimize TTL or find other ways to drop old data from Clickhouse

[2022-11-23 05:29] makeavish commented on #1741
Slack thread relevant to this: https://signoz-community.slack.com/archives/C01HWQ1R0BC/p1668716164380199
<img width="628" alt="Screenshot 2022-11-23 at 10 58 37" src="https://user-images.githubusercontent.com/9512100/203474654-2a61f323-8a2c-4296-abde-c53a879ec26b.png">

[2022-11-23 06:38] ankit01-oss opened #1742 "Instructions for correlating logs with other telemetry signals"
Creating an issue to keep track of how logs from existing logging pipelines will be correlated with metrics and traces.

[2022-11-23 08:12] #1688 closed

[2022-11-23 08:12] #1713 closed

[2022-11-23 10:31] srikanthccv opened #1743 "Provide an easier and consistent experience for writing ClickHouse queries with timestamp"
Originally brought up [here](https://github.com/SigNoz/signoz/pull/1735#discussion_r1028805520) and [here](https://github.com/SigNoz/signoz/pull/1735#discussion_r1029555752).

Each telemetry signal has a different precision/type for the time value column (including confusing names). This makes the user experience bad because it requires chaining multiple date-time functions provided by ClickHouse

[2022-11-23 12:17] nityanandagohain opened #1745 "Grouping of selected fields in logs"
## Bug description

Right now we don't have a way to group fields in logs. This way the number of selected fields displayed with each log can increase linearly which is not a good ux.

[2022-11-23 12:19] nityanandagohain opened #1746 "unescape the logs body and make the json prettier."
## Bug description

Right now escaped characters are not handled properly in the UI. We can escape them and parse it if it is a JSON

[2022-11-23 17:18] abhinavramana commented on #1691
Hmm, I had to remove  `if record.levelno >= logging.ERROR:` but it works now

[2022-11-23 17:33] abhinavramana commented on #1691
I see them coming duplicated though

![image](https://user-images.githubusercontent.com/4195703/203612016-d7b9dab9-8dba-4cfe-9149-31ea0601e673.png)
![image](https://user-images.githubusercontent.com/4195703/203612081-7406678b-4a2b-4512-9aad-39b612c8b0ec.png)

[2022-11-23 17:49] abhinavramana opened #1747 "Traces page crashes on Signoz Frontend due to incompatible json parsing"
## Bug description
Some traces pages crash and show black screen even though the relevant logs page works. See images below:
![trace page backend no errors](https://user-images.githubusercontent.com/4195703/203614784-dd63a649-6442-4c25-b909-87143751c7d1.png)
![trace page frontend crashes](https://user-images.githubusercontent.com/4195703/203614789-1e1aa311-23b2-4ce7-aeda-0052c9c9265d.png)
![logs w

[2022-11-23 17:50] abhinavramana commented on #1747
Another one:
```"{\"name\":\"exception\",\"timeUnixNano\":1668536065679561528,\"attributeMap\":{\"exception.escaped\":\"False\",\"exception.message\":\"(\\\"Connection broken: OSError(28, 'No space left on device')\\\", OSError(28, 'No space left on device'))\",\"exception.stacktrace\":\"Traceback (most recent call last):\\n  File \\\"/opt/venv/lib/python3.9/site-packages/urllib3/response.py\\\",

[2022-11-23 18:18] abhinavramana opened #1748 "Getting "order param is not in correct format" in Traces page"
## Bug description

The traces page opens nicely, however on going to page 2 or 3 it gives "order param is not in correct format" consistently
![Actual error](https://user-images.githubusercontent.com/4195703/203620466-be24a8d6-cd27-4104-906f-eb1f9d28ee92.png)

![image](https://user-images.githubusercontent.com/4195703/203618458-b32f9989-e4fa-4a6b-9a04-7d10877d8309.png)
**Headers:**
[code]

**Requ

[2022-11-24 01:15] makeavish commented on #1691
@abhinavramana We are aggregating with exception type and error message. As you can see, that error message is different in both cases.

[2022-11-24 07:23] dchennaraidu commented on #1748
Hope this screenshot might help

<img width="2560" alt="image" src="https://user-images.githubusercontent.com/12108102/203718217-9517596b-2ef3-41ec-ba5c-2c0bb4ddc168.png">

<img width="1721" alt="image" src="https://user-images.githubusercontent.com/12108102/203718647-afb92432-f81f-41f9-84b0-06adad223ae2.png">

https://github.com/SigNoz/signoz/blob/78d23775200ba8b8b2b84d09d09d734e90208831/pkg/quer

[2022-11-24 07:26] makeavish commented on #1748
@dchennaraidu Thanks for more information.
Have created a PR for this issue. Will be released in v0.11.4 release.

[2022-11-24 07:36] yxiaoy6 commented on #1643
I also have the same problem, the version I am currently using is 0.11.1, I hope there will be a button to select the service in the servicemap dashboard

[2022-11-24 10:12] ankitnayan commented on #1643
@rajsingh1109 @yxiaoy6 servicemap shows the interaction between different services. If we just show data about 1 services, there would not be anything. Unless you are saying that you have many services in the servicemap and it becomes difficult to find the one service whose upstream and downstream metrics you are interested into. Let me know what you wish to use it for.

I hope you are able to dra

[2022-11-24 10:13] ankitasalunkhe opened #1750 "How to delete the Resource Attribute Value from Signoz Dropdown"
Hii,

I have Signoz the show the matrices for my application on that. So I have created Resource attribute like service.namespace and deployment.environments and added the value over there.
I have replaced the old value with new one.
So on signoz its showing both the values.
So can you please help me to remove the old value from dropdown on signoz.

Thanks,

[2022-11-24 10:37] ankitnayan commented on #1750
Connect to the clickhouse instance using the below docs:
https://signoz.io/docs/operate/clickhouse/connect-to-clickhouse/#docker

Replace *xxxxx* in the below query with the timeseries you want to remove:

[code]

[2022-11-24 10:55] #1748 closed

[2022-11-24 12:48] #1432 closed

[2022-11-24 14:54] #1750 closed

[2022-11-24 18:57] pranay01 opened #1753 "Evaluate Apache Iceberg for long term storage of logs"
Iceberg project seems to be getting increasing interest

Provides some nice features like
- Full Schema Evolution
- Advanced partitioning

Project page - https://iceberg.apache.org/

References
----

Introductory post which is showing cost benefits
https://medium.com/insiderengineering/apache-iceberg-reduced-our-amazon-s3-cost-by-90-997cde5ce931

Post from Uber on big data file format - https://ww

[2022-11-24 22:24] abhinavramana opened #1754 "Unable to see the actual span for multiple spans in traces Page"
## Bug description

Unable to see problematic spans in case span number exceeds a certain threshold
More details: https://drive.google.com/file/d/1JVUSX9OPl32dDFYHcMQKdaOxlHPcHdw1/view?usp=share_link

## Expected behavior

There should be a way to scroll horizontally not just vertically

Or atleast be able to click on the problematic span

## How to reproduce
Check https://drive.google.com/file/d/

[2022-11-25 02:00] makeavish commented on #1754
@abhinavramana Looks like only the root span has error information. Can you try filtering by trace ID and status as error to find all the spans which has error information?

<img width="248" alt="Screenshot 2022-11-25 at 07 29 24" src="https://user-images.githubusercontent.com/9512100/203885198-09592b6b-1269-4628-b992-3ff4f699d11e.png">

[2022-11-25 02:01] makeavish commented on #1754
@pranay01 We should fix design issues as suggested.

[2022-11-25 02:23] makeavish commented on #1691
@abhinavramana Closing the issue as it seems original issue is resolved. If you are facing any other issue, feel free to open a new issue or if the same issue is encountered again, then reopen this issue.

[2022-11-25 02:23] #1691 closed

[2022-11-25 02:44] ishworg opened #1755 "Log view to Trace view"
## Is your feature request related to a problem?

If I am currently in the logs view, after getting trace id log lines to match, is there a way to click and land in the trace view? it might be a UI related.

## Describe the solution you'd like

In the log view, if I click a trace ID or span ID, I would like to land on the trace view. A plus would be being able to land back from trace view to log v

[2022-11-25 04:51] nityanandagohain opened #1756 "How to handle overlapping interesting fields."
When logs from different sources have the same attribute, the meaning/datatype of that attribute may be different. How do we handle this ?

[2022-11-25 05:28] makeavish commented on #1726
We have merged a PR to introduce alerts based on exceptions count.
https://github.com/SigNoz/signoz/pull/1752

Feature will be released in v0.11.4

[2022-11-25 05:28] #1726 closed

[2022-11-25 06:40] pranay01 opened #1758 "Ability to drop traces based on certain rules configured in UI"

[2022-11-25 06:44] pranay01 commented on #1758
related https://github.com/SigNoz/signoz/issues/53

[2022-11-25 12:04] ishworg commented on #1755
Hey @Xonman here is the MR. Thanks mate.

[2022-11-26 16:14] learning-dev commented on #1747
Hi @ankitnayan @palashgdev  can you please assign this to me?

[2022-11-28 06:34] nityanandagohain opened #1762 "Timestamp is not respected when user uses OR in the query."
When we use OR in between the filters the timestamps is not respected in logs query builder.

[2022-11-28 08:48] #1762 closed

[2022-11-28 09:03] nityanandagohain commented on #1653
Interesting, I tried replicating but not able to achieve this I am getting a single backslash.

can you share a sample log line along with the different operators you are using to parse the log. That will help.

[2022-11-28 11:06] pranay01 opened #1765 "Feature to compare distribution of a tag value in span across time intervals"
A comparison feature where you select an (usually anomaly) interval and the framework shows which tag has the most different distribution in the anomaly interval vs normal interval.

[Slack Message](https://signoz-community.slack.com/archives/D04DALFL64Q/p1669633000374429)

[2022-11-28 12:02] palashgdev commented on #1747
Hi @learning-dev you can look into other issues you can always get started just by picking good-first-issues

[2022-11-28 12:22] joosthooz opened #1767 "Add support for linked spans in the UI"
## Is your feature request related to a problem?

Linked spans https://opentelemetry.io/docs/reference/specification/overview/#links-between-spans are a way to create a connection between spans, other than parent/child. This way, a span can link to another span in the current, or inside another trace. The signoz collector does store the link into the database: https://github.com/SigNoz/signoz-otel

[2022-11-28 12:57] #1747 closed

[2022-11-28 13:39] palashgdev commented on #708
yeah sure @learning-dev please go ahead

[2022-11-28 14:02] pranay01 opened #1769 "Log count graph jumps twice when changing filter"
## Bug description

Log count graph jumps twice when changing filter

## Expected behavior

The log count graph shouldn't have a jumpy behavior

## How to reproduce

1. Go to Logs page
2. Add filters by clicking selected fields in log lines
3. Check the count graph

## Version information
* **Signoz version**: v0.11.4-rc3
* **Browser version**:  Chrome Version 107.0.5304.110 (Official Build) (arm6

[2022-11-28 14:08] pranay01 opened #1770 "Over flowing fields in logs query builder when fields with long text is selected"
## Bug description

Over flowing fields in logs query builder when fields with long text is selected

## Expected behavior

The long field text should be wrapped in the logs query builder

## How to reproduce

1. Go to Logs page
2. Add filters by clicking selected fields in log lines. select a field which has long text value
3. Check the query builder
4. The long field text overflows the query bui

[2022-11-28 15:38] mindhash opened #1771 "[Alerts] The alert message in slack does not show the calculated value"
## Is your feature request related to a problem?

The notification sent by alert does not show metric `value` that led to alert generation.

## Describe the solution you'd like

The go template should be able to support the metric `value` with the below syntax.

{{.MetricValue}}

This will enable users to add the target value to message as label or description when desired.

## Describe alternativ

[2022-11-28 23:45] sjcotto opened #1773 "Kubernetes installation fails"
## Bug description

Kubernetse instalation fails

Following the docs

https://signoz.io/docs/install/kubernetes/others/

after execution the helm install

[code]

returns an error

[code]

[2022-11-29 06:27] makeavish commented on #1493
@ankitnayan Closing it as we are shipping hierarchical view for large traces in the enterprise version (v0.11.4), which handles large traces.

[2022-11-29 06:27] #1493 closed

[2022-11-29 07:14] pranay01 commented on #1407
I think something like this would be useful

[Figma link](https://www.figma.com/file/lE5BDDuulXuGnqvB5GRk1V/SigNoz-OSS---v2-Designs?node-id=2274%3A35793&t=4qFMJYPkfSv04Noe-1)

![gantt-expanded-multiple-events](https://user-images.githubusercontent.com/504541/204463121-87c47b13-a8fb-446f-8bdd-17f783860f1e.png)

[2022-11-29 08:14] prashant-shahi commented on #1773
@sjcotto Helm version >= 3.8 is prerequisite for the Helm chart.

You could upgrade your helm version to resolve this issue.
Do let us know if the issue persists.

[2022-11-29 09:13] georgeglarson opened #1774 "timestamp discrepancies"
## Bug description

fresh install on Ubuntu 20.04.  timestamp in SigNoz does not match

from /var/log/syslog:
[code]

from SigNoz:
[code]

## Expected behavior
timestamp should match

## How to reproduce
i suspect that the problem was, on a new VPS, i had set the tz with `timedatectl set-timezone America/New_York` but i had not restarted rsyslog.  will do more testing

## Version information
* **S

[2022-11-29 16:10] ankitnayan opened #1777 "Enable search of tags in trace detail page"
In the waterfall view, when we click on a span, a list of attributes is shown in the right panel. If the number of attributes is high, it becomes difficult to find an attribute as there is no ordering of attributes.

As a solution, we can create a search box which can be used to filter the attributes by keys.

[2022-11-29 16:11] ankitnayan commented on #1777
@pranay01 should we hide the search box if the number of attributes is less than 5?

[2022-11-29 16:17] #1699 closed

[2022-11-29 16:34] #1686 closed

[2022-11-29 17:02] 62mkv commented on #1418
I believe this should be in documentation at least (if not patched right into `docker-compose.yaml`)

[2022-11-29 19:27] ankitnayan opened #1778 "Monitoring Otel collectors when horizontally scaled #881"
The opentelemetry collector receiver starts dropping data if exporter is not able to write at the speed of ingestion. This does not create back pressure at otel-collector and load balancing is affected. When working in k8s, unless multiple client otel-collectors create separate connection to the SigNoz's otel-collector instances, the load is not evenly distributed. The service in k8s does not know

[2022-11-29 19:36] ankitnayan opened #1779 "Enable log parsing from the UI"
The currently suggested approach is to enable parsers and use regex at otel-collectors. Writing regex becomes a nightmare when it is just more than basics.

We should enable UI-based parsing rules to easily extract fields from ingested logs data to be able to convert them to columns and add an index for better filtering and query performance

[2022-11-29 19:40] ankitnayan commented on #1779
https://github.com/SigNoz/engineering-pod/issues/837
https://github.com/SigNoz/engineering-pod/issues/790

[2022-11-29 19:45] ankitnayan opened #1780 "Enable pre-built dashboards for opentelemetry collectors"
Below charts for metrics, logs and traces would give a lot of visibility into opentelemetry collectors deployed at SigNoz.

- [x] Receiver Acceptance Rate
- [x] Receiver Rejection Rate
- [x] Exporter Sending Rate
- [x] Exporter Failing Rate
- [x] Dropping Rate
- [ ] Export new metrics on avg export latency

[2022-11-29 19:57] ankitnayan opened #1781 "Evaluate query performance in distributed setup"
Evaluate query performance and data correctness based on sharding by traceID (in spans), fingerprint (in metrics) and id (in logs). Altogether we are using some sort of random loadbalancing in the end.

Does a query with some filters perform better when data is fetched from multiple shards or is limited to the processing speed of a single shard?